[2017-10-10 23:28] rcxr opened #1465 ""Error en ejecución" en lugar de TLE"
Reportado por: Rodrigo (rcc)
Canal: Facebook Messenger y omegaUp Preguntas
Issue:

Mensaje completo: https://omegaup.com/preguntas/1227/error-en-ejecuci%C3%B3n-en-lugar-de-tle
Repro: envío GUID 478af991
Problema en omegaUp: https://omegaup.com/arena/problem/caracteres_subcadenas/#problems

[2017-10-11 03:15] lhchavez opened #1466 "Prueba de sincronía entre schema.sql y los scripts de migración"
Actualmente si se ejecutan todos los scripts de migración, el resultado _debería_ ser equivalente a correr `schema.sql`, pero no tenemos ningún mecanismo que se asegure que esto sea cierto. Deberíamos tener una prueba en Travis que, haciendo un dump del esquema de la base de datos después de aplicar los scripts de migración, este dump debería ser idéntico a `schema.sql`.

[2017-10-11 03:36] #1156 closed

[2017-10-11 04:07] #1465 closed

[2017-10-11 15:45] darkmx opened #1468 ""Tiempo límite excedido" cuando debe ser "Error en ejecución""
Hola a todos, hace poco reporté un error en el que "TLE" se reportaba como "EE" y viceversa. Ya arreglaron el reporte de"TLE" pero sigue habiendo problemas con "EE".

Por ejemplo, para el problema https://omegaup.com/arena/problem/Una-serie-poco-interesante/#problems acabo de subir el siguiente código (GUID d6572e9f)

[code]
y marca TLE con tiempo >0.05s

[2017-10-12 05:44] #1468 closed

[2017-10-12 06:11] lhchavez commented on #1468
Efectivamente había un bug, _pero_ en el caso de ese problema, el tiempo límite es _tan_ justo que a veces cuando hay errores en la ejecución, se pasa del tiempo límite porque el proceso intenta comunicarse con el sandbox para notificarle de su muerte, y eso es bastante lento (básicamente porque es un escenario que no vale la pena optimizar).

si quieres mantener el tiempo límite de 100ms, intenta

[2017-10-12 15:05] darkmx commented on #1468
vale, entendido y gracias :)

[2017-10-13 01:26] elendil326 commented on #669
Esta es una discusión larga e interesante. @lhchavez como cerramos #670 en favor a #672. Deberíamos cerrar este también y enfocarnos en definir #672?

[2017-10-13 01:42] #669 closed

[2017-10-13 20:28] heduenas commented on #1450
Cuando el tipo de nominacion es 'suggestion' debe de haber:
* 'quality'
* y/o 'difficulty'
* y/o 'tags'

Cuando el tipo de nomiancion es 'demotion' debe de haber:
* 'reason'
* y opcialmente 'rationale'

[2017-10-14 05:21] pabloaguilar opened #1471 "Agregar campo en la base de datos para 'lenguaje de preferencia'"
*Como un usuario, quiero poder seleccionar mi lenguaje de programacion de preferencia para
no tener que seleccionarlo cada vez que hago un envio*

## Comportamiento Esperado

En mi perfil, deberia poder escoger un lenguaje de programacion. A la hora de hacer un envio nuevo, ese lenguaje deberia estar seleccionado por default.

## Comportamiento Actual

Tengo que seleccionar un lenguaje cada vez qu

[2017-10-16 14:32] pabo99 opened #1475 "Pruebas con timestamp fijo"
## Comportamiento Esperado

Como prerequisito para las pruebas 100% determinísticas (issue #696) se requiere que todas las pruebas se realicen en una fecha y hora específicos, para lo cual se tendría que cambiar dicha fecha sólo en las pruebas.

## Comportamiento Actual
Actualmente todos los objetos que se crean en las pruebas tienen la fecha actual del servidor. Lo cual ocasiona que en algunos ca

[2017-10-17 00:10] pabo99 commented on #1185
¿Cuáles son los site-admins? ¿de donde y donde hay que quitarlos?

[2017-10-17 01:52] #1463 closed

[2017-10-17 01:58] #842 closed

[2017-10-17 04:22] lhchavez commented on #1185
espera, y el signoff de @npave ? por qué le pusiste ready?

en fin, los site-admins son todos los usuarios que tienen poderes de administración global en el sitio. Si vas a https://localhost:8080/problem/sumas/edit#admins, vas a ver que `omegaup` se muestra como `owner`, pero en producción hay varios usuarios que se muestran como `site-admin`.

mi propuesta es ocultarlos no permanentemente sino de

[2017-10-17 04:23] pabo99 commented on #1185
ok, quedo en espera del signoff de @npave

[2017-10-17 04:55] #1052 closed

[2017-10-17 14:11] elendil326 commented on #1185
Este es el signoff de Nancy por slack, pero como menciona @lhchavez falta definir como ocultarlos. CC @npave

![image](https://user-images.githubusercontent.com/3783894/31669509-25d9b54a-b30a-11e7-91cd-c6d84f92b0f2.png)

[2017-10-17 20:12] joemmanuel opened #1481 "Show current contestant's score on scoreboard when showScoreboard is not 100%"
<Opening on behalf a MS Give campaign contestant>

As a participant of a contest, I'd like to see my own score in the arena global Scoreboard section and in the left-pane Problemset summary, even when the rest of scores are hidden. Also adding a note that scoreboards are intentionally hidden would help to reduce confusion.

## Comportamiento Esperado
Fill current participant's row in the general S

[2017-10-18 03:30] #1466 closed

[2017-10-18 14:40] pabo99 commented on #1185
![captura de pantalla 2017-10-18 a la s 09 28 48](https://user-images.githubusercontent.com/3230352/31724647-f188d080-b3e7-11e7-84a5-78d6fccc53f4.png)

@npave te agrada la idea de que se muestren-oculten los site-admin con un checkbox?

[2017-10-18 17:21] pabo99 commented on #650
@alanboy ¿a que te refieres con el texto localizado?

[2017-10-19 01:18] pabo99 commented on #1050
![captura de pantalla 2017-10-18 a la s 20 16 11](https://user-images.githubusercontent.com/3230352/31749720-57f77ebc-b441-11e7-9a6e-fe60a7e5fbd7.png)

Se agregan los estilos para que la tabla no se desborde cuando se agreguen muchos concursos en el Scoreboard

[2017-10-19 02:46] lhchavez commented on #650
ja, ese archivo ya ni existe. cerrando como obsoleto.

[2017-10-19 02:46] #650 closed

[2017-10-19 04:44] #785 closed

[2017-10-19 05:03] pabo99 opened #1483 "Error al crear un nuevo branch e intentar empujarlo a GitHub"
Al crear un branch, no puedo empujarlo a Github.

## Comportamiento Esperado

Crear una rama y sincronizarla con omega up

Empujar la nueva rama a GitHub

## Comportamiento Actual

Consigo un mensaje de error al empujar mi branch a GitHub

## Pasos para reproducir

Al crear la rama e intentar sincronizarla me aparece lo siguiente:
```M	stuff/hook_tools```

Después ejecuto el siguiente comando:
`gi

[2017-10-19 17:11] pabo99 commented on #1002
![sd 27](https://user-images.githubusercontent.com/3230352/31784189-6c36dc8a-b4c6-11e7-819b-5308bd0ec780.png)

@npave ¿ Está bien el buscador de concursos en esa posición ?

[2017-10-20 03:45] #1475 closed

[2017-10-20 04:11] #1050 closed

[2017-10-20 04:36] pabo99 commented on #1002
Así es como quedaría:

![sd 27 ok](https://user-images.githubusercontent.com/3230352/31805419-384a009a-b526-11e7-8d4b-90804bf69b75.png)

[2017-10-21 22:39] npave commented on #1002
@pabo99 me parece bien tu propuesta. Cómo tienes pensado mostrar los resultados de la búsqueda?

[2017-10-24 02:45] #1185 closed

[2017-10-24 03:08] lhchavez commented on #1483
El problema era que faltó el paso de "sincronizarlo con omegaUp":

    git checkout master && git reset --hard upstream/master && git push -f

debe sincronizar tu copia de `master` con `master` de omegaUp. Una vez hayas hecho eso, todas las ramas que crees después de ese punto van a empezar con ese commit al que sincronizaste.

[2017-10-24 03:08] #1483 closed

[2017-10-24 15:04] elendil326 opened #1491 "Como usuario de omegaUp, quiero ver un listado de los tags más relevantes debajo de un problema en la lista para evitar clutter visual cuando un problema tiene muchos tags"
## Comportamiento Esperado

Cuando voy al listado de problemas en omegaUp, quisiera ver una cantidad limitada de tags debajo de cada problema (3 a 5 quizá). Estos serían los tags más relevantes para el problema. La relevancia de un tag podría ser determinada por los admins, o podría ser igual para todos los problemas.

## Comportamiento Actual

Hoy, se muestra la lista de todos los tags debajo de

[2017-10-24 15:14] elendil326 opened #1492 "Como usuario, quiero poder asignar un tag a un problema sin tener que ser el dueño del problema para colaborar en el mantenimiento de omegaUp"
## Comportamiento Esperado

Como usuario, quiero ser capaz de abrir un problema y asignarle tags que describan mejor al problema. Esto permitirá a otros usuarios encontrar problemas relacionados a este. Esta bien que algunos tags sean reservados para admins del sitio, pero quiero poder crear mis propios tags únicos para poder asignarlos.

## Comportamiento Actual

No puedo asignar tags a problemas

[2017-10-24 15:20] elendil326 opened #1493 "Como usuario, quiero poder ver una lista de tags existentes para poder filtrar los problemas en base a ellos"
## Comportamiento Esperado

Al acceder a la lista de problemas en omegaUp, quiero poder ver un listado de tags existentes, ordenados por su categoría, para poder filtrar con ellos la lista de problemas

## Comportamiento Actual

Como usuario, no puedo ver que tags existen, y por ende, no pudo usarlos para filtrar. Puedo navegar a un problema que tenga un tag específico, dar click en ese tag y así

[2017-10-24 19:45] pabo99 commented on #1002
@npave  por el momento se muestran en el mismo listado, sin ningún estilo. Si tienes una propuesta, compártemela para agregar los cambios correspondientes.

[2017-10-25 01:58] elendil326 commented on #847
@lhchavez cual es el plan con este issue? lo queremos para este sprint?

[2017-10-25 04:40] #451 closed

[2017-10-25 05:18] npave commented on #748
Este problema se resolvió cuando se reorganizó el módulo de Top 5 users en homepage.

[2017-10-25 05:18] #748 closed

[2017-10-25 05:24] #1002 closed

[2017-10-25 14:44] elendil326 commented on #1355
@pabo99 para revisar esquema de base de datos para ver si se tiene que hacer algún cambio ahí para soportar esto con mayor facilidad o si es solo un cambio en la UI. Después, cambiará el infinito por un estimado. Después, @lhchavez asignará prioridad

[2017-10-25 14:49] elendil326 commented on #1492
#669 y #670 tienen discusión relacionada con esto.

[2017-10-25 15:03] pabo99 commented on #818
Voy a revisar si esto se corrigió con los cambios del issue #1475, en caso de ser así, se va a cerrar este.

[2017-10-25 15:04] elendil326 commented on #605
@lhchavez la tirada aquí sería usar un servicio existente? o levantar algo nosotros?

[2017-10-25 15:06] elendil326 commented on #597
ping @lhchavez . Tienes el protitipo en algún repo? capturas de pantalla, etc?

[2017-10-25 15:07] elendil326 commented on #759
ping @frcepeda @lhchavez

[2017-10-26 07:22] pabo99 opened #1496 "No se muestran los concursos en arena"
## Comportamiento Esperado

Al momento que se cerró el issue #1002, me percato de que no se estaban mostrando correctamente los concursos en arena.

[2017-10-26 15:50] elendil326 commented on #1449
No sería mejor habilitar el ordenamiento por encabezado en la tabla? @heduenas @npave @lhchavez

[2017-10-26 15:57] elendil326 commented on #1448
Tienes un ejemplo de que podría decir en el tooltip?

[2017-10-26 16:00] elendil326 commented on #1447
Esto es quitarlos de la lista para siempre o permitir al ususario mostrarlos o no mostrarlos mediante un check box? @heduenas @npave

[2017-10-26 20:31] pabo99 opened #1498 "No hay una página de acceso prohibido"
Como usuario con rol de concursante común, al ingresar a una página que cual no tengo permisos, me aparece una página con el mensaje del navegador: No se encuentra esta página omegaup.com (404)

## Comportamiento Esperado

Como sugerencia, me gustaría ver una página con la plantilla de omegaUp que me diga que no tengo acceso y que me ponga una forma de regresar a donde estaba.

## Comportamiento A

[2017-10-26 20:57] pabo99 opened #1499 "Estandarización de tablas en omegaUp"
He notado que en la plataforma existen diversas tablas y estas no están estandarizadas. Cada que se ocupa una nueva, se tiene que meter en código toda la estructura así como todas sus funcionalidades.

## Comportamiento Esperado

Lo ideal es que desde el backend siempre se armen objetos con la misma estructura y que estos sean leídos por algún plugin o componente en vue, para que estos sean los qu

[2017-10-27 00:15] Fer-OmegaUp commented on #1364
Los cursos son una coleccion de problemas, un problema ''gratis" que solo es de lectura para la descripcion
ahorita no hay manera de deshacer o crear contenidos  (texto intermedio que va entre problema y problema)

[2017-10-27 00:16] Fer-OmegaUp commented on #1451
Status: hugo necesita contestar comentarios

[2017-10-27 00:18] Fer-OmegaUp commented on #1450
Esto esta bloqueando el feature de demotion para calidad

[2017-10-27 00:22] Fer-OmegaUp commented on #1450
@galloska puedes asignarte este item y ayudarnos a investiga :En el issue dice Juan Pablo que se encuentra está armando un arreglo con los campos de contents que se van a mostrar. Hay que cambiar esa lista de campos para que incluya los datos relevantes para las sugerencias. O tal vez sería mejor simplemente regresar todo el contenido de 'contents' crudo.

[2017-10-27 00:25] Fer-OmegaUp commented on #1449
Mas que mostrar en orden cronologico deberia de mostrarte los que ya se resolvieron

[2017-10-27 00:27] alanboy commented on #1449
Cerrando para hacer esto mismo en #1447

[2017-10-27 00:27] #1449 closed

[2017-10-27 00:30] Fer-OmegaUp commented on #1448
Hay que investigar quien puso el boton y asignar este item a la persona

[2017-10-27 00:30] alanboy commented on #1448
![image](https://user-images.githubusercontent.com/527987/32082867-617622c6-ba73-11e7-8860-f295d35ec61b.png)

[2017-10-27 00:32] alanboy commented on #1448
@elendil326 no sabemos nosotros tampoco, por eso el bug :)

@pabloaguilar recuerdas para que es esto?

[2017-10-27 00:33] Fer-OmegaUp commented on #1365
@npave tu vas a hacer la implementacion?

[2017-10-27 00:40] Fer-OmegaUp commented on #1364
Esto depende de que este feature este completo, cambiando prioridad: https://github.com/omegaup/omegaup/issues/1361

[2017-10-27 01:01] Fer-OmegaUp opened #1500 "(Calidad) Agregar UI para mostrar dificultad de problemas"
Mostrar la dificultad de un problema segun el siguiente spec: https://docs.google.com/document/d/1bfrCe9vEva1UAwjiss-BaYAy4nNH59lpeicJl_dOFDk/edit#bookmark=id.q2mghpxwtjmv

[2017-10-27 02:49] #744 closed

[2017-10-27 02:52] lhchavez commented on #605
/shruggie. hay que evaluar ambos.

[2017-10-27 02:55] lhchavez commented on #759
es algo que sería por-concurso, y únicamente si el problema lo soporta.

exactamente cero problemas actuales tienen soporte para esto, habría que hacer el soporte (supongo que agregando otra carpeta en el .zip y poniendo casos ahí).

[2017-10-27 06:24] pabloaguilar commented on #1448
Creo que era para cambiar entre "la nominaciones que tengo pendientes de
revisar" y "las nominaciones que hay en el sistema"

On Oct 26, 2017 5:32 PM, "Alan Gonzalez" <notifications@github.com> wrote:

[2017-10-27 18:00] samdsmx commented on #1403
EL problema lo presencie en mi ambiente de desarrollo, Genero usuaarios con escuelas y empiezo a subir AC con ellos, y me percato que la tabla del top5 de eescuelas en el homepage no se actualiza. Mientras que    ingresando a la tabla general top100 si aparecen los resultados. Vease, que si se estaba actualizando la tabla del top5 de usuarios.

[2017-10-28 05:17] heduenas commented on #1447
Quitarlos definitivamente. No veo razones por las cuales querriamos mostrar los suggestions o los dismissals a los usuarios o a los reviewers. Ya estoy trabajando en este issue.

[2017-10-28 05:25] heduenas commented on #1448
Parece que más bien es para cambiar entre "mis nominaciones" y "las nominaciones de cualquier usuario":
https://github.com/omegaup/omegaup/blob/64c5ee6709fbedd5cca7ce84d0774cbfea6d3de3/frontend/www/js/omegaup/components/qualitynomination/List.vue#L68

[2017-10-29 03:34] heduenas commented on #1500
Spec: https://docs.google.com/document/d/1bfrCe9vEva1UAwjiss-BaYAy4nNH59lpeicJl_dOFDk/edit#bookmark=id.q2mghpxwtjmv

[2017-10-29 05:36] pabloaguilar opened #1503 "El validador de schema.sql se vuelve loco en mi VM"
## Comportamiento Esperado

Al correr `stuff/runtests.sh` se valida el esquema de la base de datos y se autocorrige si es necesario.

## Comportamiento Actual

`git checkout f9fa42f8969dbbb57cdc915a66ac7528d5eb0184`
`stuff/runtests.sh`
y entonces...
a) el validador escribe UTF-8 invalido y descompone caracteres con acentos
b) en la primer pasada intenta corregir (y descompone como en el punto ante

[2017-10-29 05:37] pabloaguilar commented on #1503
[schema.sql.txt](https://github.com/omegaup/omegaup/files/1424804/schema.sql.txt)

[2017-10-29 06:03] lhchavez commented on #1503
la solución es hacer checkout de una versión reciente de `upstream/master` y correr `./stuff/bootstrap_environment.py --purge` (o `./stuff/db-migrate.py migrate`)

[2017-10-30 03:03] #1447 closed

[2017-10-30 03:53] lhchavez commented on #1402
Cerrando este issue como no-repro. Creé una VM Xenial desde cero hace rato y no me topé con esto.

[2017-10-30 03:53] #1402 closed

[2017-10-30 03:55] heduenas opened #1509 "stuff/database_schema.py debe de pedir correr "./stuff/bootstrap_environment.py --purge""
`stuff/database_schema.py validate` dice que hay errores y que corras `stuff/database_schema.py fix` pero también debería de decir que antes de correr fix corras `/stuff/bootstrap_environment.py --purge`

[2017-10-30 03:55] #1496 closed

[2017-10-30 04:07] lhchavez commented on #1324
Arreglado en https://github.com/omegaup/puppet/commit/f09e1fb58f8373b5e951fc32f157e8cb8e0f831b y https://github.com/omegaup/puppet/commit/e1364f457d9247ef5c61fc814671a39d179b5d1a

[2017-10-30 04:07] #1324 closed

[2017-10-30 04:14] lhchavez commented on #561
Falta hacer la interfaz: que cuando se cree un concurso se pueda elegir un subset de problemas (con un dropdown https://getbootstrap.com/docs/3.3/components/#btn-dropdowns y checkboxes).

[2017-10-30 04:18] lhchavez commented on #724
sí!

[2017-10-30 04:18] #724 closed

[2017-10-30 04:18] lhchavez commented on #641
Ya llevamos un rato corriendo HTTP/2.

[2017-10-30 04:18] #641 closed

[2017-10-30 04:20] lhchavez commented on #788
No, @samdsmx tiene razón.

[2017-10-30 04:20] #788 closed

[2017-10-30 04:32] lhchavez commented on #1213
esto basta con un messagebox normal que diga, cuando se está en [modo lockdown](https://github.com/omegaup/omegaup/blob/master/frontend/www/js/omegaup/arena/arena.js#L50), que diga

   Advertencia: en modo lockdown, tus envíos ya no serán accesibles si te sales de la página.

[2017-10-30 05:58] heduenas opened #1510 "(Calidad) Hacer indices para hacer mas eficientes los queries del cronjob"
Hacer indices en la columna nomination y otro en (problem_id, nomination).

[2017-10-30 06:19] npave opened #1511 "[FEATURE] Configuración de carrusel en homepage"
Como parte del rediseño de homepage se va a agregar un carrusel en el que se anuncien nuevos proyectos y noticias recientes en omegaUp.

## Comportamiento Esperado

La información del carrusel estará cambiando continuamente y necesitamos una forma sencilla de actualizarla que no requiera esperar al deployment semanal.

## Comportamiento Actual

Actualmente no hay una forma de presentar noticias o

[2017-10-30 06:47] npave opened #1514 "[FEATURE] Validador i18n debe soportar configuración del carrusel"
## Comportamiento Esperado

El archivo de configuración del carrusel va a tener mensajes internacionalizados que deberían tener validación.

## Comportamiento Actual

No se valida porque el archivo es nuevo

[2017-10-30 08:06] npave commented on #1365
@Fer-OmegaUp  sí, ya casi termino.

![image](https://user-images.githubusercontent.com/940007/32160324-7da47446-bd0e-11e7-82ec-dedceb1b169a.png)

[2017-10-31 03:27] lhchavez commented on #696
argh, me encontré otro fallo en Travis. no se si sea culpa de las fechas:

[code]

[2017-10-31 05:52] pabo99 commented on #1414
@npave ¿en donde podemos agregar esta nueva opción?

[2017-10-31 05:53] pabo99 commented on #1458
@lhchavez ¿quién me puede apoyar con la redacción del correo?

[2017-10-31 06:16] heduenas commented on #1458
Tal vez @Fer-OmegaUp ?

[2017-10-31 06:24] Fer-OmegaUp commented on #1458
@pabo99, si, yo te ayudo con la redacción del correo. déjame escribir un par de drafts y te los paso mañana en la noche.

[2017-10-31 06:26] Fer-OmegaUp commented on #1365
@npave súper, gracias :)

[2017-10-31 13:21] pabo99 commented on #1458
gracias

[2017-10-31 14:41] elendil326 commented on #561
@lhchavez te refieres a la interfaz para elegir un subset de problemas o un subset de lenguajes?

[2017-11-01 01:17] Fer-OmegaUp commented on #1458
@pabo99 @heduenas [aqui ](https://docs.google.com/a/omegaup.com/document/d/10PKnlyYP-XjMpUJLBDQN0uqE9dmY1Si6nWMUYMlmvR4/edit?usp=sharing
)esta un draft con la redaccion del correo. Que les parece?

Otra pregunta, lo necesitamos en otro idioma ademas de espanol? (ingles y portugues?)

[2017-11-01 01:30] lhchavez opened #1517 "RunController::apiCreate debe bloquear envíos a problemas banneados"
Como un administrador de un problema banneado, la plataforma no debería permitir realizar envíos a administradores, porque es una manera de circunvenir el bloqueo.

## Posible Solución

Se debe agregar una condición aquí para verificar que el problema no está banneado:

https://github.com/omegaup/omegaup/blob/4ec11f4648b6f40af3bd33d81616f9d6d26bde86/frontend/server/controllers/RunController.php#L6

[2017-11-01 01:38] Yorchito opened #1518 "Como un administrador de mentores, quiero saber el correo de contacto del coder del mes para poder contactarlo facilmente"
## Comportamiento Esperado
Debería existir una página que puedan ver los administradores que me permitar saber el correo de contacto de los coder del mes. Que sea posible agregar mas administradores para que se puede agregar acceso si alguien mas lo necesita.

## Comportamiento Actual
Actualmente no hay forma de saber el correo de contacto del coder del mes. Tienes que ser extraído de forma manual

[2017-11-01 01:40] heduenas commented on #1458
@Fer-OmegaUp Si lo necesitamos localizado. Aunque no diria que son tan importantes las traducciones justo ahora.

[2017-11-01 01:56] Yorchito opened #1519 "Agregar aviso de privacidad en omegaup.com"
Las leyes federales en México, requieren que los sitios en Internet muestren un aviso de privacidad en la página principal.

- El contenido se iniciara aquí: https://docs.google.com/document/d/1NsjieTudl1VwJLDhQhm64Am5mwyh1hsAJa4hqc6-A1I/edit#heading=h.bin39iqjyy4s
- Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en lo sucesivo la Ley) y su Reglamento.
- http://abca

[2017-11-01 04:34] lhchavez commented on #1458
necesitamos aunque sea una versión preliminar en los otros lenguajes para poderle dar commit (o los linters se van a quejar amargamente por la falta de traducciones).

no hay prisa, solo quiero que estén conscientes de la dependencia.

[2017-11-01 14:55] elendil326 commented on #1518
@lhchavez @pabloaguilar @npave @Yorchito

Como lo veo, el feature como tal habla de dos problemas

1. No hay un esquema de permisos que defina a un "administrador de mentores" en omegaUp
2, Como site admin en general, no hay manera fácil de encontrar el email de un usuario

Creo que el _pain point_ más grande es encontrar el email del ususario, y como está descrito el problema, no creo que una nue

[2017-11-01 17:23] Yorchito commented on #1518
La propuesta de agregar la opción para enviar un correo al coder del mes me parece bien:

Si nadie está en contra de que eso sea posible entonces estoy de acuerdo en hacerlo de esa manera.

[2017-11-01 19:29] Fer-OmegaUp commented on #1458
ok, una vez que estemos todos contentos con el draft en español traduzco a portugués e inglés. algún otro idioma que necesitemos?

[2017-11-02 15:01] pabo99 commented on #561
@lhchavez @npave esta es la propuesta con respecto a la interfaz de los lenguajes para concursos:

![captura de pantalla 2017-11-02 a la s 08 56 15](https://user-images.githubusercontent.com/3230352/32332768-5142ce04-bfb4-11e7-89ed-91631ea0c614.png)

¿Que les parece?

[2017-11-03 01:59] #1448 closed

[2017-11-03 01:59] #1450 closed

[2017-11-03 02:03] lhchavez commented on #1452
Falta ponerle bien el encoding a https://github.com/omegaup/omegaup/blob/master/frontend/server/controllers/ResetController.php#L11
así como en https://github.com/omegaup/omegaup/blob/9ca8107cb039646dee8afc8640a9c2795b6cb942/frontend/server/controllers/UserController.php#L317

[2017-11-03 02:12] elendil326 commented on #1498
Bloqueado hasta que estemos en AWS

[2017-11-03 02:12] lhchavez commented on #1498
Esto hay que hacerlo en github.com/omegaup/puppet

[2017-11-03 02:15] lhchavez commented on #1499
Después de discutirlo un poco, decidimos mejor no hacerlo porque nos quitaría mucha flexibilidad. Además, Vue hace que esto sea bastante más sencillo.

[2017-11-03 02:15] #1499 closed

[2017-11-03 02:17] lhchavez commented on #1503
La solución a largo plazo es algo así como https://github.com/omegaup/omegaup/issues/1509

[2017-11-03 02:17] #1503 closed

[2017-11-03 02:21] elendil326 commented on #1519
@npave está bien si podemos ponerlo baajo?

[2017-11-03 02:25] elendil326 commented on #1518
@Yorchito, ya lo discutimos en el backlog grooming de hoy y vamos a resolver el problema principal con la opción del "mailto". Si quieres la segunda parte del problema (dashboard de "admin de mentores") puedes crear otro issue o usar este mismo y actualizarlo con más información del diseño o lo que esperas ver en ese dashboard.

[2017-11-03 02:33] elendil326 opened #1526 "Como site admin, quiero acceder rápidamente a los emails de los usuarios desde la página de omegaUp para poder contactarlos"
## Comportamiento Esperado

Como site admin, no necesito ir a la base de datos en el back end y escribir un query para obtener el email de un usuario, si no que está presentado de una manera intuitiva y rápida en la página de "omegaUp"

## Comportamiento Actual

Esta información no está disponible desde la página de omegaUp, se tiene que acceder a la base de datos y hacer un query.

## Posible Sol

[2017-11-03 02:34] elendil326 commented on #1518
Cerrando en favor de #1526

[2017-11-03 02:34] #1518 closed

[2017-11-03 04:33] #1451 closed

[2017-11-03 19:40] npave commented on #561
Me parece bien.

[2017-11-03 19:53] npave commented on #1519
@elendil326 si, podemos poner un link al aviso de privacidad en el footer.

[2017-11-03 20:00] elendil326 commented on #1519
Excelente. Gracias @npave . @Yorchito estoy poniendo este issue tentativamente para trabajar en el siguietne sprint (11/13 - 11/24). Crees que tengas chance de tener listo el aviso de privacidad para esos días?

[2017-11-03 20:43] elendil326 commented on #826
@lhchavez ping

[2017-11-04 00:40] Fer-OmegaUp opened #1527 "[FEATURE] Crear una forma de bloquear usuarios de crear problemas"
La idea es que si un usuario es recurrente en subir problemas inapropiados deberia ser bloqueado. Hugo sugirio que en lugar de suspender la cuenta, se suspenda el permiso de crear problemas.

Note: this is a nice to have.

[2017-11-04 01:51] #833 closed

[2017-11-05 00:42] npave opened #1528 "Agregar el campo "Nombre de escuela" en el formulario crear un nuevo curso"
Relacionar un curso con una escuela nos ayudará con estadísticas, ofrecer ayuda, hacer encuestas de usabilidad, entre otras.

## Comportamiento Esperado

Al momento de crear un curso, el usuario debe agregar el nombre de la escuela en la que se dará este curso.

## Comportamiento Actual

No existe esa opción.

## Posible Solución

Agregar el campo "Nombre de escuela" en el formulario que se llena

[2017-11-05 01:36] alanboy commented on #1500
No hay nadie asignado en el issue, pero creo que @heduenas ya comenzo a trabajar en esto.

[2017-11-05 01:45] alanboy opened #1529 "No puedo filtrar envios por problema al administrar un concurso"
En un concurso en el que soy administrador, no puedo filtrar la lista de envio para solo ver aquellos envios con cierto problema, hay un error al solicitar la lista de problemas para hacer el typeahead.

![image](https://user-images.githubusercontent.com/527987/32411094-ca78550a-c18f-11e7-87e0-6d8eb6b3cd3f.png)

![image](https://user-images.githubusercontent.com/527987/32411125-547d5156-c190-11e7-

[2017-11-06 18:07] pabo99 commented on #1196
@MiguelRomero, ¿aún puedes reproducir este bug? De ser así, ¿Me puedes dar más información?

[2017-11-07 01:20] Fer-OmegaUp commented on #1255
@heduenas, este es duplicado, y ya esta terminado, correcto?

[2017-11-07 01:21] Fer-OmegaUp commented on #1254
@heduenas este tambien es duplicado, de acuerdo?

[2017-11-07 01:21] Fer-OmegaUp commented on #1169
@heduenas otro mas duplicado?

[2017-11-07 01:25] Fer-OmegaUp commented on #1250
@heduenas otro mas que es duplicado de calidad?

[2017-11-07 01:25] Fer-OmegaUp commented on #1242
@heduenas dup?

[2017-11-07 03:30] pabo99 commented on #623
¿La lista de tags puede quedar así?

![captura de pantalla 2017-11-06 a la s 21 27 34](https://user-images.githubusercontent.com/3230352/32475847-80b677ca-c339-11e7-9445-d631c41d8629.png)

[2017-11-07 04:07] #1152 closed

[2017-11-07 05:41] heduenas commented on #1250
Este es duplicado y ya esta resuelto.

[2017-11-07 05:43] heduenas commented on #1254
De acuerdo, duplicado

[2017-11-07 05:43] heduenas commented on #1255
Correcto

[2017-11-07 05:44] heduenas commented on #1242
Duplicado y terminado

[2017-11-07 05:51] heduenas commented on #1169
No es duplicado, pero si esta resuelto https://github.com/omegaup/omegaup/blob/fa0c9ff0bf396816dadf84e7b105ab799dfde402/frontend/server/controllers/ProblemController.php#L64

[2017-11-07 11:37] alanboy commented on #1519
En que queda el aviso de privacidad actual: https://blog.omegaup.com/privacy-policy/ ?

[2017-11-07 15:38] pabo99 commented on #623
@npave ping, ¿que te parece ese diseño? ¿O sugieres otro distinto?

[2017-11-07 15:48] pabo99 commented on #1196
Lo intenté reproducir pero no me fue posible por falta de información. Además veo que el query cuenta con un `GROUP BY problem_id`. Así que asumo que alguien ya lo había corregido antes.

[2017-11-07 15:48] #1196 closed

[2017-11-08 05:26] npave commented on #623
@pabo99  cómo seleccionaste qué tags mostrar? Me gustaría darle semántica a los tags para poder mostrarlos en grupos como hemos platicado en issue #1491 y #1492

[2017-11-08 05:42] pabo99 commented on #623
En la imagen de propuesta sólo vienen ordenados alfabéticamente sin ningún filtro. Entonces primero se revisan los issues que mencionas para poder continuar con este.

[2017-11-09 15:21] pabo99 commented on #1355
Veo que no es necesario hacer cambios en el esquema de base de datos, sólo es cuestión de definir los queries y los cambios en la UI.

[2017-11-10 03:26] #561 closed

[2017-11-10 16:45] pabo99 commented on #1355
@lhchavez ¿nos puedes ayudar con la prioridad de este issue?

[2017-11-12 16:10] lhchavez opened #1539 "Agregar un mecanismo para auto-agregar privilegios en sandbox.omegaup.com"
Como un usuario normal, quiero poder probar cosas en el sandbox de omegaup sin la intervención de un administrador, para no tener que esperar a que ellos lo hagan manualmente.

## Comportamiento Esperado

Una interfaz con un panel de administración (que sería bueno tener de cualquier manera para producción). Esta interfaz debe poder permitir agregar a un usuario a uno de los privilegios globales (

[2017-11-12 18:51] heduenas opened #1540 "(Calidad) Separar datos de feedback que fueron capturados después del cambio en las preguntas"
Las preguntas fueron cambiadas ligeramente en https://github.com/omegaup/omegaup/pull/1538

Hay que modificar el cronjob para que sólo agregue las que fueron capturadas después de ese cambio.

[2017-11-13 15:29] pabo99 commented on #1519
Una vez que se autorice el nuevo aviso de privacidad, se agregará un link en el footer, como lo comenta @npave

[2017-11-13 15:36] pabo99 commented on #1413
Hay que revisar si esto sucede en todos los concursos o sólo fue un caso especial

[2017-11-13 15:36] elendil326 opened #1541 "(In review) Seria bueno que me dijera cuanto tiempo tengo que esperar"
Seguimiento de #1225

[2017-11-13 15:36] elendil326 commented on #1225
#1541 dará seguimiento a este issue

[2017-11-13 15:36] #1225 closed

[2017-11-13 15:39] elendil326 opened #1542 "(In Review) Avisar a los concursantes que al salirse de la página, perderán acceso a sus códigos en modo arena"
Seguimiento de #1213

[2017-11-13 15:39] elendil326 commented on #1213
#1542 le dará seguimiento a este issue

[2017-11-13 15:39] #1213 closed

[2017-11-13 15:39] pabo99 opened #1543 "(In review) (Calidad) Notificar al usuario de bans"
Seguimiento de #1458

[2017-11-13 15:41] pabo99 opened #1544 "(In review) Mostrar lista de tags en la página de Add tags"
Seguimiento de #623

[2017-11-13 15:41] elendil326 opened #1545 "(In Review) Mucho ruido en el log cada que alguien escribe mal su contraseña"
Seguimiento a #710

[2017-11-13 15:41] elendil326 commented on #710
#1545 le dará seguimiento

[2017-11-13 15:41] #710 closed

[2017-11-13 15:42] pabo99 opened #1546 "(In review) SD: P2 Agrerar el valor de orden al editar tareas y exámenes. (drag & drop en lista, preferido)"
Seguimiento de #1367

[2017-11-13 15:45] elendil326 opened #1547 "(In Review) Pruebas 100% determinísticas"
Seguimiento de #696

[2017-11-13 15:45] elendil326 commented on #696
#1547 le dará seguimiento

[2017-11-13 15:45] #696 closed

[2017-11-13 15:47] elendil326 commented on #1367
#1546 le dará seguimiento

[2017-11-13 15:47] #1367 closed

[2017-11-13 15:49] elendil326 commented on #623
#1544 le dará seguimiento

[2017-11-13 15:49] #623 closed

[2017-11-13 15:51] elendil326 commented on #1458
#1543 le dará seguimiento

[2017-11-13 15:51] #1458 closed

[2017-11-13 15:57] pabo99 commented on #1413
La forma de revisar es crear un usuario con un (_) y tratar de agregarlo en un concurso

[2017-11-13 17:48] pacharrin opened #1548 "Redaccion.php no renderiza bien las listas"
Como un creador de problema, quiero que al poner listas en redaccion.php se muestren correctamente para no confundirme

entrar a https://omegaup.com/redaccion.php

En el código de ejemplo hay una sección de límites pero en la parte de previsualización se ve sin formato de lista.

## Comportamiento Esperado

que se vea como lista

## Comportamiento Actual

no se ve como lista

[2017-11-13 20:09] rcxr opened #1550 "omegaUp Preguntas no disponible"
Al ir a omegaUp Preguntas (https://omegaup.com/preguntas/)

# Se espera
Que se despliegue la página principal de omegaUp Preguntas.

# Pero en vez...
Este mensaje de error aparece

![image](https://user-images.githubusercontent.com/684205/32746758-7c83380a-c86b-11e7-9aad-650afbbdcada.png)

[2017-11-14 02:59] #1169 closed

[2017-11-14 03:01] #1255 closed

[2017-11-14 03:03] #1550 closed

[2017-11-14 03:04] #1250 closed

[2017-11-14 03:26] lhchavez opened #1552 "(Calidad) Migrar el cronjob a Python"
Dado que en un futuro cercano vamos a tener más de un frontend, para simplificar los deployments y evitar que los cronjobs se manden llamar múltiples veces, no se van a mandar llamar desde la VM del frontend (excepto aquellos cronjobs que sí necesiten ser llamados una vez por VM, como los de actualizaciones y obtención de certificados).

Esto también beneficia la responsividad del ambiente de prod

[2017-11-14 03:26] lhchavez commented on #1540
Esto se puede hacer simultáneamente con #1552?

[2017-11-14 03:43] Fer-OmegaUp commented on #1456
@heduenas, si lo convertimos a privado significa que el creador aun puede verlo y editarlo, correcto? puede cambiar otra vez de privado a algo mas?

[2017-11-14 03:44] Fer-OmegaUp commented on #1456
@pabo99 ya estas haciendo tu este issue? vi que lo moviste a inreview pero no tiene a nadie asignado

[2017-11-14 03:45] Fer-OmegaUp commented on #1364
@frcepeda puedes dar status en este item?

[2017-11-14 03:48] Fer-OmegaUp commented on #1168
Esto es duplicado. Cerrando.

[2017-11-14 03:48] #1168 closed

[2017-11-14 03:48] Fer-OmegaUp commented on #1170
@heduenas creo que este no es dup?

[2017-11-14 03:49] #1242 closed

[2017-11-14 03:49] Fer-OmegaUp commented on #1249
@heduenas duplicado y completado?

[2017-11-14 03:50] Fer-OmegaUp commented on #1251
@heduenas lo agrego al queue de comite educativo?

[2017-11-14 03:51] Fer-OmegaUp commented on #1253
duplicado y cerrado

[2017-11-14 03:51] #1253 closed

[2017-11-14 04:31] pabo99 commented on #1456
Si, olvidé asignarmelo. Ya quedó

[2017-11-14 05:05] heduenas commented on #1251
Este ya está resuelto

[2017-11-14 05:08] heduenas commented on #1170
A esté le falta buena parte de promotion. Pero lo de promotion no está en nuestros planes cercanos. Así que yo creo que hay que conservarlo como low priority  y no hay que incluirlo en el proyecto del MVP.

[2017-11-14 05:14] heduenas commented on #1289
Este también es parte de promotions, hay que mantenerlos como low priority y no hay que incluirlo en el MVP.

[2017-11-14 05:15] heduenas commented on #1267
Este también es parte de promotions, hay que mantenerlos como low priority y no hay que incluirlo en el MVP.

[2017-11-14 05:16] heduenas commented on #1264
Este también es parte de promotions, hay que mantenerlos como low priority y no hay que incluirlo en el MVP.

[2017-11-14 05:17] heduenas commented on #1263
Este también es parte de promotions, hay que mantenerlos como low priority y no hay que incluirlo en el MVP.

[2017-11-14 05:20] heduenas commented on #1249
Completado, pero no estoy seguro si duplicado.

[2017-11-14 15:38] #1544 closed

[2017-11-14 18:36] pabo99 commented on #1526
Por lo que veo, el correo de todos los usuarios en omegaUp es accesible en la vista de perfil, siempre y cuando el usuario logueado tenga permisos de de site-admin. ¿Esto no soluciona el problema que se plantea originalmente?

En caso de que alguien mas requiera acceder a esta info, es más fácil sólo revisar si se le puede abrir este permiso a perfiles.

[2017-11-16 00:53] lhchavez opened #1555 "[BUG] /api/problem/stats es muy lento"
Como ese API necesita abrir todos los archivos `details.json` de todos los envíos de ese problema, es lentísimo de calcular. Si se manda llamar muy frecuentemente puede tirar la plataforma.

## Posible Solución

Quizás sea necesario no dar el reporte completo con ese API, o hacerle rate-limiting.

[2017-11-16 00:59] frcepeda opened #1556 "/api/problem/create y /api/problem/update tienen parámetros inconsistentes"
El alias del problema a crear es `alias`, pero al actualizar es `problem_alias`.

## Posible Solución

Permitir que `/api/problem/create` también acepte `problem_alias` como el alias
a crear. Esto no rompe la API anterior, y lo iguala con el resto de las API que toman
un alias de problema.

[2017-11-16 01:29] #1413 closed

[2017-11-16 05:35] heduenas opened #1557 "(Calidad) mostrar username del autor del problema en la lista de nominaciones"
Agregar una columa en https://omegaup.com/nomination/ con el username del autor.
Nos puede ayudar a notar a los usuarios más abusivos.

[2017-11-16 06:33] heduenas opened #1558 "(Calidad) Añadir opción en para esconder etiquetas en "Editar Perfil""

[2017-11-16 21:26] pabo99 commented on #1526
Se cierra, debido a que cualquier site-admin ya tiene la forma de ver el correo de los usuarios desde la página de Perfil.

[2017-11-16 21:26] #1526 closed

[2017-11-17 02:30] pabo99 commented on #1527
@Fer-OmegaUp ¿Cuál es el comportamiento esperado de este issue? ¿Se pretende suspender el permiso en automático o alguien tendría que hacerlo manualmente? Se relaciona con el issue #1458, con respecto a los 2 templates que menciona @pabloaguilar, el primero sólo notifica al usuario que el problema no cumple con los lineamientos y el segundo puede ser el que notifica la suspensión de los permisos.

[2017-11-17 02:36] pabo99 commented on #1528
@npave Actualmente ya tenemos una tabla de Escuelas, ¿Podemos utilizar estas escuelas para este cambio que solicitas?

[2017-11-17 02:46] elendil326 commented on #1539
Osea, queremos que cualquier usuario con acceso al sandbox pueda mover los permisos de todos los usuarios en el sandbox? o solo sus propios permisos?

[2017-11-17 02:47] pabo99 commented on #1539
@lhchavez ¿Podemos resolverlo con una matriz de permisos y que el usuario seleccione con  checkboxes los permisos que necesita?

[2017-11-17 02:51] elendil326 commented on #1540
¿Esto puede esperar para el siguiente sprint? @lhchavez @Fer-OmegaUp

[2017-11-17 02:52] heduenas commented on #1527
Se tendria que hacer manualmente.
    Cuando detectemos que un usuario esta creando problemas inapropiados repetidamente, queremos tener la posibilidad de prohibir que suba problemas y probablemente de crear concursos. Pero no queremos bannear su cuenta por completo, queremos que pueda seguir entrenando y concursando.
    Tal vez se podria poner un boton en la UI de resolver demotion que diga "Pro

[2017-11-17 02:53] Fer-OmegaUp commented on #1527
Nos avisaría sobre el usuario que incidió y lo haríamos manualmente (nos reservamos el derecho de quitar o no permisos), caso por caso. Puede haber honest mistakes y puede pasar 3 veces después de un año, ese tipo de cosas

[2017-11-17 02:58] elendil326 commented on #1555
Que tal que el API solo trae los resultados "parciales" de un cache que corre cada hora en el background del servidor? @lhchavez @pabo99 @pabloaguilar

[2017-11-17 03:07] heduenas commented on #1540
Este no es urgente, si puede esperar.

[2017-11-17 03:07] heduenas commented on #1527
Podemos iniciar con algo manual. Y cuando tengamos mas recursos para dedicar a esto, hacerlo automatico.

[2017-11-17 05:23] #1456 closed

[2017-11-17 05:27] lhchavez opened #1560 "Permitir hacer algunas tareas administrativas desde la interfaz"
Como un miembro del comité de soporte, quiero poder hacer algunas tareas administrativas comunes, como validar un usuario dado su correo electrónico, o restablecer contraseñas para que los site-admins no tengan que hacerlo.

## Posible Solución

Un panel administrativo que tenga acceso a esta funcionalidad.

[2017-11-17 08:53] pabloaguilar commented on #1555
O.. tener que pedir stats de casos explicitamente. Que por default no se calcule, pero si realmente lo quieren se pueda pedir

[2017-11-17 17:40] frcepeda opened #1561 "(Secuencias Didacticas): Como problemsetter, quiero poder escribir la solución de mi problema para que los concursantes la puedan leer."
## Comportamiento Esperado

Así como tenemos `[lang].markdown` en `statements`, sería muy útil tener `[lang].tutorial.markdown`, que es otra redacción que explica cómo se debía resolver el problema.

Habría que definir cuándo mostrarla al concursante, pero tal vez lo más fácil inicialmente sería sólo mostrarla en modo práctica o cuando se resuelve el problema fuera de un concurso.

## Comportamien

[2017-11-17 23:28] samdsmx opened #1562 "Aparece duplicado los registros de coder del mes para sep y ago del 2015"
Probablemente es un bug al contar con mas de una imagen de perfil en el sistema

![image](https://user-images.githubusercontent.com/5838427/32973386-fe1578b8-cbab-11e7-85cc-ba6a7a734269.png)

[2017-11-18 01:46] #1254 closed

[2017-11-18 01:50] #1249 closed

[2017-11-18 01:51] #1251 closed

[2017-11-18 15:41] lhchavez opened #1564 "Se hacen muchas llamadas a la base de datos en `UserController::getProfileImpl`"
https://github.com/omegaup/omegaup/blob/981aafc6e32d78e8186b7287d97b332cd69cceff/frontend/server/controllers/UserController.php#L1083-L1112 hay cinco llamadas a la base de datos para regresar la información del usuario. Eso se puede hacer con una sola con un montón de `JOIN`s.

[2017-11-18 18:21] frcepeda opened #1565 "El contador de usuarios que resolvieron un problema no está actualizado"
## Comportamiento Esperado

Al resolver un problema se debería actualizar la entrada en la tabla de problemas que dice cuántos usuarios han resuelto el problema.

## Comportamiento Actual

Está en cero pero sí hay usuarios que lo resolvieron.

![image](https://user-images.githubusercontent.com/468211/32983477-c3b9bd46-cc5a-11e7-95cb-a490e8818139.png)

![image](https://user-images.githubusercontent

[2017-11-19 01:29] tvanessa opened #1567 "(Calidad): Tener la posibilidad de mostrar nuevamente el formulario de Quality Nominations"
## Comportamiento Esperado

Si un usuario hace dismiss a un formulario de Quality Nominations debe tener la posibilidad de volver a verlo.

## Comportamiento Actual

No hay manera de volver a ver el formulario después de cerrarlo

## Posible Solución

Añadir un botón en la UI para mostrar el formulario si el usuario hizo dismiss.

[2017-11-19 03:45] heduenas commented on #1561
Este muy probablemente va a necesitar un one-pager, sobre todo por la parte de UX.

[2017-11-19 06:03] heduenas opened #1568 "(Calidad): Añadir soporte para que un usuario pueda eliminar un problema suyo"
Actualmente se pueden poner como privados. Pero los usuarios pueden estar interesados en eliminarlo por completo. Internamente podríamos ponerle un nuevo tipo de visibilidad que haga que no se muestre en las listas de problemas, para no tener que lidiar con resolver dependencias que otras tablas puedan tener en ese problema en la base de datos.

[2017-11-19 15:50] lhchavez commented on #1568
Algo así como agregar `const VISIBILITY_PRIVATE_BANNED = -10;` a https://github.com/omegaup/omegaup/blob/981aafc6e32d78e8186b7287d97b332cd69cceff/frontend/server/controllers/ProblemController.php#L13-L18 ? suena razonable.

[2017-11-19 19:45] lhchavez commented on #1562
Ah buena hipótesis. La causa raíz es por contar con más de un correo en el sistema. Usamos el correo para generar el URL de Gravatar, así que en esencia es lo que suponías.

[2017-11-19 20:07] lhchavez commented on #1567
Puntos extra si la primera vez que se hace dismiss hay una indicación en la interfaz que muestre el botón.

[2017-11-19 22:01] #1393 closed

[2017-11-20 01:25] #1557 closed

[2017-11-20 03:12] heduenas commented on #1500
Parte de esto esta resuelta con #1530

[2017-11-20 05:14] npave commented on #1528
@pabo99 si, que se registre como nueva escuela en ese momento

[2017-11-21 00:04] elendil326 commented on #1527
@Fer-OmegaUp @heduenas veo esto en dos cosas:

1. Que omegaUp avise a un grupo de personas cuando un usuario ha subido N problemas incorrectos
2. Que omegaUp tenga una UI para quitarle el permiso de subir problemas a un usuario. El accesso a esta UI y/o funcionalidad será solo para admins

Para el 1, quienes serían este grupo de personas? cuál sería el medio de comunicación? Cuál es el valor de N?

[2017-11-21 01:26] frcepeda opened #1572 "Como organizador, quiero poder ordenar los problemas/contenidos en un curso"
## Comportamiento Esperado

No hay forma de decidir qué problema va en qué orden en un curso.

## Comportamiento Actual

Se agregan los problemas al final (?) o en algún orden arbitrario y no se pueden reordenar.

## Posible Solución

Agregar un campo que determine el orden en el concurso, como con los problemas de un concurso.

## Contexto

Los cursos usualmente tienen una progresión lógica, con

[2017-11-21 01:28] frcepeda opened #1573 "Como organizador, quiero poder organizar las tareas y exámenes de un curso"
## Comportamiento Esperado

Al agregar un examen o tarea a un curso debería poder decidir en qué lugar de la lista sale.

## Comportamiento Actual

No se puede decidir el orden en el que aparecen.

Ver #1572, que es muy similar.

[2017-11-21 03:22] lhchavez commented on #1572
Dupe de https://github.com/omegaup/omegaup/issues/1546 (que ya está en revisión!)

[2017-11-21 03:22] #1572 closed

[2017-11-21 17:22] pacharrin opened #1576 "Como concursante y entrenador del concursante quiero que se me entregue un diploma digital que certifique mi participación"
Después de un concurso se entregan diplomas,  estos diplomas le ayudan a los maestros, alumnos e incluso escuelas a conseguir mas apoyos.

Seria ideal que al finalizar un concurso omegaUp pudiera generar diplomas digitales y que a los impresos se les pueda agregar algún tipo de código QR para que pueda ser identificable.

Un delegado me comentó que muchas veces le llaman gente de RH para preguntar

[2017-11-21 17:27] lhchavez commented on #1576
Excelente idea! Tiene como prerequisito poder hacer reevaluación de problemas sin afectar concursos previos.

[2017-11-22 01:33] #1471 closed

[2017-11-22 07:00] alanboy opened #1577 "Crear cuentas para Facultad de Ciencas UNAM"
[code]

Un cambio idéntico a https://github.com/omegaup/omegaup/pull/1575

[2017-11-22 08:13] pabloaguilar opened #1578 "Documentar los browsers soportados oficialmente"
## Comportamiento Esperado

Como un usuario o desarrollador, quiero saber cuales son los browsers oficiales soportados por omegaUp la plataforma.

## Comportamiento Actual

No se donde determinar esto

## Posible Solución

Plataforma: Agregar una seccion al README.md u una pagina en el wiki
Sitio oficial: Ademas, hacerlo visible en la ayuda o preguntas de omegaup.com

[2017-11-22 08:14] pabloaguilar opened #1579 "Actualizar a una version soportada de jQuery"
De acuerdo al sitio de jQuery, los branches 1.x y 2.x ya no reciben actualizaciones.
La version usada en omegaUp ahorita es 1.10

[2017-11-23 00:26] JuanM97 opened #1581 "Categorizacion de un problema no permite seleccion de un tema unico"
## Comportamiento Esperado

Una vez resuelto un problema, omegaUp te felicita por resolverlo, y te hace una serie de preguntas (dificultad del problema, temas relacionados y calidad del problema).

En el menu de seleccion de temas, se espera poder seleccionar los temas que se creen relacionados, uno por uno. En realidad, al seleccionar un item, se seleccionan todos los temas de la lista. Al quitar

[2017-11-23 03:55] lhchavez commented on #1581
Asignando a @heduenas porque según recuerdo ya estaba trabajando en esto.

[2017-11-23 03:58] lhchavez commented on #1565
Creo que esto fue a raíz del cambio de host. Según yo teníamos un `TRIGGER` que se encargaba de esto, pero al parecer no se activó.

[2017-11-23 03:59] lhchavez commented on #1579
+1, pero esto tiene el potencial de romper absolutamente todo D: necesitamos tener más pruebas automatizadas.

[2017-11-23 04:02] lhchavez commented on #1578
oficialmente? solo Chrome stable channel. oficialmente _no_ soportado, IE (pero Edge no hay bronca). oficialmente roto IE < 9 y Firefox < (la versión de hace dos años).

esta es otra cosa que necesitamos pruebas automatizadas u_u.

[2017-11-23 05:07] pabloaguilar commented on #1579
Selenium se ve straightforward.
Que te parece esto como integration test:

* En un ambiente con el requerimiento de verificacion deshabilitado (e.g. sandbox)
* Navigate to home page
* Navigate to login page
* Create user name with random e-mail
* Log in with that user
* Create a problem
* Navigate to problem
* Submit code
* Verify run shows up
* Create contest
* Add existing problem to contest
* N

[2017-11-24 02:16] #1452 closed

[2017-11-24 02:23] lhchavez opened #1584 "Hacer un linter que evite el uso de `id` en archivos .vue"
Esto evita errores como el que causó https://github.com/omegaup/omegaup/issues/1581 . Claro que hay que permitir una manera de darle override para permitir casos como https://github.com/omegaup/omegaup/pull/1520/files#diff-1a158dce78a9b861c37db923cf1b0667R7 , que _necesita_ establecer un `id` por requerimiento del componente upstream.

Se aceptan sugerencias, pero algo así como `....` podría funci

[2017-11-24 02:37] #1581 closed

[2017-11-24 03:12] lhchavez commented on #1509
Resulta que esto se puede hacer dentro del linter sin tocar la base de datos!

[2017-11-24 17:07] lhchavez opened #1585 "Documentar la arquitectura acutal de omegaUp"
Tenemos un whitepaper publicado y un montón de cosas en el wiki, pero todo está súper desactualizado. Hay que refrescar toda esa documentación.

[2017-11-25 05:31] lhchavez commented on #1579
Con esa prueba creo que sería más que suficiente! Reviví una rama antiquísima en mi VM que ya tenía un soporte súper rudimentario para Selenium: https://github.com/omegaup/omegaup/pull/1587

[2017-11-27 03:15] #659 closed

[2017-11-27 03:31] #1509 closed

[2017-11-27 05:36] MiguelRomero opened #1591 "Error Login Facebook"
![image](https://user-images.githubusercontent.com/5459260/33252239-79ab5774-d302-11e7-9aae-89684e0f9ab0.png)

El boton de Facebook cuando le das click en lugar de hacer el Login te manda a esa pantalla, creo que puede ser problema de la Graph o podría ser la api key.

[2017-11-27 05:42] lhchavez commented on #1591
Ya quedó arreglado.

[2017-11-27 05:42] #1591 closed

[2017-11-27 05:59] lhchavez commented on #1578
Con https://github.com/omegaup/omegaup/pull/1590 podemos empezar a tener más pruebas de Selenium

[2017-11-28 16:05] elendil326 commented on #1414
Discusión relacionada en Slack:

andres [14 days ago]
Creo que permitir que un usuario X suba una imagen, sin que el sistema tenga capacidades de administración va a estar algo riesgoso. Si queremos habilitar solo la subida, y dejar la administración para después, se me ocurre lo siguiente:

1. Usuario teclea su escuela
2.a. Si la escuela no existe, mostrar campo para subir imagen o pedir url
2.b.

[2017-11-29 02:39] Yorchito opened #1593 "Como colaborador del programa de mentores quiero que cada vez que se calcule el Coder del Mes, se mande un correo automático al ganador con copia a mentores@omegaup.com para agilizar el contanto"
## Comportamiento Esperado

Cada mes se calcula y se despliega en la página principal de omegaUp el ganador del coder del mes.
El programa de mentores del Departamento de Desarrollo le otorga como premio una mentoría.
El proceso para contactar al ganador es tortuoso y lento.

Si se automatiza el envío del correo cada que se calcula al ganador de cada mes, eso agilizará las cosas y permitirá que lo

[2017-11-29 02:48] Yorchito opened #1594 "Como colaborador del programa de Experiencias de Carrera quiero que cada vez que se calcule la escuela ganadora del mes, se mande un correo automático a todos los usuarios de esa escuela con copia a Salvador Martinez <salvador@omegaup.com> para agilizar el contanto"
## Comportamiento Esperado

Cada mes se calcula y se despliega en la página principal de omegaUp la escuela más activa del mes.
El programa de Experiencias de Carrera del Departamento de Desarrollo le otorga como premio una Conferencia.
El proceso para contactar al ganador es tortuoso y lento.

Si se automatiza el envío del correo cada que se calcula a la escuela ganadora, eso agilizará las cosas

[2017-11-29 05:31] #1403 closed

[2017-11-29 05:41] #1541 closed

[2017-11-29 08:11] alanboy opened #1595 "Habilitar PowerBI"
PowerBI: https://powerbi.microsoft.com/en-us/integrations/mysql/

el caso de uso es que el algunos miembros en la org puedan construir dashboards sin tener que cambiar codigo/consultas. la idea es que podamos responder preguntas mas rapido y experimentar con metricas.

una cosa es la implementacion y otra es la politica del uso interno de datos.

[2017-11-29 08:42] heduenas opened #1596 "(Calidad) Agregar opciones "Problema duplicado" y "Los casos están mal" al formulario de demotions"

[2017-11-29 08:54] heduenas opened #1597 "(Calidad) Refactorizar getProblemSuggestionAggregates y getGlobalDifficultyAndQuality"
Antes de que el cronjob sea migrado a python, refactorizar getProblemSuggestionAggregates y getGlobalDifficultyAndQuality en dos funciones cada una: una que lea los registros de la base de datos y otra que haga calcule los aggregates.

Después hay que se haga la refactorización, migrar los tests testGetGlobalDifficultyAndQuality() y testGetSuggestionRowMap() a python.

[2017-11-29 15:02] lhchavez commented on #1595
todavía no termino la política, pero me gustaría que los dashboards se originaran de consultas peer-reviewed y version-controlled. no se si powerbi soporte leer consultas de github.

[2017-11-29 16:53] alculquicondor opened #1598 "Problema marcado como privado es accesible sin iniciar sesión"
## Comportamiento Esperado

Un problema marcado como privado (Aparece en listado público: No) no debe ser accesible cuando no se es un administrador, aún si se dispone del link.

## Comportamiento Actual

Conociendo el link, el problema es accesible. Fue probado usando el navegador en modo privado.
Sin embargo, no aparece en la lista de problemas si se busca por nombre.

## Tu ambiente

Navegador

[2017-11-29 17:52] Fer-OmegaUp commented on #1596
hay que agregarlo tambien al spec

[2017-11-30 04:54] #840 closed

[2017-11-30 14:29] lhchavez commented on #1598
arreglado en f0cda9a93ad5f67d93b2ba788928e985cd1180dc

[2017-11-30 14:29] #1598 closed

[2017-12-01 00:53] pabo99 commented on #1540
No estoy tan familiarizado con el cronjob y tengo este issue en el backlog del sprint actual, ¿Me pueden ayudar a describir el cambio?

[2017-12-01 00:59] heduenas commented on #1540
Yo creo que para hacer este es mejor esperar a migrar el cronjob a python. Yo espero que eso este listo para este domingo.

[2017-12-01 01:06] pabo99 commented on #1540
Gracias.

[2017-12-01 01:17] #1546 closed

[2017-12-01 19:27] MiguelRomero opened #1601 "No me deja visualizar los envíos en medio de una arena ( Soy owner y revise en cuenta de admin igual)"
![image](https://user-images.githubusercontent.com/5459260/33499648-59f073b4-d69b-11e7-9b5a-70d17ee2ebb5.png)

Tampoco como admin me marca 404 y ya existen envíos :c

[2017-12-04 10:15] alanboy commented on #1595
No, usa archivos (.pbix) que no son "texto plano" y por ende sera difícil de hacerles code review via github.

[2017-12-04 14:41] lhchavez commented on #1595
ok, busquemos alternativas entonces

[2017-12-04 16:47] pabo99 commented on #1514
Dependemos del #1511 para poder resolver este issue. @npave ¿Sabes en que estatus está el issue?

[2017-12-06 04:12] alanboy opened #1604 "El ranking no se actualiza con problemas resueltos"
*Reporte 1:*
Hola, disculpe mi problema es que desde hace un tiempo no he avanzado en el rank, ni mis puntos ni la cantidad de problemas resueltos cambia, sin importar que conteste mas y mas, podrian solucionarlo?

Pues he resuelto publicos y he hecho en concursos (Estoy participando en la ORIG), segun yo si funcionaba pero de un tiempo para aca mis puntos no aumentan en el ranking, y mi posicion

[2017-12-06 15:54] elendil326 opened #1605 "Actualizar versiones de Highchart y Highstocks"
## Comportamiento Esperado

omegaUp corriendo versiones más actualizadas, y con documentación, de Highchart y Highstocks. Ahorita están en version 6.0.3. No tiene que ser necesariamente esa versión, pero una reciente para facilitar el trabajo de futuros issues.

## Comportamiento Actual

Las versiones acutales no tienen tanta documentación y están muy viejitas:

- `Highstock JS v1.3.9 (2014-01-15)

[2017-12-06 15:57] elendil326 commented on #1355
Blocked by #1605

[2017-12-07 00:00] alanboy opened #1607 "Tiempo de Evaluador diferente en "Escuelas""
Fuente: https://omegaup.com/preguntas/1297/tiempo-de-evaluador-diferente-en-escuelas

Ya me ha ocurrido varias veces y con diferentes problemas, que tengo un código de AC en un problema, y al momento de enviar este mismo código en "omegaUp Escuelas", me da TLE ( Tiempo Limite Excedido )

Me parece que esto no debería de ocurrir, pues si el código ya estaba aceptado y es el mismo código, no veo por

[2017-12-07 01:21] Yorchito commented on #1593
Cerrando para proponer nueva solución al problema planteado.

[2017-12-07 01:21] Yorchito commented on #1594
Cerrando para proponer nueva solución al problema planteado.

[2017-12-07 01:21] #1594 closed

[2017-12-07 01:21] #1593 closed

[2017-12-07 03:01] #1543 closed

[2017-12-07 03:12] #1605 closed

[2017-12-07 06:26] Yorchito opened #1608 "Como un colaborador del programa de mentores quiero tener permisos para ver el correo del coder del mes para poder iniciar el contacto tan pronto como sea posible"
## Comportamiento Esperado

Como un colaborador del programa de mentores quiero tener permisos para ver el correo del coder del mes para poder iniciar el contacto tan pronto como sea posible. Esto agiliza la comunacación y nos ayuda a enfocarnos en otras tareas.

*Si estás sugiriendo un cambio/mejora, describe cómo debería funcionar*

## Comportamiento Actual

Por ahora, solo los superusuarios de

[2017-12-07 06:30] lhchavez commented on #1608
sustituyendo "un usuario" por "el coder del mes actual" y :+1:.

[2017-12-07 06:35] Yorchito opened #1609 "Como usuario quiero poder filtar la página de rank por escuela, país y estado para poder saber en qué lugar me encuentro en los ámbitos mencionados"
## Comportamiento Esperado

Como usuario quiero tener una opción de poder ver cual es mi rank por escuela, por país y por estado.

## Comportamiento Actual

Actualmento solo se puede saber cual es mi ranking general

## Posible Solución
Agregar los filtros necesario para que se pueda elegir en un drop down list, el pais, el estado y la escuela. Una vez aplicado el filtro, la página de ranking debe

[2017-12-07 06:39] lhchavez commented on #1609
Buena idea! :+1:

[2017-12-07 07:13] Yorchito opened #1610 "Como usuario quiero poder agrupar la página de rank por pais, estado o escuela para poder visualizar cómo se compara el agregado con el resto de otros grupos"
## Comportamiento Esperado

Como usuario quiero poder agrupar la página de rank por pais, estado o escuela para poder visualizar cómo se compara el agregado con el resto de otros grupos

## Comportamiento Actual

Actualmente la página de ranking solo muestra el desempeño individual de los usuarios.

## Posible Solución

Agregar una opción en la página de ranking para que en vez de ordenar y mostar

[2017-12-07 17:39] pabo99 opened #1611 "No funciona el autocompletado en el listado de problemas"
Al comenzar a escribir el nombre de un problema en la barra de búsqueda, no me muestra las coincidencias de la palabra.

## Comportamiento Esperado

Anteriormente ya se había agregado esta opción de autocompletado, pero dejó de funcionar.

## Comportamiento Actual

Al inspeccionar la consola de Javascript veo que está tronando por un elemento que no existe en el DOM

## Posible Solución

Revisando

[2017-12-07 17:54] pabo99 opened #1612 "Ordenar problemas en cursos no funciona correctamente"
El drag & drop para ordenar los problemas no ordena los problemas como se le indica.

## Comportamiento Esperado

Si deseo mover un problema, no se respeta el orden que elegí.

Se adjunta animación para que se entienda:

![sd 38 - fixes 1367](https://user-images.githubusercontent.com/3230352/33730315-36c23c3e-db45-11e7-984e-59aa346ac3f1.gif)

[2017-12-08 02:15] lhchavez commented on #1601
Necesitas meterte sin el `/admin/`, entrar como usuario mortal y volver a meterte a `/admin/.

[2017-12-08 02:15] #1601 closed

[2017-12-08 02:16] lhchavez commented on #1604
Creo que es porque Amazon RDS no soporta los triggers por tiempo? O algo así ha de ser, porque no hay PHP para actualizar esto.

Peor caso armamos un cronjob Python.

[2017-12-08 02:18] lhchavez commented on #1607
Esto es porque se arregló un bug donde se le estaba dando tiempo de más antes y ahora el evaluador cumple con lo esperado.

[2017-12-08 02:18] #1607 closed

[2017-12-08 02:20] elendil326 commented on #1608
@Yorchito vamos a permitir que vean solo el correo del coder del mes actual. Una vez pasado el mes, se recalculará y se perderá el acceso a esta información.

[2017-12-08 02:21] lhchavez commented on #1608
Aquí hay un ejemplo del ACL: https://github.com/omegaup/omegaup/commit/697b4f53aecedb81ada65529c4f9b916935926e4

y cómo usarlo: https://github.com/omegaup/omegaup/commit/c428498ce6241dcfd8700bebd3cd0273e34447ab

[2017-12-08 02:22] lhchavez commented on #1609
Únicamente se va a mostrar la opción del filtro para las cosas que tengan en su perfil. e.g. si un usuario no ha registrado su estado, no se muestra el filtro de "estado".

Hay que armar las queries y cachearlo igual que el rank global.

[2017-12-08 02:31] elendil326 commented on #1577
Se encontró un workaround. Más info con @lhchavez

[2017-12-08 02:31] #1577 closed

[2017-12-08 02:31] lhchavez commented on #504
Como ya tenemos un script de deployment, podemos hacerlo :D

[2017-12-08 02:31] lhchavez commented on #756
Posiblemente esto ya no ocurra. Cerrémoslo.

[2017-12-08 02:31] #756 closed

[2017-12-08 06:04] #1401 closed

[2017-12-08 06:20] #1528 closed

[2017-12-09 16:31] kukogit opened #1615 "Score NO se muestra en tiempo real"
El contest https://omegaup.com/arena/ORIG1718PIEP01/ se configuró para que no mostrará el score durante el contest, tampoco lo mostraría al final del mismo. Esta configuración la he realizado muchas veces.

Hoy, al hacer lo mismo, en el admin del contest, puede ver los submits de los alumnos pero no puedo ver el score, ni como admin ni con el link admin de score:

![00](https://user-images.githubu

[2017-12-09 17:21] lhchavez commented on #1615
El grader estaba intentando comunicarse con el broadcaster usando un puerto incorrecto. Ya debe funcionar.

[2017-12-09 17:21] #1615 closed

[2017-12-09 18:03] andreasantillana opened #1616 "Regresión: No permite agregar múltiples usuarios a un concurso"
## Comportamiento Actual

Al momento de intentar agregar múltiples usuarios a un concurso privado me dice que hay un error. Ya intenté con espacios después de las comas, sin espacios y con enter. Les dejo screenshots. Todos los usuarios eran válidos ya que al agregarlos de uno por uno sí los guardó.

## Pasos para reproducir (para bugs)

*Provee un link a un ejemplo, o una lista de pasos detallada

[2017-12-09 18:14] lhchavez commented on #1616
puedes postear lo que te haya dicho la consola de JavaScript?

[2017-12-09 18:24] lhchavez commented on #1616
Creo que el problema es que estamos pasándole estado a `bulkOperation` de una manera súper rara:

https://github.com/omegaup/omegaup/blob/3a73c5ba87238cc74d27ede1ef716ffe47263761/frontend/www/js/omegaup/ui.js#L72-L76

La solución es pasarle explícitamente la lista de parámetros a correr.

[2017-12-09 18:28] andreasantillana commented on #1616
@lhchavez aquí está lo de la consola

[code]

[2017-12-09 18:29] andreasantillana commented on #1616
No sé si es mejor screenshot hahaha te lo dejo

![image](https://user-images.githubusercontent.com/5167417/33798363-915cd5b2-dcdc-11e7-9f0d-bb8ee0789598.png)

[2017-12-09 22:51] darkmx opened #1617 "[BUG] Tiempo por omisión para el evaluador"
Hola amigos de OmegaUp, según recuerdo antes el tiempo límite del evaluador era igual al tiempo límite del envío pero en algún momento se separaron dichos límites. Al agregar ese campo de configuración, dejaron el valor por omisión en el valor más común (un segundo).

Para los problemas que no pueden resolverse en un segundo (por ejemplo, tiempo límite de 2 segundos) y donde el evaluador primero r

[2017-12-09 22:53] lhchavez commented on #1617
Tienes una lista de dichos problemas?

[2017-12-09 22:55] darkmx commented on #1617
ahorita me mordió eso en https://omegaup.com/arena/problem/Ordenando-archivos/ pero ya lo arreglé, tendría que revisar todos mis problemas para ver cuáles usan evaluador (sería bueno que en la lista de problemas hubiera un iconito para identificarlos rápido)

[2017-12-09 22:58] lhchavez commented on #1617
Ya veo. Entonces para hacer esto accionable, crees que sea suficiente con permitir filtrar tus problemas usando más campos? El lenguaje, si tiene validador, si es interactivo, etc?

[2017-12-09 23:02] darkmx commented on #1617
Eso sería bastante útil (en general, no nada más para esto), pero la primera solución que se me vino a la mente era una query que modificara la base de datos para que al validador se le diera al menos 0.5 segundos más que al envío ordinario, para aquellos casos en los que actualmente el validador tiene un tiempo <= que el tiempo ordinario.

Por otra parte, temo que si en algún momento se separa la

[2017-12-09 23:05] lhchavez commented on #1617
Sí planeamos separar la memoria límite, pero más bien para establecerlo al máximo: no tiene sentido limitar al validador en términos de memoria, sólo de tiempo (para obligar a los autores a escribir validadores eficientes y que no desperdicien recursos).

[2017-12-09 23:11] darkmx commented on #1617
Al menos en mi experiencia, con el tiempo límite del envío ya estabamos algo forzados a escribir validadores eficientes, pero lo que reporté no me lo esperaba :( ojalá sea útil lo que les comenté.

[2017-12-10 03:09] andreasantillana opened #1618 "Como un creador de concursos y cursos de omegaUp for schools, quiero que sea obligatorio tener los campos de estado, país y escuela para poder presentar un concurso para que tengamos mejor información para poder informar a sus delegados"
## Comportamiento Esperado
Cuando un usuario quiera empezar un concurso, si no ha llenado esta información que le salga un mensaje que le impida comenzar el concurso hasta que los llene.

## Comportamiento Actual
Cualquier usuario sin datos completos puede entrar al concurso.

## Contexto
Ahora para el examen abierto de OMIP y OMIS queremos mandar una lista a cada delegado con los alumnos de su es

[2017-12-13 00:55] #1519 closed

[2017-12-13 01:24] #1611 closed

[2017-12-13 01:36] #1612 closed

[2017-12-13 04:47] #1542 closed

[2017-12-13 05:27] #1545 closed

[2017-12-13 18:48] pacharrin opened #1622 "Regresión: el listado de cursos no se muestra"
## Comportamiento Esperado

Al entrar a https://omegaup.com/course/ no se muestra el listado de cursos.

Esto no pasa con todos los usuarios ya que un alumno que esta tomando el curso si puede verlo

## Comportamiento Actual

![image](https://user-images.githubusercontent.com/848246/33956290-b7425660-e003-11e7-8d54-454b7ec81e71.png)

el problema es que regresa 400 en /listCourses
![image](https://

[2017-12-13 18:51] pacharrin opened #1623 "Como un maestro de un curso quiero poder leer el progreso de los estudiantes cuando tengo muchas tareas"
## Comportamiento Esperado

En el curso introductorio de la OMI no se pueden ni los nombres de los alumnos ni los nombres de las tareas https://omegaup.com/course/Curso-OMI/students/

## Comportamiento Actual
![image](https://user-images.githubusercontent.com/848246/33956497-525b3c7a-e004-11e7-8fdc-7bcd089b313d.png)

## Posible Solución

Usar una tabla con scroll y de preferencia mobile friendly =

[2017-12-14 01:17] lhchavez opened #1624 "Crear un script de deployment"
Como un administrador de omegaUp, quiero poder hacer deployments de manera que todos los servidores se actualicen semi-atómicamente para no tener inconsistencias entre frontends / backends y base de datos.

## Comportamiento Esperado

Algo así como un deployment de GitHub o usar puppet server para orquestrar todos los deployments.

## Comportamiento Actual

Antes solo teníamos un servidor que hací

[2017-12-14 01:18] lhchavez commented on #1622
Este fue el primer deployment en el nuevo host que tuvo una migración de esquema de la base de datos. Resulta que había una inconsistencia en Puppet donde ese host se considera como que "no tiene base de datos" (porque es verdad), pero no hay ningún target que haga ese deployment.

Abrí https://github.com/omegaup/omegaup/issues/1624 para trackear eso, pero este bug ya quedó arreglado.

[2017-12-14 01:18] #1622 closed

[2017-12-14 04:22] pabo99 opened #1625 "Comenzar a usar promesas en vez de callbacks en operaciones bulk"
Para legibilidad de código, es recomendable utilizar promesas en vez de callbacks

## Comportamiento Esperado

Actualmente existe una función en `ui.js` llamada `bulkOperation` que sirve para iterar un elemento dado y esta realiza peticiones a algunas API's. Una vez realizado esto, regresa una respuesta por medio de un callback. Se pretende sustituir por promesas, ya que estas ayudan a mantener le

[2017-12-14 04:29] #1616 closed

[2017-12-14 04:42] pabo99 commented on #1597
@heduenas ¿Sabes si ya hay fecha para la migración del cronjob a Python?

[2017-12-15 00:44] elendil326 commented on #1414
Sacando del milestone. Se retomará este issue cuando el feature de administración de logos este terminado (pendiente feature ID)

[2017-12-15 15:49] lhchavez commented on #1623
De acuerdo con la posible solución.

Un workaround en lo que lo terminamos es exportar el progreso a una hoja de cálculo.

[2017-12-15 17:06] pacharrin commented on #1300
Qué tan factible es tener este listo para antes de Febrero?

[2017-12-15 17:08] lhchavez commented on #1300
welp, no mucho :( ocuparíamos mucha ayuda.

[2017-12-15 20:34] lhchavez commented on #1604
Ya vi el problema: por default Amazon RDS no permite agregar TRIGGERs a menos que cambies la configuración. Eso no se puede hacer sin reiniciar la instancia, así que se hará el domingo en la noche junto con el deployment.

[2017-12-18 06:02] lhchavez commented on #1604
TRIGGER activado!

[2017-12-18 06:02] #1604 closed

[2017-12-18 06:06] #1397 closed

[2017-12-18 15:05] andreasantillana opened #1630 "Permitir a los usuarios que entran con social login editar su perfil antes de establecer contraseña"
## Comportamiento Esperado

Si creas un usuario usando cuentas de google, facebook o linkedin, cuando entras a editar tu perfil, deberías poder editar todos los campos como cuando creas un usuario por medio de sign up normal.

(Este es mi usuario normal)
![screen shot 2017-12-18 at 8 53 55 am](https://user-images.githubusercontent.com/5167417/34112153-4c041c04-e3d1-11e7-8c2c-d6e55efc3106.png)

##

[2017-12-18 15:12] lhchavez commented on #1630
Es por diseño. Queríamos que la gente tuviera contraseña para poder editar el resto de su información.

Pero la posible solución suena bien porque antes no teníamos necesidad de tener buenas estadísticas y ahora sí.

[2017-12-19 04:00] #1547 closed

[2017-12-19 16:06] pabo99 commented on #1164
No logro reproducir el escenario que se reporta. Quizás se requiere de más información, cómo Sistema Operativo, versión de navegador, etc.

[2017-12-19 16:47] elendil326 commented on #1164
Cerrando como "No repro"

[2017-12-19 16:47] #1164 closed

[2017-12-19 18:12] elendil326 commented on #310
@lhchavez Esto lleva abierto dos años y no sé que tan aplicable siga siendo. Cerration?

[2017-12-20 01:26] Fer-OmegaUp opened #1631 "(Calidad) Correo para reactivar problema reportado esta mal"
deberia ser: quality@omegaup.com o calidad@omegaup.com
ahorita dice: omegaup@omegaup.com

[2017-12-20 01:27] Fer-OmegaUp commented on #1631
@lhchavez as FYI

[2017-12-20 01:32] lhchavez commented on #1631
no necesitas FYIearme, me llegan todos los correos de TODA la actividad de GitHub. y no filtro los mentions de manera especial.

[2017-12-20 01:39] Fer-OmegaUp commented on #1631
Ok, good to know

[2017-12-20 03:30] lhchavez commented on #310
no: es parte de mejorar la experiencia de los usuarios. seguido se queja la raza de esto.

[2017-12-20 04:29] #1355 closed

[2017-12-22 01:49] jofeque opened #1632 "Posición con infinitos beepers, no se reestablece al regresar el mundo a su estado original"
He escrito un programa en Java donde utilizará una posición con infinito número de beepers, he diseñado el mundo, al dar un click en el ícono de 'ver el futuro', y luego una vez ejecutado el programa y dar un click al ícono de 'regresar el mundo a su estado original', la posición donde indiqué infinito número de beepers, no se reestablece a infinito. Karel.js no coloca nada ahí

Se espera que al r

[2017-12-22 15:07] lhchavez commented on #1632
Gracias por reportarlo, lo moví al repositorio de karel.js

[2017-12-22 15:07] #1632 closed

[2017-12-22 15:13] #1609 closed

[2017-12-23 16:25] #1631 closed

[2017-12-23 17:09] #1552 closed

[2017-12-24 04:12] #1596 closed

[2017-12-24 18:57] #1565 closed

[2017-12-26 15:16] lhchavez commented on #868
La parte de problemas ya quedó resuelta con lo de QualityNominations. Faltaría únicamente concursos, y
 me gustaría que se resolviera con el mismo mecanismo.

[2017-12-27 17:46] rcxr opened #1638 "Soporte de múltiples dimensiones para el favicon"
# Comportamiento actual
- Sólo cubrimos dimensión 64x64 para el favicon de omegaup.com
- Favicon no tiene fondo transparente, sino blanco. El estándar es usar fondo transparente. Esto es evidente cuando tu navegador tiene un tema "no blanco"
![image](https://user-images.githubusercontent.com/684205/34388652-931a007e-eafa-11e7-88ff-41ddf9271191.png)
- Favicon no ha sido regenerado después del últim

[2017-12-28 01:04] #1481 closed

[2017-12-28 15:31] lhchavez commented on #1540
El primer ID con el nuevo formato es `18663`.

[2017-12-29 04:12] pabo99 commented on #1540
Gracias, ahora si @heduenas, ¿me puedes ayudar a explicar a que se refiere este cambio?

[2017-12-29 04:14] lhchavez commented on #1540
Según entiendo es nada más ponerle ```WHERE qn.`qualitynomination_id` > 18663``` en todos los lugares donde se consulta `QualityNominations` en https://github.com/omegaup/omegaup/blob/master/stuff/cron/aggregate_feedback.py

[2017-12-29 04:42] heduenas commented on #1540
Exactamente. La idea es simplemente filtrar los quality nominations que vengan despues del 18663. Aunque creo que preferiria que se filtrara usando la fecha, en vez del id. @lhchavez tienes la fecha del 18663?

[2017-12-29 04:43] lhchavez commented on #1540
filtrarlo por fecha es significativamente más lento que por id, lamentablemente :( así que sugiero seguir con el plan del ID.

[2017-12-29 04:47] heduenas commented on #1540
@lhchavez Ese es un buen punto. @pabo99 hay que ponerel un comentario en la parte del codigo donde filtres diciendo que a partir de ese id se cambio el formato de la pregunta e incluir la fecha de ese envio.

[2017-12-31 19:13] lhchavez commented on #847
posteé un demo de un grader efímero en Slack. según yo eso + libinteractive cubre la inmensa mayoría de los casos de uso de esto, y además tiene la ventaja de que no necesitan tener un IDE / compilador instalado localmente :D

[2018-01-02 03:07] #1124 closed

[2018-01-02 16:23] lhchavez opened #1644 "Más coverage de Selenium"
Como desarrollador de omegaUp, quiero poder empujar cambios con la confianza de que en el siguiente push no va a explotar todo.

## Comportamiento Esperado

Todos los escenarios core de la plataforma deberían tener coverage con Selenium y correrse cada vez que se empuja un cambio en Travis:

- [x] Crear un usuario
- [x] Crear un problema
- [x] Crear un concurso https://github.com/omegaup/omegaup/i

[2018-01-02 16:39] lhchavez opened #1645 "Re-activar el agente de JavaScript de New Relic"
Desde que se activó CSP, el agente de New Relic ya no puede cargar en la mayoría de los navegadores. Afortunadamente ya permiten agregar el script manualmente (cosa que hace tiempo no era posible), así que es posible agregarlo al whitelist mediante un [hash/nonce](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src).

Hay que notar que esto NO nos permite v

[2018-01-02 16:51] lhchavez opened #1646 "Mandar los errores de JavaScript al servidor"
Como desarrollador de omegaUp, quiero poder ver las excepciones de JavaScript en el agregado de logs para poder arreglar errores sin tener que andar cazando a la gente y explicándoles cómo obtener los logs.

## Comportamiento Esperado

Navegar a https://analytics.omegaup.com, ver el dashboard de errores y ser feliz (de que es muy fácil obtener los stacktraces, y eventualmente de que no hay muchos)

[2018-01-02 19:01] pabo99 opened #1647 "El ranking de los concursos no se visualiza"
Al ingresar a cualquier concurso, no se visualiza el ranking. Aún cuando ya haya terminado el mismo.

En la consola de JavaScript me aparecen los siguientes errores:
![bug_ranking](https://user-images.githubusercontent.com/3230352/34495834-8ffa356e-efbc-11e7-8bf1-2b0ed51c538c.png)

## Posible solución

En la línea https://github.com/omegaup/omegaup/blob/3852458fa793f1f3edb755cbadbb3ab94dda13e6/fro

[2018-01-02 19:30] #1647 closed

[2018-01-03 03:53] lhchavez commented on #1578
Un data point más al "oficialmente roto y no se intentará arreglar": acabo de intentar IE 8 cortesía de [Microsoft](https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/) (0.356764% de los visitantes según GA) y es un desastre. Casi todas las librerías third party están rotas en ese navegador. Obviamente nuestro código tampoco jala.

[2018-01-03 04:20] lhchavez commented on #1578
IE 9 (0.00% de los visitantes según GA) también es un estado bastante triste :( algunas cosas funcionan, pero hay errores de cuando en cuando. La arena no funciona para nada, por ejemplo, porque las promesas al parecer no están bien polyfilled ahí.

[2018-01-03 05:03] lhchavez commented on #1578
IE 10 parece que sí funciona bien.

[2018-01-03 14:55] #1540 closed

[2018-01-03 14:57] pabo99 commented on #868
¿Qué es lo que se podría reutilizar de la parte de QualityNominations?, ¿Que faltaría por hacer para los concursos?

[2018-01-03 15:12] lhchavez commented on #868
Ponte de acuerdo con @heduenas .

[2018-01-04 00:49] #1646 closed

[2018-01-04 18:41] pabo99 commented on #665
@frcepeda ¿Esto sigue ocurriendo? ¿Puedes proporcionar más info?

[2018-01-05 00:59] lhchavez commented on #1638
Ah se me olvidó cerrar el issue. Gracias!

[2018-01-05 00:59] #1638 closed

[2018-01-05 01:10] lhchavez commented on #665
sí, sigue ocurriendo. quizás lo mejor sea que cuando se conteste, se cierre ese popup y se abra uno nuevo con un timer de 5s de que ya se contestó que se autocierre.

[2018-01-05 01:20] alanboy commented on #1300
Feature: Refactor de Identidad  -- SPEC?
	* Partir el problema en 2
	* HAcer el spec del problema que resuelve usuarios autogenerados
	* No es el feature en si solo el spec.

[2018-01-05 01:21] lhchavez commented on #1375
Hay que hacer esto en github.com/omegaup/puppet

[2018-01-05 01:36] lhchavez commented on #398
Notas: en teoría esto es nada más es permitirle a la gente que ya inició sesión con FB/Goog/LinkedIn establecer una contraseña. Ya con eso debería funcionar todo bien (asumiendo que se tiene el mismo correo).

Posiblemente también sería bueno permitir cambiar el alias de los usuarios.

[2018-01-05 01:39] lhchavez commented on #773
Lamentablemente esto jamás volvió a ocurrir. Lo cual puede ser bueno porque pudo haber sido un bug que ya se arregló.

[2018-01-05 01:39] #773 closed

[2018-01-05 01:43] lhchavez commented on #1644
Hay que partir este issue en sub-issues.

[2018-01-05 01:46] lhchavez opened #1652 "Más coverage de Selenium - Crear un concurso"
Como desarrollador de omegaUp, quiero poder empujar cambios con la confianza de que en el siguiente push no va a explotar todo.

## Comportamiento Esperado

Todos los escenarios core de la plataforma deberían tener coverage con Selenium y correrse cada vez que se empuja un cambio en Travis:

Crear un concurso como un usuario y poderlo ver como otro usuario.

[2018-01-05 01:47] lhchavez opened #1653 "Más coverage de Selenium - Crear un curso"
Como desarrollador de omegaUp, quiero poder empujar cambios con la confianza de que en el siguiente push no va a explotar todo.

## Comportamiento Esperado

Todos los escenarios core de la plataforma deberían tener coverage con Selenium y correrse cada vez que se empuja un cambio en Travis:

Crear un curso como un administrador, agregar unos problemas y visitarlo como un usuario.

[2018-01-05 01:49] lhchavez opened #1654 "Más coverage de Selenium- Ver el ranking de un concurso"
Como desarrollador de omegaUp, quiero poder empujar cambios con la confianza de que en el siguiente push no va a explotar todo.

## Comportamiento Esperado

Todos los escenarios core de la plataforma deberían tener coverage con Selenium y correrse cada vez que se empuja un cambio en Travis:

Abrir un concurso existente, hacer envíos con varios usuarios, y ver que el ranking se despliega correctame

[2018-01-05 01:51] lhchavez opened #1655 "Más coverage de Selenium - Ver el ranking de un curso"
Como desarrollador de omegaUp, quiero poder empujar cambios con la confianza de que en el siguiente push no va a explotar todo.

## Comportamiento Esperado

Todos los escenarios core de la plataforma deberían tener coverage con Selenium y correrse cada vez que se empuja un cambio en Travis:

Abrir un curso ya creado, hacer unos envíos como varios usuarios y en varios problemas y ver que el agregad

[2018-01-05 02:00] lhchavez commented on #1644
Cómo correr las pruebas:

(donde `archivo` es `contests`, `schools`, etc.)

Y la documentación de Selenium está acá: http://selenium-python.readthedocs.io/

[2018-01-05 02:14] #1597 closed

[2018-01-07 22:37] lhchavez opened #1656 "Calidad: Editorializar la justificación del ban"
Como un usuario que recibe un ban, me gustaría poder saber por qué y qué tengo que hacer para restablecer mi problema.

Recientemente se banneó un problema mediante https://omegaup.com/nomination/7856/, y en el correo la justificación fue:

`esmuy resolver` fue tomado literal de la nominación de democión, pero no es nada actionable y únicamente confundió al receptor del correo. Este problema se [m

[2018-01-08 04:39] lhchavez commented on #849
Para el rejueceo de los puntos ya está #1651, pero para el penalty hay que hacer lo siguiente:

* Si `penalty_type` es `'runtime'`, hay que simplemente establecer `penalty = runtime`: https://github.com/lhchavez/quark/blob/14405e9a676e7d6b3cbe738ee4bc3f0025409230/cmd/omegaup-grader/v1compat_handler.go#L56-L73
* Si el `penalty_type` es cualquier otra cosa, hay que simplemente establecer `penalty =

[2018-01-08 05:35] lhchavez opened #1658 "Regresión: TypeError: Cannot read property 'nextSubmissionTimestamp' of undefined"
[code]

https://github.com/omegaup/omegaup/blob/b624239a464157c8272ecb301c81095fc332fc35/frontend/www/js/omegaup/arena/arena.js#L1249-L1250

esto debería tener un `undefined`-check antes de acceder a la propiedad.

[2018-01-08 05:38] lhchavez commented on #1658
Resuelto con https://github.com/omegaup/omegaup/commit/c8c33b5ba09741294b89156965ee124612a34bf9

[2018-01-08 05:38] #1658 closed

[2018-01-08 08:34] frcepeda opened #1659 "Los problemas de sólo salida no están documentados"
Hay que meterle una entrada a la wiki explicando cómo jalan.

(Asígnenme este task; no me lo puedo asignar solo.)

[2018-01-08 08:38] frcepeda opened #1660 "[FEATURE] Como problemsetter, quiero que los .in de mis problemas de sólo salida estén hosteados en omegaUp."
## Comportamiento Esperado

Cuando se sube un problema de sólo salida, subes el zip con los .in que quieres que puedan bajar los competidores. En la descripción del problema, puedes hacer referencia a los .in que subiste para que los puedan bajar los competidores, como en libinteractive que hay un tag especial que agrega el diálogo de descarga de las plantillas.

## Comportamiento Actual

Se sube

[2018-01-08 16:55] elendil326 commented on #1560
@lhchavez Esto requiere más especificación y diseño. Podemos empezar listando las tareas y creando issues separados por tarea

[2018-01-08 17:03] elendil326 commented on #1579
@lhchavez a juzgar por el pull request, esto ya esta en camino

[2018-01-09 15:09] lhchavez commented on #990
creo que podríamos hacerlo para todos los problemas: vamos a exponer un API donde los problem admins pueden obtener casos individuales, así que si le hacen click a un botón podrían ellos decidir cuándo hacer el diff local y cuándo no.

[2018-01-10 01:44] lhchavez commented on #1618
Algo que se nos pasó es que quizás no sea una excelente idea obligar a todos los cursos/concursos a llenar su información (estoy _seguro_ que recibiríamos miles de quejas). entonces mejor hay que agregar una opción a los cursos/concursos para activar esto.

[2018-01-10 04:47] lhchavez commented on #849
Falta el penalty

[2018-01-11 01:15] pabo99 opened #1663 "No se pueden realizar envíos a un concurso que fue editado y no se seleccionó algún lenguaje"
Al intentar realizar un envío en arena, la plataforma devuelve un mensaje que indica lo siguiente:
[code]

## Comportamiento Esperado

Cuando se edita un concurso y un usuario ingresa al mismo, este debería poder realizar envíos, siempre y cuando el lenguaje seleccionado pertenezca a los lenguajes válidos para el concurso o si no fue setteado ninguno.

## Comportamiento Actual

Cuando se edita un

[2018-01-11 06:06] pabo99 commented on #849
Se agrega el recalculo de penalty. También se agregan las pruebas.

[2018-01-12 01:12] MiguelRomero opened #1665 "Link de creación de usuarios OVI"
El delegado de Veracruz me pregunto si podíamos crear el link de los usuarios para la próxima Ovi (olimpiada veracruzana) se estiman alrededor de 155 participantes a los cuales se desea crear una cuenta unica del evento.

Gracias, buen día.

[2018-01-12 01:13] lhchavez commented on #1665
para cuándo se ocupan? necesitamos al menos dos semanas de anticipación para crearlos y darles deployment.

[2018-01-12 01:25] MiguelRomero commented on #1665
Para el día 23, la olimpiada se realizara del 24 al 27 de enero.

[2018-01-12 06:04] #398 closed

[2018-01-12 18:43] lhchavez opened #1666 "stuff/cron/aggregate_feedback.py no actualiza los tags si uno de ellos fue agregado manualmente"
Resulta que si alguien ya había agregado manualmente un tag a un problema, https://github.com/omegaup/omegaup/blob/b6b2d3bd0cb7bc0d6c5010f5aaacc4ea41dcf040/stuff/cron/aggregate_feedback.py#L146-L159 no le gusta ese hecho porque intenta agregar ese mismo tag con `autogenerated = 1` y eso falla porque viola la unicidad de la llave primaria. entonces, le hace rollback a esa transacción.

Lo bueno es

[2018-01-12 18:44] lhchavez commented on #1666
welp, @heduenas se nos fue este detalle. yo me lo aviento porque está trivial el fix.

[2018-01-12 20:01] #1666 closed

[2018-01-15 02:31] andreasantillana opened #1678 "Como administrador de concursos y cursos de la OMI/P/S, quiero poder exportar la lista de usuarios que lo presentan para poder obtener su información como nombre, email, estado, escuela, para tener el contexto completo."
## Comportamiento Esperado
Que exista un lugar en el sitio donde se pueda pedir que se exporte la lista de alumnos y descargue un csv, o algo así.

## Comportamiento Actual
Ahorita no hay forma de acceder a esos sin que Chávez me ayude :(

## Posible Solución
Creo que podría ser desde la vista de lista de los concursos. Agregar una columna donde están los botones de links a scoreboards y ver event

[2018-01-17 01:06] lhchavez commented on #1660
Esto necesita que el nuevo layout de los problemas esté finalizado.

[2018-01-17 01:08] lhchavez commented on #1665
Ejemplo: https://github.com/omegaup/omegaup/pull/1049/files

[2018-01-17 01:08] lhchavez commented on #1665
Se supone que con el refactor de identidad este tipo de cambios ya no van a ser necesarios.

[2018-01-17 01:12] lhchavez commented on #1678
Este cambio necesita una opción para que los organizadores elijan que necesitan esta información de los concursantes, y los concursantes deberían ver un disclaimer que esa información se le va a compartir a los organizadores.

También necesitamos una vista o un descargador de .csv para eso.

[2018-01-17 01:14] lhchavez commented on #1561
Esto necesita también el nuevo formato de los problemas.

[2018-01-17 01:21] lhchavez commented on #1382
We'll update the Typeahead library in https://github.com/omegaup/omegaup/pull/1676, maybe it will be fixed by it.

Once that's done, we'll update this thread to see if it's still reproducible.

[2018-01-17 01:22] lhchavez commented on #1373
https://omegaup.com/group/omegaup:quality-reviewer/edit/#members

faltaría sólamente agregar un link en algún lugar.

[2018-01-17 01:24] lhchavez commented on #1373
Podría ser en https://omegaup.com/nomination/ el link

[2018-01-17 01:24] MiguelRomero commented on #1665
¿Qué procede sempai?

[2018-01-17 01:26] lhchavez commented on #1665
Si puedes hacer un pull request similar a ese, estaría genial :D podrías simplemente modificar este: https://github.com/EfrenGonzalez/omegaup/blob/f57ab64be87612a5ab56b0e22acbbec5c4c8c396/frontend/server/controllers/UserController.php#L853-L861

para que diga OVI18

[2018-01-17 01:28] heduenas commented on #1373
Suena bien ponerlo ahi. Si quieres yo puedo hacer el PR.

[2018-01-17 01:29] MiguelRomero commented on #1665
va

[2018-01-17 01:34] elendil326 commented on #868
Moviendo al siguiente sprint en espera de documentación

[2018-01-17 01:37] lhchavez commented on #612
Este es otro issue que depende de los cambios del backend.

[2018-01-17 01:46] alanboy opened #1681 "SD: Los cursos de "schools" pueden ser publicos (no necesitar registro)"
Cualquier usuario puede entrar a un concurso publico sin tener que pasar por un adminsitrador

[2018-01-17 15:37] #1665 closed

[2018-01-17 16:02] #849 closed

[2018-01-17 18:30] pacharrin opened #1683 "Como maestro me gustaría poder pedir acceso a un curso publico para ver el progreso de mis estudiantes"
Para el caso de los cursos públicos que se vayan a usar como requisito para procesos de la OMI los maestros van a querer acceso al curso para poder ver el avance de sus alumnos.

## Comportamiento Esperado

Al estar dentro de un curso publico que exista un boton que solicite permiso para entrar como maestro.

Esto después tiene que ser autorizado por los administradores del curso.

## Contexto

Pa

[2018-01-18 05:57] alanboy commented on #1365
lo minimo necesario para desbloquear cursos publicos es algo asi:

![image](https://user-images.githubusercontent.com/527987/35082975-76645a50-fbd1-11e7-8f70-31bba2b0a8b8.png)

[2018-01-18 13:38] andreasantillana opened #1685 "El texto de Problemas y Nombres en la vista de progreso de un curso no se despliega correctamente"
## Comportamiento Esperado

En la vista de `/students` de un curso, no importa qué tan grande hagas la ventana, la tabla no muestra más que iniciales tanto de los nombres de los estudiantes como los nombres de los problemas, y esto es muy difícil de interpretar.

Exportarlo sí funciona y es un buen workaround, pero creo que puede ser tedioso tener que exportar cada que quieres interpretar la tabla

[2018-01-18 14:58] lhchavez commented on #1685
Te late agregar un toggle para activar y desactivar un scrollbar? Adicionalmente para los nombres de los problemas, podemos rotarlo para que quepa mejor horizontalmente.

[2018-01-18 15:09] lhchavez commented on #1683
Necesitarías a priori especificar a los usuarios de los que eres maestro? O sería esto otro permiso que permite una vista read-only de admin sobre el curso?

Inicialmente preferí dar la lista de tus alumnos, pero suena a que podríamos tener muchos casos esquina: qué pasa si luego quiero editar la lista de alumnos? Pero si le damos acceso admin-oso, cómo encuentro a mis alumnos entre el mar de gent

[2018-01-18 17:06] pacharrin commented on #1683
la alternativa que estaba pensando es que el perfil de alumno pueda
definir  uno o varios maestros y que  ya con eso el maestro pueda ver todos
los cursos publicos de sus alumnos

El jue., 18 de ene. de 2018 a la(s) 09:09, lhchavez <
notifications@github.com> escribió:

[2018-01-18 17:39] lhchavez commented on #1683
qué pasa si luego un estudiante quita a su profesor? el maestro ya no
tendría manera de darle rollback. a menos que tengamos una especie de
2-phase-commit para que ambas fiestas tengan que estar de acuerdo para
hacer cambios.

[2018-01-18 19:16] pabo99 commented on #1685
La solución puede ser algo así como lo que se hizo para cuando se unen los scoreboards, agregando un scroll horizontal y que toda la información se muestre desplazando la pantalla
![sd 25 - fixes 1050 gif](https://user-images.githubusercontent.com/3230352/35103993-2e13e0c0-fc2d-11e7-9c02-b2acc34d166c.gif)

[2018-01-18 19:23] andreasantillana commented on #1685
Creo que sí está cool lo que propone @pabo99

[2018-01-19 01:26] lhchavez commented on #1685
tenemos consenso entonces! la propuesta de @pabo99 es la elegida!

[2018-01-19 01:34] samdsmx opened #1686 "Cambiar la leyenda del eje vertical en las estadísticas del usuario"
Actualmente dice: "Cantidad de problemas resuletos" pero la grafica de barras muestra la cantidad de envios segmentados por veredicto. Si fueran problemas resueltos deberiamos mostrar unicamente los "AC"

Propongo cambia la leyenda a ~"Camntidad de envios"~ [editor's note: `Cantidad de envíos`].

[2018-01-20 16:27] lhchavez opened #1688 "Permitir a los usuarios cambiar la privacidad de su perfil"
Como un usuario de omegaUp, quiero poder cambiar la privacidad de mi perfil para que no se divulge información mía innecesariamente.

Reportado en https://omegaup.com/preguntas/1057/configuracion-del-perfil?show=1057

## Comportamiento Esperado

Mediante una configuración en el perfil, poder establecer que mi perfil no puede ser visto por otros usuarios. Una vez hecho esto, ni los problemas que he

[2018-01-20 17:07] #1653 closed

[2018-01-20 23:37] kukogit opened #1689 "[FEATURE] Propiedad Hidden a un problema de un contest"
Como un administrador de concursos, quiero la funcionalidad para permitir ocultar un problema de un contest que ya ha empezado. Cuando hago un concurso, agrego muchos problemas y los alumnos los comienza a hacer de manera aleatoria y no hay manera de "forzarlos" a hacer un problema específico.

## Comportamiento Esperado

Establecer la propiedad hidden a cada problema de un concurso. La propiedad

[2018-01-20 23:40] lhchavez commented on #1689
No te serviría algo así como https://github.com/omegaup/omegaup/issues/1361 para en vez de andar escondiendo / mostrando cosas al vuelo, puedas agregar instrucciones para los alumnos?

[2018-01-21 00:20] #1510 closed

[2018-01-21 00:27] kukogit commented on #1689
Hola lhchavez, no, no me sirve. Digamos que en una práctica de un tema específica, digamos ordenamiento, agregas N problemas que son de ordenamiento. Sin embargo, los alumnos comienzan a resolver los problemas en el orden que ellos creen que son más fáciles.

Entonces, al transcurrir el tiempo, te das cuenta que hay varios problemas que no han podido resolver TODOS, y tú quieres que los alumnos se

[2018-01-21 00:36] kukogit opened #1690 "Hints en problemas"
Como un problemsetter, me gustaría poder agregar hints a un problema, para que los usuarios que necesitan ayuda, puedan tener un poco de ella, dentro del problema.

## Comportamiento Esperado

Que el problema tuviera en su descripción, la posibilidad de solicitar un hint del problema en cuestión. La plataforma te daría acceso a ese hint, por tiempo (por ejemplo, puedes ver un nuevo hint cada 24 ho

[2018-01-21 00:49] lhchavez commented on #1689
otra opción: qué te parece si mejor agregamos dependencias en la sección de cursos? onda pones los problemas que quieres que resuelvan primero en una tarea y luego el resto en otra tarea y no puedes empezar la segunda hasta que cumplas ciertos requisitos (como haber terminado todos los de la primera).

[2018-01-21 00:51] lhchavez commented on #1690
esto es algo que hemos querido hacer desde hace tiempo, pero no se nos ha ocurrido una manera elegante de implementarlo porque sería necesario romper varias abstracciones que tenemos. esas abstracciones necesitan un refactor.

[2018-01-21 16:49] #1630 closed

[2018-01-22 03:31] #1364 closed

[2018-01-22 04:11] #1618 closed

[2018-01-22 04:59] lhchavez opened #1692 "Aseverar que no hay errores en la consola en Selenium"
Como un desarrollaror de omegaUp, quiero que Selenium asevere que no hay errores en la consola de JavaScript al correr las pruebas.

## Comportamiento Esperado

Si hay un error / advertencia en la consola al correr una prueba, la prueba debería fallar.

## Comportamiento Actual

La prueba continúa. Si no hay algo que se esté probando explícitamente, puede continuar o ser flaky. Esto hubiera evitad

[2018-01-22 17:34] pacharrin commented on #1690
ya hay un issue de esto #821

[2018-01-22 22:06] kukogit commented on #1690
Leyendo el issue #821 sólo se parece en lo hint, pero a lo que me refiero es hints del problema, no de los casos en los que fallas.

[2018-01-22 22:09] kukogit commented on #1689
Me parece bien para cursos, de hecho creo que es una buena opción... pero no resolvería el problema de los contests normales. Yo normalmente hago contests en lugar de cursos.

[2018-01-22 22:18] kukogit opened #1694 "Error con problemas que tienen INFINITOS"
## Comportamiento Actual

Los problemas que fueron subidos hace tiempo a la plataforma, permitían el atributo mochilaKarel=INFINITOS sin embargo, ahora ya no lo permite, entonces cuando se evalua un submit para ese problema no obtienes los 100 puntos.

## Comportamiento Esperado

Que tanto el evaluador como karel.js continúen respetando la palabra INFINITOS para evitar conflictos con problemas vie

[2018-01-22 23:25] lhchavez commented on #1694
esto ya se había resuelto, no? https://github.com/omegaup/karel.js/commit/b5d5263018035584b88698149c55a99847b13912

[2018-01-23 09:03] pabloaguilar opened #1696 "[FEATURE] Crear un cronjob para exportar un snapshot anonimizado de la base de datos"
## Comportamiento Esperado

Que cada cierto tiempo (por ejemplo, semanalmente) se publique un subconjunto anonimizado de la base de datos de produccion con el objetivo de poder hacer analisis de datos

## Comportamiento Actual

La anonimizacion se hace a mano y bajo pedido

## Posible Solución

Crear un cronjob que exporte un subconjunto de los datos de produccion y los anonimice.
Mover el snapsho

[2018-01-24 01:03] #1529 closed

[2018-01-24 16:52] kukogit commented on #1694
Hola lhchavez, supongo que no, porque este fin de semana me volvió a pasar.

[2018-01-25 04:01] #1567 closed

[2018-01-27 16:39] lhchavez opened #1707 "Vueificar https://omegaup.com/scoreboardmerge.php"
Como mantenedor de omegaUp, y en el interés de la seguridad de los usuarios, me gustaría que no hubiera lugares en el código de JavaScript donde se construya manualmente el HTML.

https://omegaup.com/scoreboardmerge.php es uno de esos lugares, y para tener consistencia con el resto de la plataforma, debería estar escrito en Vue.

## Comportamiento Esperado

`$(...).html(...)` no debería aprecer en

[2018-01-28 02:29] lhchavez commented on #1694
existía exactamente un problema con un solo caso que tenía `INFINITOS`, así que mejor se editó ese único caso para que usara `INFINITO`.

[2018-01-28 02:29] #1694 closed

[2018-01-28 03:24] darkmx opened #1709 "El parámetro "Límite de pila" está siendo ignorado"
Hola amigos de OmegaUp, recientemente acabo de subir un problema en el que puse un límite de pila bastante alto (20MB) pero programas que apartan un arreglo de 10MB están muriendo. Aparentemente el parámetro está siendo ignorado por la plataforma.

El problema es https://omegaup.com/arena/problem/Partiendo-cadenas y un envío donde se muestra el problema es el 7b1e0914.

[2018-01-28 03:30] lhchavez commented on #1709
ah sí, deberíamos quitar esa opción porque ahora el límite de pila es
"infinito" (en realidad estamos contando la pila contra el límite total de
memoria).

[2018-01-28 03:32] darkmx commented on #1709
mmm... el problema tiene de límite 96MB pero aún así están muriendo los programas :\ si la pila es infinita creo que no debería ocurrir eso, pero no se me ocurre qué podría estar pasando.

[2018-01-28 15:22] lhchavez commented on #1709
ya encontré el problema: hay un bug de minijail (la librería que usamos para hacer el sandboxing) que está evitando que podamos establecer el límite de pila de manera correcta.

como en dos semanas debe estar resuelto.

[2018-01-28 15:35] lhchavez commented on #1709
Arreglado en https://github.com/omegaup/omegajail/commit/8f48852e67ecf327867c1df2f34ad90a9bce1f70, hoy en la noche se hace deploy.

[2018-01-28 15:35] #1709 closed

[2018-01-28 15:48] kukogit opened #1710 "Regresión: El dropdown de typeahead se muestra incorrectamente"
## Comportamiento Esperado

Los cuadros de texto para buscar (problemas y usuarios), despliegan erróneamente la información.

## Comportamiento Actual

Al escribir en los cuadros de texto, la lista que se despliega aparece con errores y es difícil elegir la opción correcta.

## Pasos para reproducir (para bugs)

1. Entrar a la sección de problemas (o de agregar un problema o usuario en uncontest)

[2018-01-28 15:52] lhchavez commented on #1710
Espero que quede listo para el deploy de hoy en la noche.

[2018-01-28 16:25] darkmx commented on #1709
gracias :)

[2018-01-28 17:37] MiguelRomero opened #1711 "Como usuario quiero saber que problemas intente resolver para intentarlos en un futuro."
En la olimpiada veracruzana de informatica queríamos saber que problemas resolvió un usuario con finalidad de saber cual era el workflow de entrenamiento que siguió.

[2018-01-28 23:04] #1710 closed

[2018-01-30 01:01] lhchavez opened #1713 "Encontrar una manera de correr CoderOfTheMonthTest::testCoderOfTheMonthAfterYear sin que falle un par de veces al año"
CoderOfTheMonthTest::testCoderOfTheMonthAfterYear hace aritmética de fechas y falla al menos tres veces al año: cerca de Febrero (por tener menos días), y los días donde hay cambio de DST.

Hay que encontrar una manera de que funcione bien los 365 días del año. Parece que hay que dejar de usar las funciones de aritmética de fechas de PHP porque están súper rotas :/

[2018-01-30 16:34] elendil326 commented on #868
Por conversación con Hugo en Slack, la documentación no estará lista hasta la siguient semana. Moviendo al siguiente sprint como P0

[2018-01-31 00:55] lhchavez commented on #1690
Ya le cambié el título a #821 para que sea un issue unificado de hints en vez de tener dos muy similares que dependen entre sí.

[2018-01-31 00:55] #1690 closed

[2018-01-31 00:56] lhchavez commented on #1696
En espera de consulta legal en México y Estados Unidos para ver qué es lo mínimo necesario, y cuáles son las mejores prácticas.

[2018-01-31 01:07] elendil326 opened #1715 "Como usuario de omegaUp, quiero saber cuando es conveniente crear un curso y cuando un concurso"
## Comportamiento Esperado

Que exista un marco de referencia para yo como usuario saber cuando conviene usar un concurso y cuando un curso

## Comportamiento Actual

No hay tal documentación disponible públicamente

## Posible Solución

Escribir documentación en el wiki con guidelines y recomendaciones por parte de omegaUp para guíar a los usuarios en este aspecto.

[2018-01-31 01:14] pacharrin commented on #821
btw, todos los problemas del curso ya tienen un tutorial.markdown (https://github.com/ComiteMexicanoDeInformatica/workshop/blob/master/Programacion%20Basica/A%2BB/statements/tutorial.markdown)

tal vez seria mejor que hubiera un link al tutorial y que si le dan click se marqué como que resolvió el problema después de ver el tutorial?

[2018-01-31 01:18] lhchavez commented on #1692
Esto necesita un poco más de amor: no encontré rápidamente una manera de verificar que no hay errores. También tanto en Chrome como en Firefox aún se muestran montones de cosas en la consola por cosas que no _necesariamente_ son errores (como cuando navegas a otra página, Firefox cancela todas las peticiones AJAX y los arroja como excepciones).

[2018-01-31 01:24] lhchavez commented on #821
Esto suena bien mostrar ese link si se está viendo el problema como un problema standalone, en un concurso en modo de práctica, o en un curso.

y también advertirle al usuario que una vez que haga click en el link, se va a marcar como que vio la pista.

[2018-01-31 01:24] lhchavez commented on #821
Esto se necesita tener para Mayo.

[2018-01-31 01:27] lhchavez commented on #1711
Esto necesita hacer un query a la base de datos que regrese todos los problemas que hayas enviado pero que no tengas AC. como esto suena caro, no se podría poner por default en el perfil, así que sería una pesaña aparte.

también (como issue aparte): hay que definir un rol de maestro, de alguna manera otorgar este permiso de parte de los estudiantes para los maestros, y que el maestro pueda ver es

[2018-01-31 01:30] lhchavez opened #1716 "Hacer una consulta (y una prueba) para obtener la lista de problemas no-resueltos"
Como un concursante, quiero ver qué problemas he intentado, pero no resuelto.

Ver https://github.com/omegaup/omegaup/issues/1711 para más información.

Este issue es únicamente para hacer el API, la consulta y la prueba.

[2018-01-31 01:30] lhchavez commented on #1711
Este issue es únicamente para hacer la vista, una vez que #1716 se haya resuelto.

[2018-01-31 01:32] lhchavez opened #1717 "Como maestro quiero saber que problemas intentaron resolver mis alumnos"
Como maestro quiero saber que problemas intentaron resolver mis alumnos

Ver detalles completos en https://github.com/omegaup/omegaup/issues/1711

# Posible solución

hay que definir un rol de maestro, de alguna manera otorgar este permiso de parte de los estudiantes para los maestros, y que el maestro pueda ver esta lista, aún si el perfil es privado.

Esto es similar a https://github.com/omegaup

[2018-01-31 01:40] elendil326 commented on #491
Incrementar P1 por cambio de sprint

[2018-01-31 01:42] elendil326 commented on #1576
Bloqueado con falta de sieño en diploma y certificado. Moviendo al siguiente sprint sin cambiar prioridad

[2018-01-31 02:35] lhchavez opened #1718 "Los testplan con pesos fraccionarios (decimales) no funcionan"
[code]

se queja con

[code]

Hay que usar el mismo regexp que usa el backend para parsear esto.

[2018-01-31 03:04] #1718 closed

[2018-01-31 05:35] lhchavez opened #1720 "Dejar de usar `jsfile` en los templates"
El uso de `jsfile` en los templates, por ejemplo en https://github.com/omegaup/omegaup/blob/75275f8a59da11708de2832ad3d987833c7e645f/frontend/www/course.php#L41

causa que el template se genere sin agregarle un hash al URL, así que si se actualiza la página, los usuarios no necesariamente van a tener la última versión de ese archivo. esto ocasiona que cambios como https://github.com/omegaup/omegau

[2018-01-31 06:38] heduenas commented on #1683
Como yo lo veo, me gustaría que la asociación sea iniciada por el alumno y que también pueda ser iniciada por el profesor y luego aprobada por el alumno. Y la desasociación pueda ser realizada por cualquiera de las dos partes sin necesidad de que la otra parte apruebe, si alguna de las dos partes reestablecer la asociación que lo vuelva a hacer igual que la primera vez.

[2018-01-31 17:44] pacharrin commented on #1683
esto es un comentario del entrenador del DF:

lo que yo creo que que al maestro le gustaría tener una especie de thropy case con los logros de los alumnos que entrenó. Me queda claro que ahorita no tenemos el bandwith pero l o pongo aqui por que es relevante el bond maestro<->alumno<->logro

[2018-02-01 00:55] #665 closed

[2018-02-01 02:37] #1681 closed

[2018-02-01 03:04] #1608 closed

[2018-02-01 03:53] #1573 closed

[2018-02-02 01:34] #1579 closed

[2018-02-02 17:32] pabo99 opened #1722 "No se pueden agregar participantes a un concurso"
Al intentar agregar un participant a un concurso, la página sólo se recarga sin agregarlo.

## Comportamiento Esperado

Con la actualización de jQuery dejó de funcionar la sección de agregar participantes a un concurso

## Posible Solución

Al parecer, el problema se da por que se está utilizando la propiedad `.context`, que según se indica en la documentación de [jQuery](https://api.jquery.com/co

[2018-02-03 01:41] #1722 closed

[2018-02-03 02:08] #1556 closed

[2018-02-03 15:30] andreasantillana opened #1725 "Como creador de concursos de OMI quiero poder clonar concursos para crear su versión pública"
## Comportamiento Esperado

Que al dar click en un botón de "clonar" para un concurso se cree su copia idéntica con la misma configuración y mismos problemas.

## Comportamiento Actual

Actualmente para crear la versió pública de un concurso, hay que crear uno nuevo y agregar los problemas y configuraciones manualmente copiando del concurso que se quiere replicar.

## Posible Solución

Creo que po

[2018-02-03 15:32] lhchavez commented on #1725
ya soportamos clonar cursos, así que esto es algo más que razonable. :+1:

[2018-02-03 20:09] #1656 closed

[2018-02-04 00:33] joemmanuel opened #1727 "El problema 'chocolates' está roto"
## Comportamiento Esperado
Como administrador del problema, al editar problema espero que el formulario se llene con los detalles existentes, y la redacción también. Esto ya sucedía, suena a regresión.

## Comportamiento Actual

Como administrador (nota, yo soy super admin, no sé si eso impacte), intento editar la redacción de un problema y/o detalles pero no puedo: el título da `Editar Problema u

[2018-02-04 15:06] lhchavez commented on #1727
Este problema tiene una redacción malformada y [`json_encode`](http://php.net/manual/en/function.json-encode.php) está explotando. En paralelo hay que intentar agregar `JSON_PARTIAL_OUTPUT_ON_ERROR` a las opciones de `json_encode` y corregir la redacción de ese problema en parciular.

[2018-02-04 16:04] #1727 closed

[2018-02-04 20:12] kukogit opened #1730 "¿Problema con el evaluador?"
## Comportamiento Actual

Al reevaluar un submit de un alumno en algunos problemas, el evaluador da como veredicto TLE con runtime < 0.01s y cambia de puntaje entre cada reevaluación. Las soluciones de los alumnos son buenas, pero el evaluador continua dando TLE... después de varias reevaluaciones y con algo de suerte, el evaluador da 100%.

Cuál representa el valor runtime?

Ese compartamiento ha

[2018-02-04 20:18] lhchavez commented on #1730
Como se discutió en Slack, al parecer no es problema del evaluador, sino de los parámetros del problema.

[2018-02-04 20:28] #1730 closed

[2018-02-04 21:27] kukogit commented on #1730
Pero está pasando en más de un problema, no es el mismo que el discutido en Slack. También esta la duda del runtime, porque aparece 0.01s y dice TLE.

[2018-02-04 21:27] lhchavez commented on #1730
Sí es lo mismo que lo discutido en Slack :( varios problemas están en esa situación.

[2018-02-04 21:30] kukogit commented on #1730
Bueno, está bien, podrían explicarme porque el evaluador dice TLE con <0.01s, que significa eso o como lo interpreto.

[2018-02-04 21:41] lhchavez commented on #1730
Creo que ha pasado antes que si refrescas la ventana (con F5 o Ctrl+R) puedes dejar la arena en un estado localmente inconsistente que permite que aparezcan valores inesperados (como ese TLE con ~0 de tiempo de ejecución). Igual vamos a intentar arreglar eso para evitar confusiones.

[2018-02-05 06:14] lhchavez commented on #1727
Listo, ya se corrigió la redacción para que no tuviera utf-8 inválido.

[2018-02-06 02:36] pacharrin opened #1731 "[FEATURE] Como creador de problemas quiero que cuando un problema con evaluador custom imprima de mas a la salida estandar me muestre un mensaje mas claro"
## Comportamiento Esperado

Por lo regular cuando hacemos problemas ponemos mensajes de debug y si se nos pasa y los subimos me gustaría que el error sea mas especifico

## Comportamiento Actual

Actualmente el error que muestra en un envío es "Limite de memoria excedido"

## Posible Solución

Un mensaje que diga error del validador o algo que el problem setter pueda saber rapido ue es su culpa

#

[2018-02-06 15:43] pabo99 commented on #1623
La solución se discutió en #1685

[2018-02-06 15:44] pabo99 commented on #1685
Revisando, este es un issue duplicado de #1623

[2018-02-06 15:44] #1685 closed

[2018-02-07 06:29] pabo99 commented on #1623
Así es como quedará la vista del progreso con scroll horizontal:

![sd 67 - fixes 1623 gif](https://user-images.githubusercontent.com/3230352/35901749-d3096922-0b9d-11e8-80d5-5bc422764d4a.gif)

[2018-02-08 19:32] andreasantillana opened #1734 "[FEATURE] Como creador de concursos para niños de primaria y secundaria, quiero que puedan agregar un campo a su perfil que sea el email de su asesor/tutor"
## Comportamiento Esperado

En el perfil, agregar un campo que sea para poner un correo de un adulto.

## Comportamiento Actual

Actualmente sólo existe el campo de email del usuario.

## Posible Solución

Agregar un campo opcional que sea el correo del asesor o del padre/tutor.

## Contexto

Si necesitamos ponernos en contacto con alguno de los niños, usamos el email que pusieron en su registro,

[2018-02-08 20:22] frcepeda commented on #1734
¿Y si mejor guardar un /usuario/ de omegaUp como tutor? Ya tendríamos su correo, y nos dejaría también hacer cosas en el futuro para cursos/concursos.

[2018-02-09 05:16] andreasantillana commented on #1734
Me gusta, pero hay 2 escenarios que me causan ruido:

1. No tienes asesor. Veo complicado que los papás se metan a hacer la cuenta.
2. Tienes un asesor como el 90% de los asesores. Veo complicado que el asesor se meta a hacer una cuenta.

[2018-02-09 22:48] frcepeda opened #1736 "Las suscripciones de clarificaciones tienen parámetros inconsistentes"
Al suscribirse a eventos de clarificaciones, a veces el `clarification_id` llega como string y a veces como número.

[2018-02-09 23:20] andreasantillana opened #1737 "El navbar se convierte en un monstruo cuando se reduce el ancho de la ventana del navegador."
## Comportamiento Esperado
Que el menú en ventanas "angostas" se convierta en una barra donde le das click a un botón y se despliegan los elementos.

## Comportamiento Actual
Si reduces el ancho del navegador, el menú se expande verticalmente bloqueando la vista del resto de la página.

## Posible Solución
No sé cómo se arregla, en el sitio de omips bootstrap hizo la magia.

## Pasos para reproduc

[2018-02-10 00:44] npave commented on #1737
Ya va a quedar arreglado, está en sanbox. Deberia estar en el deployment de este fin de semana.

![hamburguesa](https://user-images.githubusercontent.com/940007/36056266-d49761c4-0db7-11e8-8fd9-26e417e8ede3.png)

[2018-02-10 00:54] lhchavez commented on #1737
El bugfix más rápido del oeste: arreglado antes de que fuera reportado!

[2018-02-10 00:54] #1737 closed

[2018-02-10 16:17] frcepeda opened #1738 "El dropdown de detalles de envíos está incompleto"
## Comportamiento Esperado

Cuando le doy detalles a un envío, puedo ver el nombre de cada caso y su veredicto.

## Comportamiento Actual

La tabla está vacía.

![image](https://user-images.githubusercontent.com/468211/36064096-7b5439ae-0e4b-11e8-9ace-23cf8cf6dff0.png)

## Pasos para reproducir (para bugs)

Abrir un concurso en el que eres administrador, ir a envíos, y luego detalles de los envíos

[2018-02-11 02:36] #1623 closed

[2018-02-11 05:12] lhchavez commented on #1300
Design doc listo! @elendil326 me puedes echar la mano haciendo sub-issues para esto?

[2018-02-11 16:22] pabo99 commented on #1713
Hice un análisis del comportamiento de dicha prueba y obtuve lo siguiente:
Se simuló la prueba haciendo una ejecución día a día desde hace un año hasta hoy, con el Hotfix #1714  parece que se resuelve el problema de las funciones de aritméticas en las fechas, como se puede comprobar en la siguiente imagen:

![captura de pantalla 2018-02-11 a la s 09 43 59](https://user-images.githubusercontent.com

[2018-02-11 16:42] lhchavez commented on #1713
Parece que el único lugar donde hacemos este tipo de aritmética de fechas (en PHP) es en las pruebas. si ya no va a causar problemas, supongo que podemos cerrarlo como arreglado.

Gracias por confirmar!

[2018-02-11 16:42] #1713 closed

[2018-02-12 17:20] pabo99 opened #1740 "Existen peticiones a API's de Concursos en Cursos"
Cuando entro a un curso y comienzo a realizar envíos, me aparecen en la consola de Javascript errores de llamadas a APIs de concursos

## Comportamiento Actual

Al revisar la consola de Javascript me percato que hay llamados a `API.events`que se encuentra en `contest`

![captura de pantalla 2018-02-12 a la s 10 58 34](https://user-images.githubusercontent.com/3230352/36109915-7de77b4e-0fe6-11e8-92

[2018-02-14 01:15] lhchavez commented on #1736
Esto nada más es encontrar dónde nos falta hacer un cast de cadena a entero en `ClarificationController.php`

[2018-02-14 01:20] lhchavez commented on #1738
El problema es que el código que lo renderea https://github.com/omegaup/omegaup/blob/15752e7b23dcb27fd287456ca1d6571b096c4f93/frontend/www/js/omegaup/arena/arena.js#L1469 está lleno de cosas legacy D: creo que mejor hay que migrar eso a Vue para poderlo poner bonito y que esté más fácil de razonar acerca de qué hace exactamente.

[2018-02-14 01:26] elendil326 commented on #491
Marcando como bloqueado, pues Nopal Creativa hará grooming de las preguntas existentes para asegurarse que son de alta calidad.

[2018-02-14 01:32] elendil326 commented on #526
Karel ya no es una prioridad en términos de las olimpiadas.

[2018-02-14 01:32] #526 closed

[2018-02-14 01:38] elendil326 commented on #1057
Bloqueado por issue #1022

[2018-02-14 01:39] elendil326 commented on #1065
No repro

[2018-02-14 01:39] #1065 closed

[2018-02-14 01:39] elendil326 commented on #1058
Bloqueado por #1022

[2018-02-14 01:40] elendil326 commented on #1067
Matemos DatePicker y reemplacemoslo por DateTimePicker.

[2018-02-14 01:46] elendil326 commented on #1678
Requiere #1688 primero

[2018-02-14 01:50] lhchavez opened #1742 "Hacer un consent de privacidad"
Como usuario de omegaUp, necesitamos preguntarle a los usuarios si están de acuerdo con divulgar su información a los organizadores de un concurso.

## Comportamiento Esperado

En el intersticial de un curso/concurso, debe haber un checkbox permitiendo a los organizadores recibir su correo e información de contacto, que no permita continuar hasta no haberlo llenado, junto con un texto de por qué s

[2018-02-14 01:52] elendil326 commented on #1610
Bloqueado por investigación de privacidad.

[2018-02-14 01:54] elendil326 commented on #1561
Cerrado por contenidos

[2018-02-14 01:54] #1561 closed

[2018-02-14 01:57] elendil326 commented on #1683
Esto requiere el refactor de identidad para crear el vínculo entre maestro-alumno

[2018-02-14 02:05] elendil326 opened #1743 "Feature: Refactor de Identidad: Fase 1"
Esto es parte del feature #1300

https://docs.google.com/document/d/1COTwqOYNvuYER5jkeKZWJXxSdVn_2X-CjoDolmEiQ1Y/edit#

 - Crear tabla de identidades
 - Mantenerlas en sincronía con la de ususarios
 - Crear pruebas
 - Actualizar los controladores de usuario para mantener la tabla de identidades y usuarios en sincronía.

[2018-02-14 02:08] elendil326 opened #1744 "Feature: Refactor de Identidad: Fase 2"
Esto es parte del feature #1300

https://docs.google.com/document/d/1COTwqOYNvuYER5jkeKZWJXxSdVn_2X-CjoDolmEiQ1Y/edit#

 - Cambiar controladores
 - Cambiar las siguientes tablas para usar la tabla de identidades en lugar de la tabla de usuarios:

Problemset_Users que relaciona usuarios físicos con cursos/concursos hay que renombrarla por Problemset_Identities. Similarmente Problemset_User_Request

[2018-02-15 03:46] #1548 closed

[2018-02-15 04:26] #1189 closed

[2018-02-15 07:20] tvanessa opened #1749 "Encabezado incorrecto en el rank de todos los usuarios"
## Comportamiento Actual
 El encabezado dice **Top 100 de usuarios** y se muestra el rank de todos los usuarios
![screenshot from 2018-02-14 23-20-26](https://user-images.githubusercontent.com/13296248/36245014-ae5114e0-11dd-11e8-87d6-509c050c3935.png)

[2018-02-15 07:25] tvanessa opened #1750 "Hacer opcional el mostrar usuario en el rank general"
*Como usuario, quiero tener la posibilidad de no aparecer en el rank general*

## Comportamiento Esperado

Que sea opcional aparecer en el rank

[2018-02-15 14:46] mredigonda opened #1751 "[Wiki] No se encuentra script para instalar el entorno de desarrollo manualmente"
Al parecer, la siguiente página de la wiki está un poco desactualizada: [Cómo empezar a desarrollar entorno manual](https://github.com/omegaup/omegaup/wiki/C%C3%B3mo-empezar-a-desarrollar---entorno-manual).

El comando:
`wget --no-check-certificate https://raw.github.com/omegaup/omegaup/master/stuff/install.sh`
No está funcionando debido a que no existe `install.sh` en la carpeta stuff del reposit

[2018-02-15 17:04] elendil326 commented on #1734
Bloqueado hasta consultarlo con abogados.

[2018-02-16 00:04] andreasantillana commented on #1734
@elendil326 no me queda claro por qué se necesita consultarlo con abogados. O no sé si se pudo malinterpretar lo que se necesita.

[2018-02-16 06:07] heduenas opened #1752 "Assign colors to usernames depending on their position in the rank"
This should be part of the "User recognition and motivation" project. @Fer-OmegaUp please assign it to me.

[2018-02-16 06:10] lhchavez commented on #1752
One question though, is the current, janky ranking formula good enough? The current difficulty falloff has received negative feedback since it's too sharp.

[2018-02-16 06:17] heduenas commented on #1752
Well, the ranking formula itself I think is a different issue. When designing the color system we should do it in a way so that it's easy to migrate it to a different ranking formula. I was thinking that we can do it by percentiles (e.g. top 1% get assigned color red). That way, the ranking formula doesn't affect the color system at all.

[2018-02-16 06:17] #1564 closed

[2018-02-16 06:18] lhchavez commented on #1752
As long as that doesn't incur an excessive extra cost, :+1:.

[2018-02-16 08:39] jaykay12 commented on #1751
@mredigonda Are you able to build omegaUp anyhow?
Yeah, the file `install.sh` is no where to be found in the stuff folder.
I have tried the recommended method of using Vagrant as well as the 3rd method also, but all in vain.
@heduenas Kindly help us through the build process?

[2018-02-16 14:06] pabo99 opened #1753 "Me aparece un error al agregar tags a un problema"
Cuando agrego dos veces un tag un problema me aparece el siguiente error:

![captura de pantalla 2018-02-16 a la s 08 01 10](https://user-images.githubusercontent.com/3230352/36311161-fabd344a-12ef-11e8-9fd4-26cb5054595c.png)

## Pasos para reproducir (para bugs)

1. Agregar un tag a un problema
2. Agregar nuevamente el mismo tag

[2018-02-16 14:15] jaykay12 commented on #1753
@pabo99 Is there any IRC or slack channel available for the omegaUp organisation?? I need some help in the build process, I am struck.
Any mailing list where I can get replies to my query will be really helpful.

[2018-02-16 14:19] pabo99 commented on #1753
@lhchavez, @alanboy can you help us with this?

[2018-02-16 14:30] jaykay12 commented on #1753
@pabo99
I was unable to build using the normal recommended manner using Vagrant, so I used the Manual Installation.

I am able to run omegaUp on my localhost, but the login functionality is not working. What's more troubling is the error its showing,
Its asking me to run `cd /opt/omegaup && yarn install && yarn run dev`
These particular commands were asked to run only when we build using Vagrant b

[2018-02-16 19:51] mredigonda commented on #1751
Sadly no. I couldn't use Vagrant to install but I assume it has to do more with my lack of proper hardware, Vagrant works fine but in some step of the process it freezes my computer.

[2018-02-16 21:09] heduenas commented on #1751
The vagrant method shusually works pretty smoothly. Please file a bug to https://github.com/omegaup/deploy/issues with the reproduction steps and the error message you get and we'll follow up there.

[2018-02-17 02:54] lhchavez commented on #1753
@jaykay12 that should have been fixed by https://github.com/omegaup/deploy/pull/10 . @heduenas will contact you with information about where those kind of conversations will happen, mainly to avoid having unrelated conversations in issues. it gets a bit hard to keep track of the discussion at hand ^^;;;

[2018-02-17 02:57] lhchavez opened #1755 "Flakiness en Selenium"
De Travis:

[code]

[2018-02-17 02:58] lhchavez commented on #1751
The issue was fixed by https://github.com/omegaup/deploy/pull/10 \o/

I'll update the wiki to remove the references to the script and marking the whole manual instructions as not to be used due to bitrot :(

[2018-02-17 02:58] #1751 closed

[2018-02-17 03:13] #1753 closed

[2018-02-17 03:16] heduenas commented on #1752
I wrote a short design doc, please review https://docs.google.com/document/d/1R14hS-6TEhE34Aw3Pu_85jqIZjCyxVx6fiCHL8cvLg0/edit#heading=h.11f71ntnc2lp

[2018-02-17 03:38] #1655 closed

[2018-02-17 05:45] raks097 commented on #751
I'd like to work on this issue.

[2018-02-17 14:52] lhchavez opened #1756 "Revisitar sugerencia de hacer promoción a concursos públicos una vez que tengamos más estadísticas"
@npave sugirió:

Pero para eso necesitamos saber qué tan frecuentemente ocurre eso (para ver si habría buena señal:ruido).

Hay que revisitar esto una vez que hayan pasado tres meses del deployment del log de transiciones de estado de los concursos (#572).

[2018-02-18 14:13] #1749 closed

[2018-02-19 04:02] AtharvaKhare commented on #1688
Hey @lhchavez , I would like to take up this issue.
What should be default state of profile privacy - private or public?
Also, can you please translate " los detalles de envíos se deberían mostrar" (I cannot understand Google's translation)

[2018-02-19 04:09] lhchavez commented on #1688
that roughly means that the following graph that's currently shown in https://omegaup.com/profile/ (and the underlying data used to build it) should not be shown:

![image](https://user-images.githubusercontent.com/168028/36362186-230b7242-14e7-11e8-9b8d-208604b5c649.png)

That means that https://github.com/omegaup/omegaup/blob/c2e8d65d9ada21d07bddf28d00323a1407267c47/frontend/server/controllers/U

[2018-02-19 14:18] #1558 closed

[2018-02-19 21:47] CarlosCordova18 commented on #1716
I would like to create this query and test it to create later the API. I just installed the development environment, what should I do to work now with the database?

[2018-02-19 21:54] lhchavez commented on #1716
You can base your change on another PR that does more or less the same thing, like https://github.com/omegaup/omegaup/pull/1760/files.

Rough sketch of the steps needed:

* Create a new file under `frontend/database` named `number_description.sql`, where `number` is the next available unused integer.
* Run `./stuff/database_schema.py fix --all-files` to regenerate `frontend/database/schema.sql` so

[2018-02-19 22:43] CarlosCordova18 commented on #1716
The script .`/stuff/database_schema.py fix --all-files` throws me this error:

    def _expected_database_schema(*, config_file=None, username=None,
                                   ^
SyntaxError: invalid syntax

And also, is there any place where I could take a look on the E-R diagram of the database or just I ought to deduce it from the **schema.sql** script?

Thanks!

[2018-02-20 00:39] lhchavez commented on #1716
hmm that's odd. that only happens if you try to run it as a python2 script (in other words, if you invoke it as `python stuff/database_schema.py fix --all-files`).

That file has a `#!/usr/bin/python3` at the top, which should force it to run with python3. Are you by any chance running this outside of the VM? If so, try running it inside.

For the ER diagram, you can use https://www.mysql.com/prod

[2018-02-20 12:18] CarlosCordova18 commented on #1716
Thanks, it was just running the script with **python3**.

I think that it won't be necessary to create a file under `frontend/database` because no alteration on the database will be done. I've created the function `apiListUnsolvedProblems()` in the `User Controller`, because the function to get all the solved problems by user has been created there also.

I haven't done the test yet, but could you

[2018-02-20 14:32] lhchavez commented on #1716
`./stuff/runtests.sh` runs ALL the tests (it'll take s bit of time).

to run just the unit tests you can run

[code]

you can choose to run just a subset of the tests by specifying one of the files under `frontend/tests/controllers` instead of the whole directory.

[2018-02-20 20:11] licgerman opened #1761 "Disponibilidad de CSharp"
Como un DOCENTE, quiero que CSharp se pueda utilizar en todos los problemas de lenguaje de algo nivel para utilizar problemas que fueron creados antes de que CSharp estuviera disponible para las evaluaciones.

Actualmente, los problemas que se crean para C, C++, java etc. también pueden ser enviados con CSharp pero en problemas anteriores, supongo que antes de que CSharp estuviera disponible como

[2018-02-21 02:04] CarlosCordova18 commented on #1716
I ran the code but it throws me an error that, because of how little I know about REST API and Unit Tests, I can't understand why is it being thrown, and turns everything so difficult to debug 😕
Are there any resources that I could read to understand better these things in the project?

[2018-02-21 04:36] darkmx opened #1763 "Sugerencia: conversión de saltos de línea del estilo "Mac viejo""
Hola amigos de OmegaUp.

Recientemente subí un problema que es traducción de un problema viejo de otros jueces y conseguí un archivo de casos de prueba que decidí usar (para evitar tener que generar mis propios casos, aunque le hice algunas modificaciones).

Los casos parecían funcionar bien en mi computadora con Windows, pero cuando lo subí a OmegaUp todos los programas daban "Error en ejecución"

[2018-02-21 04:52] lhchavez commented on #1763
En efecto, ignoramos los saltos de línea `\r` totalmente :( https://github.com/omegaup/omegaup/blob/master/bin/normalizr.cpp#L83

Se aceptan pull requests para eso :D se ve bastante sencillo de arreglar.

[2018-02-21 05:26] darkmx commented on #1763
Por lo pronto, según yo podría quedar:

case '\r': {
   ch = f.get( );
   if (ch == '\n') {
      // lo de '\n'           // aunque se verá feo duplicar el código
   } else if (ch != EOF) {
      f.putback(ch);
   }
   break;
}

A ver si mañana hago el pull request, tengo que averiguar cómo se hacen D:

[2018-02-21 05:29] lhchavez commented on #1763
Alternativamente cuando veas un `\r` prendes una bandera, y si ves un caracter que no sea `\n` y la bandera sigue encendida, imprimes un salto de línea legítimo y limpias la bandera. así evitas el uso de `putback`, que la verdad me da un poco de miedo usar porque complica bastante el modelo mental.

acá hay un tutorial de cómo hacer un pull request: https://github.com/omegaup/omegaup/wiki/C%C3%B3m

[2018-02-21 05:31] darkmx commented on #1763
creo que tengo sueño para escribir código ahorita XD mañana intento hacer el pull request

[2018-02-21 13:11] CarlosCordova18 commented on #1716
I created a pull request, please take a look on it here: https://github.com/omegaup/omegaup/pull/1765/files

[2018-02-21 13:26] CarlosCordova18 commented on #1716
I created a pull request, please take a look on it here: https://github.com/omegaup/omegaup/pull/1765/files

[2018-02-22 06:00] #1688 closed

[2018-02-22 06:09] rcxr opened #1767 "Error de ortografía en aviso a usuario"
La notificación que te explica cómo calificar un problema dice:

Debería decir:

[2018-02-22 06:10] lhchavez commented on #1767
se aceptan pull requests :D

[2018-02-22 07:22] #1763 closed

[2018-02-22 11:40] CarlosCordova18 commented on #1711
I would like to do the view also, could you please suggest me how to work on it as you did on:
https://github.com/omegaup/omegaup/issues/1716#issuecomment-366811775

[2018-02-22 14:48] #1568 closed

[2018-02-23 03:26] AtharvaKhare commented on #1678
@lhchavez Can I take this one please?
If so,
1. Can you please elaborate the deliverables?
2. We can have two approaches:
   a - "Hide profile from public" option prevents user from appearing in the list. This would be inconvenient to users.
   b - User is asked to share information per contest basis. I think this would need separate column/table in the database.
3. Where exactly should be the opt

[2018-02-23 04:14] lhchavez commented on #1716
Oh I forgot to use the magic tag "Fixes: ..." and this didn't auto-close. But this is complete!

[2018-02-23 04:14] #1716 closed

[2018-02-23 04:32] lhchavez commented on #1711
Sure!

Right now the list of problems you _have_ solved are displayed in your profile: https://omegaup.com/profile/ . What we would need to do is create a new table in that same view. A super quick tour of what happens when you open a page:

* First, [nginx](https://nginx.org/en/), our web server, goes through its internal configuration, which includes a set of rewrite rules stored here: https://g

[2018-02-23 05:06] lhchavez commented on #1678
Of course! Your proposal 2b. matches what we were thinking was the most convenient solution, so let's go with that one.

What we need to do is add a flag to the [`Problemsets`](https://github.com/omegaup/omegaup/blob/8c21617376773f9d2b9412eb04c26559233d4bb9/frontend/database/schema.sql#L511) (which is the generalization of Contests and Homeworks/Assignments for Courses) and [`Courses`](https://git

[2018-02-23 05:10] lhchavez commented on #1560
Empecemos por las dos tareas de la descripción:

[ ] Validar un usario dado su correo electrónico
[ ] Restablecer contraseñas para que los site-admins no tengan que hacerlo
[ ] Recuperar cuentas viejas

[2018-02-23 05:12] lhchavez opened #1769 "Soporte: validación de usuarios dado un correo electrónico"
Como un miembro del comité de soporte, quiero poder validar un usuario dado su correo electrónico.

Caso de uso: alguien envía un correo a omegaup-soporte@googlegroups.com con su nombre de usuario. Eso es suficiente para validar su cuenta.

Parte de #1560

[2018-02-23 05:16] lhchavez opened #1770 "Soporte: Restablecer contraseñas para que los site-admins no tengan que hacerlo"
Como un miembro del comité de soporte, quiero poder restablecer contraseñas para que los site-admins no tengan que hacerlo.

Caso de uso: alguien envía un correo a omegaup-soporte@googlegroups.com con su nombre de usuario. Eso es suficiente para validar que es el dueño de la cuenta. Se puede entonces manualmente invocar https://github.com/omegaup/omegaup/blob/5103711b9dba9433e4491273d61127f510d3c5

[2018-02-23 05:22] heduenas opened #1771 "[Color Hierarchy] make apiProfile() return user's color"
The algorithm to compute the user's color in described in the design doc:
https://docs.google.com/document/d/1R14hS-6TEhE34Aw3Pu_85jqIZjCyxVx6fiCHL8cvLg0/edit#

[2018-02-23 05:22] heduenas opened #1772 "[Color Hierarchy] Display "Rank" field below "Graduation date" in user's profile page"
This depends on back end change #1771

We should add the field “Rank” below “Graduation date” in https://omegaup.com/profile/xyz. Its value will be Unrated/Beginner/Specialist/Expert/Master/International Master and should be displayed with the color associated with it as described in the desing doc: https://docs.google.com/document/d/1R14hS-6TEhE34Aw3Pu_85jqIZjCyxVx6fiCHL8cvLg0/edit#

[2018-02-23 05:22] heduenas opened #1773 "[Color Hierarchy] Make a Vue component to display usernames"
This Vue component should display usernames with the color associated to their rank as described in the design doc: https://docs.google.com/document/d/1R14hS-6TEhE34Aw3Pu_85jqIZjCyxVx6fiCHL8cvLg0/edit#

[2018-02-23 05:23] heduenas opened #1774 "[Color Hierarchy] Use Vue component to display usernames with the color associated to their rank"
This depends on the Vue component been done: #1773

This is a comprehensive (but maybe not complete) list of places where we show username and we should migrate them to use the Vue component:

* Username in top-right corner (when logged in).
* User list in https://omegaup.com/rank/.
* https://omegaup.com/profile/xyz
* Home page:
    * Top 5 users with the most points
    * Coder of the month
* Bes

[2018-02-23 05:26] heduenas commented on #1752
I've divided this issue in 4 work items:
* Backend: #1771
* Display rank field in user's profile: #1772
* Vue component to display colorful usernames: #1773
* Use Vue component in FE to display usernames: #1774

[2018-02-23 07:01] heduenas commented on #1771
Cost estimate: 4 hours including tests.

[2018-02-23 07:01] heduenas commented on #1772
Cost estimate: 1 hour

[2018-02-23 07:03] heduenas commented on #1773
Cost estimate 4 hours.

[2018-02-23 07:04] heduenas commented on #1774
Cost estimate: 4 hours.

[2018-02-23 12:52] CarlosCordova18 commented on #1711
Thanks, now I understand all better, of course I would like to try creating the tests after I finish this.

Three questions:
- I see that for listing the **solved problems**, the js function just passes the user's username, but the DAO (through the API) expects to receive the user's **id**, because that's the parameter requested by its correspondent query. So, why is it not giving any error?

- I'

[2018-02-23 15:10] lhchavez commented on #1711
That's because the controller translates the `username` string into a `Users` object through [`resolveTargetUser`](https://github.com/omegaup/omegaup/blob/271401bf356b1720cd6380811a0d6533d576ad49/frontend/server/controllers/Controller.php#L59-L92): https://github.com/omegaup/omegaup/blob/271401bf356b1720cd6380811a0d6533d576ad49/frontend/server/controllers/UserController.php#L1446 Then it can invok

[2018-02-23 19:31] CarlosCordova18 commented on #1711
I've read a little of the tutorial you passed me about git, I'll continue reading it the rest of the day. It may solve this confusion I have.
After your explanation about the translation from `username` string to `User` object, I think I'm ready to see if the view works well. Please let me know when you modify the python script for creating users and runs.
Finally, if you can, please explain me ho

[2018-02-24 01:18] lhchavez commented on #660
Esto mejor quiero hacerlo dentro del marco del gitserver.

[2018-02-24 01:25] lhchavez commented on #868
Se llegó a la conclusión de que esto va a ser bastante más útil si se implementa https://github.com/omegaup/omegaup/issues/128 primero. Así que estará bloqueado hasta que eso ocurra.

[2018-02-24 01:28] lhchavez opened #1777 "Refactor de GroupScoreboard"
Parte de https://github.com/omegaup/omegaup/issues/1022

Esto es únicamente la parte del refactor de GroupScoreboard del otro issue.

[2018-02-24 01:30] lhchavez commented on #666
Cerrando en favor de https://github.com/omegaup/omegaup/issues/990 que tiene más detalles.

[2018-02-24 01:31] #666 closed

[2018-02-24 01:33] lhchavez commented on #593
Cerrado con https://github.com/omegaup/omegaup/pull/1735

[2018-02-24 01:33] #593 closed

[2018-02-24 01:34] lhchavez commented on #615
Creo que lo más conveniente es reimplementarlo en un lenguaje de verdad (Go).

Esto se va a hacer dentro de gitserver.

[2018-02-24 01:50] elendil326 opened #1778 "Refactor de identidad: Fase 3"
Esto es parte del feature #1300

https://docs.google.com/document/d/1COTwqOYNvuYER5jkeKZWJXxSdVn_2X-CjoDolmEiQ1Y/edit#

Cambiar Group_Users por Group_Identity, con controladores

[2018-02-24 01:56] lhchavez commented on #1678
Welp, there was a large internal miscommunication and there was another issue that was a near-duplicate of this one https://github.com/omegaup/omegaup/issues/1742 D: There's even a pull request open for it :( https://github.com/omegaup/omegaup/pull/1776

So the scope of this particular issue has been reduced to only do API that can return the list of users that have given permission and the CSV ex

[2018-02-24 06:24] AtharvaKhare commented on #1678
Ah, no problem! I might wait till its merge, is that fine?
Till then I will search if I can do any other issue.

[2018-02-24 15:13] CarlosCordova18 commented on #1711
Hi, after the modification you did over the `bootstrap-environment.py`, I've been able to create a run for one of the auto-generated problems. But I don't know why if I did all you told me:

- I've added this line to `api.js` file, within the `User`: `listUnsolvedProblems: _call('/api/user/listUnsolvedProblems/'),`

- I've added my function in the `profile.js` folder:
[code]
The console keeps tell

[2018-02-24 15:28] CarlosCordova18 commented on #1711
It works!!
![captura de pantalla de 2018-02-24 10-27-56](https://user-images.githubusercontent.com/20785082/36631903-67b82b6e-194d-11e8-9ed3-96ca2656ec46.png)

So now, could you tell me how should I do the tests or I'm able to make the pull request?

[2018-02-24 17:18] joemmanuel commented on #1711
@CarlosCordova18 - once you polish your code and you have *at least* tested manually, please send a PR. Make sure to test corner cases like 0 problems in the view and observe 0 (new) warnings & errors on the dev js console. Include screenshots on how it looks in a complete page to make life easier for reviewers.
Note our code style standards are very high, your new code should just _blend_ into ex

[2018-02-24 22:11] lhchavez commented on #1678
yes, totally fine. i expect to be able to merge it on Tuesday/Wednesday.

[2018-02-25 02:41] randika96 commented on #1771
Can you tell me where I can find apiProfile()?  Then I can start work on this.

[2018-02-25 02:42] heduenas commented on #1771
It's right here:
https://github.com/omegaup/omegaup/blob/004156793d50b97c9fc92af19077d784cd857b89/frontend/server/controllers/UserController.php#L1222

[2018-02-25 03:23] CarlosCordova18 commented on #1711
I've made the pull request, please give it a look: https://github.com/omegaup/omegaup/pull/1780

[2018-02-25 04:02] randika96 commented on #1771
i will start working on this issue

[2018-02-25 04:14] lhchavez commented on #1771
assigned! let us know if you need any help.

[2018-02-25 15:30] randika96 commented on #1771
As a solution for this I am thinking of declaring a function to calculate the appropriate color which takes the marks as an argument and return the color. In case of that can you tell what is the best place for the place this method.  And call the method inside the apiProfile().
Can you tell me where I can find a class for user?

[2018-02-25 16:04] lhchavez commented on #1771
It's probably better to have this be a CSS classname instead of a hardcoded color. I've already sent https://github.com/omegaup/omegaup/pull/1781 out so that the cron job that calculates the user ranks also calculates the cutoff points and the classnames. You'll need to re-fetch master to get that code, and run `./stuff/db-migrate.py migrate` to install the new table.

Since it's a cronjob, it's r

[2018-02-25 16:19] randika96 commented on #1771
How is the marks are stored along with user?

[2018-02-25 16:23] lhchavez commented on #1771
They are stored in the [`User_Rank`](https://github.com/omegaup/omegaup/blob/029b0be9f386eae134ade319fa88ad62b8bfa1a8/frontend/database/schema.sql#L707) table. @heduenas will assist you further if needed.

[2018-02-25 16:24] lhchavez commented on #1755
Más indicios

[code]

[2018-02-25 16:25] lhchavez commented on #1771
The change to add the table is merged. If you have not modified the code yet, you can do `git fetch upstream master && git reset --hard origin/master`. If you have, you need to `git stash` first and after you run the previous command, do `git stash pop`.

[2018-02-25 16:31] randika96 commented on #1771
I have not modified the code yet. still I am understanding the relevant information. I came up with algorithm to calculate colors when marks are given.

[2018-02-25 17:39] akash-1024 commented on #1773
I'd like to work on this.
Where can I find the HTML, CSS and JS files?

[2018-02-25 19:18] pacharrin opened #1782 "Como maestro de un curso quiero ver un feed de la actividad de un curso"
## Comportamiento Esperado

Como maestro de un curso quiero poder saber si los usuarios han entrado al curso y qué problemas han intentado para poder darle seguimiento y ayudarles a los que están atorados.

## Comportamiento Actual

actualmente la unica forma de ver el progreso es usando el scoreboard pero eso no te dice que cambio de una semana a otra haciendo dificil el seguimiento a la spersona

[2018-02-25 19:42] heduenas commented on #1773
@akash-1024, this issue consists of creating a Vue component rather than touching html files. Something more or less like this:
https://github.com/omegaup/omegaup/blob/master/frontend/www/js/omegaup/components/coderofthemonth/Notice.vue

[2018-02-25 19:49] akash-1024 commented on #1773
Sure!
If allowed to, I would also like to put my efforts on issue #1771 as I have worked with PHP on a couple of projects.

[2018-02-25 19:54] heduenas commented on #1773
well, #1771 is already assigned to @randika96

[2018-02-25 21:35] heduenas commented on #1772
Sorry Carlos, this bug was claimed by Priyam on the slack first. But we can assign #1773 if you want.

[2018-02-25 21:41] #572 closed

[2018-02-25 22:09] lhchavez commented on #1771
@randika96 does that algorithm use the recently-created `User_Rank_Cutoffs` table? Otherwise it's going to be way too slow since MySQL does not have an efficient way of calculating percentiles and it'll become prohibitively expensive to run with the production data set.

feel free to go to the Slack if you want to discuss this further.

[2018-02-25 22:14] CarlosCordova18 commented on #1772
@heduenas 😢 , I'm now starting to learn Vue, but I could give it a try

[2018-02-25 23:04] CarlosCordova18 commented on #1707
Ok I'll take this, but please give me some time to do it because I'm starting with Vue.

[2018-02-25 23:06] lhchavez commented on #1707
of course, that was taken into account choosing the bug so that it's not urgent and it's not blocking anything else, so you can progress at your own pace.

[2018-02-25 23:33] lhchavez opened #1783 "Actualizar a webpack 4"
Anuncio: https://medium.com/webpack/webpack-4-released-today-6cdb994702d4

Parece que hay suficientes mejoras en términos de velocidad de compilación y en los tamaños de los artefactos que genera, así que sería bueno actualizar.

[2018-02-26 02:09] lhchavez commented on #1761
Todos los problemas viejos que se pueden resolver con lenguajes no-karel ahora también se pueden resolver con C#.

[2018-02-26 02:09] #1761 closed

[2018-02-26 02:12] licgerman commented on #1761
Excelente. Gracias !!!

El 25 feb. 2018 8:09 PM, "lhchavez" <notifications@github.com> escribió:

[2018-02-26 06:51] heduenas commented on #1517
The condition should be ($r['problem']->visibility == ProblemController::VISIBILITY_PUBLIC_BANNED ||
                  $r['problem']->visibility == ProblemController::VISIBILITY_PRIVATE_BANNED))

[2018-02-26 07:55] randika96 commented on #1771
No, Can you tell me where I can find that table "User_Rank_Cutoffs"?  Does this table already calculated the appropriate class name for given user ID? or Do I have to do it?
Can you tell me how to merge the new code which include new table with my existing vm running file?

[2018-02-26 13:04] randika96 commented on #1771
As a conclude what I am going to implement,

- Declare the function which calculate the css class name in class Users.dao. Takes user id as an argument and return the class name.

- call the above function inside the apiProfile() function and return user along the class name.

Is this approach is okay or can you tell where should I change?

[2018-02-26 14:33] lhchavez commented on #1782
Supongo que esto se puede modelar de manera casi idéntica al reporte de actividad de los concursos.

[2018-02-26 15:19] SMe12435 commented on #1774
Hey,
     I would like to work on the Issue.
Regards
Sushant Mehta
**Slack Handle : SMe**

[2018-02-26 15:25] lhchavez commented on #1771
yes, it's in the [`schema.sql`](https://github.com/omegaup/omegaup/blob/8855dcb75086722877a887d146402a88ba94b9d8/frontend/database/schema.sql#L746). it only has the relationship between score cutoffs and classnames. given a user id, you can use this table to get the classname for the largest score such that it's lower than the user's score.

instructions to merge are in my previous comment in this

[2018-02-26 17:46] HorsemanJnr commented on #1517
Hello,

I want to fix this bug. Could you assign it to me?

[2018-02-26 18:32] randika96 commented on #1771
Than you for your guidance, I will start to implement this.

[2018-02-26 22:36] heduenas opened #1785 "Los estados se estan mostrando mal en la pagina de perfil"
Ahora resulta que soy de "Jaluit"

![image](https://user-images.githubusercontent.com/597815/36699707-596ebb7a-1b02-11e8-9b4f-ae10891f7a65.png)

[2018-02-27 00:49] licgerman opened #1786 "Bug."
*En el caso de un feature, provee un título en el siguiente formato:*

*Como un [tipo de usuario], quiero [funcionalidad o mejora esperada] para
[beneficio esperado]*

*E.g. Como [usuario], quiero [un botón de inicio] para [poder regresar a la
página inicial con un solo click]*

## Comportamiento Esperado

*Si estás describiendo un bug, describe lo que pasó*

*Si estás sugiriendo un cambio/mejora,

[2018-02-27 00:50] lhchavez commented on #1786
?

[2018-02-27 00:53] licgerman opened #1787 "[FEATURE] Memoria en problemas CSharp"
Apenas ayer resolvieron un issue relacionado con problemas viejos NO-KAREL que no aparecían disponibles para evaluación con CSharp. Este issue ya fue cerrado pero me parece que ahora hay otro problema.

Algunos problemas viejos que no tenían en cuenta a CSharp estaban considerando solamente 4mb de memoria. En CSharp al parecer se requiere más por la librería System.  ¿Es posible modificar TODOS lo

[2018-02-27 00:58] licgerman commented on #1786
Perdón, se fue un enter sin querer. ¿Pueden borrar este issue? Ya subí el correcto.

[2018-02-27 00:58] #1786 closed

[2018-02-27 00:58] lhchavez commented on #1787
no, pero tal vez podemos hacer lo mismo que se hace para Java, que es dar 14-16MB de memoria extra para el runtime únicamente para envíos hechos en ese lenguaje.

[2018-02-27 00:59] licgerman commented on #1787
Ok. Gracias. Quedo al pendiente.

[2018-02-27 01:51] lhchavez commented on #1517
assigned! thanks :D

[2018-02-27 01:53] lhchavez commented on #1774
Assigned!

[2018-02-27 02:05] lhchavez commented on #1750
This query needs to take into account the user's `is_private` setting:

https://github.com/omegaup/omegaup/blob/8855dcb75086722877a887d146402a88ba94b9d8/stuff/cron/update_user_rank.py#L37-L64

[2018-02-27 02:24] SMe12435 commented on #1774
@lhchavez is this issue assigned to me? Need to know as Hugo on the slack mentioned it to be claimed by someone else.

[2018-02-27 02:34] heduenas commented on #1774
@CarlosCordova18 we discussed assigning this bug to you in https://github.com/omegaup/omegaup/issues/1772#issuecomment-368346177 . Can you confirm if you want to work on it?

[2018-02-27 02:42] CarlosCordova18 commented on #1774
Hi, @SMe12435 can take this one as @lhchavez assigned #1707 to me yesterday 😄

[2018-02-27 02:48] SMe12435 commented on #1774
thanks @lhchavez @heduenas.

[2018-02-27 10:37] SMe12435 commented on #1774
@lhchavez all i need to do is take the response from backend API and change the username color using that response, right?

[2018-02-27 12:17] randika96 commented on #1771
@lhchavez  git fetch upstream master && git reset --hard origin/master I treid this command to merge the code but it did not work.

[2018-02-27 14:05] lhchavez commented on #1771
ah, sorry, there was a typo! the correct command should be ` git fetch upstream master && git reset --hard upstream/master`

[2018-02-27 14:08] lhchavez commented on #1774
that should be done in #1773. this issue consists of going through some of the places where we display a username manually and migrating them to the Vue component created by #1773

[2018-02-27 14:42] SMe12435 commented on #1774
Recently contacted @akash-1024 regarding #1773.  Came to know he isn't working on the issue.

[2018-02-28 05:10] pabo99 commented on #1663
Este bug ya no está apareciendo en la última versión. Algún cambio ya lo debió haber corregido

[2018-02-28 05:21] lhchavez opened #1788 "Inconsistencia en los términos usados para referirse a la petición de información del usuario"
En JavaScript usamos `needsBasicInformation`, pero en la base de datos guardamos `basic_information_required`. Deberíamos usar el mismo término que se usa en la base de datos en todos lados.

[2018-02-28 06:30] #1539 closed

[2018-02-28 07:16] heduenas commented on #1774
Thanks @SMe12435 for letting us know. I synced up with @akash-1024 and have unassigned #1773.

[2018-02-28 09:00] AtharvaKhare commented on #1644
Hey @lhchavez , I would like to create a test, suggest me a simple one to start with? I have used selenium before.

[2018-02-28 09:26] SMe12435 commented on #1774
@heduenas as #1774 is based upon the completion of #1773, may I shift upon #1773?

[2018-02-28 12:12] CarlosCordova18 commented on #1707
Should I include the CDN of Vue Js in the `scoreboardmerge.js` script? Or is there a Vue JS file which I could reference to?

[2018-02-28 14:17] lhchavez commented on #1707
no need: we use webpack for that!

you can follow this PR: https://github.com/omegaup/omegaup/pull/1159

since you are changing a top-level file (one that is directly included from
an html file) you need to add an entry into webpack.json, similar to that
PR. webpack takes care of bundling+minimizing Vue into the final .js

[2018-02-28 16:41] heduenas commented on #1774
Sounds good, you can take #1773.

On Feb 28, 2018 01:26, "Sushant Mehta" <notifications@github.com> wrote:

[2018-02-28 16:42] heduenas commented on #1774
Sounds good, you can take #1773.

[2018-02-28 17:03] SMe12435 commented on #1774
Okay!

[2018-02-28 22:46] manduinca opened #1790 "Visualizar top users del mes"
*Como un usuario, quiero visualizar los top coders del mes para poder motivar la competición y se aprecie claramente al ganador*

## Comportamiento Esperado

*Así como podemos ver los top coders y las esculeas más activas, debería mostrarse una tabla con los top coders del mes*

## Comportamiento Actual

*No se muestra una tabla con los top coders del mes*

## Posible Solución

*Tendríamos que cal

[2018-03-01 05:30] #1743 closed

[2018-03-02 00:23] rcxr opened #1793 "Tooltips que expliquen los temas de los problemas"
*Incrementar participación de usuarios en la categorización de problemas al proveer definiciones de los temas*

## Comportamiento Esperado

Temas tienen información que ayuda a confirmar que el tema que el usuario está a punto de seleccionar sí es apropiado para el problema

## Comportamiento Actual

Temas simplemente cuentan con una breve etiqueta

## Posible Solución

Agregar tooltips a los tema

[2018-03-02 00:35] rcxr opened #1794 "[FEATURE] Enunciado del problema no muestra temas"
*El enunciado del problema debería de mostrar la dificultad y los temas del problema, muchas veces llegas al problema a través de un link y no tienes idea de estos metadatos*

*Esto puede ayudar a los usuarios a darse un idea que están a punto de empezar, muchas veces los usuarios están practicando un tema en particular, o están empezando y les gustaría intentar sólo problemas fáciles o muy fácile

[2018-03-02 00:46] lhchavez commented on #1794
Esto no necesariamente es deseable. Por ejemplo, si llegan a un concurso, me gustaría que los problems _no_ mostraran temas ni dificultad. Si llegan al problema en modo de práctica mientras el concurso está activo igual.

[2018-03-02 00:50] lhchavez commented on #1793
Esto se puede resolver simplemente editando las siguientes cadenas: https://github.com/omegaup/omegaup/blob/a62d6663d7cf8bada2ce4a659a146efd8dd71999/frontend/templates/en.lang#L526-L566

Preferiría no tener tooltips porque no son súper usables para usuarios con discapacidad.

[2018-03-02 05:32] rysard opened #1796 "[FEATURE] Como un concursante, quiero tener la posibilidad de codificar los problemas con Rust para tener una opción diferente para poder resolver los problemas."
Hola, me gustaria ver si me ayudan a agregar esta funcionalidad, o si me asesoran para poder agregarla yo mismo a la plataforma.

[2018-03-02 05:38] lhchavez commented on #1796
es un proceso un tanto largo y complicado:

* Hay que hacer un cambio en https://github.com/omegaup/omegajail/blob/master/tools/mkroot para crear un ambiente de compilación/ejecución para Rust
* Hay que agregar Rust a https://github.com/omegaup/omegajail/blob/master/smoketest/test
* Hay que agregar Rust a https://github.com/lhchavez/quark/blob/80f20c648737a115fb4dc87c990634bd7993fa0d/runner/sandbo

[2018-03-02 15:57] #1517 closed

[2018-03-02 17:54] lhchavez commented on #899
Dupe de https://github.com/omegaup/omegaup/issues/1630

[2018-03-02 17:54] #899 closed

[2018-03-02 17:55] lhchavez commented on #751
@raks097 are you working on this? I just assigned it to you. Let me know if you're no longer working on it to un-assign it.

[2018-03-02 17:57] lhchavez commented on #228
Creo que mejor no hay que hacerlo. Suena que nada más lo usarían para trollear.

[2018-03-02 17:57] #228 closed

[2018-03-02 17:58] lhchavez commented on #310
Cerrando porque mejor se va a arreglar con el revamp de cómo se guardan los problemas en backendv2.

[2018-03-02 17:58] #310 closed

[2018-03-02 18:01] lhchavez opened #1797 "Agregar links administrativos en la vista de editar concurso"
Como administrador de un concurso, me gustaría poder acceder a los enlaces que aparecen en `/contest/mine/` (como los links al scoreboard y el reporte de actividad):

![image](https://user-images.githubusercontent.com/168028/36914071-d7094252-1e00-11e8-9094-59f37488a875.png)

Dentro de la vista de edición del concurso.

## Posible Solución

Agregar una pestaña nueva en la [vista de edición de conc

[2018-03-02 21:07] lhchavez commented on #1375
Uno de los chamacos de GSoC ocupaba esto entonces me lo aventé.

[2018-03-02 21:29] #1375 closed

[2018-03-03 02:42] lhchavez opened #1798 "Reactivar Firefox en las pruebas de Selenium de Travis"
Firefox está siendo muy flaky :( se desactivó temporalmente en lo que investigamos por qué está fallando.

[2018-03-03 06:02] #1560 closed

[2018-03-03 06:12] SpaceWhite commented on #798
Can anyone assign me this issue?

[2018-03-03 06:13] lhchavez commented on #798
assigned to @SpaceWhite !

[2018-03-03 09:10] SpaceWhite commented on #1790
Can someone assign me this task?

[2018-03-03 20:41] #1771 closed

[2018-03-03 21:09] CarlosCordova18 commented on #1707
Hi @lhchavez, one question, should I create just one component (`myName.vue`) or I could create all that I need to solve this issue?

[2018-03-03 22:15] lhchavez commented on #1707
You can create just one component, or create subcomponents. whatever makes
more sense, I'll leave that up to you!

[2018-03-04 00:02] alanboy opened #1800 "Habilidad de tener datos ficticios en mi copia local de omegaup"
Como un nuevo desarrollador, quiero poder tener un set de datos ficticios en mi ambiente local para
poder poder ver mis cambios mas fáciles de ver

## Comportamiento Esperado

Puede ser que corra un script o que ya venga despues de instalar via `vagrant up`

## Contexto

Fue algo que salio durante Google Summer of Code donde la gente tiene proyectos que hacer como recomendador de problemas, pero n

[2018-03-04 00:03] lhchavez commented on #1800
Ya existe esa capacidad, pero le falta agregar más cosas :(

Se agregarían así: https://github.com/omegaup/omegaup/commit/19b9daec0b47999f2f249c276a9fce117cc53011

[2018-03-04 01:51] alirizwi commented on #1797
I want to take up this issue.

[2018-03-04 02:00] lhchavez commented on #1797
assigned to @alirizwi!

[2018-03-04 02:05] alirizwi commented on #1797
@lhchavez What should be the name of the new tab containing the links?

[2018-03-04 02:07] lhchavez commented on #1797
`Links`, `Enlaces`, `Vínculos` in spanish, english, portuguese respectively.

[2018-03-04 02:57] samdsmx opened #1802 "Sanitizar datos de genero"
- Validar los datos guardados en el campo 'Gender'. Actualmente tenemos valores `NULL` y vacios
- Asignar el valor de `NULL` a los vacíos.

[2018-03-04 02:58] samdsmx opened #1803 "Campos Last_Access, solved y submissions estan obsoletos"
Hay que eliminar las columnas `last_access`, `solved` y `submissions` de la tabla `Users`.

[2018-03-04 03:01] #798 closed

[2018-03-04 04:02] samdsmx opened #1804 "Sanitizar datos de Grado academico"
Los datos que se guardan en el campo "scholar_degree" de la tabla "users" estan amarrados al lenguaje del usuario, lo que nos causa ruido en las metricas. Se sugiere agrupar por grados internacionales.

Preparatoria
High school
Licenciatura
Bachelor'

[2018-03-04 15:29] lhchavez commented on #1804
más bien esto debería ser un `set` y no un campo de texto normal, y debería estar basado en un estándar como [ISCED 2011](https://en.wikipedia.org/wiki/International_Standard_Classification_of_Education#ISCED_2011_levels_of_education_and_comparison_with_ISCED_1997):

[code]

[2018-03-04 18:51] NdubuisiO commented on #1802
Hello am interested in the issue of gender. How do I proceed. Where do i experience the error first hand

[2018-03-04 18:58] lhchavez commented on #1802
we're not 100% sure how it came to be :( Maybe you can try writing a test first that tries to send invalid values like https://github.com/omegaup/omegaup/blob/3c52fe40701abbf73fef7553dee5094359ca203b/frontend/tests/controllers/UserCreateTest.php#L111-L128

but adding an email and an invalid gender.

[2018-03-04 19:28] NdubuisiO commented on #1802
Writing a test on my local dev environment?

[2018-03-04 19:30] lhchavez commented on #1802
Yes, please. That same test will then be used to validate that your change is good.

[2018-03-04 21:13] alirizwi commented on #1797
@lhchavez I want to use scorecard url and admin scorecard url in contest.edit.js file, but it seems that ```contest.scoreboard_url``` and ```contest.scoreboard_url_admin``` do not work. How can I use the scorecard urls?

[2018-03-04 21:17] lhchavez commented on #1797
Oh, right. You also need to add those two columns to https://github.com/omegaup/omegaup/blob/8855dcb75086722877a887d146402a88ba94b9d8/frontend/server/controllers/ContestController.php#L551 and remove them from [`apiDetails()`](https://github.com/omegaup/omegaup/blob/8855dcb75086722877a887d146402a88ba94b9d8/frontend/server/controllers/ContestController.php#L656), probably just with

[code]

[2018-03-04 23:14] alirizwi commented on #1797
@lhchavez Its still not working. On accessing through contest.edit.js file,  ```scoreboard_url``` and ```scoreboard_admin_url``` are returned as empty values.

[2018-03-04 23:25] lhchavez commented on #1797
Can you create a new branch (`git commit checkout -b add-administrative-links && git push origin HEAD:add-administrative-links`) and send a pull request with all the changed files? I can probably help debug that.

[2018-03-05 00:09] alirizwi commented on #1797
@lhchavez On pushing the code through VM, I am getting this error
![omegaup](https://user-images.githubusercontent.com/23309502/36952549-80e0cdb2-2037-11e8-9d53-1ee8031abceb.png)

[2018-03-05 02:04] lhchavez commented on #1797
woah, that's new! can you run `git format-patch HEAD^` and share the file
called `0001.*.patch` that is created in the `omegaup` directory next to
the `Vagrantfile`?

for now, also add the `--no-verify` flag to the `git push ...` command.

[2018-03-05 12:04] alirizwi commented on #1797
@lhchavez Please review the PR. Thanks!

[2018-03-06 15:14] lhchavez commented on #1802
Assigned to @NdubuisiO

[2018-03-06 15:15] lhchavez commented on #1804
Assigned to @randika96

[2018-03-06 21:21] CarlosCordova18 commented on #1790
Hi, @lhchavez I want to take this issue!

[2018-03-06 21:23] CarlosCordova18 commented on #1707
I've made the modifications, please give them a look.

[2018-03-07 02:45] lhchavez commented on #1803
Assigned to @SpaceWhite

[2018-03-07 02:51] SpaceWhite commented on #1790
@CarlosCordova18 I'm doing this issue @lhchavez  Can you assign this task for me?

[2018-03-07 03:43] CarlosCordova18 commented on #1750
@lhchavez  I want this one!!!

[2018-03-07 03:44] lhchavez commented on #1750
Assigned to @CarlosCordova18 !

[2018-03-07 04:24] #1707 closed

[2018-03-07 04:56] #1803 closed

[2018-03-07 05:46] #1654 closed

[2018-03-07 19:16] SMe12435 commented on #1773
@lhchavez all i have to do is use the Backend API and collect **Problems solved** and assign color according to that number, right?
P.S.  Sorry for being inactive for the last couple of days. it was due to my mid-semester examinations.

[2018-03-07 23:05] CarlosCordova18 commented on #1750
One question, where do I need to create the test for this modification?

[2018-03-08 05:06] lhchavez commented on #1750
Here's the best place to do so: https://github.com/omegaup/omegaup/blob/master/frontend/tests/controllers/UserRankTest.php there's already a bunch of tests, so copy one and modify it to fit your needs.

[2018-03-08 05:10] lhchavez opened #1816 "Los Factories en las pruebas tienen demasiados parámetros"
Similar a https://github.com/omegaup/omegaup/issues/1440, todas las demás clases de https://github.com/omegaup/omegaup/tree/master/frontend/tests/factories tienen demasiados parámetros.

Hay que arreglar esto igual que https://github.com/omegaup/omegaup/pull/1442

[2018-03-08 05:10] heduenas commented on #1773
@SMe12435 You have to get the user's rank from apiProfile() and display it using the color corresponding to it.

User's rank was introduced into apiProfile() in https://github.com/omegaup/omegaup/commit/4c3420988907ef0356c2b779358d959b90277f69

[2018-03-08 05:15] lhchavez commented on #1773
@SMe12435 no worries, your exams have way higher priority!

[2018-03-08 14:10] CarlosCordova18 commented on #1750
I've created the PR, if you can, please assign me another issue to fix :D

[2018-03-08 14:39] lhchavez commented on #1738
@CarlosCordova18 how does this one sound?

[2018-03-08 14:54] CarlosCordova18 commented on #1738
Would give this a look, assign it to me :D

[2018-03-08 15:05] lhchavez commented on #1738
Assigned to @CarlosCordova18 :D

[2018-03-08 18:07] elendil326 commented on #1663
Cerrando como "No Repro"

[2018-03-08 18:07] #1663 closed

[2018-03-09 02:31] CarlosCordova18 commented on #1738
Hi, @lhchavez with "legacy things" you mean jQuery and all the old stuff you're planning to migrate to Vue. Right?

Please review the workflow I'm creating for solving this issue, and make the corrections if needed to begin coding:
- Create the Run Details' component in `./frontend/www/js/omegaup/components/arena/`
- Modify the smarty template (https://github.com/omegaup/omegaup/blob/master/fronte

[2018-03-09 03:07] lhchavez commented on #1738
That workflow sounds good! There's an alternatitive to your second step, replace these three `{include file='arena.rundetails.tpl'}` with the div where the Vue component will be mounted and delete `arena.rundetails.tpl` altogether!

https://github.com/omegaup/omegaup/search?utf8=%E2%9C%93&q=arena.rundetails.tpl&type=

[2018-03-09 04:36] SpaceWhite commented on #1785
Can someone assign this issue for me?

[2018-03-09 05:49] #1797 closed

[2018-03-09 22:07] MiguelRomero opened #1822 "Cambiar nombre de usuario."
#Actualmente no es posible cambiar de username, pero sería ideal lograr hacerlo.

[2018-03-10 01:03] lhchavez commented on #1794
no me gustaría tocar esto hasta que el equipo de UX lo vea.

[2018-03-10 01:17] lhchavez commented on #990
necesitamos tener el backendv2.

[2018-03-10 01:24] elendil326 opened #1823 "Refactor de identidad: fase 4"
Esto es parte del feature #1300

https://docs.google.com/document/d/1COTwqOYNvuYER5jkeKZWJXxSdVn_2X-CjoDolmEiQ1Y/edit#

Cambiar Clarifications para referenciar a la identidad en vez de al usuario.

[2018-03-10 01:24] lhchavez commented on #743
Al igual que el tamaño máximo de salida, esto se puede hacer como tamaño máximo de entrada, y ponerlo como opción al crear el problema.

[2018-03-10 01:29] lhchavez commented on #914
Llevamos meses usando PHP 7 ;)

[2018-03-10 01:29] #914 closed

[2018-03-10 01:32] elendil326 opened #1824 "Pruebas de Selenium: Hacer un envío de un problema"
Como desarrollador de omegaUp, quiero poder empujar cambios con la confianza de que en el siguiente push no va a explotar todo.

## Comportamiento Esperado

Todos los escenarios core de la plataforma deberían tener coverage con Selenium y correrse cada vez que se empuja un cambio en Travis:

Enviar un problema desde la vista de problema. Hoy existen tres maneras de acceder a esta vista (tres vista

[2018-03-10 01:32] pabo99 commented on #743
1.- Crear campo (int) en DB (Problems)
2.- Cambiar la interfaz de crear/editar para pedirlo
3.- Poner el default de 10Kb (Máx)

[2018-03-10 01:33] elendil326 commented on #1644
Hello @AtharvaKhare . I have just created the issue to cover the last selenium test. Let me know if you want to work on it so I tag it appropriately.

[2018-03-10 01:34] elendil326 opened #1825 "Refactor de identidad: fase 5"
Esto es parte del feature #1300

https://docs.google.com/document/d/1COTwqOYNvuYER5jkeKZWJXxSdVn_2X-CjoDolmEiQ1Y/edit#

Cambiar Runs para referenciar a la identidad en vez de al usuario.

[2018-03-10 01:36] pabo99 commented on #1319
Queda pendiente la manera de solucionarlo

[2018-03-10 02:51] AtharvaKhare commented on #1644
Yes @elendil326 I would like to work on this issue, thanks!

[2018-03-10 02:52] AtharvaKhare commented on #1824
I will start working on this issue.

[2018-03-10 03:10] cruzjorgesalazar opened #1826 "Mejora - Boton para copiar casos"
*En el caso de un feature, provee un título en el siguiente formato:*

Como usuario de omegaUp, me gustaría un boton para copiar el caso de ejemplo con un solo click de los problemas

## Comportamiento Esperado

*Si estás sugiriendo un cambio/mejora, describe cómo debería funcionar*

Deberia ser un boton “copiar” que copie automáticamente el caso de entrada a los portapapeles

## Comportamiento Ac

[2018-03-10 03:11] lhchavez commented on #1826
no te late mejor que el botón te lleve a https://omegaup.com/grader/ephemeral/ con el caso pre-llenado?

[2018-03-10 03:45] #1785 closed

[2018-03-10 06:31] SpaceWhite commented on #1822
Should we let the user to edit email too? @lhchavez

[2018-03-10 14:03] lhchavez commented on #1822
that's a little bit trickier since we need to verify that the user does.indeed own that email address. but the idea itself is good, so maybe file another issue for it to avoid scope creep.

[2018-03-10 18:50] frcepeda opened #1828 "[BUG] El filtro por problemas en la vista de administrador no sirve si no eres admin del problema."
## Comportamiento Esperado

Cuando soy administrador en un concurso, puedo filtrar los envíos en la lista por problema.

## Comportamiento Actual

Si agrego un problema público del que no tengo permisos, no puedo filtrar los envíos de ese problema.

## Pasos para reproducir

1. Hacer un concurso.
2. Agregar un problema público del que no tienes permisos.
3. Entrar a la vista de administrador (`/ad

[2018-03-10 18:52] frcepeda opened #1829 "El filtro por problemas en la vista de administrador muestra problemas que no están en el concurso."
## Comportamiento Esperado

Cuando filtro los envíos de un concurso por problema, sólo aparecen los problemas que están en el concurso.

## Comportamiento Actual

Las sugerencias de filtros contienen todos los problemas de los que tengo permisos de edición.

## Pasos para reproducir

1. Hacer un concurso.
2. Agregar problemas.
3. Ir a la vista de administración (`/admin`).
4. Ir a Submissions.
5.

[2018-03-10 18:54] frcepeda opened #1830 "[BUG] El filtro No-AC de veredictos no funciona."
## Comportamiento Esperado

Cuando filtro los envíos de un problema por veredicto, puedo filtrar por No-AC.

## Comportamiento Actual

Al elegir el filtro no se muestran envíos.

## Pasos para reproducir

1. Hacer un concurso.
2. Agregar problemas.
3. Ir a la vista de administración (`/admin`).
4. Ir a Submissions.
5. Intentar filtrar.

[2018-03-10 19:03] frcepeda opened #1831 "Al hacer logout, no sirve el botón de login por Google."
## Comportamiento Esperado

Al estar logueado y salir de la cuenta, puedo cambiar de usuario haciendo click en el botón de login por Google.

## Comportamiento Actual

Al hacer logout, el botón de login de Google no funciona. Hace falta volver a entrar a `/login` para que funcione.

## Pasos para reproducir

1. Hacer login
2. Hacer logout
3. Desde la página `/login` donde quedaste, hacer click en

[2018-03-11 02:52] rcxr opened #1832 "OmegaUp en vez de omegaUp"
Seguí este link y el login page tiene un typo: https://omegaup.com/course/Curso-OMI/assignment/COMI-programacion

![image](https://user-images.githubusercontent.com/684205/37249035-25364026-2494-11e8-88dc-9e72e38057bd.png)

[2018-03-11 11:39] NdubuisiO commented on #1802
hello @lhchavez @samdsmx i have been trying to navigate to the folder, where user gender is validated before being stored in the database, can you please point me to the file? thanks in advance

[2018-03-11 20:42] alirizwi commented on #1725
@lhchavez I want to work on this issue.

[2018-03-11 20:55] heduenas commented on #1802
This is the controller, but I don't see any validation for gender: https://github.com/omegaup/omegaup/blob/75275f8a59da11708de2832ad3d987833c7e645f/frontend/server/controllers/UserController.php#L24

[2018-03-11 21:42] lhchavez commented on #1802
the issue _is_ the lack of gender validation. that's why it's nowhere to be found.

[2018-03-11 21:50] NdubuisiO commented on #1802
Noted, am on it.

[2018-03-12 04:33] #1832 closed

[2018-03-12 04:39] lhchavez commented on #1725
assigned to @alirizwi!

[2018-03-12 04:40] lhchavez commented on #1822
assigned to @SpaceWhite

[2018-03-12 04:59] #1822 closed

[2018-03-12 05:25] #1750 closed

[2018-03-13 04:48] cruzjorgesalazar commented on #1826
Si esta muy padre la nueva funcion para programar en internet, tiene muchas
funciones, pero creo no sustituye al boton de copiar y siguiria siendo util.

El 9 mar. 2018 9:11 p. m., "lhchavez" <notifications@github.com> escribió:

[2018-03-13 13:40] CarlosCordova18 commented on #1738
Hey @lhchavez this is what I see when entering to "Runs" on a contest which I'm the admin.
![captura de pantalla de 2018-03-13 08-37-02](https://user-images.githubusercontent.com/20785082/37344969-d4c6ffce-2699-11e8-96c4-3fe412f52e49.png)

[2018-03-13 14:45] CarlosCordova18 commented on #1738
Anyways, I managed to get into rundetails view by going to problem's run details.

[2018-03-13 17:02] elendil326 commented on #1770
@lhchavez cuál es el caso de uso aquí? No está esto ya automátizado del lado del usuario? Es decir, el usuario mismo puede soliticar el cambio de contraseña. Tengo miedo a suplantación de identidad.

[2018-03-13 19:02] pabo99 commented on #424
Revisando la descripción, se lograron identificar tres casos que se pueden solucionar:

Escenario 1: Enviar mensaje como admin a usuario en privado.

Escenario 2: Enviar un mensaje como admin a todos los participantes

Escenario 3: Enviar un mensaje como admin a nombre de un tercero (Para este caso se requiere un campo extra, además del que ya se va a crear).

Para este issue, ¿Se pretenden inclui

[2018-03-14 02:29] lhchavez commented on #1770
en teoría. en la práctica algunos servidores de correo no aceptan nuestros correos :( (como Outlook)

[2018-03-14 02:49] pabo99 commented on #1770
Sólo que hay un pequeño problema, el token se envía por correo y justo después se encripta con `SHA1`, entonces no encuentro la forma de volver a generar la liga para enviársela posteriormente, a menos que se almacene sin encriptar. ¿Que me recomiendas hacer en ese caso?

[2018-03-14 07:48] heduenas opened #1838 "QualityNominationController should check for duplicate tags"
An error should be returned if a tag appears twice in a request.

https://github.com/omegaup/omegaup/blob/5a8dad4d3053ab0b863e4959e7c5867bc29a65b4/frontend/server/controllers/QualityNominationController.php#L64

[2018-03-14 11:28] dgarvit commented on #1838
I would like to work upon this!

[2018-03-14 11:32] dgarvit commented on #1830
I would like to work upon this!

[2018-03-14 11:32] dgarvit commented on #1828
I would like to work upon this!

[2018-03-14 17:10] Yorchito opened #1839 "Como usuario quiero enterarme de la convocatoria de "Historias omegaUp 2018" para que pueda participar"
Creando issue para que se pueda agregar un banner en la página, similar a las campañas de donación de wikipedia, para que nuestros usuarios se enteren de la convocatoria de las historias omegaUp.

https://docs.google.com/document/d/16Jiqkd0T2xmNS9zvUUlAJt2rJhhWtH2L3Os9SY5MdCU/edit#

Aquí está el texto con los detalles de la convocatoria. Al principio del documento se encuentra la versión larga. Qu

[2018-03-14 20:40] dgarvit commented on #1830
Can someone help me where to begin working on this?

[2018-03-14 22:10] Yorchito commented on #1839
__________________________________________________________________________
CONTENIDO PARA EL POSTER/BANNER

¡Participa en Historias omegaUp 2018!
Comparte con nosotros cómo utilizas omegaUp en tu vida diaria.

Puedes ver la bases aquí: https://blog.omegaup.com/historias-omegaup-2018

Incentivos
Una computadora portátil HP (Modelo 15-bs001) de 15.6".
$2,000.00 pesos (MXN) para libros.

Las historia

[2018-03-15 04:17] igniteeng000 opened #1842 "[FEATURE] As a user i want the scoreboard or rank should also be sorted according to the schools and country"
Feature Request

[2018-03-15 04:25] igniteeng000 commented on #1842
I would like to work upon this.

[2018-03-15 04:37] dgarvit opened #1843 "[BUG] User who created the contest should be able to view its submissions"
### Current behaviour
User who creates a contest himself can't access the submissions of the contest (gives an error 404 on page but the console says 403 forbidden)

### Expected behaviour
User who creates the contest should be able to view its submissions

### Steps to reproduce
* Create a new contest
* Go to submissions

[2018-03-15 05:39] Sugirjan commented on #1843
I hope we can get the submissions. Did you try this?
![submissions](https://user-images.githubusercontent.com/17314165/37446022-02179d50-2841-11e8-8455-9e15974721e0.PNG)

Also, you can add '/admin' to the URL like 'https://omegaup.com/arena/ContestName/admin'

[2018-03-15 05:41] dgarvit commented on #1843
Yes I tried this. The page shows 404.
The console says error 403 FORBIDDEN.

[2018-03-15 05:45] dgarvit commented on #1843
This error happens when there is no submission so far.
I think rather than giving such an error even to the administrator, it would be better to show that no submissions have been made so far.

[2018-03-15 05:49] Sugirjan commented on #1843
First, you have to open the contest like a regular contestant. After that, you can access submissions as an admin.

[2018-03-15 06:31] dgarvit commented on #1843
Yes, I did exactly that, and got that error. Both on my local server and on
the omegaUp website.

On Thu, Mar 15, 2018, 11:19 AM Sugirjan <notifications@github.com> wrote:

[2018-03-15 12:38] dgarvit opened #1844 "Contest edit page has grammatical errors"
The input label says "Problems" but actually we can add only 1 problem at a time. Also, it does not mention anywhere that one has to only enter the problem alias.

[2018-03-15 16:08] CarlosCordova18 commented on #1738
Hi, @lhchavez or @frcepeda, do you have any view of how the cases table should look like if being OK?
I have migrated all to Vue Js except the Cases table which I don't understand very well.

[2018-03-16 03:35] #1578 closed

[2018-03-16 04:04] alirizwi commented on #1725
@lhchavez Sorry, couldn't work for last few days due to mid-semester exams in college. Am working now and will make a PR shortly.

[2018-03-16 04:11] #1831 closed

[2018-03-16 04:17] lhchavez commented on #1725
no rush, hope you did well in your exams!

[2018-03-16 04:26] lhchavez commented on #1843
on the VM if i log in as the admin user and go to http://localhost:8080/arena/prueba and register and then navigate to http://localhost:8080/arena/prueba/admin#runs , i am able to see the runs from all the users. is that not the case?

you might need to run `./stuff/bootstrap-environment.py --purge` to populate that contest with some runs, though.

in any case, i agree that having to visit the nor

[2018-03-16 04:27] lhchavez commented on #1842
Assigned to @igniteeng000 !

[2018-03-16 04:29] lhchavez commented on #1839
faltarían las traducciones a inglés y portugués, que alguien diseñe el banner y el sign-off de @npave

[2018-03-16 04:30] lhchavez commented on #1838
Assigned to @dgarvit

[2018-03-16 04:37] #1720 closed

[2018-03-16 05:18] #1844 closed

[2018-03-16 07:00] dgarvit commented on #1843
Yes, that is required. Wouldn't it be nice if we rather send something softer than 400 error? I'd suggest a page which says 0 submissions so far would be better. Your thoughts?

[2018-03-16 07:03] dgarvit commented on #1843
For visiting the page as a contestant while being an admin. I can suggest one solution. We can ask the contest owner while making the contest if he wants to participate or not, and this add the necessary functioning.
In some platforms (like some of the native ones we have built at my institute), the problem setter/owner of the contest is not allowed to give the contest. Though I agree it is a nice

[2018-03-16 14:43] lhchavez commented on #1738
what we want is each case to have an entry in that table. with the case name in the **Case** column and the verdict in the **Verdict** column. but since there are problems with lots of cases, we would like to make the list of cases for an individual group to be collapsible (and that's the way it used to show :cry: ). the groups don't have a case name nor verdict.

so when everything is collapsed,

[2018-03-16 14:53] lhchavez commented on #1843
huh, i am unable to reproduce the issue on the local VM O_O

to start we can redirect to the non-admin view instead of showing a 403. for the rest of the functionality ideally we probably want to let the admin submit runs that do not count against the scoreboard if they enter through `/admin`, but do if they enter as a normal contestant.

[2018-03-16 18:24] dgarvit commented on #1843
Yes, that sounds like a nice solution!

[2018-03-16 18:47] #1838 closed

[2018-03-16 18:56] dgarvit commented on #1830
@lhchavez can you guide me through this? I cant figure out where to begin from

[2018-03-16 19:04] dgarvit commented on #1830
I cant seem to figure out which page it is happening on. Also, I wanted to ask which function is responsible for fetching this filtered data. I found a function which counts runs by verdict, but could not find one that filters by verdict.
Also if it is working for other filters, how is it possible that it doesnt work for no-ac?

Finally, I wanted to ask what exactly does no-ac stand for and how it

[2018-03-16 19:06] lhchavez commented on #1830
@frcepeda will follow up on that. but no-ac is anything that is not `AC`. it includes, but is not limited to `WA` (e.g. it also includes `TLE`, `CE`, `RTE`, etc.)

[2018-03-16 19:08] dgarvit commented on #1830
Which function is responsible for returning the filtered results?

[2018-03-16 19:49] frcepeda commented on #1830
No-AC means _any_ other verdict than AC. Basically your filter should return something like `verdict !== 'AC'`.

[2018-03-16 19:53] alirizwi commented on #1725
@lhchavez I am getting 400 Bad request when I try to clone a contest. I have created an API `/api/contest/clone/`, added apiClone function in `ContestController.php` and made necessary frontend changes in the js and template files. Am I missing something?

[2018-03-16 20:25] frcepeda commented on #1830
The easiest way to reproduce this issue is to create a new problem, make a few submissions to it and then go to the submissions tab at the top of the page (only visible to the problem owner). The filter should appear there (see the screenshot and the URL).

![image](https://user-images.githubusercontent.com/468211/37543008-d7cb5aec-2925-11e8-9d5d-44e2e64e56d3.png)

[2018-03-17 01:22] #1802 closed

[2018-03-17 08:32] SpaceWhite commented on #1828
@frcepeda Have you tried to click the autocomplete item, it seems work in mine

[2018-03-17 08:41] frcepeda commented on #1828
The problem isn't the autocomplete items that are shown in the list, but rather the ones that aren't.

Look at the sample screenshot, where Encontrando-Anagramas is in the contest (as seen by the partially accepted submission below), but it isn't shown in the autocomplete box after typing "encontrando".

[2018-03-17 08:54] NdubuisiO commented on #1816
@lhchavez would love to understand this issue more, thanks

[2018-03-18 10:11] SpaceWhite opened #1848 "[BUG] Submissions pagination"
As an admin, I want to unable pagination when there are no submissions left on next page.

## Expected behaviour

Next page button should be disabled when there are no submissions left on the next page

## Comportamiento Actual

Admin can go to next page despite there are submissions left on the next page

## Possible solution
Request JSON twice first for obtaining current page and the second one

[2018-03-18 15:05] lhchavez commented on #1848
Seems like we have the same bug everywhere we do pagination: https://github.com/omegaup/omegaup/issues/1106 :(

[2018-03-18 15:56] avsingh999 opened #1849 "online Ide for student"
Request for new feature
## Comportamiento Esperado
online Ide for the student where the student can use ide during the contest where he can practice.And if we search for online ide so user can use.

[2018-03-18 15:56] lhchavez commented on #1849
Please follow the template

[2018-03-18 16:06] avsingh999 commented on #1849
But I am rquesting for new feature

[2018-03-18 16:07] avsingh999 commented on #1849
@lhchavez  now i am right way

[2018-03-18 16:09] lhchavez commented on #1849
Have you tried using https://omegaup.com/grader/ephemeral/ ?

[2018-03-18 16:11] avsingh999 commented on #1849
No

[2018-03-18 16:11] #1849 closed

[2018-03-18 19:34] #1073 closed

[2018-03-18 20:28] #1106 closed

[2018-03-18 23:26] lhchavez commented on #1816
The issue is that there are methods in tests, such as https://github.com/omegaup/omegaup/blob/6806ea6c24d843f909e765c6281b7d47ad6c81ce/frontend/tests/factories/ProblemsFactory.php#L88 that have _way_ too many parameters. If you try to add a new parameter, you need to add it at the very end even if it doesn't make sense there, and you need to explicitly pass in all the previous parameters if you wa

[2018-03-19 01:03] SpaceWhite commented on #1848
@lhchavez  Yes, some URLs have been fixed before, but some aren't
These are the links, I found have pagination bugs
1. `/admin` submissions
2. `/rank`
(to be added)

[2018-03-19 04:55] pabloaguilar opened #1850 "El link the "puntos para el ranking" no lleva a la vista correcta"
Como un usuario entro a ver la lista de problemas y le doy click al boton de ayuda de la coumna de "Puntos para el ranking"

## Comportamiento Esperado

Obtengo informacion sobre como se calculan puntos para el ranking.

## Comportamiento Actual

Llego a la vista de la convocatoria de historias omegaUp. Parece que el comportamiento de WordPress al recibir un link invalido es mostrar la pagina prin

[2018-03-19 13:09] SpaceWhite opened #1851 "Incorrect problem alias"
In `/arena/CONTEST_ALIAS#ranking`
Strange contest alias in scoreboard when there are more than 26 problems in a contest

## Current behaviour
Contest become character `[`, `\`, `]`, `^`, etc. This was caused by ascii incremental

## Expected behaviour
Alias bigger than letter Z should be shown as AA, AB, AC, etc

## Possible solution
Change this vue
https://github.com/omegaup/omegaup/blob/master/f

[2018-03-20 00:42] lhchavez commented on #1851
oh. yes, we only fixed that issue in some places, but not the Scoreboard :(

[2018-03-20 05:51] alirizwi commented on #1851
I want to work on this.

[2018-03-20 07:00] heduenas commented on #1850
Creo que el link correcto es https://blog.omegaup.com/el-nuevo-ranking-de-omegaup/

[2018-03-20 13:52] lhchavez commented on #1851
@SpaceWhite, did you open this issue because you had already started working on it, or can @alirizwi work on it?

[2018-03-20 23:16] warrioru commented on #1717
Hey! I'd like to contribute to this issue. I already installed the dev environment and ran the scripts to regenerate the schema and the schema bindings. An explanation like: [#1716 (comment)](https://github.com/omegaup/omegaup/issues/1716#issuecomment-366811775) would be very helpful.
So far the first steps would be to define the new Teacher role, and set the permissions on the student profile so

[2018-03-21 07:18] alirizwi commented on #1725
@lhchavez The API I created `/api/contest/clone/` is unable to handle POST requests, that's the reason I am getting 400 Bad request error, but it is able to handle GET requests. Do I need to add/change something to make it handle POST requests?

[2018-03-21 09:04] SpaceWhite commented on #1851
Sorry for the slow response, I'll fix it quick @lhchavez

[2018-03-22 03:24] lhchavez commented on #1851
Assigned to @SpaceWhite

[2018-03-22 04:10] rpjayasekara opened #1854 "User who visted a problem page cannot go back to the previous page he has vited"
From [omegaup.com/arena/problem/aldp#problems](url) user cannot go back to the previous page by using the back button.

## Expected behavior

* Once the user press the back button from a problem page redirect the previous page user has visited.

## Current Behavior

* Once a user load a problem page he cannot go back to the previous page he visited by using the back button.

## Possible solution

[2018-03-22 06:32] pabloaguilar commented on #1850
d'oh!
Gracias por la correccion!

[2018-03-23 03:53] heduenas commented on #1854
@randika96 I wasn't able to reproduce this bug. To confirm, you go to problem list, then open a problem, then click back button on browser? Also, which browser do you use?

[2018-03-23 04:06] randika96 opened #1856 "Remove old PHP cronjob for aggregating feedbacks"
Cron job for aggregating feedbacks are originally written in PHP, as the system migrated to python cron job now aggregating feedbacks are done by the python cron job. But  old PHP cron job code still exisiting

## Expected behavior

* Remove the old PHP cronjob code for aggregating feedbacks in `QualityNominations.dao.php`

[2018-03-23 11:06] lhchavez commented on #1856
assigned to @randika96

[2018-03-23 11:10] randika96 commented on #1854
I am using Firefox. Yeah once I load a problem page I cannot redirect the previous page I visited using the back button

[2018-03-23 12:29] #1851 closed

[2018-03-23 19:27] CarlosCordova18 commented on #1738
Hi @lhchavez finally I found a way to display the table correctly in Vue Js (also I learned a lot doing that).
Could you please verify if it looks good?
https://docs.google.com/document/d/17xC7YamFHKusml2KkQNNuQGnCGY389ViDLcfUKjpmPQ/edit?usp=sharing

After your confirm I will make the PR, but I need to be sure before, because everytime I re run the `vagrant up` command after restarting my laptop,

[2018-03-25 05:25] igniteeng000 opened #1858 "[Bug] On problem submission dialog box when translated in english close button works as a submit button or not work properly."
Bug report
Link [https://omegaup.com/arena/problem/aldp#problems/new-run](url)
When page is translated by google.
Modal close button does not close the modal.
It can make competition unfair for global users.

[2018-03-25 07:46] nvzard commented on #1493
I'd like to work on this issue :)

[2018-03-26 03:44] #1850 closed

[2018-03-26 04:13] #1770 closed

[2018-03-26 17:31] husseinmur commented on #1858
**# Possible solution:**
Adding this script:
`
$(".close").click(function(){
alert = function() {};
$("#overlay").hide();
});
`
It will hide the modal without viewing alert anymore.

[2018-03-27 10:51] Imraj commented on #1848
@Ihchavez I'll like to work on this and fix pagination for /admin and /rank

[2018-03-27 14:02] #1777 closed

[2018-03-27 14:03] lhchavez commented on #1848
assigned to @Imraj !

[2018-03-27 20:56] NdubuisiO commented on #1793
@lhchavez what should the strings be edited to?

[2018-03-27 21:12] heduenas commented on #1493
@lhchavez can you assign this issue to @nvzard

[2018-03-27 23:36] pabo99 commented on #1319
@lhchavez: por lo que entiendo, hay que agregar un método en el archivo `linters.py` que haga lo que está haciendo actualmente el archivo `i18n.py`. ¿Es correcto?

[2018-03-27 23:39] pabo99 commented on #322
@joemmanuel  ¿Qué tipo de pruebas se deben realizar? ¿Se tienen todos los casos de uso?, Es que no conozco en su totalidad lo que se hace en el scoreboard

[2018-03-28 02:54] lhchavez commented on #1793
let me ask around. we need help from the user experience team to finalize them in all languages.

[2018-03-28 14:02] pabo99 commented on #424
Esperando a que se haga merge del pull_request #1847

[2018-03-29 04:26] lhchavez commented on #1738
Thanks for your (once again) very detailed document!

Would it be possible to merge the column titles?

[code]

(where `v` and `A` are the "dropdown" arrows in your screenshots).

With that I think we should be good :D Have you shared the output of webpack once it gets into the bad state on Slack? We should really try to get that fixed since that sounds super annoying u_u.

[2018-03-29 04:29] frcepeda opened #1862 "Certificate error when visiting www.omegaup.com"
## Expected behavior

When I visit www.omegaup.com, either I get redirected to omegaup.com or the website loads.

## Current behavior

The current certificate served when loading www.omegaup.com is invalid.

User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/65.0.3325.181 Safari/537.36

[2018-03-29 04:42] lhchavez commented on #1862
Fixed.

[2018-03-29 04:42] #1862 closed

[2018-03-29 07:15] heduenas commented on #1773
@SMe12435 are you still working on this issue or can we assign somebody else to it?

[2018-03-29 07:16] heduenas commented on #1772
@pj1527 Are you still working on this issue or can we assign it to someone else?

[2018-03-29 07:24] heduenas commented on #1804
@randika96 are you working on this issue or we assign it to someone else?

[2018-03-29 07:26] heduenas commented on #1790
@SpaceWhite are you still working on this issue or can we assign it to someone else?

[2018-03-29 07:37] heduenas commented on #1222
Countries show up in sorted order as per https://github.com/omegaup/omegaup/pull/1861 but they still show up in English even when user language is set to Spanish, we need to fix that.

[2018-03-29 07:46] tvanessa commented on #1214
![whatsapp image 2018-03-29 at 12 45 06 am](https://user-images.githubusercontent.com/13296248/38076488-9cfa823e-32ea-11e8-86ef-6cca1a0d4d12.jpeg)
![whatsapp image 2018-03-29 at 12 44 45 am](https://user-images.githubusercontent.com/13296248/38076489-9d16608a-32ea-11e8-9aa9-02ce897f8649.jpeg)

[2018-03-29 07:50] princepurohit153 commented on #715
lhchavez i will want to work on this issue please assign me this task

[2018-03-29 07:53] heduenas commented on #1235
@lhchavez tendrás un query sql para obtener todos los problemas de libiteractive? Si le damos eso a uno de los candidatos de GSoC yo creo que pueden resolver este issue.

[2018-03-29 08:02] SpaceWhite commented on #1790
I'm working on another issue please assign this to another someone else @heduenas

[2018-03-29 08:38] randika96 commented on #1804
@heduenas I have fixed this issue

[2018-03-29 08:40] randika96 commented on #1804
https://github.com/omegaup/omegaup/pull/1811

[2018-03-29 12:26] Divyansh00 commented on #1222
In the database, only the English name of countries are stored, so to show spanish names for the country we have to add spanish name for each country

[2018-03-29 12:38] NdubuisiO commented on #1222
This link seems to have name in Spanish can you confirm  @heduenas http://www.101languages.net/spanish/country-names-spanish/

[2018-03-29 14:00] #1584 closed

[2018-03-29 14:01] #1744 closed

[2018-03-29 16:28] pj1527 commented on #1772
I would like to work on it but I am busy with few other things, if urgent you can assign someone else otherwise I can resume working on it next week.

[2018-03-29 16:46] heduenas opened #1863 "Problem page should mention creation date"
We can include it below the problem description:
"Uploaded by: CodingRush" should become "Uploaded by: CodingRush on YYYY/MM/DD"

![screenshot from 2018-03-29 09-43-09](https://user-images.githubusercontent.com/597815/38101676-cb70c984-3335-11e8-9f19-dec2605e74c3.png)