[2018-03-29 16:49] CarlosCordova18 commented on #1738
I've got it!
I'll make the PR now, hope won't have many errors.
![Done!](https://user-images.githubusercontent.com/20785082/38101812-ff4f1cb8-3346-11e8-824b-e07c73a6dcc4.png)

[2018-03-29 17:56] alirizwi commented on #1863
@heduenas I want to work on this issue.

[2018-03-29 18:16] NdubuisiO commented on #1686
@elendil326  is this the page that shows user statistics https://omegaup.com/profile/victor123, if so where is the change to be made

[2018-03-30 03:20] frcepeda opened #1865 "When editing statements in multiple languages only one is saved."
## Expected Behavior

When I edit a problem statement in multiple languages in one go, all of my changes are saved.

## Current Behavior

When I edit multiple languages of a statement, only the one currently selected when I hit submit gets saved, and the edits for other languages discarded.

## Steps to Reproduce

1. Create a problem
2. Go to the statement edit view
3. Edit one language (e.g. Span

[2018-03-30 03:55] lhchavez opened #1866 "Los correos no siempre se envían"
Como un usuario nuevo de omegaUp, quiero poder recibir el correo que se me envía para activar mi cuenta.

## Comportamiento Esperado

Recibo el correo.

## Comportamiento Actual

*A veces* no llega el correo, a pesar de que el servidor SMTP dice que sí lo recibió. Sobre todo usuarios de Hotmail / Outlook.

## Posible Solución

Pagarle a alguien para que nos garantice que se envían los correos. Y a

[2018-03-30 05:03] heduenas commented on #1772
@pj1527 we can wait a week. Thanks for working on it!

[2018-03-30 05:08] #1769 closed

[2018-03-30 05:09] heduenas commented on #1222
Yes, those are Spanish names. I think we will also need the 2 letter codes and Portuguese names.

[2018-03-30 15:33] Divyansh00 commented on #1222
@heduenas if we are using the same country codes, we can store the country name in all languages(English, Spanish and Portuguese)  separated by some delimiter(like comma) in the database and then extract the required country language by converting them to string by using split function.
This may not be optimal solution but will do the work.

[2018-03-30 20:05] heduenas commented on #1222
I think a cleaner solution would be to store the translations in the .lang files as wordsMX, wordsJP, wordsUS, etc. and let the existing localization tools do the localization for us. @lhchavez, do you think that's a good approach?

[2018-03-30 23:58] Fer-OmegaUp opened #1868 "Permitir el reuso efectivo de problemas, mostrando detalles de administrador a los creadores de concursos"
Feedback de la OMI pasada a Alan:

Cuando reusas un problema, actualmente no puedes ver las soluciones que los estudiantes mandan. Esto causa que los profesores, en lugar de reusar un problema, lo copian otra vez para utilizarlo en un concurso.

Para todos los problemas que son publicos, nos gustaria que tambien hubiera una forma de tener permisos de administrador cuando el problema se anade a un

[2018-03-31 00:01] lhchavez commented on #1868
esto aún ocurre? me suena a que hubo cargo-culting en algún punto, lo
arreglamos, pero la gente siguió con la vieja idea de que no funciona.

[2018-03-31 16:34] pacharrin opened #1869 "Como creador de problemas de karel quiero poder definir la version de libkarel estoy usando"
Cuando se actualiza libkarel los problemas viejos fallan.

Lo mejor sería que al subir un problema se guardara la versión de libkarel

[2018-03-31 16:39] lhchavez commented on #1869
esto suena como que demasiado overhead :( mejor hay que hacer libkarel backwards-compatible y listo

[2018-04-01 06:56] pabloaguilar opened #1870 "API.Session.currentSession() se llama dos veces en cada page load"
## Comportamiento Actual

(casi) Todos los page loads llaman a `API.Session.currentSession` dos veces.
Solo debería haber una llamada.

## Posible Solución

`OmegaUp._initialize` se llama en todas las llamadas a `OmegaUp.on`. Casi cualquier página registra para el evento `ready`, entonces a su vez llama a `_initialize`. Hay un flag guard en `on` pero revisa la variable `_initialized`, que nunca se

[2018-04-01 07:34] SpaceWhite opened #1871 "Facebook and twitter buttons don't show up in front page"
## Expected behaviour
Facebook (share, like) and twitter (follow) are shown in omegaup index front page `https://omegaup.com`

## Current behaviour
Facebook (share, like) and twitter (follow) are not shown in omegaup index front page `https://omegaup.com`

## Possible solution
Instead using Iframe show button as div and go to url by using javascript SDK (Sadly I don't know what caused the error :(

[2018-04-01 07:40] pabloaguilar commented on #1871
They're supposed to be shown in the footer. Do you not see then there?
I can see them with both Chrome and Firefox

On Sun, Apr 1, 2018, 12:34 AM SpaceWhite <notifications@github.com> wrote:

[2018-04-01 07:57] SpaceWhite commented on #1871
@pabloaguilar sadly no :(
![canvas](https://user-images.githubusercontent.com/15065085/38171111-c8fa966c-3560-11e8-8023-168d8e494788.png)

[2018-04-01 09:49] SpaceWhite commented on #1816
I've been working for this issue for two weeks, can someone tag this issue as assigned @lhchavez

[2018-04-01 17:51] lhchavez commented on #1871
huh, can you open the developer tools and then refresh the page? then see if any elements failed to load in the network tab of the developer tools.

maybe the resources are being blocked by your ISP :/

[2018-04-01 18:58] lhchavez commented on #1816
assigned to @SpaceWhite (but in the future please let us know when you start to avoid incidents like this one).

[2018-04-01 23:48] SpaceWhite commented on #1871
@lhchavez I can see the iframe elements exist on the page, but inside of those iframe there are no body elements. I think it is not because of my ISP, because it works on google chrome

[2018-04-02 04:05] pabloaguilar opened #1872 "[Performance bug] Botones sociales retrasan el on-load de la página"
*Como un usuario normal, quiero que la página cargue lo más pronto posible. (para disminuir bounce rates!)

## Comportamiento Esperado

La página carga en no más de un segundo.

## Comportamiento Actual

Hay muchas cosas que la hacen lenta.. pero una de ellas es que el on-load no sucede sino hasta que se cargaron los botones sociales (Twitter y FB que aparecen en el footer).

## Posible Solución

[2018-04-02 04:07] lhchavez commented on #1872
Esos se cargan con `<script>`? Si sí, podemos usar https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script#attr-async

Y gracias por investigar el PLT :D hace mucho que no le prestamos atención

[2018-04-02 05:00] SpaceWhite commented on #1871
@pabloaguilar I think that is not the problem. I have safari without addons and those buttons didn't show up

[2018-04-02 06:54] pabloaguilar commented on #1872
Desafortunadamente no son `<script>`, son `<iframe>`.
Podríamos crear los iframes en un script que sí se cargue como `async`

[2018-04-03 14:06] pabo99 commented on #1562
Duplicado del #1214

[2018-04-03 14:06] #1562 closed

[2018-04-03 16:07] dgarvit commented on #751
I would like to work upon this.

[2018-04-03 21:39] heduenas commented on #1773
@CarlosCordova18 will work on this issue.

[2018-04-04 02:45] #715 closed

[2018-04-04 06:36] heduenas commented on #1804
@lhchavez can we close this issue now?

[2018-04-04 06:42] heduenas commented on #1863
@alirizwi let me know if you have any questions about this issue.

[2018-04-04 06:42] heduenas commented on #1856
@randika96 Any updates on this issue?

[2018-04-04 07:00] heduenas commented on #786
I think it's just a matter of logging whenever a problem becomes private.
An example of logging is in https://github.com/omegaup/omegaup/blob/f25f768ddb6f9066eb9549a1ebc6dbcb3e345a58/frontend/server/controllers/InterviewController.php#L63

I'm going to ask @tahirs95 to solve this issue.

[2018-04-04 07:10] SpaceWhite commented on #1871
@pabloaguilar @lhchavez I found that this was caused by tracking protection in the browser https://developer.mozilla.org/en-US/Firefox/Privacy/Tracking_Protection?utm_source=mozilla&utm_medium=firefox-console-errors&utm_campaign=default.

[2018-04-04 08:09] SpaceWhite opened #1878 "Potential CSRF and XSS in problem statement"
## Current behaviour
Problem statement reproduced by markdown html is not encoded, so that anyone can input a malicious html code in the problem statement

## Expected behaviour
Problem statement should be encoded to prevent CSRF

## How to reproduce this issue
1. Create a problem
2. Input html code like `<script>`, `<img>`, `<script>` into the markdown
3. View the problem

Currently not all XSS c

[2018-04-04 08:10] SpaceWhite commented on #1878
@lhchavez I think this should be solved ASAP :(

[2018-04-04 08:36] SpaceWhite opened #1879 "Potential CRSF and XSS in problem title"
This issue security bug is similar to #1878
## How to reproduce
1. Create a problem
2. Input the problem title with potential malicious code like `<form>`, `<script>`, etc
3. Access `http://domain.com/problem` and see problem title

## Current behaviour
After the title was filled with malicious code, the title will display that malicious code which can cause CRSF and XSS. However XSS will not work

[2018-04-04 13:17] lhchavez commented on #1878
Fortunately our CSP rules are a bit more robust than that and don't allow for the PoC you mention:

[code]

It's still something we do want to fix ASAP because even though the whitelisted domains do their fair share of XSS protection (like escaping output that could be interpreted as JS), we don't have a guarantee that they won't drop the ball like the twitter analytics callback.

Thanks for repor

[2018-04-04 13:58] #1879 closed

[2018-04-04 16:46] randika96 commented on #1856
@heduenas Sorry for delay. I am very busy in these days as my semester coming to end and I am working on my semester project and from tomorrow it self reading week is going to start as end exam scheduled on 23rd of April to 2nd of May. I have done this I ll make a pr within this week

[2018-04-04 18:52] heduenas commented on #1856
Thanks for the update @randika96 and good luck with the exams!

[2018-04-04 22:32] heduenas commented on #1773
Respuestas a la segunda y tercera preguntas:
* Si, `<span>` y le pones una clase css dependiendo de su rank.
* No se si es la unica, pero yo diria que si es suficiente con probar diferentes ranks en alguna de las vistas y verificar que se muestra como se espera.

[2018-04-05 01:22] SpaceWhite opened #1883 "Open redirect vulnerability in login page"
Sample malicious url `https://omegaup.com/login/?redirect=https%3A//www.example.com/`
## Current behaviour
Redirect URL is not filtered, so that users are vulnerable to phising attack

## Expected behaviour
Redirect URL should be only available with only `omegaup.com` domain

## Possible solution
Add redirect validation in https://github.com/omegaup/omegaup/blob/0f63ff8b4c477155b2231ab4f79e1eb66e6

[2018-04-05 02:39] frcepeda opened #1884 "Los veredictos de problemas viejos son inconsistentes"
## Comportamiento Esperado

Para un problema viejo, si envío un código que mandé con anterioridad, obtengo el mismo veredicto.

## Comportamiento Actual

Los veredictos varían con el tiempo. Parece ser por el cambio de graders/backend/libinteractive, aunado a límites de tiempo justos (que usualmente es por diseño de los problemas).

Ejemplo: https://omegaup.com/arena/problem/OMI-2016-Fiesta-Piscin

[2018-04-05 03:56] lhchavez commented on #1883
Good job on the security issues!

[2018-04-05 12:31] #1738 closed

[2018-04-06 01:02] SpaceWhite opened #1885 "Inconsistent internationalization"
## Current behaviour
omegaup shows different languages when anonymous user show random user profile
If anonymous user shows a user profile with spanish as default then whole page shows spanish, as well as english and portuguese

## Expected behaviour
Omegaup should only shows 1 language as default

## How to reproduce
1. Create an user with spanish as default language
2. Create an user with englis

[2018-04-06 05:44] SpaceWhite commented on #1830
Is someone still working on this? If not can someone assign me this issue? @lhchavez

[2018-04-06 05:50] dgarvit commented on #1830
I am working on this.

[2018-04-06 11:35] SpaceWhite commented on #1222
@heduenas Do you think #1861 is working. In the docs it states that the return of `sort` function is either true or false. So I think it is still not working http://php.net/manual/en/function.sort.php#refsect1-function.sort-returnvalues. And it seems like this issue has not been assigned to anyone else. Can someone assign me this issue?

[2018-04-06 11:52] SpaceWhite opened #1887 "Arena for anonymous user"
## Current behaviour
Anonymous user (not logged in user) are able to see "Recommended current contest", "Recommended past contest", "My contest" option in `https://omegaup.com/arena/`

## Expected behaviour
Those tab should be hidden because it is strange to have recommended contests, and my contest shown to anonymous user

## Possible solution
Add condition statements `$LOGGED_IN === '1'` in thes

[2018-04-06 11:58] SpaceWhite opened #1888 "Glitch when anonymous user visit course"
## Current behaviour
When anonymous user (not logger in user) visit `omegaup.com/course` page, user will be redirected to login page, but there is some UI glitch on redirection

## Expected behaviour
There should be no glitch on redirection

[2018-04-06 12:38] #1871 closed

[2018-04-06 13:59] lhchavez commented on #1858
oh! we hadn't considered the case where someone would want to use google translate on the arena itself D:

thanks for bringing this up!

[2018-04-06 21:48] heduenas commented on #1222
@SpaceWhite What I understand from the link that you shared is that sort() does sort the array and additionally "returns TRUE on success or FALSE on failure". So, from that perspective, I don't see issues with #1861. However, we still need to fix the localization part of this issue.

[2018-04-06 21:53] heduenas commented on #1887
@npave, from your perspective should we hide contests from anonymous users?

[2018-04-07 00:39] SpaceWhite commented on #1222
@heduenas But the for looping is using that sort return value (true/false) as looping array. I think this would be help https://ideone.com/AZZsJz.

[2018-04-07 06:28] heduenas commented on #1222
You are right the code is assuming the return value (true/false) of the sort() function is the sorted data itself. However, I just noticed that the sort function in #1861 seems to be being used smarty template file, that means it's not php. I'm not sure how that sort() function works in smarty however. The best thing to do I think would be to just test it out, the change should be in sandbox.omega

[2018-04-07 06:31] heduenas commented on #1222
X_X the list of countries seems to be empty in the sandbox. @lhchavez sandbox has the list of countries populated in the DB, right? If so, we need to get this fixed (or at least reverted) quick.

[2018-04-07 14:13] lhchavez commented on #786
Dupe de https://github.com/omegaup/omegaup/issues/572

[2018-04-07 14:13] #786 closed

[2018-04-07 14:15] lhchavez commented on #1868
ping @Fer-OmegaUp . hay repro en https://sandbox.omegaup.com?

[2018-04-07 14:17] lhchavez commented on #1863
audit log: changed the date format from a US-centric "month, day, year" to a more international and unambiguous "YYYY/MM/DD"

[2018-04-07 14:24] lhchavez commented on #1828
Dupe of https://github.com/omegaup/omegaup/issues/1829

[2018-04-07 14:26] lhchavez commented on #1829
Lo que necesitamos hacer es en vez de poblar el `typeahead` usando datos obtenidos de `apiList`, darle la lista local de problemas y que opere a partir de ellos. Ejemplo: https://twitter.github.io/typeahead.js/examples/

[2018-04-07 14:35] #1816 closed

[2018-04-07 14:42] #1804 closed

[2018-04-07 14:43] lhchavez commented on #1790
Marking as available

[2018-04-08 01:11] #1725 closed

[2018-04-08 09:26] SpaceWhite opened #1891 "Pseudo language option should only be shown to user in developer/sandbox environments"
## Current behaviour
In `omegaup/profile/edit` pseudo language is available

## Expected behaviour
This option should be disable because it is just an i18n identifier

[2018-04-08 14:43] lhchavez commented on #1891
It's still useful for developers and for people trying to report bugs while reproing in https://sandbox.omegaup.com

[2018-04-08 14:48] #1686 closed

[2018-04-08 16:51] heduenas commented on #1891
So we should show it in local environments and sandbox, but not in prod.

On Sun, Apr 8, 2018, 07:43 lhchavez <notifications@github.com> wrote:

[2018-04-08 19:43] heduenas opened #1892 "Add tooltip with total number of submissions and total number of accepted submissions in problem page"
Previously we had those two fields as columns in the problem view. Then they were replaced by the quality and difficulty values in: https://github.com/omegaup/omegaup/pull/1530/files

We should add them back as a tooltip when the user hovers the 'Ratio' cell.

[2018-04-08 19:47] heduenas opened #1893 "Overlay AC submissions in the home page graph"
It'd be nice to have a graph with the total number of AC submissions over time. Just like we do for total number of submissions.

![screenshot from 2018-04-08 12-45-05](https://user-images.githubusercontent.com/597815/38471781-d4ccb0b8-3b2a-11e8-81ee-22d641e839c5.png)

[2018-04-08 19:50] lhchavez commented on #1892
In principle I'm a bit against tooltips because they are not very discoverable and also (typically) have bad usability experience :(

Is it the only way we can achieve this?

[2018-04-08 19:55] lhchavez commented on #1893
how about a toggle/select instead of having two graphs?

[2018-04-08 20:14] heduenas commented on #1892
We could add those columns back, that might be too many columns and overwhelming to the user?
Or having the capability of letting the user choose which columns they want to see. That is much costlier but solves a bigger problem that may be worth solving?

@npave What do you think about this issue?

[2018-04-08 20:16] heduenas commented on #1893
I think having both graphs on the same canvas would be ideal, but toggle/select would also be fine.

[2018-04-08 20:30] heduenas commented on #1893
Last time I checked ~35% of all submissions were AC (this surprised me, I also expected it to be much smaller). Can you check if that still holds? If it does, having both graphs on the same canvas should work well.

[2018-04-08 20:48] lhchavez commented on #1893
oh wait, you meant overlaying both time series in the same graph? okay, that makes a lot more sense now.

yes, the ratio is still the same (which is what i assumed what would happen in the above comment).

[2018-04-09 01:26] lhchavez commented on #1740
El backend ha sido actualizado! `vagrant provision` debería traer el nuevo backend y ya debería entender el concepto de problemsets.

[2018-04-09 02:06] samdsmx opened #1894 "La tabla de Submission_Logs tiene los registros duplicados para antes del 2016"
Comparando los datos en la tabla de Runs y Submissions_Log encuentro que para los años 2012, 2013, 2014 y casi todo el 2015 el conteo de registros es exactamente el doble de lo obtenido en la tabla de Runs. A partir del 2016 los registros van 1:1.

Propondria depurar eliminando los duplicados de la tabla submission_log.

[2018-04-09 02:07] lhchavez commented on #1894
eliminar cosas es peligroso. contrasugerencia: post-procesamiento de los datos.

[2018-04-09 20:24] haggal7 opened #1895 "No podemos ver los códigos que subimos a OmegaUp para ser evaluados."
## Comportamiento Actual

Como usuario, si quiero revisar los detalles de un codigo enviado, pero no soy admin del problema, y no puedo ver mis soluciones enviadas.

No podemos ver los códigos que hemos subido a OmegaUp para ser evaluados. No nos permite tener acceso a ellos, ya que, después de una evaluación, al oprimir el botón de "detalles" para conocer las razones de la evaluación, la pantalla

[2018-04-10 03:26] lhchavez opened #1897 "Agregar prueba de Selenium para ver códigos enviados"
Como desarrollador de omegaUp, quiero no tener regresiones cuando se modifica algo de la arena. Recientemente hubo una regresión https://github.com/omegaup/omegaup/issues/1895 que no se atrapó por no haber tenido suficiente cobertura en las pruebas de Selenium. El hotfix se tuvo que hacer sin pruebas porque Travis no cooperó.

## Comportamiento Esperado / Posible Solución

Tener una prueba similar

[2018-04-10 03:44] #1895 closed

[2018-04-10 07:37] npave commented on #1887
That is right, the tab "My contest" should not be displayed for anonymous users. However, the other tabs ("Recommended current contest", "Recommended past contest") don't have to be hidden, they are recommended contests in general, they don't have relation with the users' activity and they can be a selling point if new users come and see that we have interesting contests.

[2018-04-10 07:44] npave opened #1900 "No mostrar My Score en la lista de problemas para usuarios sin login"
Como un usuario sin login no tiene sentido ver la columna _My Score_ en la lista de problemas.

## Comportamiento Actual

Se muestra la columna My Score independientemente de que se tenga login o no.

[2018-04-10 07:53] npave commented on #1892
What about adding this information between parenthesis on the ratio column? Then we don't have to add more columns and it will be perfectly visible for the users.

[2018-04-10 13:32] lhchavez commented on #1892
sold!

[2018-04-10 13:39] lhchavez commented on #1894
si ya le diste un audit manual y hay una manera de limpiar la tabla sin riesgo de tal manera que al final nos quedemos únicamente con los registros que queremos y se puede ejecutar en un solo comando SQL, haz un script de migración en https://github.com/omegaup/omegaup/tree/master/frontend/database

si no, igual haz un script de migración para cambiar el comentario de la tabla.

[2018-04-10 19:30] yoniihdc commented on #1829
Puedo trabajar en este issue si aun no esta asignado a alguien?

[2018-04-10 19:42] lhchavez commented on #1829
Asignado a @yoniihdc

[2018-04-11 01:43] tvanessa commented on #1214
It seems that it's not working
![index](https://user-images.githubusercontent.com/13296248/38591739-15141210-3ced-11e8-8e89-74bea28f2331.jpeg)

[2018-04-11 01:50] SpaceWhite opened #1902 "System admin potential CSRF target on change password API"
## Current behaviour
Currently admin can directly change user password without any additional authentication (such as old_password, captcha, etc). This can be used as a target of CSRF.

Example: omegaup.com/api/user/changepassword?user=user1&password=maliciouspass

## Expected behaviour
There should be some additional authentication (maybe captcha) to mitigate CSRF when admin want to attempt passw

[2018-04-11 02:31] lhchavez commented on #1902
welp

[2018-04-11 02:45] lhchavez commented on #1902
Turns out this particular API is only used in one place, and we already have a better alternative when there is a previous interaction with the support team, so don't need it anymore \o/ but our APIs still don't have any CSRF protection, which is kind of scary. I'll fix this quickly (by simply not using this API at all) and open a new one to enable CSRF protection across the board.

[2018-04-11 03:26] lhchavez opened #1905 "[BUG] Agregar protección de CSRF al API"
Como usuario de omegaUp, me gustaría que no fuera posible hacer click en un link malicioso que hiciera algo por mí sin mi autorización en omegaUp.

## Comportamiento Actual

Si hago click en un link  arbitrario, es posible mandar llamar un API de omegaUp. Esto es porque todas las APIs aceptan ser llamadas usando únicamente la cookie sin mayor validación posterior.

## Comportamiento Esperado

Si h

[2018-04-11 04:07] #1902 closed

[2018-04-11 08:17] pabloaguilar commented on #1740
(perdon por llegar tarde a comentar)
Que no el fix deberia ser solo quitar la llamada a `events` cuando `arena` no haya recibido un `contest_alias`? Esto porque los casos de uso de cursos y de entrevistas no tienen por que recibir eventos, que yo sepa, solo voy a ver mis soluciones, y no la de otros participantes.

[2018-04-11 13:40] elendil326 opened #1907 "Refactor de identidad: Fase 6"
Esto es parte del feature #1300

https://docs.google.com/document/d/1COTwqOYNvuYER5jkeKZWJXxSdVn_2X-CjoDolmEiQ1Y/edit#

La tabla Auth_Tokens también necesitaría tener la columna identity_id, y user_id ahora podría estar vacío (lo cual permite que un usuario cambie entre todas sus identidades). La tabla User_Login_Log se renombraría a Identity_Login_Log y tendría un cambio similar.

[2018-04-11 13:42] elendil326 opened #1908 "Refactor de identidad: Fase 7"
Esto es parte del feature #1300

https://docs.google.com/document/d/1COTwqOYNvuYER5jkeKZWJXxSdVn_2X-CjoDolmEiQ1Y/edit#

Las tablas Problem_Viewed, Problemset_Access_Log,  Problemset_Problem_Opened ahora deben referenciar a la identidad en vez de al usuario.

[2018-04-11 13:44] elendil326 opened #1909 "Refactor de identidad: Fase 8"
Esto es parte del feature #1300

https://docs.google.com/document/d/1COTwqOYNvuYER5jkeKZWJXxSdVn_2X-CjoDolmEiQ1Y/edit#

La tabla Submission_Log debe referenciar tanto usuario como identidad, para poder mostrar en la lista de eventos de un concurso cuando un envío se hizo utilizando una identidad pura o un usuario.

[2018-04-11 13:48] elendil326 opened #1910 "Refactor de identidad: Fase 9"
Esto es parte del feature #1300

https://docs.google.com/document/d/1COTwqOYNvuYER5jkeKZWJXxSdVn_2X-CjoDolmEiQ1Y/edit#

**Front end**

Un organizador que desee crear identidades necesita crear un grupo de usuarios y subir un .csv con los nombres que se deseen desplegar en los scoreboards / concentrados de usuarios, al igual que los nombres locales y opcionalmente columnas de país, estado, escuela

[2018-04-11 13:50] elendil326 opened #1911 "Refactor de Identidad: Fase 10"
Esto es parte del feature #1300

https://docs.google.com/document/d/1COTwqOYNvuYER5jkeKZWJXxSdVn_2X-CjoDolmEiQ1Y/edit#

**Backend**

Se necesitaría cambiar el inyector de envíos y el Broadcaster, que hacen referencia a la tabla Users, a que hagan referencia a la tabla Identity.

[2018-04-11 13:52] elendil326 opened #1912 "Refactor de Identidad: Fase 11"
Esto es parte del feature #1300

https://docs.google.com/document/d/1COTwqOYNvuYER5jkeKZWJXxSdVn_2X-CjoDolmEiQ1Y/edit#

**Experiencia de Usuario**

La interfaz de administración de grupo necesitaría tener una pestaña para hacer la administración de las identidades asociadas con el grupo, subiendo un archivo en formato .csv como se especifica arriba. También en la sección de perfil del usuario serí

[2018-04-12 05:42] frcepeda commented on #1868
(Disclaimer: esto es lo que yo entendí del issue, pero estamos jugando al teléfono descompuesto, creo.)

Este issue no es trivial porque el comportamiento es por diseño.

Supongamos que el usuario A crea un problema cool (por ejemplo, un problema de una OMI pasada). Ahora, el usuario B quiere usar el problema en su concurso/curso, pero no tiene permisos de administrador. Como quiera, hace su concu

[2018-04-12 19:06] pacharrin opened #1914 "El certificado de https://arena.omegaup.com es inválido"
Como creador de concursos necesito poder entrar a arena.omegaup.com para poder limitar el acceso.

Comportamiento esperado: poder entrar.
Comportamiento actual: no me deja entrar porque dice error de certificado.

![image](https://user-images.githubusercontent.com/848246/38698446-b1eb399c-3e5a-11e8-927a-9ec0aa8d74e5.png)

Tambien si entras por no https te hace redireccion a omegaup.com sin arena

[2018-04-13 01:07] elendil326 commented on #1869
Cerrando ya que es más fácil que libkarel sea backward-compatible, además se adhiere a las normas de código.

[2018-04-13 01:07] #1869 closed

[2018-04-13 01:08] elendil326 commented on #1870
Esto es browser-independent

[2018-04-13 01:10] lhchavez commented on #1878
El código que convierte [Markdown a HTML](https://github.com/omegaup/pagedown) debería de quitar los tags peligrosos.

[2018-04-13 01:18] lhchavez commented on #1800
Para este sprint, únicamente hay que agregar usuarios y cursos.

[2018-04-13 01:26] SpaceWhite commented on #1878
@lhchavez  Actually pagedown has sanitizeTag function implemented https://github.com/omegaup/pagedown/blob/b3b3cab1c4c118faceac330a4a8813c925e3fab4/Markdown.Sanitizer.js#L30.

[2018-04-13 02:54] #1883 closed

[2018-04-13 04:13] alanboy commented on #1756
De talent land: considerar en este tema, como es que vamos a notificar a los usuarios que no estan enganchado actualmente para que regresen a ver nuevos concursos recomendados.

"Notificaciones via correo de nuevos concursos recomendados (de omegaUp)"

[2018-04-13 04:46] #1778 closed

[2018-04-13 05:05] lhchavez commented on #1878
Argh, good point, I messed up the link. It should have pointed to https://github.com/omegaup/omegaup/blob/master/frontend/server/libs/third_party/Markdown/markdown.php (this is the one used prior to saving the HTML to disk) instead of https://github.com/omegaup/pagedown (this is only used to preview).

Maybe we should stop pre-rendering the HTML version and always use the JS one? It might be bette

[2018-04-13 09:44] dgarvit opened #1917 "Preferred programming language should have full language names on profile edit page"
## Current behaviour

Preferred programming language on `profile/edit` page has a list of languages with only language extensions (eg: py for Python).

## Expected behaviour

Preferred programming language on `profile/edit` page has a list of languages with complete names of languages.

[2018-04-13 09:45] dgarvit commented on #1917
I would like to work on this.

[2018-04-13 09:51] dgarvit commented on #1887
I agree with @npave .
I would like to work on this issue if no one is working on this.

[2018-04-13 09:53] dgarvit commented on #1891
I agree with you @heduenas
So are we finally planning to implement this feature? I would like to work on this

[2018-04-13 14:03] #751 closed

[2018-04-13 19:32] #1888 closed

[2018-04-13 20:01] dgarvit commented on #1891
Okay, so my approach to this was to check if `OMEGAUP_DEVELOPMENT_MODE` is `true`, and if it is, then make pseudo language option available.

First I tried injecting php code directly into the template, but smarty does not allow it unless a setting is enabled. And php code in templates is anyways not a good practice.

So I edited the controller, and created a dictionary of the entries in the php v

[2018-04-13 21:38] dgarvit commented on #1891
I got it. This is because this requires smarty to compile the template again. I think in-template script is a better option then?

[2018-04-13 21:42] dgarvit commented on #1863
Can I take this if no one is working on this?

[2018-04-13 21:55] dgarvit commented on #1885
That's an interesting bug!
So which language should we set as default?

[2018-04-14 00:18] SpaceWhite opened #1920 "User without authorization can clone contest"
## Current behaviour
User without authorization to access other person private contest, can create clone contest by only providing `contest_alias`

## Expected behaviour
Before clone a contest, check if the contest is available to the user

## Possible solution
Add `self::canAccessContest` function to here
https://github.com/omegaup/omegaup/blob/3696e0adeafd710cde61bed1bffb7303a8bb97fb/frontend/se

[2018-04-14 00:28] SpaceWhite commented on #1878
@lhchavez Yes, I think that would be a good idea. Rendering the problem_statement from JS like the redaccion.php. So the API will be called twice when user want to view the problem? (First : Call the API in tpl (to retrieve problem details without problem statement), Second : Call the API in vue (to retrieve problem statement)

[2018-04-14 00:32] lhchavez commented on #1885
Since the vast majority (90%+) of our users don't speak English, I don't think it would be a good default :( We are already attempting to get a good default here: https://github.com/omegaup/omegaup/blob/3696e0adeafd710cde61bed1bffb7303a8bb97fb/frontend/server/bootstrap.php#L260

and here's the source of that function: https://github.com/omegaup/omegaup/blob/b7ac1f5eb38bf585d35fdd3e4506959d6ac76bb7

[2018-04-14 00:40] lhchavez commented on #1885
oh nevermind, it's because we're passing `$userRequest` in bootstrap.php, which attempts to resolve the user mentioned by the request. When there is no session, we keep whatever value of `username` was passed into the parameters. So we just need to clean that value in L256 :D

[2018-04-14 04:06] #1914 closed

[2018-04-14 05:27] dgarvit commented on #1920
I would like to work on this!

[2018-04-14 05:54] dgarvit commented on #1920
@SpaceWhite can you provide steps to reproduce this?

[2018-04-14 06:11] SpaceWhite commented on #1920
@dgarvit You can reproduce this by calling clone api with private `contest_alias` that you have no access to. Details:
1. User 1 login, create new private contest
2. User 1 logout, User 2 login
3. Trigger api clone with user 2 credential, with user 1 private contest alias

[2018-04-14 10:43] alirizwi commented on #1863
@dgarvit I am working on this issue. Couldn't update the PR due to end semester exam preparations, will do shortly.

[2018-04-14 12:59] dgarvit commented on #1863
Alright. :)

On Sat, Apr 14, 2018, 4:13 PM Mohd Ali Rizwi <notifications@github.com>
wrote:

[2018-04-14 13:55] lhchavez commented on #1914
https://arena.omegaup.com ya está operacional de nuevo. Se perdió en la migración de AWS :(

[2018-04-14 14:48] #1887 closed

[2018-04-14 23:51] #1891 closed

[2018-04-15 07:31] SpaceWhite opened #1926 "i18n in submission graph"
## Current behaviour
Run chart / graph in omegaup index page shows Spanish legend (Envios totales)

## Expected behaviour
Chart should display language based on the i18n chosen

[2018-04-15 08:00] SpaceWhite opened #1927 "[BUG] Dates like `0000-00-00` render oddly in the profile"
Sample picture:
![screenshot-omegaup com-2018-04-15-03-55-17](https://user-images.githubusercontent.com/15065085/38776184-f612c9fc-4060-11e8-91a3-244e7e0cc80a.png)

As you can see the graduation date is minus.
This was caused because of difference minimum date in PHP and javascript
In Javascript the minimum date is `01 January 1970` http://ecma-international.org/ecma-262/5.1/#sec-15.9.1.1 And in P

[2018-04-15 22:41] CarlosCordova18 opened #1931 "Como usuario quiero que el tiempo de ejecución del algoritmo sea más preciso."
## Comportamiento Esperado

Hay problemas, como el caso de [Sumas](https://omegaup.com/arena/problem/sumas#problems), donde el tiempo de ejecución es tan corto que bordea las centésimas o milésimas de segundo. Si como usuario, quisiera mejorar mis tiempos para entrar a la tabla de *"Mejores envíos"*, no habría forma de saber en cuanto he de reducirlos para poder estar ahí ya que lo único que puedo

[2018-04-15 23:06] SpaceWhite opened #1932 "Users without join private contest authorizatipm are able to create clarification"
## Current behaviour
Users are able to create clarification with private contest_alias and private problem that they don’t have access to

## Expected behaviour
API in clarification controller should also check whether if the user has access to private contest or not

## Possible solution
Call ContestController::canAccessContest function in
https://github.com/omegaup/omegaup/blob/15b0810f6512da906

[2018-04-15 23:09] SpaceWhite commented on #1932
I think it would be better to also move canAccessContest and isInvitedToContest function from ContestController to Authorization lib.
@lhchavez What do you think?

[2018-04-16 01:27] lhchavez commented on #1931
Lamentablemente si mostramos más precisión, entramos al nivel del ruido. Las ejecuciones pueden cambiar por un montón de cosas fuera de tu (o nuestro!) control. Si ese día estaba haciendo más calor en el data center, si los archivos habían sido leídos hace poco tiempo, si llegaron más paquetes al servidor que estaba corriendo el código, si hubo una actualización fuera de banda, etc.

Intentamos mi

[2018-04-16 01:45] CarlosCordova18 commented on #1931
Daaaa, tiene sentido.
Entonces no habría forma de resolver esto :/

[2018-04-16 01:46] lhchavez commented on #1931
Sí, lo siento :( es un problema más o menos fundamental que no tiene una solución que dejaría contentos a todos.

[2018-04-16 01:46] #1931 closed

[2018-04-16 14:00] lhchavez commented on #1932
Yes to everything @SpaceWhite said. You keep finding all sorts of obscure bugs!

Assigned to @dgarvit (but keep in mind you already have two other issues assigned. please prioritize finishing those first).

[2018-04-17 02:46] #1773 closed

[2018-04-17 03:27] #1823 closed

[2018-04-17 04:43] #1920 closed

[2018-04-17 13:09] CarlosCordova18 commented on #1907
Hola, me interesa resolver este issue, pero quiero saber si lo tengo claro.

Básicamente lo que se pide es:
- En la tabla Auth_Tokens, se agregue el campo identity_id NOT NULL y el user_id ya no tenga la restricción NOT NULL
- La tabla User_Login_Log ahora sea llamada Identity_Login_Log y se agregue el campo identity_id NOT NULL y el campo user_id ya no tenga la restricción NOT NULL.
- Modificar l

[2018-04-17 13:17] CarlosCordova18 commented on #1790
@lhchavez este issue aún no está resuelto? Si es así, puedo tomarlo yo?

[2018-04-17 13:49] SpaceWhite commented on #1790
@CarlosCordova18 Actually I’ve coded this issue. I’ll make PR tomorrow :).

[2018-04-17 14:16] CarlosCordova18 commented on #1790
Oh, okay :D

[2018-04-17 19:36] CarlosCordova18 commented on #1907
Hola!

Me interesa colaborar con este Issue, **¿podrían darme más información sobre lo que hay que hacer?**

Hasta ahora, tengo entendido que es lo siguiente:
- Modificar la tabla Auth_Tokens agregando la columna identity_id NOT NULL y quitando la restricción de NOT NULL  a la columna user_id.
- Modificar la tabla User_Login_Log, renombrándola a Identity_Login_Log, quitándole la restricción NOT NU

[2018-04-17 20:50] jofeque opened #1936 "Lista de problemas extendida"
Al ver la lista de los problemas, sale una lista extendida que incluye a problemas duplicados hasta 5/7 veces

## Pasos para reproducir (para bugs)

1. Logearse normalmente
2. Ir al menú principal, seleccionar la opción Problemas de Problemas

Estoy usando Windows 10 y Chrome

[2018-04-17 21:52] pabo99 commented on #325
@joemmanuel, @lhchavez: ¿ya se tienen los detalles de este issue?

[2018-04-17 22:06] elendil326 commented on #1907
@CarlosCordova18, este issue está asignado a tí

[2018-04-18 02:47] #1936 closed

[2018-04-18 05:37] #1917 closed

[2018-04-18 21:55] yoniihdc commented on #1826
@lhchavez me puedes asignar este feature 😄

[2018-04-19 01:44] lhchavez commented on #1826
Asignado a @yoniihdc !

[2018-04-19 02:09] #1829 closed

[2018-04-19 02:32] pabo99 commented on #1498
@lhchavez, ¿Me puedes explicar cómo hacer el cambio en https://github.com/omegaup/puppet por favor?

[2018-04-20 04:42] yoniihdc commented on #1826
Nada mas para confirmar cual seria el **accepted criteria** de este feature?
* Mantener en el clipboard la entrada de ejemplo
* Abrir el **grader** con los ejemplos preconfigurados (input, output)

o ambas? - Creo que como tarea inicial podria intentar el de crear la copia en el clipboard y el segundo paso seria redireccionar al grader.

[2018-04-20 04:44] lhchavez commented on #1826
con mandar la entrada de ejemplo al clipboard basta por ahora :) luego vemos cómo abrir el ephemeral grader con los casos de ejemplo.

[2018-04-21 03:55] lhchavez commented on #1907
@CarlosCordova18 qué pasa si ejecutas

[code]

? También hay que buscar [`AuthTokensDAO`](https://github.com/omegaup/omegaup/search?utf8=%E2%9C%93&q=AuthTokensDAO&type=) y [`AuthTokens`](https://github.com/omegaup/omegaup/search?utf8=%E2%9C%93&q=AuthTokens&type=) (este último únicamente aparece en dos lugares, afortunadamente).

Si quieres puedes hacer primero lo de AuthTokens y luego en un cambio

[2018-04-21 14:08] CarlosCordova18 commented on #1907
Ok, cuando ejecuto el script que me dices, se generando el schema y mostrando por el terminal. Yo lo que traté de hacer es copiarlo directamente en `schema.sql` agregándole al script lo siguiente:
`> /opt/omegaup/frontend/database/schema.sql`.

Luego intenté ejecutar de nuevo el script anterior y funcionó `./stuff/database_schema.py fix --all-files`.
Después ejecuté el script `./stuff/update-dao.s

[2018-04-21 23:27] heduenas opened #1940 "Add field for tag list in problem creation view"
When creating a new problem, user should be asked (**but not forced**) to specify a list of tags for the problem. Right now that's only possible when editing a problem.

This is the problem creating view:
![image](https://user-images.githubusercontent.com/597815/39089596-f5cc2c12-457f-11e8-8b55-1fa67aebd46b.png)

We want to include the a list of tags like this:
![image](https://user-images.githubu

[2018-04-21 23:32] Fer-OmegaUp commented on #1868
esto sigue bloqueado?
@lhchavez

[2018-04-22 00:12] Fer-OmegaUp opened #1941 "Cuando abro el curso de la OMI, me pregunta Si/No, sin mas contexto"
![image](https://user-images.githubusercontent.com/32756142/39089971-2df6d86a-4587-11e8-93f0-eb4297f00572.png)

Si y No de que?

[2018-04-22 13:37] lhchavez commented on #1868
no hay necesidad del mention, me llegan todas las notificaciones.

no, lo único que hay que hacer es cambiar https://github.com/omegaup/omegaup/blob/b2f7696d41dce4b329ec3f64dab25ef9c12f84b4/frontend/server/controllers/RunController.php#L619 por

[code]

[2018-04-22 13:47] lhchavez commented on #1927
From [ECMA-262 5.1 edition §15.9.1.1](http://ecma-international.org/ecma-262/5.1/#sec-15.9.1.1):

That's still 273,972 years, so the minimum date in JavaScript is somewhere around −272,002 B.C.

Most likely what is happening is that the function that formats that date is broken :(

[2018-04-22 21:35] yoniihdc commented on #1826
<img width="218" alt="imagen" src="https://user-images.githubusercontent.com/6007230/39100153-1fcd5f88-464b-11e8-9493-47ed8f3332b5.png">

Para casos como esos, esperamos tener el clipboard en cada uno de los ejemplos de entrada? o solo para el ultimo caso de ejemplo?

[2018-04-22 21:36] lhchavez commented on #1826
supongo que un botón por fila no estaría mal. así no habría ambigüedad.

[2018-04-22 21:37] yoniihdc commented on #1826
Va, gracias 😃

[2018-04-22 21:41] cruzjorgesalazar commented on #1826
Algo asi estaria bien.

El El dom, abr. 22, 2018 a las 4:37 p. m., Jonathan Peraza Feliciano <
notifications@github.com> escribió:

[2018-04-23 04:51] tvanessa commented on #1214
Ping

[2018-04-23 06:02] lhchavez commented on #1868
aguanten, ya me acordé por qué no lo hicimos así desde un principio. si a alguien no le sale un problema, no mostramos qué casos no pasan (porque divilgaría información innecesaria). entonces como workaround, alguien puede hacer un concurso con el problema que no le sale y hacer un envío para tener todos los detalles.

permitir esto posiblemente rompa varios concursos, así que hay que hacerlo a) c

[2018-04-23 20:10] heduenas opened #1944 "Everyone is "International master""
Even if you have only solved a single problem:
![image](https://user-images.githubusercontent.com/597815/39150621-cc281adc-46f7-11e8-82a8-979237985693.png)

It's probably something in the controller or the DAO.

[2018-04-23 20:13] heduenas opened #1945 "Rank is shown as "Unranked" for some (obviously ranked) users"
For example:
![image](https://user-images.githubusercontent.com/597815/39150686-03498712-46f8-11e8-8e47-f6ebae64d2c9.png)

Probably the same root cause as #1944
Also, flag is not being displayed. @SpaceWhite mentions the root cause below.

[2018-04-25 00:28] #1839 closed

[2018-04-25 00:29] Yorchito commented on #1839
Closing because there is no time to make this actionable anymore.

[2018-04-25 00:36] #424 closed

[2018-04-25 00:37] lhchavez commented on #424
El escenario 3 no es necesario, así que ya quedó esto terminado.

[2018-04-25 00:48] pabo99 commented on #1692
Encontré un link que parece funcionar para Chrome: https://stackoverflow.com/questions/20907180/getting-console-log-output-from-chrome-with-selenium-python-api-bindings

Cuando ejecuto las pruebas, ya puedo ver los mensajes de la siguiente forma:
[code]
Falta ver que mensajes si podemos dejar pasar (en esta prueba sólo hay mensajes tipo `INFO`) y como hacer la aseveración

El problema al agregar e

[2018-04-26 02:53] SpaceWhite commented on #1945
The country flag is not working because it is not converted to lowercase
https://github.com/omegaup/omegaup/pull/1930/files#diff-c9f7a0ddfd95a54c1c3389f2442f4502R21

[2018-04-26 03:54] CarlosCordova18 commented on #1907
@lhchavez se me está haciendo bastante difícil resolver este issue y veo que es muy prioritario. Así que creo que sería mejor que se lo asignes a alguien más :/

[2018-04-26 04:01] lhchavez commented on #1907
no hay problema :)

[2018-04-26 04:05] lhchavez commented on #1944
Let's dupe it against the other bug.

[2018-04-26 04:05] #1944 closed

[2018-04-26 05:08] heduenas commented on #1945
@SpaceWhite good catch. I'm going to update the bug description to include the flag issue.

[2018-04-26 22:29] pabo99 commented on #322
Esperando a que se autoricen los cambios del #1022

[2018-04-26 22:46] pabo99 commented on #334
¿a que se refiere este cambio?

[2018-04-26 22:59] pabo99 commented on #719
Actualmente esta opción aparece hasta que estás editando un concurso, y por default se registran todos los nuevos concursos como privados. ¿Esto seguirá siendo igual?

Y tengo otra duda, cuando se da de alta un concurso con el Registro/open, ¿a quien se le solicita el registro? ¿a todos o sólo a los que dio de alta el administrador?

[2018-04-26 23:04] pabo99 commented on #709
Si, en el campo que indica el título aún sigue apareciendo

[2018-04-27 01:09] elendil326 commented on #1927
When is invalid, we will default to empty

[2018-04-27 01:15] elendil326 commented on #322
Incluye hacer correr el broadcaster en travis

[2018-04-27 01:16] lhchavez commented on #322
https://github.com/omegaup/puppet/blob/master/manifests/services.pp

[2018-04-27 01:16] elendil326 commented on #325
Esto incluye hacer correr el broadcaster en travis

https://github.com/omegaup/puppet/blob/master/manifests/services.pp

[2018-04-27 01:21] #334 closed, assigned to nobody

[2018-04-27 01:26] elendil326 commented on #709
- Convertir a vue
- Si ningún usuario a aceptado/rechazdo, no desplegar parentesis
- Cambiar el status, en lugar de empezar como rechazado, empezar como "Pendiente"

[2018-04-27 01:27] elendil326 commented on #709
Incluye quitarlo del listado una vez que se haya tomado una acción para evitar bugs.

[2018-04-27 01:30] elendil326 commented on #689
El cambio es agregar solo los envíos del ususario actual desde java script.

[2018-04-27 01:39] elendil326 commented on #1734
El refactor de identidad es una manera en la que sepuede resolver esto para ciertos casos.

@andreasantillana necesitamos consultar cualquier caso de uso que involucre menores con un abogado.

[2018-04-27 01:55] pabo99 commented on #1498
Sólo se va a revisar donde aparece un texto de `404` cuando entras a un concurso, para que te mande a la página principal

[2018-04-27 03:00] SpaceWhite commented on #1940
@heduenas  How about the tag public and private properties?

[2018-04-27 05:57] heduenas commented on #1940
We can add the list of tags and a boolean field "Public" just like shown in the bottom image.

[2018-04-28 02:09] #1945 closed

[2018-04-28 03:39] heduenas commented on #1945
Have we fixed the country flag issue also?

On Fri, Apr 27, 2018, 19:09 lhchavez <notifications@github.com> wrote:

[2018-04-28 03:46] SpaceWhite commented on #1945
No, I don't want to mess with my 1 bit PR achievement :D.
But I'll create a new PR for country flag issue. Can someone reopen this issue? @heduenas

[2018-04-28 19:45] #844 closed

[2018-04-29 04:03] SpaceWhite commented on #1865
This bug probably caused by failing Promise
![screenshot from 2018-04-28 23-58-32](https://user-images.githubusercontent.com/15065085/39403130-80751412-4b40-11e8-80b0-31c4155cce7b.png)
This is because fail prototype isn't available on js promise
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise#Promise_prototype

[2018-05-01 01:32] #1872 closed

[2018-05-01 04:30] #1498 closed

[2018-05-01 23:41] samdsmx opened #1958 "Identificar usuarios con una inactividad mayor a un año"
Aprovechando la nueva caracteristica de rango para usuarios, Propongo agregar una nueva categoria.. talvez.. "Sleepy User".

Para que se identifique a aquellos usuarios que tienen mas de 1 año (Periodicidad propuesta) sin hacer un envio. De lo contrario visualmente el ranklist estara sobre cargado (La primer pagina estara llena con nombres en ROJO, abra quien pensara que es un log de errores jejej

[2018-05-02 00:25] heduenas opened #1959 "Add link to blog post about ranks."
Add link to https://blog.omegaup.com/categorias/ next to "Rank" in https://omegaup.com/profile/Arthusr56:
![image](https://user-images.githubusercontent.com/597815/39499714-97efdb1a-4d64-11e8-9201-b8229f4094b8.png)

[2018-05-02 05:26] #1959 closed

[2018-05-02 13:34] #1870 closed

[2018-05-03 00:46] pacharrin opened #1962 "Aumentar limite de upload de solucion a 20 Kb"
Como creador de problemas de karel, quiero permitir que los concursantes puedan subir soluciones grandes sobre todo en problemas de karel que son muy verbose

[2018-05-03 04:01] lhchavez commented on #1962
idealmente hay que establecer esto por-problema, pero por ahora para desatorarlos solo lo voy a hacer con karel.

[2018-05-04 04:28] lhchavez commented on #1962
el workaround ya está en prod.

[2018-05-04 04:30] #1782 closed

[2018-05-04 04:52] yoniihdc opened #1965 "Agregar CodeMirror en los detalles de un envio - readOnly"
Como un Admin de un Contest, quiero poder ver el codigo que envian los alumnos con la sintaxis resaltada para poder entender mejor el codigo.

## Comportamiento Esperado

Al abrir los detalles de un envio me gustaria ver la sintaxis del codigo resaltada con el mismo editor (`CodeMirror`) que se utiliza cuando se hace un envio pero mantener el funcionamiento de la misma manera (`solo lectura`).

<i

[2018-05-04 04:52] yoniihdc commented on #1965
@lhchavez si es válido ^ puedo trabajar en esta propuesta?

[2018-05-04 04:55] lhchavez commented on #1965
OH! sí, por favor :D

[2018-05-04 04:58] #1319 closed

[2018-05-04 13:49] CarlosCordova18 opened #1967 "[Quality & Difficulty Histograms] Add columns difficulty_histogram and quality_histogram to the Problems table"
These new columns should be of _json_ type and will store the value of the histograms associated to each problem as described on the [design doc.](https://docs.google.com/document/d/1ZEnC33hW4WjZ1WcsDjEtuIeNPuvW62q_hBFjhFosLOI/)

[2018-05-04 13:53] CarlosCordova18 opened #1968 "[Quality & Difficulty Histograms] Create a function in the cronjob to update the value of quality and difficulty histograms for each problem"
The description of that new function could be found in the [design doc.](https://docs.google.com/document/d/1ZEnC33hW4WjZ1WcsDjEtuIeNPuvW62q_hBFjhFosLOI/)

[2018-05-04 13:57] CarlosCordova18 opened #1969 "[Quality & Difficulty Histograms] Create the tests for the function which updates the histograms of each problem."
This tests will be created for #1968
More details on the [design doc.](https://docs.google.com/document/d/1ZEnC33hW4WjZ1WcsDjEtuIeNPuvW62q_hBFjhFosLOI/)

[2018-05-04 14:05] CarlosCordova18 opened #1970 "[Quality & Difficulty Histograms] Edit the API that returns the details of the problems"
Make the API that return the details of the problems to return also the values of the histograms stored in the fields _quality_histogram_ and _difficulty_histogram_.
More information in the [design doc.](https://docs.google.com/document/d/1ZEnC33hW4WjZ1WcsDjEtuIeNPuvW62q_hBFjhFosLOI/)

[2018-05-04 23:26] CarlosCordova18 commented on #1958
Tal vez podríamos usar una notación tipo semáforo, similar a la que utilizan [aquí](http://coj.uci.cu/24h/usersrank.xhtml).

[2018-05-04 23:36] MiguelRomero opened #1973 "Error al tener los lenguajes permitidos(validacion de lenguajes)"
Estaba en modo practica de concurso de programacion y descubri que en la barra de seleccion de lenguaje, al presionar una tecla, por ejemplo c, aparece un lenguaje que empieza con esa letra, en este caso c++11, aun que este no esté permitido.

ambiente:
Windows 10
Firefox

se puede recrear el bug en cualquier modo de competencia

![buug1](https://user-images.githubusercontent.com/5459260/39657011-

[2018-05-05 00:17] samdsmx commented on #1958
Lo que pretendo estener mayor dinamismo en las categorias que ya estan implementadas. Puede un usuario alcanzar "ω". Y mantenerse.. cuando realmente lleva años sin participar.

De no ser asi.. las categorias que se establecieron tendrian la misma correspondencia al listado del ranking.. Todos los que estan en las primeras paginas son "ω".  Si agregamos esta categoria, tendremos mayor movilidad.

[2018-05-06 13:50] lhchavez opened #1975 "Mejorar la manera en la que se imprime un concurso"
Como un organizador de concursos, quiero que la funcionalidad de exportar a .pdf resulte en un documento "bonito". Hasta ahora se hace a mano en un proceso laborioso que debió haberse extinguido con la revolución industrial del siglo 18.

## Comportamiento Esperado

Hacer que el .pdf exportado sea "bonito".

## Comportamiento Actual

Actualmente, omegaUp puede exportar un concurso a .pdf. Esto se

[2018-05-06 18:12] pacharrin opened #1976 "Error al editar fecha fin de un curso"
Poder editar la fecha de un concurso que esta a punto de terminar
## Comportamiento Actual

- Intenté editar la fecha fin del [curso introductorio de la OMI](https://omegaup.com/course/Curso-OMI/edit/)
- Puse la nueva fecha de fin 05/31/2019
- Le di click en guardar
- Me mando error `Oops. Ocurrió un error interno. Por favor inténtalo nuevamente.`
- En la consola apareció el error `{"status":"erro

[2018-05-06 18:35] pacharrin opened #1977 "Como competidor de un concurso me gustaría saber la dificultad real cada problema durante el concurso"
Poder habilitar una configuración  en un concurso para que la lista de problemas muestre su dificultad real.

En algunas ocasiones quien diseña el problem set estima una dificultad pero los concursantes resuelven otros problemas, poder mostrar la dificultad en base a lo que han respondido los demás puede ayudar a concursantes que se quedaron trabados intentando resolver uno que no era tan fácil.

[2018-05-06 18:42] lhchavez commented on #1977
la idea es que basándote en el scoreboard / scoreboardevents puedas evaluar `SUM(contest_score) / COUNT(submissions)$ para cada problema y agregar eso como un renglón hasta abajo de la tabla.

[2018-05-06 19:27] pacharrin commented on #1976
también falla al intentar crear un curso nuevo

![image](https://user-images.githubusercontent.com/848246/39676993-97e41ce8-5139-11e8-8fa5-7f8c0af29c07.png)

[2018-05-06 19:28] pacharrin commented on #1976
El error es que la escuela es obligatoria y no falla gracefully

[2018-05-06 19:28] lhchavez commented on #1976
[code]

[2018-05-06 19:29] lhchavez commented on #1976
ah me ganaste. sí, ese es el root cause.

[2018-05-06 20:01] #1976 closed

[2018-05-07 04:18] #1825 closed

[2018-05-08 03:07] #1967 closed

[2018-05-08 21:02] sarvesh211999 commented on #1736
can anybody explain what does this mean "subscribing to clarification events" ??

[2018-05-09 01:41] lhchavez commented on #1736
sure! if you try to open a websocket with WebSockets (ws://localhost:8080/events/?filter=all-events), or visiting a contest as an admin (you'll get a green little circle next to the contest name), sometimes the datatype of `clarification_id` is String (because PHP) and sometimes it's Integer. This is fine for languages that are a bit loosey-goosey with their type system (like JavaScript), but for

[2018-05-09 04:04] #1965 closed

[2018-05-09 04:09] lhchavez commented on #1958
No creo que sea bueno penalizar a la gente que invirtió una cantidad tal de esfuerzo que fue suficiente para mantenerlo a la cabeza de la lista de ranking por años aún sin haber hecho login. Me inclino por la idea de @CarlosCordova18 porque son dos señales ortogonales: el esfuerzo que invertiste en mejorar, relativo a los demás usuarios de la plataforma y qué tan recientemente has interactuado con

[2018-05-09 04:11] lhchavez opened #1982 "Dejar de usar `mcrypt_create_iv`"
Fue deprecado en PHP 7 y lo estamos usando aquí: https://github.com/omegaup/omegaup/blob/33f3f6925854c8c10cc8b7a802de08283640aa4b/frontend/server/controllers/SessionController.php#L217

# Solución propuesta

Utilizar [`random_bytes`](http://php.net/manual/en/function.random-bytes.php).

[2018-05-09 04:41] #1907 closed

[2018-05-09 04:41] #1982 closed

[2018-05-09 14:55] sarvesh211999 commented on #1736
Where I can see data type of clarification_id ??

[2018-05-09 22:14] sarvesh211999 commented on #1736
Whenver a page where clarification is reloaded the JSON response that contains all the clarifications to be displayed contains the clarification_id as string . So I am not getting from where this JSON response is coming?

[2018-05-10 16:34] pabo99 commented on #1824
Con el fin de hacer más eficiente y rápida la etapa de pruebas automatizadas, sería conveniente hacerles un refactor, esto quiere decir: crear un curso y un concurso base y en ellos se puedan realizar varias pruebas. Para esta prueba tiene mucho sentido, ya que nada más se espera realizar un envío en cada una de las vistas.

[2018-05-11 00:29] #1736 closed

[2018-05-11 00:37] lhchavez commented on #1962
Dupe de https://github.com/omegaup/omegaup/issues/743

[2018-05-11 00:37] #1962 closed

[2018-05-11 01:15] Yorchito opened #1988 "Como un usuario, quiero ver un banner para enterarme de las nuevas politicas de privacidad"
## Comportamiento Esperado

Necesitamos informar a los usuario sobre las nuevas políticas de privacidad y no dejarlos interactura con la página hasta que acepten los nuevos términos y condiciones de manera explícita.

[2018-05-11 01:20] Yorchito opened #1989 "Como un usuario no quiero que utilicen mis datos para reclutamiento"
Cuando creas una cuenta, hay un checkbox para preguntar si podemos utilizar los datos para fines de reclutamiento. Remover este checkbox.

[2018-05-11 01:26] Yorchito opened #1990 "Crear documento nuevas politicas de privacidad"
Necesitamos informar de las nuevas politicas de privacidad.

Esto puede ser una publicación en el blog de omegaUp y en el banner poner un link a la página.

Cargar/hacer check in/ de estos documentos.

[2018-05-11 01:26] Yorchito commented on #1988
Ver https://github.com/omegaup/omegaup/issues/1990 para darle seguimiento a lo que va a decir la actualización.

[2018-05-11 01:33] Yorchito opened #1991 "Como un usuario, quiero que haya una manera de auditar mis decisiones de privacidad"
Como un usuario, quiero que haya una manera de auditar mis decisiones de privacidad.

Crear una tabla de audit log, y para cada identidad se tiene que agregar un nuevo registro en esa tabla, cuando se acepten los nuevos terminos y condiciones.

[2018-05-11 01:34] Yorchito commented on #1991
Una vez que se generen las nuevas políticas de privacidad. A todos los usuarios se les va a notificar y tenemos que registrar cuando hayan aceptado.

[2018-05-11 01:39] Yorchito commented on #1991
Este issue solo le da seguimiento al cambio de la base de datos para almacenar la respuesta del usuario.
Con el gitObjectID

[2018-05-11 01:48] elendil326 opened #1992 "Como usuario, quiero poder aceptar los terminos y condiciones de privacidad de omegaUp al entrar a la página."
## Comportamiento Esperado

Al hacer click en el banner(#1988) se mostrará un componente vue con las nueva políticas de privacidad de omegaUp. Este componente soportará markdown, tendrá un checkbox para dar consentimiento y un botón para submit. El botón solo estará habilitado si el checkbox esta "checked". Una vez aceptadas las nuevas condiciones, quedará guardada esta decisión en la base de dato

[2018-05-11 01:49] elendil326 commented on #1989
Hay que eliminar la columna de la base de datos.

[2018-05-11 01:53] elendil326 commented on #1988
Se bloqueará la interacción con la página por medio de java script. TBD si esto es necesario con @kennyjenny @Yorchito

[2018-05-11 01:56] elendil326 commented on #1988
https://getbootstrap.com/docs/3.3/components/#alerts alert-danger

[2018-05-11 01:57] elendil326 commented on #1988
El banner se mostrará en todas las páginas hasta que se encuentre un registro en la base de datos para este usuario

[2018-05-11 01:57] elendil326 commented on #1988
Si el ususario no esta loggueado, el banner no se muestra

[2018-05-11 01:58] elendil326 commented on #1988
el botón debe de abrir el vue de #1992

[2018-05-11 20:01] kennyeni commented on #1988
Creo que el banner debería mostrarse aunque no esté logueado el usuario, porque Google Analytics también recolecta PII de usuarios anónimos (e.g. IPAddr)

[2018-05-11 20:17] kennyeni commented on #1990
Hay que revisar bien los guidelines legales, de "data discovery", ya que está bien que los delete requests se hagan por correo como lo indica @Yorchito, pero para que el usuario sepa que borrar en primer lugar debe haber una manera de saber que "sabemos de un usuario" automatica, o manual (esto es lo que no se si manual es apropiado), esto puede incluir, pero _no limitado_ a:
* Personal Identifiab

[2018-05-11 21:02] sarvesh211999 commented on #691
Is this issue still to be fixed ??

[2018-05-11 23:37] lhchavez commented on #691
yes, if it's open, it still needs fixing. This is basically present a new (Vue) UI where an admin can see the times in which each participant of a contest they own started participating and displays how much time they have left in the contest (for contests that start a the participant's clock when they join).

This only applies to contests that have a non-`NULL` `window_length`: https://github.com

[2018-05-11 23:45] #1826 closed

[2018-05-12 03:52] #1968 closed

[2018-05-12 04:45] #1989 closed

[2018-05-13 14:26] #1969 closed

[2018-05-13 14:26] #1970 closed

[2018-05-13 17:54] yoniihdc commented on #1973
@lhchavez puedes asignarme este issue 😄

[2018-05-13 18:04] lhchavez commented on #1973
hecho!

[2018-05-13 20:04] lhchavez opened #1998 "[FEATURE] Permitir ver los casos completos en ciertos problemas"
Como administrador de problemas (didácticos), quiero que la gente que intenta mi problema pueda ver qué casos tuvo bien o mal.

## Comportamiento Esperado

Cuando crees / edites un problema, deberías poder elegir si quieres que los usuarios que intentan resolverlo pueden ver detalles adicionales (los nombres de los casos) y adicionalmente qué subconjunto de los casos de entrada se pueden mostrar a

[2018-05-13 20:35] CarlosCordova18 opened #1999 "[Quality & Difficulty Histograms] Vue-ificate the problems' list view"
The templates that are going to be affected are:
- [problems.tpl](https://github.com/omegaup/omegaup/blob/cfd7d2d73a1a8e566447ae89eed55a5058943be6/frontend/templates/problems.tpl)

- [problem.list.tpl](https://github.com/omegaup/omegaup/blob/04e0b920a8f15cf8999df7650fd8cbd6f1d56b25/frontend/templates/problem.list.tpl)

- [pager_bar.tpl](https://github.com/omegaup/omegaup/blob/master/frontend/templ

[2018-05-14 03:49] jofeque opened #2000 "Se muestran envíos que no nos pertenecen"
Al entrar a un problema, en la parte de submissions, se muestran, al parecer, todos los envíos de todos los usuarios que el problema ha tenido, y sólo deja ver los códigos que uno como usuario ha enviado.
Además, al querer 'ver' el código de un envío que no es nuestro, en la parte superior se muestra un mensaje de 'User is not allowed to perform action'

## Pasos para reproducir (para bugs)

1.  I

[2018-05-14 04:01] lhchavez commented on #2000
Danos unos minutos en lo que se termina de hacer el deployment para que ya esté arreglado en producción.

Gracias por reportar este issue :D

[2018-05-14 04:08] lhchavez opened #2001 "Dejar de usar DAO::search"
`DAO::search` se considera peligroso :S como DAO::seach no hace ninguna validación de que las columnas realmente estén en la tabla y simplemente las ignora silenciosamente, esto dejó que un bug llegara a producción aún habiendo pasado las pruebas https://github.com/omegaup/omegaup/issues/2000 (porque las pruebas sólo validaban que existieran los registros esperados, no que _no_ existieran otros re

[2018-05-14 13:48] lhchavez opened #2002 "Guardar todos los consents de privacidad en PrivacyConsent_Log"
Esto incluye los consents al principio de cada concurso / curso de que los profesores van a poder ver un subconjunto de tu información. Hay que:

- [ ] mover los textos de ahí a un archivo `.md` (en los tres idiomas), digamos `frontend/privacy/privacy_policy/es.md` y `frontend/privacy/contest_..._consent/pt.md`.
- [ ] Agregar columnas a `PrivacyStatements` para poder referenciar los concursos.
- [

[2018-05-14 13:55] lhchavez opened #2003 "Agregar una prueba en Travis para validar que si se toca un markdown de privacidad, PrivacyStatements se actualiza"
Esto se puede mandar llamar desde [`stuff/travis/lint.sh`](https://github.com/omegaup/omegaup/blob/master/stuff/travis/lint.sh). Supongo que también se podría hacer desde un linter, pero no se me ocurrió cómo hacerlo.

Aquí el chiste es que para cada una de las carpetas de `frontend/privacy/`, haya un valor en `PrivacyStatements.type`. El último valor para `git_object_id` debe ser idéntico a lo qu

[2018-05-15 03:32] SpaceWhite opened #2005 "My submissions feature"
## Current behaviour
In order to view submissions, users must go to all of the problem url one by one.

## Expected behaviour
Create a new page for showing all of the submissions that have been done by user until now.

## Possible solution
1. Create a new API in `RunController` to show all runs by contestant
2. Add a new template for showing all of the submissions
3. Create a new vue component and

[2018-05-15 09:15] alanboy opened #2006 "Quitar la restricción de 100 días para el curso de "Aprende a programar""
Como un estudiante, quiero poder tener mas de 100 dias para enviar soluciones en el curso en la pagina principal para poder completar dicho curso.

## Comportamiento Esperado

El concurso principal de omegaUp "Aprende a programar" debe dejarme enviar soluciones incluso si yo inicio el curso en un ciclo escolar, y luego me voy de vacaciones a un lugar sin acceso a internet y regreso a clases para c

[2018-05-15 22:55] pabo99 commented on #2002
Esto depende del #1991, una vez que se libere, se resolverá

[2018-05-17 21:00] dventura11 commented on #2006
Yo puedo contribuir en esto, ¿Con quién puedo ver los detalles?

[2018-05-17 21:02] dventura11 commented on #1824
¿Con quién puedo hablar para contribuir con esto?

[2018-05-19 10:05] SpaceWhite opened #2009 "Smarty template vuefication"
This issue is used as master issue to track all vue migration progress
List of smarty template that needs to be converted to `.vue`

### Task 1 [✔️]
Vuefication problem list. These files will take effects : `problems.tpl`, `problem.list.tpl`, `pager_bar.tpl`
[Issue link](https://github.com/omegaup/omegaup/issues/1999) - Assign to @CarlosCordova18 (Completed)

### Task 2 [✔️]
Vuefication arena inde

[2018-05-19 13:58] pabo99 opened #2010 "El linter i18n no está generando el archivo pseudo.lang"
## Comportamiento Esperado

Al ejecutar el comando `./stuff/runtests.py` corre el linter `i18n` en caso de que se hayan modificado los templates de idiomas, el cual genera el contenido de los archivos `pseudo`.

## Comportamiento Actual

Al contrario de como debería funcionar, cuando ejecuto `./stuff/runtests.py`, el archivo `pseudo.lang` nunca se genera, esto ocasiona que no pueda ejecutas las pr

[2018-05-19 20:29] heduenas opened #2011 "Add tooltip to copy case button"
Add tool-tip when hovering the button in:

![screenshot from 2018-05-19 13-27-31](https://user-images.githubusercontent.com/597815/40272794-8bd84558-5b68-11e8-9a2d-ee13e03721f0.png)

[2018-05-21 01:05] #2010 closed

[2018-05-21 04:38] elendil326 opened #2012 "[FEATURE] Como admin, quiero que las pruebas de selenium corran directamente contra sandbox como parte del deployment"
## Comportamiento Esperado

Cada vez aue se haga deployment al sandbox, deberán correr las pruebas de Selenium contra este servidor para asegurar que el deployment no rompio la funcionalidad del mismo.

## Comportamiento Actual

Solo se hace deployment

## Posible Solución

Agregar en github.com/omegaup/puppet como parte del script automático que hace deployment cada vez que hay un push a master.

[2018-05-21 04:42] elendil326 opened #2013 "Como admin, quiero que se corran pruebas de humo después de un deployment"
## Comportamiento Esperado

Después de hacer deployment a cualquier ambiente (sandbox o producción), quiero que corran pruebas especiales (de humo) para verificar que el ambiente es funcional (la página carga, hay datos visibiles, etc.)

## Comportamiento Actual

No hay, no existe.

## Posible Solución

Las pruebas actuales de Selenium cambian muchos datos, tenemos que crear pruebas nuevas que sea

[2018-05-21 12:22] pabo99 opened #2014 "Al dar de alta un problema me aparece un error la consola de JavaScript"
Cómo parte de la solución para el issue #1692, me percato de que al dar de alta un nuevo problema, cuando escribo el título, me aparece un error en la consola de Javascript.

## Comportamiento Esperado

Lo ideal es que no aparezca ningún mensaje de error en toda la prueba

## Comportamiento Actual

No es como tal un bug, pero hay que buscar la forma en que no aparezca el error.

## Pasos para repr

[2018-05-21 12:36] pabo99 opened #2015 "[BUG] Al ingresar a un curso me aparece un error la consola de JavaScript"
Cómo parte de la solución para el issue #1692, me percato de que al ingresar a un curso, me aparece un error en la consola de Javascript.

## Comportamiento Esperado

Lo ideal es que no aparezca ningún mensaje de error en toda la prueba

## Comportamiento Actual

No es como tal un bug, pero hay que buscar la forma en que no aparezca el error.

## Pasos para reproducir (para bugs)

1. Ingresar a om

[2018-05-21 12:47] pabo99 opened #2016 "En ocasiones me aparecen errores del WebSocket en la consola de Javascript"
Cómo parte de la solución para el issue #1692, me percato que ocasiones me aparece un error del `Websocket` en la consola de Javascript.

## Comportamiento Esperado

Lo ideal es que no aparezca ningún mensaje de error en toda la prueba

## Pasos para reproducir (para bugs)

1. Ingresar a omegaUp
2. Dar clic en Arena
3. Seleccionar un concurso de la lista de concursos actuales
4. Esperar a que apar

[2018-05-21 13:42] Mart-97 commented on #2011
Hola, me gustaría tomar este issue:)

[2018-05-21 13:47] lhchavez commented on #2011
Asignado!

[2018-05-21 15:31] luisrodolfo opened #2018 "No funciona el ranking de mi concurso"
No funciona el ranking de mi concurso.
https://omegaup.com/arena/SELECTIVO2018_1/

En la sección de administrador, nos aparece vacío el ranking:

![image](https://user-images.githubusercontent.com/12162641/40315789-faa01874-5ce1-11e8-88d5-639b5594a237.png)

Ya se probo en diversos navegadores, y el resultado es el mismo.

Revise concursos anteriores y si puedo ver el ranking. La falla es en este c

[2018-05-21 15:51] frcepeda commented on #2018
Parece que es culpa de la API.

La respuesta de `https://omegaup.com/api/contest/scoreboard/contest_alias/SELECTIVO2018_1` es

[code]

[2018-05-22 04:33] darkmx opened #2021 "Comportamiento inesperado al evaluar con "tokens numéricos con tolerancia""
Hola amigos de OmegaUp.

En un problema donde se deben imprimir números con parte fraccionaria, quise usar la opción de evaluar con "Tokens numéricos con tolerancia" con la idea de que valores cercanos al esperado se consideraran correctos (¡espero que esa opción funcione así!). Sin embargo, un envío estaba imprimiendo cosas de más (los típicos letreros de "dame los datos", "el resultado es...") y

[2018-05-22 04:38] lhchavez commented on #2021
ese es exactamente el comportamiento para el que fue diseñado tokens numéricos (con/sin tolerancia): buscar todos los tokens que sean números y comparar únicamente eso.

creo que lo que tenemos que hacer es documentar eso mejor con ejemplos para evitar sorpresas :(

[2018-05-22 04:41] darkmx commented on #2021
Enterado. Sí alcanzo a ver en qué situaciones puede ser útil, pero sí me sorprendió :P
saludos!

[2018-05-22 05:11] alanboy commented on #2018
Y solo pasa en este concurso? O tenemos algo grave entre manos? cc @elendil326

[2018-05-22 15:15] pabo99 commented on #2003
Tampoco se me ocurre como hacerlo desde un linter, ¿Alguien tiene una idea?

[2018-05-22 18:52] darknut commented on #2018
@alanboy Es grave, hay envios que dan puntos y que no registran en el concurso hasta mucho después

[2018-05-22 22:50] darkmx opened #2024 "Función restringida "syscall:mremap" con Ruby"
Hola amigos de OmegaUp. Un amigo mío estaba intentando resolver el problema https://omegaup.com/arena/problem/Muletillas-de-robots/#runs usando Ruby (tiene gustos algo raros, su último envío es el b8f96865) pero no ha logrado obtener el 100% porque lo mata el sandbox al hacer uso de la llamada al sistema "mremap". Por si las dudas intenté aumentar el límite de memoria, pero no tuvo ningún efecto.

[2018-05-22 23:48] #2018 closed

[2018-05-23 05:40] galloska opened #2025 "Crear ranking mensual para dar seguimiento al coder del mes."
Como participante me gustaria saber como va el ranking de los coder del mes para saber que tanto me debo esforzar para ganar.

## Comportamiento Esperado

Poder visualizar el ranking del coder del mes actual mediante una API.

## Comportamiento Actual

En estos momentos no existe tal funcionalidad.

## Contexto

Cuando una persona quiere ser coder del mes, esta compitiendo a ciegas. No sabe si alg

[2018-05-23 05:44] galloska opened #2026 "Poder ver los problemas creados por algun usuario en especifico."
Como participante me gustaria conocer que problemas ha propuesto algun otro usuario en especifico.

## Comportamiento Esperado

Poder visualizar los problemas creados por otro usuario.

## Comportamiento Actual

No existe tal funcionalidad.

## Posible Solución

Se podria anadir en los filtros de busqueda de problemas, buscar por autor del problema.

Otra idea seria agregar una seccion en los perf

[2018-05-23 05:44] galloska commented on #2026
problemas

[2018-05-24 00:30] darkmx opened #2027 "Perfil con mensaje de error "Usuario no existe" pero sí existe"
Hola amigos de OmegaUp.

Uno de mis alumnos notó que su perfil no existe pero puede hacer envíos normalmente. En el problema [https://omegaup.com/arena/problem/Sistemas-de-ecuaciones-1sol](https://omegaup.com/arena/problem/Sistemas-de-ecuaciones-1sol) hay envíos del usuario "bogar.enbelt" que redirige a [https://omegaup.com/profile/bogar.enbelt](https://omegaup.com/profile/bogar.enbelt) donde se m

[2018-05-24 05:44] #1991 closed

[2018-05-24 14:35] CarlosCordova18 opened #2028 "[Quality & Difficulty Histograms] Make the API return the histogram values"
## Comportamiento Esperado
The API should return the histogram values for each problem.

## Comportamiento Actual
The API is not returning those values.

## Contexto

As part of https://docs.google.com/document/d/1ZEnC33hW4WjZ1WcsDjEtuIeNPuvW62q_hBFjhFosLOI/

[2018-05-25 17:03] galloska opened #2031 "Aumentar limite de upload de solucion a 20 Kb para problemas en general."
Como creador de problemas de competencias de programación, me gustaría poder tener la posibilidad de que los usuarios puedan subir soluciones muy extensas.

## Comportamiento Actual

No permite subir archivos de mas de 10kb.

## Contexto

Cuando la solución del problema es un algoritmo extenso de codificar, no se puede mandar la solución debido a esta limitante.

[2018-05-25 18:56] pabo99 commented on #2031
Duplicado de #1962 que permite temporalmente envíos de 20kb para problemas de Karel.

[2018-05-26 00:33] Mart-97 commented on #2011
Hola, tengo una duda!, Como puedo añadir las translations del tooltip  para el hover del botón?

[2018-05-26 00:59] heduenas commented on #2011
Es con los archivos .lang
Ve por ejemplo este PR: https://github.com/omegaup/omegaup/pull/1351/files

[2018-05-26 17:53] #2028 closed

[2018-05-26 22:27] pabloaguilar opened #2032 "Concursos 1v1"
Proveer una interfaz sencilla para armar concursos 1 contra 1.
* Evita seguir todos los pasos para crear un concurso formalmente
* Tal vez generar concursos automaticamente (para no dar ventaja a nignuno de los participantes)

[2018-05-26 22:31] pabloaguilar opened #2033 "[FEATURE] Concursos por equipos (como ICPC)"
Como dice el titulo

[2018-05-26 22:32] pabloaguilar opened #2034 "Mini-juego antes de inciar un concurso"
Un dinosaurio cuando un concurso aún no empiece antes de un inicio de concurso (o juego similar)

(Como el de Chrome)

[2018-05-26 22:33] pabloaguilar opened #2035 "Búsqueda de trabajo"
Búsqueda de trabajo

[2018-05-26 22:35] pabloaguilar opened #2036 "[FEATURE] Apartado de tutoriales"
Apartado de tutoriales
Un lugar centralizado donde encontrar tutoriales (p.ejem el curso de la OMI)

[2018-05-26 22:36] pabloaguilar opened #2037 "Opción para agregar o ayudar a traducir problemas en diversos idiomas"

[2018-05-26 22:37] pabloaguilar opened #2038 "Amigos en omegaUp"
* Comparar ranking facilmente
* Verlos en concursos

[2018-05-26 22:38] pabloaguilar opened #2039 "Recordatorios de problemas no resueltos"

[2018-05-26 22:39] pabloaguilar opened #2040 "Poder ver el scoreboard a un tiempo T"
Una sugerencia es que se pueda ver el scoreboard en un momento T, es decir, que se pueda observar el puntaje por el tiempo de cada participantes, en general de todos.

[2018-05-26 22:40] pabloaguilar opened #2041 "Usar videos de temas entre temas en cursos."

[2018-05-26 22:48] pabloaguilar opened #2042 "Mejorar el computo de puntos para el ranking"
No todos los problemas se relacionan su dificultad con su puntaje, en vez se relaciona con su popularidad en la plataforma

* tomando en cuenta la razon AC / Runs
* tomando en cuenta la edad del problema en la plataforma

[2018-05-26 22:52] pabloaguilar opened #2043 "Indicar usuarios activos en el rank"
Por ejemplo mostrar bold / no-bold a los usuarios activos / no-activos

[2018-05-26 22:53] pabloaguilar opened #2044 "Implementar un sistema de recompensas para comprar casos o pistas"
Implementar un sistema de recompensas por resolver problemas como “omega coins”. Para comprar casos de prueba o pista  para problemas.

[2018-05-26 22:54] pabloaguilar opened #2045 "Verificar compatibilidad de omegaUp escuelas con Safari"
Safari no funciona para agregar problemas en escuelas.

[2018-05-26 22:56] pabloaguilar opened #2046 "[BUG] El boton de "atras" no funciona correctamente en varios en arena"
Poder regresar al dar clic, en la pestaña problemas, a un problema

[2018-05-26 22:59] pabloaguilar opened #2047 "Poder esconder envios"
Comentario en el buzon:
Poder eliminar/borrar envíos del parte del usuario
Vaciar el historiador de envíos

Propuesta de feature:
* Colapsar envios con igual o menor puntaje que los anteriores, de manera que la vista de la lista de envios podria verse estrictamente creciente en puntos
* Esconder la lista completa de envios

[2018-05-26 23:02] pabloaguilar opened #2048 "Contenido en forma de tutorial con tema y/o videos"
Mejorar omegaUp en la cuestión de tutorial, una manera seria mostrar el tema a tratar y cómo resolverlo ya sea mediante video

[2018-05-26 23:07] pabloaguilar opened #2049 "Clasificacion de problemsetters"
Que haya categorías dentro de los usuarios por la calidad de problemas que suben y como los califican

[2018-05-26 23:10] pabloaguilar opened #2050 "Simplificar agregar usuarios a un concurso privado"
Una manera de poder meter personas a un examen privado de manera simple.

[2018-05-26 23:11] pabloaguilar opened #2051 "Usar hover para mostrar los menus en la barra de navegacion"
En el menú principal de omegaUp, donde aparecen las opciones de problemas, arena, etc.. En vez de dar click para que aparezca el submenú de dichas opciones, solo tener que colocar el cursor por encima de la opción.

[2018-05-26 23:11] pabloaguilar opened #2052 "Ver soluciones oficiales a problemas públicos"

[2018-05-26 23:12] pabloaguilar opened #2053 "No mostrar "empieza a usar escuelas" para usarios que ya lo usan"
Si ya se está dentro de un curso ya no debería de aparecer la pantalla de “empieza a usar escuelas” y te debería dirigir directamente a tus cursos.

[2018-05-26 23:14] pabloaguilar opened #2054 "[FEATURE] API public para consultas de concursos propios"
Por favor, poner o habilitar un API público para consultas de concursos propios

[2018-05-26 23:17] pabloaguilar opened #2055 "Medallas por logros / eventos notables"
Estaría genial que en omegaUp nos den logros por cada ciertos eventos participados vinculadas con esta plataforma (Ejemplo OMI)

[2018-05-26 23:18] pabloaguilar opened #2056 "Buscador de usuarios"

[2018-05-26 23:18] pabloaguilar opened #2057 "[FEATURE] Logros por el tipo de problemas / habilidades"
Logros para los usuarios según los problemas que resuelve, para que en su perfil aparezcan  sus habilidades

[2018-05-26 23:19] lhchavez commented on #1868
hemos llegado a un consenso!

la manera en la que se va a resolver es: si alguien que NO es administrador del problema hace un concurso con ese problema Y ya lo ha resuelto, te muestra los detalles del envío. De esta manera tenemos un buen tradeoff.

[2018-05-26 23:20] pabloaguilar opened #2058 "Soportar navegadores móviles"
Me gustaría es poder revisar omega en una versión móvil

[2018-05-26 23:20] pabloaguilar opened #2059 "Editor de código interno"

[2018-05-26 23:23] pabloaguilar opened #2060 "Falta que el trailing slash sea opcional en omegaup.com/grader/ephemeral/?"
omegaup.com/grader/ephemeral manda un 404
omegaup.com/grader/ephemeral/ funciona

[2018-05-26 23:32] lhchavez commented on #2024
ah sí, déjame lo agrego. gracias por reportarlo :D

[2018-05-27 02:34] darkmx opened #2061 "[FEATURE] Poder eliminar tags de otros en problemas propios"
Hola amigos de OmegaUp.
Uno de los problemas que subí [https://omegaup.com/arena/problem/Programando-formulas/#problems](https://omegaup.com/arena/problem/Programando-formulas/#problems) pide evaluar unas formulas aritméticas pero alguien le puso el tag "árboles". Desafortunadamente, como autor del problema no puedo eliminar tags que alguien más pone.

[2018-05-27 04:53] lhchavez commented on #2061
welp, buen punto. @heduenas para que esté enterado.

[2018-05-27 05:08] #2024 closed

[2018-05-27 05:27] darkmx commented on #2024
gracias :)

[2018-05-27 05:37] #1999 closed

[2018-05-27 06:03] lhchavez commented on #2024
listo, se reevaluaron todos los envíos de Ruby que tenían RFE.

[2018-05-27 13:27] lhchavez commented on #2059
Esto ya existe! Es https://omegaup.com/grader/ephemeral/

[2018-05-27 13:27] #2059 closed

[2018-05-27 22:50] galloska opened #2064 "Habilitar que el creador de un concurso aparezca en el standing al agregarse como participante del mismo."
Como creador de problemas y de concursos me gustaría que cuando me agrego como participante de un concurso que yo mismo elaboré, aparezca en el standing para poder llevar mejor estadistica de los problemas.

## Comportamiento Esperado

Cuando me auto-agrego como participante de un concurso me gustaria aparecer en el ranking cuando hago envios.

## Comportamiento Actual

Al hacer envios simplemente

[2018-05-27 23:07] lhchavez commented on #642
Dupe de https://github.com/omegaup/omegaup/issues/2064

[2018-05-28 12:31] CarlosCordova18 opened #2065 "[Quality & Difficulty Histograms] Crear el componente Vue que sea reutilizable para ambos histogramas"
Este componente será usado dentro de un tooltip, y también en la vista de detalles de problemas.
Más información en: https://docs.google.com/document/d/1ZEnC33hW4WjZ1WcsDjEtuIeNPuvW62q_hBFjhFosLOI/

[2018-05-29 13:42] elendil326 commented on #1824
Que ondas @dventura11 ! Ya hay unos avances en este issue. Puedes tomar otro mejor :)

[2018-05-29 15:06] pabo99 opened #2068 "El consent de los concursos no está disponible"
Cuando ingreso al link con el Consentimiento de concursos (https://omegaup.com/privacy/contest-user-information/), me manda un error `404 - Not Found`

## Comportamiento Esperado

Que al dar clic me muestre la página del consent de los concursos.

## Comportamiento Actual

Me manda la siguiente vista:

![captura de pantalla 2018-05-29 a la s 10 02 48](https://user-images.githubusercontent.com/3230

[2018-05-30 01:08] dventura11 commented on #1824
claro

[2018-05-30 13:30] #1868 closed

[2018-05-30 13:56] lhchavez commented on #2068
sí, está bien. igual con https://github.com/omegaup/omegaup/pull/2020 _tenemos_ que dejar de usar links y poner **todo** el texto del consent ahí.

[2018-05-30 13:56] #2068 closed

[2018-05-31 13:56] #1908 closed

[2018-06-02 01:29] #2011 closed

[2018-06-04 14:19] Mart-97 commented on #2051
Hola, me gustaría tomar este issue:)

[2018-06-04 22:26] elendil326 commented on #642
Cerrando como dupe

[2018-06-04 22:26] #642 closed

[2018-06-05 02:28] #1973 closed

[2018-06-05 04:57] #1692 closed

[2018-06-05 12:38] #743 closed

[2018-06-06 01:30] pabo99 commented on #719
¿Hace falta corregir algo en este PR?

[2018-06-06 13:49] pabo99 commented on #816
¿Esto aún se necesita? Por que ese campo ya ni siquiera existe en la base de datos, se eliminó en este issue  https://github.com/omegaup/omegaup/issues/1989

[2018-06-06 13:50] lhchavez commented on #816
No :D

[2018-06-06 13:50] #816 closed

[2018-06-06 20:45] yoniihdc commented on #2058
Pueden asignarme este issue 😄

[2018-06-06 20:48] kukogit opened #2075 "Tener una manera de ver todos los envíos en la vista de detalles de un curso"
*Como entrenador, es necesario ver el modo ADMIN de una "tarea" en school. *

## Comportamiento Esperado

Al igual que cuando se crea un concurso, entrar al modo admin para ver los envíos de cada alumnos.

## Comportamiento Actual

Actualmente no es posible ver los envíos de los alumnos, a menos que seas owner de los problemas que están resolviendo tus alumnos, lo cual es bastante tardado y molest

[2018-06-07 01:34] lhchavez commented on #2058
Asignado a @yoniihdc

[2018-06-07 02:20] SpaceWhite commented on #1796
I'd like to take this ticket. Can @lhchavez assign this issue to me?

[2018-06-07 02:40] SpaceWhite opened #2076 "Virtual contest related bugs and improvement"
## 1. Virtual contest scoreboard username naming
### Current implementation
In order to distinguish virtual contest contestants and original contest contestants, omegaup append the username with `-(virtual)` word [Link](https://github.com/omegaup/omegaup/blob/d90f10ac471ecc4647151e38e7a390f5f4edb4ad/frontend/www/js/omegaup/arena/arena.js#L574-L575). The results will be like this:
![screenshot-2018

[2018-06-07 03:00] lhchavez commented on #1796
of course :D

[2018-06-07 04:09] lhchavez commented on #2075
Eso ya se puede hacer :D https://github.com/omegaup/omegaup/commit/13a852809ff7a20e83ae22e05dd169d6646dedf8 sólo necesitas haber resuelto el problema.

[2018-06-07 05:03] kukogit commented on #2075
No entiendo como eso resuelve mi duda. Cuando hagi un concurso puedo ver
facilmente los envíos de la gente que entra al concurso (agregas /admin al
final de la URL), sin embargo en modo escuela, cuando entro a una TAREA, no
tengo idea de como hacer lo mismo.

O no entiendo que tiene que ver?

On Wed, Jun 6, 2018, 11:09 PM lhchavez <notifications@github.com> wrote:

[2018-06-07 05:30] kukogit commented on #2075
Ahora también ya vi que se puede desde el apartado ver avance de alumno, pero creo que ahí sólo puedo ver el último envío... no sé si se puede ver cualquier otro envío, al menos no supe como ver envío por envío en ese apartado.

[2018-06-08 01:05] lhchavez commented on #1911
Este ya está terminado ;) https://github.com/omegaup/quark/commit/03d654e8f791f48a3f2f13cb8a8dcd6e8312e283

[2018-06-08 01:05] #1911 closed

[2018-06-08 01:07] pabo99 commented on #746
Aún se reproduce?

[2018-06-08 02:17] SpaceWhite opened #2077 "Datepicker and DatetimePicker format"
## Current behavior
DatetimePicker and DatePicker are showing `MM/DD/YYYY` format

## Expected behavior
DatetimePicker and DatePicker should show `DD/MM/YYYY`
![screenshot-2018-6-7 contestedit omegaup 1](https://user-images.githubusercontent.com/15065085/41135660-a2613c2a-6aa0-11e8-8f53-bab4779e610f.png)

## Possible solution
Change the following code
https://github.com/omegaup/omegaup/blob/d90f10

[2018-06-08 13:58] lhchavez commented on #2075
oh ya veo, entonces si se pudieran mostrar todos los envíos (de una manera que no se vuelva un relajo visual terrible) en esa sección, solucionaría por completo lo que quieres?

[2018-06-08 14:51] kukogit commented on #2075
Sí, creo que eso resolvería el issue que puse. De hecho creo que bastaría con darle click a la línea donde esta el detall del envío y que se muestre en el cuadro de arriba.

Saludos.

[2018-06-08 17:10] pabo99 commented on #1910
Lista de actividades para este issue:
- [X] Crear Grupo de control de acceso para los organizadores.
- [X] Vista para subir CSV.
- [X] API para crear las identidades y ligarlas a un grupo.
- [ ] API para asociar la cuenta de un usuario con una identidad no-asociada
- [ ] Pruebas

[2018-06-09 12:30] lhchavez opened #2079 "Crear un banner que indique incompatibilidad del browser con omegaUp"
Como un visitante a la página, me gustaría saber si mi navegador está soportado sin tener que ir a la ayuda.

## Comportamiento Esperado

Si están visitando omegaUp desde un navegador viejo / que no soporta todas las cosas que necesitamos, debería tener alguna indicación visual de que no toda la plataforma va a funcionar al 100%.

## Comportamiento Actual

Sólo se rompe silenciosamente y hay que e

[2018-06-09 14:38] frcepeda opened #2081 "Como organizador de concurso, quiero poder dar extensiones de tiempo"
Cuando hay un concurso con tiempos diferidos, pueden ocurrir circunstancias que ameriten
darle tiempo extra a algún competidor. Actualmente omegaUp no soporta esto, a diferencia
de concursos sin tiempos diferidos en los que se puede mover el tiempo de fin de todos parejo.

[2018-06-10 14:03] lhchavez commented on #2079
Esto va a requerir un poco de tiempo para manualmente abrir la página en versiones viejas de Chrome / Firefox (posiblemente mediante https://portableapps.com/apps/internet/firefox_portable), navegar por los escenarios que prueba Selenium y anotar los errores para poder determinar qué tipo de verificaciones habría que hacer en `isBrowserSupported`.

[2018-06-11 23:36] #2065 closed

[2018-06-12 18:51] pabo99 opened #2085 "Ingresar a omegaUp si sólo cuento con una identidad"
Como usuario quiero poder ingresar a la plataforma omegaUp si sólo cuento con una identidad y no con un usuario que se registra normalmente.

## Comportamiento Esperado

Derivado del Refactor de Identidad #1300, habrá la necesidad de agregar la funcionalidad de que un usuario de la plataforma al cual se le asignó un usuario y contraseña generado con #1910 pueda ingresar a omegaUp y a los concursos

[2018-06-15 08:54] pabloaguilar opened #2088 "Race condition en PrivacyStatementConsentLogDAO::saveLog"
`PrivacyStatementConsentLogDAO::saveLog` lee el ultimo Id de la tabla de politicas. Pero esto no necesariamente coincide con lo que se le mostro al usuario si la sucesion de eventos fue:
* Usuario entra a la pagina que pide consentimiento y se toma el tiempo de leer las letritas
* Admin actualiza la politica de privacidad
* Usuario expresa su consentimiento
* `saveLog` lee el id de la politica nue

[2018-06-15 12:42] pabo99 opened #2089 "Agregar subsección para administrar identidades en perfil"
Esto es parte del feature #1912

**Experiencia de Usuario**

Continuación del refactor de identidad fase 11. En la sección de perfil del usuario sería necesario una subsección para administrar identidades, al igual que agregar todas las identidades asociadas al usuario al dropdown del usuario loggueado.

[2018-06-15 12:43] pabo99 commented on #1912
La subsección de administrar identidades se separa en el issue #2089

[2018-06-15 13:14] pabo99 opened #2090 "Pruebas unitarias de scoreboard para cursos"
Primera parte del issue #322 para preparar el escenario de las pruebas unitarias del `scoreboard` en los cursos

[2018-06-15 13:15] pabo99 commented on #322
Este issue es sólo para las pruebas en selenium, las pruebas unitarias se resolverán en #2090

[2018-06-15 13:28] pabo99 opened #2091 "Actualizar las pruebas donde se utiliza DAO::search"
Segunda parte del issue #2001, hay que dejar de utilizar los métodos `search` de los `DAO's`.

[2018-06-15 13:30] pabo99 commented on #2001
Se divide el issue, sólo se enfoca en modificar los controllers, la segunda parte se resolverá en #2091

[2018-06-18 03:32] SpaceWhite opened #2092 "Admin can't access admin page"
## Current behavior
Admin can't access admin page if he/she hasn't pressed start contest button

## Possible expected behavior
1. Admin should be able to access admin page without pressing start contest button
2. Notify admin to press start contest first before access the admin page

## How to reproduce
1. Create a contest
2. Access admin page

[2018-06-20 14:28] pabo99 commented on #699
¿Esto aún es necesario? Porque actualmente ya existen los concursos públicos, privados y abiertos con registro.

[2018-06-20 14:30] pabo99 commented on #610
¿Esto no se soluciona con los concursos privados? Ya que es la bandera que propone @joemmanuel

[2018-06-20 23:19] #1909 closed

[2018-06-21 04:22] SpaceWhite opened #2097 "Rename PrivacyStatement migration"
## Description
`update-dao.sh` creates `PrivacyStatement_Consent_Log.dao.php` and `PrivacyStatements.dao.php`, even though dao with slightly different names `Privacy_Statement_Contest_Log.dao.php` and `Privacy_Statements.dao.php` (notice the underscore `_`) exist in dao directory.

## Expected solution
Rename dao to `PrivacyStatement` without underscore

## How to reproduce
Run `update.dao.sh`, `g

[2018-06-22 01:14] pabo99 commented on #699
Del lado del cliente hay que filtrar a los concursantes que se registraron al concurso, y poder hacer toggle. Separar en interfaz y controladores

[2018-06-22 01:15] lhchavez commented on #745
Únicamente hay que confirmar si ya está, pero _creemos_ que ya está.

[2018-06-22 01:17] lhchavez commented on #745
Que siempre sí está hecho.

[2018-06-22 01:17] #745 closed

[2018-06-22 01:23] lhchavez commented on #1878
Most of the work has been done, we only miss merging https://github.com/omegaup/omegaup/pull/1946 and we should be good!

[2018-06-22 01:28] lhchavez commented on #746
Esto ya no repro. @pabo99 acaba de probarlo :D

[2018-06-22 01:28] #746 closed

[2018-06-22 01:30] pabo99 commented on #689
Esto aplica para el ranking

[2018-06-22 01:38] lhchavez commented on #2061
asignándolo a @heduenas para que le haga triage.

[2018-06-22 01:42] #2031 closed

[2018-06-22 13:40] pabo99 commented on #1912
En la vista de administración de identidades se podrá eliminar, ligar a un usuario y modificar contraseña.

¿Aquí se pueden editar los campos de país, estado y genero para cada identidad?

[2018-06-23 06:01] tvanessa opened #2100 "No hay acceso al perfil publico de coders del mes"
En la lista de coders del mes https://omegaup.com/coderofthemonth/ no es posible acceder al perfil del usuario al dar clic sobre su nombre.

[2018-06-25 16:29] darkmx opened #2103 "Error interno al hacer envíos"
Hola amigos de OmegaUp.
Al hacer envíos se está reportando el siguiente error (información obtenida del inspector de red al momento de hacer el envío).

status	error
error	Oops. Ocurrió un error interno. Por favor inténtalo nuevamente.
errorname	generalError
errorcode	400
header	HTTP/1.1 400 BAD REQUEST

Al parecer los envíos se quedan atascados con status "New" en la página pero pareciera que no

[2018-06-27 12:56] sarvesh211999 commented on #2100
I want to work on this issue @lhchavez

[2018-06-27 13:05] lhchavez commented on #2100
assigned to @sarvesh211999

[2018-06-28 04:00] #1941 closed

[2018-06-28 17:52] #766 closed

[2018-06-28 21:31] lhchavez commented on #2103
arreglamos eso ese mismo día. lamentamos la demora y el error :(

[2018-06-28 21:31] #2103 closed

[2018-06-28 21:33] lhchavez opened #2110 "Las pruebas de Selenium no pueden subir archivos"
Actualmente las pruebas de Selenium con Sauce Labs no están permitiendo subir archivos: [url del support de SauceLabs en cuanto lo publiquen].

Como workaround, se están desactivando las pruebas que suben archivos mediante un `<input type="file">`

[2018-06-29 04:55] lhchavez opened #2116 "Add dependencies between Selenium subtasks"
We would love to have some Selenium subtasks depend on other subtests. So for example, one subtest can create a course and add some students, and then several other subtests can just assume the course has been created.

This can be solved by something like https://pytest-dependency.readthedocs.io/en/latest/

[2018-06-30 03:43] SpaceWhite opened #2119 "[FEATURE] requalify disqualified submission"
Related to this PR https://github.com/omegaup/omegaup/pull/2095

## Current behavior
This PR  only allows admin to disqualify user submission.

## Expected behavior
Allow admin to revert back disqualified submission

[2018-07-04 06:33] SpaceWhite opened #2124 "Inconsistent font"
## Current behavior
http://domain/problem/new/
![screenshot_20180704_023045](https://user-images.githubusercontent.com/15065085/42260444-731aafb8-7f32-11e8-9c6c-7bb6ac9d04a4.png)
http://domain/problem/prob1/edit/
![screenshot_20180704_023119](https://user-images.githubusercontent.com/15065085/42260447-78540cb8-7f32-11e8-899d-48dc75466c77.png)
Notice those two pages have different font family

## E

[2018-07-04 14:17] #1992 closed

[2018-07-06 01:30] lhchavez commented on #2081
Lo que hay que hacer es dejar de calcular el `end_time` como `access_time` + contestLength, y agregar un campo explícito de `end_time` (que por default sea lo que calculábamos antes). ya con eso se podría modificar el `end_time` conforme sea necesario.

https://github.com/omegaup/omegaup/blob/d32e778cb5caf24b460621b84042a2719f738764/frontend/database/schema.sql#L535

[2018-07-06 08:28] SpaceWhite opened #2126 "Unhandled deprecated function on datetime"
## Current behavior
`DateTimePicker` and `DatePicker` produce error in console when selecting date

![screenshot_20180706_042628](https://user-images.githubusercontent.com/15065085/42368437-073040d4-80d5-11e8-8ea1-052ff322bbad.png)

## Possible solution
Update bootstrap-datepicker.js and datetimepicker.js

[2018-07-06 12:46] pabo99 commented on #2003
¿Esto no queda resuelto con el PR #2098?

[2018-07-06 14:01] #2100 closed

[2018-07-06 15:22] lhchavez opened #2128 "Separar el scoreboard de los invitados a un concurso y los participantes"
Esta es la segunda parte de #719. Los concursantes que fueron explícitamente invitados a un concurso deberían tener un scoreboard separado. Así ya podría funcionar al 100% el modo "abierto".

Lo que faltaría sería hacer un toggle / checkbox arriba de los scoreboards en modo abierto y que cuando esté activo, muestre el scoreboard oficial (solo los explícitamente invitados), y cuando no muestre el s

[2018-07-06 15:23] #719 closed

[2018-07-06 19:23] AresLOLXD opened #2129 "Error sin razon al evaluar un problema"
## Comportamiento Esperado
El dia de hoy estaba realizando un concurso en omegaup y note que algunos envios daban error de compilacion, al revisarlos la salida del compilador era:

virtual memory exhausted: Cannot allocate memory

Incluso yo lo probe y me salio el mismo error, volvi a enviar el codigo y me dio.
![image](https://user-images.githubusercontent.com/7190526/42396482-76bac4b8-8127-11e8-

[2018-07-07 02:05] lhchavez commented on #2129
Los envíos donde esto ocurría ya fueron reevaluados.

[2018-07-07 02:05] #2129 closed

[2018-07-07 02:06] lhchavez commented on #2129
Cerrando el issue. Gracias por reportarlo! :D

[2018-07-09 13:28] prondubuisi commented on #1878
Jr

On Wed, Apr 4, 2018, 09:09 SpaceWhite <notifications@github.com> wrote:

[2018-07-10 00:08] #2002 closed

[2018-07-10 03:05] lhchavez opened #2131 "[FEATURE] Agregar UI para guardar comentarios en omegaup.API.Contest.arbitrateRequest"
Como un co-administrador de concursos por invitación, quiero poder dejar comentarios sobre por qué se aceptó o rechazó a un solicitante.

## Comportamiento Esperado

El API tiene manera de guardar un comentario en el momento en el que se se acepta/rechaza un solicitante.

## Comportamiento Actual

No hay interfaz para escribir el comentario.

## Posible Solución

Agregar la interfaz. Usando un mod

[2018-07-10 03:09] #1022 closed

[2018-07-11 05:13] JuanM97 opened #2132 "El Coder del Mes debe ser aprobado por alguien del equipo de omegaUp Mentors"
*Como un miembro del equipo de omegaUp mentores, quiero poder aprobar al Coder del Mes antes de ser publicado en la página y antes de que reciba el anuncio de ganador en su perfil para poder verificar que no existan signos claros de posible trampa.*

## Comportamiento Esperado
*Una vez determinado el Coder del Mes, quiero tener la habilidad de poder aprobarlo en la página, en vez de ser esto un pr

[2018-07-11 13:07] pabo99 commented on #2088
Esto ya queda solucionado con los cambios del #1995, ¿Es correcto?

[2018-07-11 22:39] kukogit opened #2133 "[BUG] Los alumnos no pueden ver el ranking en modo escuela"
Los alumnos no pueden ver el ranking en el modo Escuela.

## Comportamiento Esperado

Que los alumnos puedan ver su avance y compararlo con los demás alumnos.

## Comportamiento Actual

Al indicar que queremos "Mostrar el scoreboard" y dar actualizar te dice que se hicieron los cambios, pero al darle F5, nuevamente aparece en NO.

## Pasos para reproducir (para bugs)

1. Seleccionar la opción SI d

[2018-07-13 03:44] #1740 closed

[2018-07-14 06:09] pabloaguilar commented on #2088
Si, quedo corregido.
Gracias!

[2018-07-14 06:09] #2088 closed

[2018-07-14 08:56] SpaceWhite commented on #2076
@lhchavez  Regarding the third issue, it seems like there is no `start_time` restriction in the current implementation. Should we restrict start_time in normal contest?

[2018-07-18 13:58] lhchavez commented on #2003
sí, se me olvidó cerrarlo ^^;;

[2018-07-18 13:58] #2003 closed

[2018-07-19 18:03] sarvesh211999 commented on #2009
@SpaceWhite  Can you please update the list ??
Please tick those files that have been already migrated.

[2018-07-19 18:25] sarvesh211999 commented on #2077
Is this issue assigned or open ??

[2018-07-20 00:27] SpaceWhite commented on #2009
@sarvesh211999 Sure :)

[2018-07-20 01:07] lhchavez commented on #689
esto es similar al cambio que se hizo antes para el mini-ranking, pero este aplicaría para el scoreboard principal.

[2018-07-20 01:09] elendil326 commented on #689
[] Cambio en la UI
[] Prueba de Selenium donde el concurso siempre oculta

[2018-07-20 01:12] elendil326 commented on #595
- [ ] Cambio en la base de datos para crear una columna en la tabla de problemas
- [ ] Cambio en el controlador para al momento de crear o editar un problema, pasar este número
- [ ] Cambio en la UI para agregar un campo nuevo en la interfaz de un problema (Drop down es una opción)
- [ ] Cambio en el grader ( Asignado a @lhchavez )

[2018-07-20 01:41] lhchavez commented on #2133
El scoreboard en sí ya está en el codebase, sólo falta hacer que el botón funcione y se guarde en la base de datos la preferencia.

[2018-07-20 01:41] elendil326 commented on #2132
Actualmente el coder del mes se calcula cuando el primer request pide saber quién es el coder del mes. Hay que borrar este código. En la UI de los administradores de mentores hay que darle opción de elegir uno de los posibles candidatos

[2018-07-20 01:48] lhchavez commented on #2075
ya lo discutimos, y mejor sí lo mostramos exactamente igual que como se muestran en los concursos. así es más fácil de mantener para nosotros y descubrir para ustedes.

[2018-07-20 01:55] lhchavez commented on #2006
@dventura11 welp, no habíamos visto tu comentario. todavía te interesa? por aquí mismo se puede.

[2018-07-20 01:58] lhchavez commented on #2014
Este cambio se puede hacer en un solo PR, e incluye regresar el `boolean`, consumirlo en interfaz, y quitar el hack de Selenium.

[2018-07-20 01:59] lhchavez commented on #2016
La siguiente vez que te ocurra, corre `vagrant provision` porque puede que estés usando una versión vieja del Broadcaster. si sigue ocurriendo, avísanos.

[2018-07-20 03:47] kukogit commented on #2075
Ya no entendí... se van o no a mostrar los envíos de los alumnos en el modo escuela? Sólo para reiterar, a mi sólo me interesa ver los envíos de los chavos, tal cual se ve en el modo ADMIN de los concursos actualmente.

No sé en qué momento "discutimos" la solución.. el issue inicial se trataba de ver los envíos como actualmente se ve en los concursos...

[2018-07-20 03:51] lhchavez commented on #2075
se van a mostrar en modo admin en los cursos y tareas de la sección de escuelas, tal como se muestran en modo admin de los concursos.

[2018-07-20 03:52] kukogit commented on #2075
Excelente!!!

[2018-07-20 04:09] kukogit opened #2142 "Sugerir a los webadmins de Omegaup "cambios" a un problema"
## Contexto

Existen problemas muy básicos que son importantes para los alumnos, cosas tan simples como sumar dos números, o hacer operaciones muy básicas con números. Sin embargo, estos problemas al ser tan sencillos normalmente tienen una muy mala redacción, incluso, hay problema que ni siquiera se ajustan al formato de redaccion.php

Sugiero que haya una forma de sugerir, a través de omegaup, a

[2018-07-20 04:23] kukogit opened #2143 "Al resubir un problema completo, al redacción se queda con la versión inicial"
Después de crear un problema, se puede actualizar sin problemas su redacción, sin embargo, el problema viene cuando resubes el problema para cambiar los casos y la redacción.

## Comportamiento Esperado

Que se respeten los cambios que se hicieron a la redacción al resubir un ZIP.

## Comportamiento Actual

Actualmente, si creaste un problema, y le haces algunas actualizaciones a la redacción, est

[2018-07-20 04:29] lhchavez commented on #2142
Esto ya está diseñado y medio-implementado: https://docs.google.com/document/d/1Rbv2tTLTxrapzg9Xoa9nOoxiZuMx9_T1x_MzFck-Q54/edit

[2018-07-20 04:31] kukogit commented on #2142
Ya solicité el permiso para ver el documento, porque no lo puedo ver.

[2018-07-21 16:20] kukogit opened #2144 "Los links Publico/Administrador de las tareas/examenes del modo escuela no funcionan"
## Comportamiento Esperado

Que puedan visualizarles el ranking con los links de Publico y Administrados del modo tarea

## Comportamiento Actual

No funciona, sólo muestra la página de Omegaup pero no los scores

## Contexto

Mientras la opción de "Mostrar Score" (de un curso en el modo escuela) no funcione, la posible forma de ver el score era a través de los links de Publico/Administrador, pero

[2018-07-21 17:06] sarvesh211999 commented on #2077
Yeah I will try.

[2018-07-21 17:08] sarvesh211999 commented on #2077
Can you just elaborate what to show on the value of `omegaup.T.locale`

[2018-07-21 23:54] lhchavez commented on #2077
Actually, we can make that string be a translation string, so on `en.lang` the value would be `MM/DD/YYYY` and with `es.lang` and `pt.lang`, the value would be `DD/MM/YYYY`. Then on the `.vue` files, you can just reference `omegaup.T.datePickerFormat`. No need to inspect the value of `omegaup.T.locale`!!!

[2018-07-22 14:44] sarvesh211999 commented on #2077
Yeah Sure .

[2018-07-22 16:33] #1824 closed

[2018-07-22 21:38] #2077 closed

[2018-07-23 06:37] kukogit opened #2149 "El script redaccion.php ya no recupera la redacción"
## Comportamiento Esperado

Anteriormente, el script redaccion.php permitía recuperar la redacción de un problema.

## Comportamiento Actual

Actualmente aparece el mensaje de recuperar la redacción pero se quita automáticamente y no recupera la redacción anterior.

## Pasos para reproducir (para bugs)

1. Entrar a omegaup.com/redaccion.php
2. Hacer una modificación a la redacción
3. Dar F5 o ente

[2018-07-23 18:26] darkmx opened #2150 "No se puede editar un concurso propio (error 404)"
Hola amigos de OmegaUp.
Un concurso que tenía planeado poner como examen ya no puedo editarlo. Anteriormente estaba funcionando bien.

Programación Estructurada (examen 3t, examen 4t) - 2018P
PE3t4t_UAMA2018P
https://omegaup.com/contest/PE3t4t_UAMA2018P/edit/

No sé si tenga algo que ver que el concurso sea en modo registro. Anteriormente no tenía problemas al editarlo pero hace como media hora so

[2018-07-23 19:46] pabo99 commented on #1912
La propuesta para la administración de Identidades es agregarlas en el listado de Miembros que pertenecen a un grupo.

Por el momento, sólo cuentan con una diferencia al resto de los miembros, el `username` se compone de la siguiente forma: `[Alias del Grupo][:][Nombre de usuario]`

Las acciones que se pueden realizar a las identidades son las siguientes:
- Editar información.
- Cambiar contraseña

[2018-07-24 03:55] lhchavez commented on #2150
Esto es porque https://github.com/omegaup/omegaup/blob/4ea1080088f922ec907529e3d206f372c29a65da/frontend/server/controllers/ContestController.php#L2032 espera un `username`, pero en la tabla se guarda la `Identity` de un usuario que cambió su `username`.

Por lo pronto hice el cambio manual en la base de datos para que los usuarios correspondieran, y abrí un bug para arreglar el problema de raíz.

[2018-07-24 03:55] #2150 closed

[2018-07-24 03:56] lhchavez opened #2151 "Sincronización entre `Users.username` e `Identities.username`"
Si un usuario se cambia de username, causa un montón de problemas porque no hay correspondencia entre `Users.username` e `Identities.username`. Por ejemplo, #2150.

## Comportamiento Esperado

https://github.com/omegaup/omegaup/blob/4ea1080088f922ec907529e3d206f372c29a65da/frontend/server/controllers/UserController.php#L1730 y https://github.com/omegaup/omegaup/blob/4ea1080088f922ec907529e3d206f37

[2018-07-24 04:00] lhchavez commented on #1912
Creo que no es conveniente eliminar identidades (así como no eliminamos nada más). Lo de ligar identidades a un usuario lo tiene que hacer un usuario en su perfil.

Todo lo demás (cambio de contraseña y editar información básica) suena razonable ponerlo ahí donde propones.

[2018-07-24 04:05] pabo99 commented on #1912
El botón de eliminar se refiere a quitar la relación que tiene con el grupo y realizaría la misma función que el botón de la primera lista. Habrá que buscar una mejor redacción para no confundir al usuario.

El botón de ligar identidad a un usuario lo quito.

[2018-07-24 14:07] darkmx commented on #2150
gracias :)

[2018-07-26 02:05] kukogit commented on #2075
Ya merito??? :D

[2018-07-26 02:06] lhchavez commented on #2075
no, va a tardar varios meses :(

[2018-07-26 02:07] kukogit commented on #2075
Sacatelas!!!... bueno...

[2018-07-26 05:18] pabo99 opened #2155 "La función IdentityController::getProfile() no debe recibir un Request cómo parámetro"
Hay que quitar el `Request` como parámetro en `IdentityController::getProfile()` y enviar los parámetros que requiera.

[2018-07-27 00:46] samdsmx opened #2156 "Subdominio https://ses.omegaup.com/ reedirige a una pagina externa."
Llegue ahi revisando la liga de unsuscribe de nuestros newslatters de antaño.

@joemmanuel

[2018-07-28 21:21] joemmanuel commented on #2156
Arreglado ... .ses era usado para el mailing list que ya dejamos de usar. Seguramente alguien m'as adquiri'o la misma IP p'ublica.

[2018-07-28 21:21] #2156 closed

[2018-07-28 21:46] lhchavez commented on #2156
gracias! nomás para el record, cuál fue la solución?

[2018-07-29 01:17] TsukiZombina opened #2157 "Crear contraseña para usuarios registrados con FB"
Estuve leyendo los Issues pasados y de acuerdo con #398, ya está solucionado el problema sin embargo en la sección editar perfil solo tengo la opción de cambiar contraseña, lo cual no puedo hacer dado que no tengo un "old_password" establecido. Intenté crear una nueva cuenta (para ver si reconocía el correo y me permitía agregarle una contraseña) con el mismo correo y usuario y tampoco lo permite

[2018-07-29 03:39] joemmanuel commented on #2156
Borr'e la entrada de ses en godaddy.

[2018-07-30 03:21] #1878 closed

[2018-08-01 00:38] renepayan opened #2158 "Insertar múltiples alumnos"
## Comportamiento Esperado
* Insertar múltiples alumnos en la sección de cursos de omegaUp Escuelas
## Comportamiento Actual
* Los alumnos se tienen que agregar uno por uno
![captura](https://user-images.githubusercontent.com/4644454/43494604-4d1f8f40-94f9-11e8-9a38-2a9520ddcdb5.PNG)

[2018-08-01 00:40] renepayan opened #2159 "Insertar multiples administradores"
## Comportamiento Esperado
* Insertar múltiples administradores en un grupo en la sección de cursos de omegaUp Escuelas
## Comportamiento Actual
* Los administradores se tienen que agregar uno por uno en el grupo
![captura](https://user-images.githubusercontent.com/4644454/43494651-8636d6da-94f9-11e8-9f82-9d089a9b9cef.PNG)

[2018-08-01 00:43] renepayan opened #2160 "Error al clonar un curso"
## Comportamiento Actual
* Al tratar de clonar un curso en omegaUp escuelas, la plataforma muestra un error, y no permite crear el nuevo curso
![captura](https://user-images.githubusercontent.com/4644454/43494756-f8f3a338-94f9-11e8-8d85-3b9520c274f7.PNG)

[2018-08-02 00:11] elendil326 commented on #2016
@pabo99 Voy a cerrar este issue y si vuelve a pasar, verifica con el comando que pone @lhchavez . Si eso no soluciona el problema, re-abrimos este issue.

[2018-08-02 00:11] #2016 closed

[2018-08-02 14:49] elendil326 commented on #2033
Esto podría usar las identidades?

[2018-08-02 14:54] elendil326 commented on #2034
Debe haber algunos que ya existan como plugins que se puedan incluir fácilmente

[2018-08-02 14:57] elendil326 commented on #2036
Esto no estaría cubierto ya por los cursos?

[2018-08-02 15:04] elendil326 commented on #2039
Falta desarrollar esta idea.

- Marcar problemas para ser resueltos en un futuro y recibir recordatorios de los mismos
- Marcar automáticamente problemas que fueron empezados pero no fueron terminados
- Recordatorios en tareas para cursos

[2018-08-02 15:05] elendil326 commented on #2040
Esto se podría resolver con un historgrama? Guardamos el estatus por tiempo o solo el más reciente?

[2018-08-03 01:09] elendil326 commented on #2033
- Un solo equipo, una sola computadora,
 - Una identidad representa un grupo de personas
 - Un feature relevante  a este es mostrar el perfil de la identidad como el grupo ( concursos, problemas resultos, etc.)
- No hay restricción. Al concurso se puede unir tanto individuos como personas
- Faltaría arreglar la funcionalidad de agregar la lista de usuarios. Ahora solo busca en la tabla de ususario

[2018-08-03 01:12] elendil326 commented on #2037
Puede resolverse con cola de nominación. Pendiente link al one pager.

[2018-08-03 01:14] elendil326 commented on #2038
Se puede empezar con una funcionalidad de "follow" y de ahí agregar funcionalidad.

[2018-08-03 01:15] lhchavez commented on #2039
Esto ya está implementado en https://omegaup.com/profile/

[2018-08-03 01:15] #2039 closed

[2018-08-03 01:16] elendil326 commented on #2040
Una vez implementado el modo fantasma, esto será trivial.

[2018-08-03 01:27] lhchavez commented on #2046
La solución es usar [`history.replaceState`](https://developer.mozilla.org/en-US/docs/Web/API/History_API#The_replaceState()_method) cuando entras a arena para poner el primer hash.

[2018-08-03 01:29] elendil326 commented on #2048
Duplicado de #2041

[2018-08-03 01:29] #2048 closed

[2018-08-03 01:30] elendil326 commented on #2049
Esto necesita input del depto. educativo.

[2018-08-03 01:32] elendil326 commented on #2050
Buscar gente que ya existe es dificil en omegaUp. Esto contribuye a la dificultad mencionada.

[2018-08-03 01:35] elendil326 commented on #2052
Esto require backend V2 para guardar la solución en una manera más apropriada

[2018-08-03 01:37] elendil326 commented on #2054
Esto ya existe, pero se tiene que documentar para uso del público. Este documento puede tomar ejemplos del código abierto de omegaUp.

[2018-08-03 01:39] elendil326 commented on #2056
Duplicado de #2050 y/o #2038

[2018-08-03 01:39] #2056 closed

[2018-08-03 01:42] elendil326 commented on #2060
esto ya está resuelto.

[2018-08-03 01:42] #2060 closed

[2018-08-03 01:45] elendil326 commented on #2036
Esto se puede resolver poniendo un filtro de público/privado en la lista de cursos. Asumiendo que todos los cursos publicos son tutoriales.

[2018-08-03 01:47] elendil326 commented on #2036
Falta definir el diseño para mostrar de una manera agradable los cursos públicos

[2018-08-03 01:49] elendil326 commented on #2143
Esto será resulto con el Backend V2

[2018-08-03 01:55] pabo99 commented on #2144
Tienes alguna captura de pantalla o links para ver en donde falla?

[2018-08-03 02:02] elendil326 commented on #2157
La UI no mostrará la opción de "contraseña anterior" en estos casos.

[2018-08-03 02:08] kukogit commented on #2144
Si yo como admin del curso, quiero ver los link públicos y administrador, puedo hacerlo, pero si se los comparto a los de más usuarios, sólo ven lo siguiente:

![Screenshot](https://user-images.githubusercontent.com/6465292/43620388-faabe812-9697-11e8-87a4-c38878b511ad.jpeg)

[2018-08-03 02:09] lhchavez commented on #2144
puedes compartir el URL porfa? eso se corta en el screenshot.

[2018-08-03 02:10] kukogit commented on #2144
admin:

https://omegaup.com/course/ENTKPCCPP01/assignment/ENTKPCCPP01A01/scoreboard/13d625c0a13668122d698e1f6134a2

público:
https://omegaup.com/course/ENTKPCCPP01/assignment/ENTKPCCPP01A01/scoreboard/67c759f48d2936de8989b51307c98c

[2018-08-08 04:28] #2091 closed

[2018-08-08 17:12] pabo99 commented on #2089
Esto también se deriva del Refactor de Identidad #1300

[2018-08-08 17:17] pabo99 commented on #2089
Aquí se debe incluir lo siguiente:
[code]

[2018-08-09 03:32] #1717 closed

[2018-08-09 14:09] pabo99 opened #2165 "La página de redacción marca un error 500"
![2018-08-09](https://user-images.githubusercontent.com/3230352/43904262-d3f5cf82-9bb3-11e8-8e24-fb6f45f5af7d.png)

[2018-08-09 23:41] #2165 closed

[2018-08-12 18:01] renepayan opened #2170 "Error al ingresar a un curso"
Si un usuario cambia su nombre de usuario, puedo registrarlo en el curso pero cuando este trata de ingresar, no le permite hacerlo
![38903810_2121797231420982_7990222621922820096_n](https://user-images.githubusercontent.com/4644454/44004872-c1b9dfc4-9e2f-11e8-9817-48b47a451986.png)

[2018-08-12 19:37] renepayan opened #2171 "[FEATURE] Implementacion de la funcion borrar un examen en omegaUp escuelas"
No se pueden borrar los examenes de un curso, dice que la funcion aun no se implementa
![captura](https://user-images.githubusercontent.com/4644454/44005703-49e2becc-9e3d-11e8-95ce-332bda1417bb.PNG)

[2018-08-13 13:44] pabo99 commented on #2085
Faltan hacer las pruebas de este cambio

[2018-08-14 04:42] renepayan commented on #2170
No puedo verifcar el cambio porque ahora yo estoy impedido para entrar al curso
Si estoy agregado al curso y no he cambiado de usuario nunca
![captura](https://user-images.githubusercontent.com/4644454/44072055-53492fe4-9f52-11e8-9ef2-c9f948be742d.PNG)
Y este es el error del api cuando trato de agregar a mi usuario de nuevo por medio de la API
![captura](https://user-images.githubusercontent.com/4

[2018-08-14 20:05] renepayan opened #2172 "No se puede ingresar al curso"
No se puede ingresar a un curso en omegaUp escuelas @pabo99
![44072055-53492fe4-9f52-11e8-9ef2-c9f948be742d](https://user-images.githubusercontent.com/4644454/44115415-72e8d6b6-9fd3-11e8-8ad3-f4c6aad95122.PNG)

[2018-08-14 23:44] #2172 closed

[2018-08-15 01:32] #2079 closed

[2018-08-15 01:59] #2151 closed

[2018-08-16 15:54] sarvesh211999 commented on #2053
I want to work on this issue.
@lhchavez Please assign

[2018-08-17 01:14] #2170 closed

[2018-08-17 02:50] lhchavez commented on #2053
Assigned to @sarvesh211999 ! thanks you very much :)

[2018-08-19 18:05] renepayan opened #2175 "Error al entrar a un examen en la Arena"
No se puede acceder a los exámenes recién creados en la arena
solo sucede si se solicita compartir información al momento de crear al examen
![captura](https://user-images.githubusercontent.com/4644454/44311640-82dea100-a3b0-11e8-9235-9bf67dc60191.PNG)

[2018-08-19 18:15] renepayan opened #2176 "Error al modificar las fechas de un curso"
Cuando se tratan de modificar las fechas de un curso, si la fecha de inicio no se cambia a una fecha posterior, el sistema no permite editar el curso
![39526016_693827747653182_1669579578957365248_n](https://user-images.githubusercontent.com/4644454/44311709-f339f200-a3b1-11e8-8a2b-3aedf3b3f25c.png)

[2018-08-20 14:19] yeyoboy opened #2177 "Progreso de Estudiantes en Escuelas"
Error al Intentar revisar el progreso de estudiantes en "ESCUELAS".

Quiero revisar los envíos de los estudiantes y al intentar hacerlo me marca error.

![captura de pantalla 2018-08-20 a la s 09 17 59](https://user-images.githubusercontent.com/13025387/44345860-115b2d00-a45a-11e8-8795-0ffd4d3becd0.png)

[2018-08-21 10:42] SpaceWhite commented on #2149
![Screenshot](https://user-images.githubusercontent.com/15065085/44397152-46748780-a50d-11e8-8ee3-84ebcd7f670b.gif)
I can't reproduce the error

[2018-08-22 01:12] SpaceWhite commented on #2176
It seems like you want to start an assignment before the course even started. I think we can't do that

[2018-08-23 05:58] lhchavez commented on #2176
oh ya veo. efectivamente, como dice @SpaceWhite no permitimos hacer _cursos nuevos_ cuando la fecha ya pasó, pero sí deberíamos de permitir _editar cursos existentes_ conservando la fecha actual.

[2018-08-23 22:06] SpaceWhite commented on #1932
@dgarvit are you still working on this issue?

[2018-08-24 03:49] SpaceWhite commented on #1848
@Imraj Are you still working on this issue?

[2018-08-24 04:26] dgarvit commented on #1932
No. Please go ahead! :)

[2018-08-24 06:45] SpaceWhite opened #2183 "pylint error"
Pylint shows this error when trying to run `git push --set-upstream <remote> <branch>`

[code]

[2018-08-25 19:11] lhchavez commented on #2183
welp, the versions of pylint of our VMs and Travis have diverged. I guess I'll fix that once I'm back.

[2018-08-25 19:36] #2177 closed

[2018-08-25 19:37] lhchavez commented on #2177
se le hará deploy a producción el domingo siguiente

[2018-08-26 17:53] #2053 closed

[2018-08-30 21:44] pabo99 commented on #2132
Para no borrar código y poder reutilizar el existente, se puede agregar un campo en la DB donde indique si el usuario fue aprobado, por default tendría `NULL`. Una vez que se apruebe este campo pasa a 'YES'.

El código que se agregaría sería el que vuelva a calcular el `Coder of the month`, omitiendo a los usuarios que hayan sido rechazados en el mes actual desde la `UI` de los administradores de

[2018-09-05 06:17] andreasantillana commented on #1234
👍

[2018-09-05 14:13] #2001 closed

[2018-09-06 23:26] rccuam opened #2189 "Actualizar la redacción de un problema no se refleja inmediatamente"
Hola amigos de OmegaUp.
Actualizar la redacción de un problema está dando problemas (valga la redundancia :). Ocasionalmente se está elevando la siguiente excepción del lado de Javascript al darle clic al botón "Actualizar redacción".

[imagen](https://imgur.com/pEJF40I)

Esto no ocurre siempre, pero sí bastantes veces. Parece que la actualización no siempre se refleja en el servidor a pesar de qu

[2018-09-07 20:31] darkmx commented on #2189
Hola de nuevo, al parecer el problema es un poco más raro.

Por una parte, cuando la excepción se eleva se manda una petición POST a https://omegaup.com/jserrorreport.php que supongo es intencional. Una cosa rara es que darle click al botón puede que no eleve la excepción pero en algún momento se eleva por sí sola (sin recargar la página).

Lo más raro del asunto es que una actualización "procesad

[2018-09-09 02:12] darkmx commented on #2189
Algo similar ocurre con el `textarea` que tiene la descripción del problema a actualizar. Si recargas el formulario después de realizar una edición, es posible que se cargue la vieja versión; despúes de esperar algunos segundos o un minuto ya aparece la nueva versión al recargar la página.

[2018-09-09 21:49] sarvesh211999 commented on #1774
I think this issue is already been resolve. Please close it.

[2018-09-10 21:17] pabo99 commented on #2085
Se agregan las pruebas de login para identidades.

[2018-09-14 01:35] lhchavez commented on #2189
oh, esto es porque no estamos invalidando el cache correctamente :S se supone que con https://github.com/omegaup/omegaup/pull/2191 ya se va a arreglar.

[2018-09-14 01:47] darkmx commented on #2189
ya veo, gracias por la respuesta :)

[2018-09-14 14:33] MiguelRomero opened #2195 "BUG: No se visualizan correctamente los concursos previos."
## Comportamiento Esperado

Mostrar los concursos donde participe dentro de mi perfil.

## Comportamiento Actual

No se muestran los concursos en los cuales e participado dentro de mi perfil.
## Pasos para reproducir (para bugs)

1. Ingresar al perfil personal. ( https://omegaup.com/profile/ )
2. Buscar la parte de concursos.

## Contexto

Para poder ver rapidamente las personas con las que partic

[2018-09-17 03:47] #2085 closed

[2018-09-17 19:11] MiguelRomero opened #2196 "BUG: Mezcla de calificaciones de problemas dentro de un concurso."
## Comportamiento Esperado

En el concurso el scoreboard se muestra actualmente de esta forma, notar el problema ​U que ya ha sido resuelto por mi según la tabla, sin embargo, dicho problema no ha sido resuelto por mi.

## Comportamiento Actual

Se estan intercambiando las puntuaciones de problemas que no se han resuelto por problemas que ya estan resuelto, de tal manera de que se otorga puntaje

[2018-09-18 02:18] darknut opened #2197 "Problema Minecraft no muestra tus submissions o los mejores envios"
## Comportamiento Esperado

Al abrir el problema de Minecraft:

https://omegaup.com/arena/problem/minecraft

La lista de envíos pasados está vacía y los mejores envíos también está vacía.

Inspeccionando el html de la página, se puede ver que hay una única fila vacía, a diferencia de los otros problemas, que hay una fila por cada envío.

Repro sucede en al menos tres cuentas:

golden.darknut
diego

[2018-09-18 04:32] pabloaguilar opened #2198 "omegaup.com/schools falla con error 500 cuando el usuario no tiene un login activo"
## Comportamiento Esperado

omegaup.com/schools deberia mostrar informacion sobre el feature de Schools.

## Comportamiento Actual

Se muestra con un error 500.
En local, se muestra el siguiente error:

`Fatal error: Uncaught UnauthorizedException: loginRequired in /opt/omegaup/frontend/server/controllers/Controller.php:35 Stack trace: #0 /opt/omegaup/frontend/server/controllers/CourseController.p

[2018-09-18 06:16] pabloaguilar commented on #2197
Estan apareciendo un par de errores JS al cargar la pagina:
[code]

[2018-09-18 14:55] elendil326 commented on #2158
¿Escribir el nombre de usuario de los alumnos separado por punto y coma es una solución aceptable?
¿Hay algún otro formato que usen para almacenar los usuarios de los alumnos que pueda ser reutilizado? Como CSV por ejemplo.

[2018-09-18 14:56] elendil326 commented on #2159
¿Escribir el nombre de usuario de los administradores separado por punto y coma es una solución aceptable?
¿Hay algún otro formato que usen para almacenar los administradores que pueda ser reutilizado? Como CSV por ejemplo.

[2018-09-18 15:59] darkmx opened #2200 "Modificar la hora de fin de un concurso "cancela" el concurso"
Hola amigos de Omegaup.

En la mañana intenté organizar un concurso rápido de práctica https://omegaup.com/arena/AED2018O/#problems y después de explicarles los problemas a los alumnos, decidí agregar 5 minutos al concurso. Sin embargo, al hacerlo la cuenta regresiva dentro del concurso se fue a 00:00:00 a pesar de que la hora de fin aparentemente sí se actualizó exitosamente (de hecho sigue apare

[2018-09-18 23:02] MiguelRomero commented on #2159
1.- Sí separado por ';' tambien es viable.
2.- El csv separado por comas tambien es viable.
Se propuso asi por que en los examenes de la arena, agregan multiples usuarios separando por comas, pero a nosotros nos es indiferente como lo quieran solucionar.

[2018-09-18 23:02] MiguelRomero commented on #2158
1.- Sí separado por ';' tambien es viable.
2.- El csv separado por comas tambien es viable.
Se propuso asi por que en los examenes de la arena, agregan multiples usuarios separando por comas, pero a nosotros nos es indiferente como lo quieran solucionar.

[2018-09-19 15:08] MiguelRomero opened #2201 "BUG: Fallo al crear concursos"
## Comportamiento Esperado
Debe mostrar el tiempo en el cual debe comenzar el concurso correctamente.

## Comportamiento Actual

El tiempo se queda en: "00:00:00"

## Contexto

A los concursantes en el tiempo les aparece 00:00:00, independientemente del tiempo seleccionado al crearlo y cuando intentan enviar les aparece: "El concurso ya terminó o aún no empieza"

[2018-09-19 18:44] pacharrin opened #2203 "Como creador del curso de la OMI me gustaria poder filtrar/ordenar el progreso de los estudiantes por la última vez que hicieron algún envío para identificar a los estudiantes activos"
## Comportamiento Esperado

en la vista de progreso de estudiantes agregar la columna de última actividad y poder filtrar solo los alumnos que han hecho algo en la última semana o el último mes

[2018-09-19 19:00] lhchavez commented on #2201
dupe de #2200

[2018-09-19 19:00] #2201 closed

[2018-09-21 03:17] #2200 closed

[2018-09-21 03:37] darkmx commented on #2200
muchas gracias :)

[2018-09-21 03:38] lhchavez commented on #2200
aún no hacemos deploy de esto, pero manualmente ya arreglé todos los concursos afectados.

[2018-09-21 03:43] darkmx commented on #2200
Vale, gracias :)

También me gustaría aprender cómo funciona OmegaUp para poder ayudar a corregir cosas en lugar de nada más andar dando lata. Leí en algún lado que andaban haciendo una v2 (no recuerdo si de front-end, back-end o de ambos). ¿Tienen alguna recomendación para poder aprender rápidamente lo que se necesita sobre el funcionamiento de la plataforma? (manejo bien php/js, el detalle sería

[2018-09-21 22:02] darkmx opened #2204 "Error del juez (JE) en envíos"
Hola amigos de Omegaup.
El juez en línea está teniendo problemas con los envíos (no sé si con algunos o con todos). Algunos envíos que tienen status JE en el "verdict" de la respuesta JSON de OmegaUp son:

2018-09-21 16:57:12 	2b673553
2018-09-21 16:33:11 	e74acc88
2018-09-21 16:32:07 	15260fde
2018-09-21 16:30:11 	8f13f16b
2018-09-21 16:09:46 	b18390d5
2018-09-21 15:58:56 	dedb0f30
2018-09-21 15:

[2018-09-21 22:55] lhchavez commented on #2204
se le acabó el espacio en disco, pero ya quedó.

[2018-09-21 22:55] #2204 closed

[2018-09-21 22:59] darkmx commented on #2204
gracias :)

[2018-09-23 23:06] joemmanuel commented on #2200
@darkmx gracias por tu interés! Puedes empezar por aquí: https://github.com/omegaup/omegaup/wiki/C%C3%B3mo-empezar-a-desarrollar . Si te quieres unir a nuestro equipo de colaboradores voluntarios, te puedo mandar una invitación a nuestro slack.

[2018-09-24 01:10] darkmx commented on #2200
vale :) ya actualicé mis datos de contacto en mi perfil de github; probablemente el martes instale lo que se menciona en la wiki

[2018-09-26 17:55] pabo99 commented on #2197
Estoy revisando, y lo que veo es que se está armando incorrectamente el html del segundo ejemplo. Se debería ver de la siguiente forma:

![2018-09-26](https://user-images.githubusercontent.com/3230352/46097694-26795900-c188-11e8-9fc1-7042fd35f02c.png)

Le está faltando agregar el tag `<pre></pre>` al texto en la entrada, desconozco si es un error en la redacción del problema en el ejemplo o algo m

[2018-09-26 18:55] darknut commented on #2197
Efectivamente, arreglar los <pre> arregla el problema.
Gracias por todo.

[2018-09-26 18:55] #2197 closed

[2018-09-28 16:08] elendil326 commented on #1678
Hey @AtharvaKhare, I see #1776 has merged. Do you think you will have a chance to complete this part? Or should I assign it to someone else?

[2018-09-28 22:35] #1897 closed

[2018-09-29 04:34] AtharvaKhare commented on #1678
Hi @elendil326 , I am sorry, I forgot that I had been assigned this issue. I am working on another issue right now, so its ok to assign it to someone else, thanks.

[2018-09-29 05:47] #2076 closed

[2018-09-29 05:51] SpaceWhite commented on #2005
Someone assign this task to me @elendil326

[2018-09-29 07:05] lhchavez commented on #2005
done!

[2018-10-02 02:13] andreasantillana opened #2208 "Al marcar el checkbox de "También muestra concursos que administro" aparece "[virtual]" al final del título de cada concurso y desaparecen los links a los scoreboards"
## Comportamiento Esperado

En la vista de mis concursos cuando marco el checkbox de "También muestra concursos que administro" debería salir la lista de concursos que he creado + los que soy admin manteniendo sus propiedades originales.

## Comportamiento Actual

Cuando marco la casilla, a los títulos de todos los concursos les agrega " [virtual]" al final y en las columnas donde están los links

[2018-10-02 02:18] andreasantillana opened #2209 "Usuarios OMI, OMIP, OMIS 2019."
Crear usuarios para la Olimpiada 2019.

[2018-10-02 11:11] #2209 closed

[2018-10-09 04:58] pabo99 commented on #2006
No logro reproducirlo. Actualmente el curso indica que le restan al rededor de 1502 días. Se requiere de más información

[2018-10-09 15:51] pabo99 commented on #2126
En la documentación de  `bootstrap-datetimepicker.js` que se está utilizando trabajan con `jquery-1.8.1` y utilizan un `shorthand` que es obsoleto en `jquery-3.2.1`. ¿Qué tan recomendable es modificar ese shorthand sobre el archivo minificado?

[2018-10-10 13:39] pabo99 commented on #322
¿Le falta algo a este issue para poder cerrarlo?

[2018-10-10 13:39] pabo99 commented on #2090
¿Le falta algo a este issue para poder cerrarlo?

[2018-10-10 13:42] pabo99 commented on #2075
¿Le falta algo a este issue para poder cerrarlo?

[2018-10-10 14:07] kukogit commented on #2075
Hola Pablo,

Creo que no, acabo de revisar y ya lo puedo ver.

Saludos.

On Wed, Oct 10, 2018, 8:42 AM Juan Pablo Gómez Aguilar <
notifications@github.com> wrote:

[2018-10-10 18:38] pabo99 commented on #1783
Assigned to @SpaceWhite

[2018-10-11 23:40] elendil326 commented on #1678
Thanks @AtharvaKhare , I'm moving it into the sprint planning.

[2018-10-12 01:11] pabo99 commented on #2144
Los links deben verse sin necesidad de loguearse.

[2018-10-12 01:19] elendil326 commented on #1678
Se agregará botón para descargar el CSV y el controlador para generarlo.

[2018-10-12 01:35] lhchavez commented on #2158
Se decidió convertir lo de agregar estudiantes a un componente, para poder reutilizar lo que se hace en otros lados, donde se tiene un textarea que permite agregar varios estudiantes y un textbox para agregarlos uno por uno.

[2018-10-12 05:41] pabo99 opened #2218 "[FEATURE] Vuefication: problem.edit.form.tpl"
Edit: Smarty template `problem.edit.form.tpl` needs to be converted to .vue

----------------------------------------------------------------------------
Como parte de la solución del issue #2009 de migrar todos los `templates` de `smarty` a `Vue`, hay que considerar el formulario de agregar/editar problemas.

## Comportamiento Actual

Actualmente siguen existiendo `templates` de `smarty`, los cua

[2018-10-16 04:41] #1940 closed

[2018-10-16 13:33] #2126 closed

[2018-10-17 00:29] #2149 closed

[2018-10-17 03:56] lhchavez opened #2223 "Considerar reiniciar php-fpm si está en mal estado"
En el caso en el que a php-fpm se le acabe la memoria o el número de procesos hijo, en vez de regresar 502, deberíamos mejor reiniciarlo automáticamente.

Esto va a ser más útil cuando por fin podamos correr el grader en otra VM. así podríamos tener un montón de frontends y matarlos sin miedo.

[2018-10-18 11:18] frcepeda opened #2225 "omegaUp da 502"
## Comportamiento Esperado

Cuando visito omegaUp.com puedo utilizar el sitio.

## Comportamiento Actual

Recibo un error 502.

## Pasos para reproducir

1. Abrir omegaup.com

[2018-10-18 12:06] SpaceWhite commented on #2225
@frcepeda I think this relate to this issue #2223

[2018-10-18 12:19] lhchavez commented on #2225
it is. but in the meantime some config values were tuned and the service restarted

[2018-10-18 12:19] #2225 closed

[2018-10-18 22:48] pabo99 opened #2226 "Dejar de enviar el Request entre funciones privadas en controlador de Problemas"
En los controladores hay funciones que nos son `API's` las cuales reciben como parámetro un `Request`. Todos los controladores están haciendo lo mismo. En este issue se reporta lo referente al controlador de Preguntas. Hay que abrir un issue para cada controlador.

## Comportamiento Esperado

Lo que se espera, es que las funciones que validan los datos retornen el dato en sí, si es que es correcto

[2018-10-24 16:01] pabo99 commented on #2196
El problema viene en la forma de ordenar los problemas dentro del concurso. Al no elegirlo, todos los problemas se guardan con `order = 1`, esto ocasiona que al realizar la consulta ordenada por este campo, siempre se ordenen arbitrariamente, y por ende, nunca coincida el orden de los problemas en el scoreboard, con el listado de los problemas.

![2018-10-23 1](https://user-images.githubuserconten

[2018-10-26 01:34] elendil326 commented on #2175
Este ya quedo resuelto con #2172 . Puedes volver a abrirlo si esto sigue haciendo repro.

[2018-10-26 01:34] #2175 closed

[2018-10-26 01:39] yoniihdc commented on #2195
@elendil326 puedes asignarme el issue.

[2018-10-26 01:46] elendil326 commented on #792
Esto ya se arreglo con #2185

[2018-10-26 01:46] #792 closed

[2018-10-26 01:48] lhchavez commented on #752
acá está el código que genera eso: https://github.com/omegaup/omegaup/blob/master/frontend/templates/arena.contest_list.tpl

y el link estaría en https://omegaup.com/arena/

[2018-10-26 01:56] elendil326 commented on #820
@pabo99 puedes poner un screenshot de como está actualmente?

[2018-10-26 01:56] lhchavez commented on #820
![image](https://user-images.githubusercontent.com/168028/47539967-b98cd800-d887-11e8-82f2-b97be718bce3.png)

[2018-10-26 18:33] kukogit opened #2229 "BUG: Al actualizar la redacción de un problema"
## Comportamiento Actual

Al tratar de actualizar la redacción de un problema, llenar el campo "Descripción del cambio" y dar lick en el botón actualizar, indica que ya hizo el cambio pero al revisar el problema, no hay tal actualización.

Después de varias ocasiones, tal vez por "suerte" se actualiza la redacción.

## Pasos para reproducir (para bugs)

Bastante simple:

1. Elige tu problema favor

[2018-10-27 02:16] darknut opened #2230 "TLE marcado como RTE cuando la memoria se excede por mucho"
## Comportamiento Esperado

Cuando mandas un código cuya memoria se excede por mucho la que permite OmegaUp, pero que compila bien localmente, el evaluador dice RTE cuando debería decir TLE.

Ejemplo:

Envío b87621a2 para problema votacion

## Contexto

Cuando los competidores ven un RTE están esperando un error tipo segment fault, salirse del arreglo, dividir entre cero, etc, esto no califica com

[2018-10-27 02:19] lhchavez commented on #2230
esto es casi imposible de arreglar sin introducir montones de hacks en las librerías estándar :( la cosa es que si pides _demasiada_ memoria, [`malloc(3)`](https://linux.die.net/man/3/malloc) regresa `NULL` legítimamente.

[2018-10-27 02:19] #2230 closed

[2018-10-27 02:29] lhchavez commented on #2230
sí, entiendo. lo que pasa es que es casi imposible de que haga lo que quieres sin romper montones de cosas o hacerlo imposiblemente difícil de mantener cuando haya updates.

[2018-10-27 04:47] darknut commented on #2230
No es posible marcarse siquiera como error de compilación? Bueno, al menos ya vi que en el '?' sí dice que puede ser por tener arreglos muy grandes :/

[2018-10-27 04:52] lhchavez commented on #2230
no hay manera de decirle a gcc/clang que se queje si la memoria que pediría en runtime excede el límite :( podrían haber hacks horrendos inspeccionando el binario, pero no existe manera de hacerlo parejo para los demás lenguajes. entonces mejor hay que dejarlo así.

[2018-10-27 15:35] MiguelRomero commented on #2157
TsukiZombina @elendil326

[2018-10-30 20:30] darknut commented on #2229
También me pasa a mi

[2018-10-30 22:59] pabo99 commented on #2160
¿Esto sigue haciendo repro?

Hice pruebas en local y en `sandbox` y me permite clonar los cursos correctamente

![2018-10-30](https://user-images.githubusercontent.com/3230352/47755716-ec0e4a80-dc64-11e8-96b4-503c058d96c8.png)

[2018-11-01 06:18] darknut commented on #2229
Le podemos subir la prioridad a este bug? Es bastante molesto tener que volver a subir todo el zip para acutalizar la redacción. Eso o darle clic mil veces hasta que jale, lo cual imagino no es bueno para los servers de OmegaUp

[2018-11-01 22:58] MiguelRomero commented on #2229
OMW @darknut

[2018-11-01 23:43] lhchavez commented on #2229
@kukogit es más rápido que nos enteremos, pero pues es un proyecto grande y todos somos voluntarios :(

[2018-11-02 16:59] darkmx commented on #2229
@kukogit @darknut https://github.com/omegaup/omegaup/issues/2189

[2018-11-02 18:32] pabo99 commented on #2160
Las pruebas que se realizaron fueron las siguientes:

- Curso sin tareas ni exámenes.
- Curso con tareas y/o exámenes, pero sin problemas.
- Curso con tareas y/o exámenes y con al menos un problema.
- Curso sin escuela registrada.
- Curso con escuela nueva.

En todas las pruebas se pudo clonar correctamente el curso. Se cierra el issue hasta que vuelva a ocurrir.

[2018-11-02 18:32] #2160 closed

[2018-11-07 06:35] pabo99 commented on #2081
Para la parte de la interfaz se propone agregar una columna en la tabla de usuarios que están registrados en el concurso donde se indique cuando se termina el tiempo para resolverlo.

El campo se puede editar para dar la extensión de tiempo, siempre y cuando la fecha permanezca dentro del rango de la duración del concurso, y sólo será visible la columna cuando se haya habilitado la opción de inici

[2018-11-07 14:43] pabo99 commented on #752
Excelente, cualquier cosa en la que te pueda apoyar, me avisas.

[2018-11-09 05:58] #2176 closed

[2018-11-09 06:34] pabo99 commented on #762
La propuesta planteada es colocar una bandera indicando el idioma que tiene seleccionado el usuario, el cual despliegue un `dropdown list` donde de muestren todos los idiomas disponibles en omegaUp, tipo:

![2018-11-09 1](https://user-images.githubusercontent.com/3230352/48246964-1378bc00-e3b7-11e8-87dc-116c7ce8190e.png)

¿Algún comentario?

[2018-11-09 13:53] #2014 closed

[2018-11-10 01:33] #2158 closed

[2018-11-10 03:16] Mart-97 commented on #752
Hola, estoy teniendo un problema al querer interactuar con mi entorno local, probé en meterme a cualquiera de las secciones pero sale este error
 ¿Alguien sabe que podría ser ?
![image](https://user-images.githubusercontent.com/12377916/48297010-e090ff80-e46c-11e8-9dd7-9217307d9be0.png)

[2018-11-10 14:50] lhchavez commented on #752
parece que hay que actualizar los contenidos de la VM. primero intenta correr `./stuff/bootstrap-environment.py --purge` (eso limpia la DB y la pone en un estado sano) y si eso no funciona, `vagrant provision` desde afuera de la VM (eso actualiza TODO, e internamente corre el primer comando).

[2018-11-10 16:18] Mart-97 commented on #752
Ya puedo navegar entre las secciones, pero, ahora me marca error al hacer el **yarn run dev** :(  [
![screenshot from 2018-11-10 11-13-09](https://user-images.githubusercontent.com/12377916/48303575-bf1a2d00-e4d9-11e8-80f4-baf7945c20e5.png)
](url)

[2018-11-11 02:47] #2208 closed

[2018-11-11 04:24] darknut opened #2239 "Hubo un error al agregar un problema a un concurso una vez"
## Comportamiento Actual

Se tiene un problema con nombre "0110 0101 0122 0104" y alias "0110-0101-0122-0104". Cuando lo quiero agregar a un examen, me dice que el problem_alias no existe en la base de datos.

Problema:
https://omegaup.com/arena/problem/0110-0101-0122-0104/#problems

![image](https://user-images.githubusercontent.com/123875/48309085-98361800-e526-11e8-91d4-089d5784036f.png)

[2018-11-11 07:31] npave opened #2240 "No se pueden editar las fechas de inicio y fin de un curso"
Cuando se crea un curso no se puede editar la fecha de fin. Una vez que se crea el curso tanto la fecha de inicio como la fecha de fin están deshabilitadas. El problema está visible en sandbox y se introdujo en el cambio #2213.

[2018-11-12 00:55] #2240 closed

[2018-11-13 16:50] darkmx opened #2243 "Los problemas de un concurso se listan en orden incorrecto."
Hola amigos de OmegaUp. Un concurso que organizo https://omegaup.com/arena/UAM2018/ acaba de iniciar y dos problemas se están mostrando en un orden contrario al establecido. El error parece radicar únicamente al momento de dibujarlos, ya que los datos que devuelve el servidor están bien.

Reproduje el error en Firefox 64 y Chrome 72, ambos en Windows 10.

![sin titulo](https://user-images.githubus

[2018-11-13 18:47] eloisagc opened #2244 "Regresión: omegaUp escuelas no cambia una fecha de inicio de una tarea sin envíos"
## Comportamiento Esperado

En un curso a través de OmegaUp Escuelas quiero cambiar (adelantar) la fecha de una tarea que no tiene envíos todavía. Originalmente la tarea estaba propuesta para iniciar el 24 de noviembre, pero quiero adelantarla para hoy 13 de noviembre.

## Comportamiento Actual

Puedo cambiar la fecha en la interface de usuario de tareas y cuando le doy click a "actualizar tarea"

[2018-11-13 19:58] lhchavez commented on #2244
@pabo99 welp, esto se rompió con los cambios de la semana pasada. puedes revisarlo porfa?

[2018-11-13 20:29] darkmx commented on #2243
Hola de nuevo, parece que también ocurre un error similar (pero al parecer no idéntico) al reportado en #2196. El problema que yo quería que fuera el A aparece como el B en la lista izquierda, pero sí aparece como el A en el ranking.

![sin titulo](https://user-images.githubusercontent.com/19719969/48441171-7a4bfb80-e750-11e8-9ef2-f5cf511065a2.png)

En el issue anteriormente mencionado se dijo que

[2018-11-13 22:42] elendil326 commented on #820
@lhchavez esté screenshot es de la vista de adminstrador. Para qué querría ver un admin todos los errores de compilación? No sería mejor esta información al nivel del ususario solamente?

[2018-11-13 22:49] pabo99 commented on #946
Encontrar la configuración o que otro aspecto del entorno no esté aceptandose en producción para poder reproducirlo.

[2018-11-13 23:18] pabo99 commented on #2244
Ok, lo reviso para ver qué fue lo que se rompió

[2018-11-13 23:19] pabloaguilar commented on #2244
Se rompio el que se desactiva el campo en "Update" incondicionalmente.
Esta activo al crear una tarea, pero se desactiva al actualizar. Falta la
logica de negocios que diga que si deberia poderse para tareas sin envios

Le mar. 13 nov. 2018 à 15:18, Juan Pablo Gómez Aguilar <
notifications@github.com> a écrit :

--
Pablo Aguilar
pablo.aguilar@gmail.com

[2018-11-14 03:54] pabo99 commented on #858
@MiguelRomero   La propuesta es agregar un checkbox que indique si el usuario es maestro, y al seleccionarlo, que aparezca otro donde se le pregunte si desea ser contactado por el equipo de `omegaUp for Schools`.

¿Qué opinas?

[2018-11-15 03:28] pgocegue opened #2246 "No puedo cambiar la fecha de una tarea en Escuelas"
## Comportamiento Esperado

En un curso a través de OmegaUp Escuelas se podía cambiar la fecha inicial y final  de una tarea que ya tenia creada, al igual de los exámenes.

## Comportamiento Actual

En un curso a través de OmegaUp Escuelas quiero cambiar la fecha final "End date" de una tarea que ya tenia creada pero necesito darle mas tiempo para que los alumnos puedan resolverla y no me lo permi

[2018-11-16 05:36] #2246 closed

[2018-11-17 14:52] kukogit opened #2248 "No se pueden eliminar alumnos de un curso en modo escuela"
## Comportamiento Esperado

Que elimine a los alumnos

## Comportamiento Actual

Simplemente no los elimina. Si abres la ventana de desarrollador, se puede ver que es un error con JS.

## Pasos para reproducir (para bugs)

Tratar de borrar un alumno y ya, no hay que hacer gran cosa.

## Contexto

![captura](https://user-images.githubusercontent.com/6465292/48662311-0c504e80-ea46-11e8-9ecb-390a9659

[2018-11-17 15:53] #2248 closed

[2018-11-17 18:30] #2244 closed

[2018-11-17 21:18] kukogit commented on #2243
x2

[2018-11-17 21:21] lhchavez commented on #2239
hmm esto no me hace repro (sí pude agregar y quitar ese problema a otro concurso). puedes intentar reproducirlo [grabando un HAR](https://community.box.com/t5/Managing-Content-Troubleshooting/How-to-Generate-a-HAR-File-in-Chrome-IE-Firefox-and-Safari/ta-p/366) y compartiéndolo porfa? inmediatamente después de generar el HAR, haz logout y login para invalidar tu token de acceso (porque el HAR lo va

[2018-11-17 21:34] kukogit opened #2251 "Como entrenador, me gustaría que Karel.js tuviera la opción de indentar automáticamente un código"
## Comportamiento Esperado

Un botón adicional que permita indentar el código de un usuario, pudiendo elegir entre algunas de las dos opciones estándar.

## Comportamiento Actual

La opción no está disponible actualmente.

## Contexto

Es una tarea ardua y repetitiva la necesaria para educar a un niño en la forma más adecuada para escribir un código. Cuando un alumno requiere ayuda y su código no

[2018-11-17 22:01] lhchavez commented on #2251
oh sí estaría bueno eso!

[2018-11-17 22:29] Mart-97 commented on #752
Hola, una pregunta, el link que irá en resultados, sería el de esta vista?
![screenshot from 2018-11-17 17-28-15](https://user-images.githubusercontent.com/12377916/48666374-39285400-ea8e-11e8-905d-1d9a3fd59e2b.png)

[2018-11-17 22:59] pabo99 commented on #752
Es correcto, sólo revisa que sea la `url` correcta, ¿Cómo saber eso? Existen dos `url's` para scoreboards. Puedes revisar en `/contest/mine/` la `url` que se genera para el público:

![2018-11-17](https://user-images.githubusercontent.com/3230352/48666549-f3698c80-ea89-11e8-9707-0206a976405c.png)

[2018-11-17 23:32] lhchavez commented on #2229
Dupe de https://github.com/omegaup/omegaup/issues/2189

[2018-11-17 23:32] #2229 closed

[2018-11-17 23:44] #2189 closed

[2018-11-18 19:22] AresLOLXD opened #2256 "No sé visualiza correctamente el curso"
## Comportamiento Esperado
Qué cargue el scoreboard
## Comportamiento Actual
No carga el scoreboard en el frontend, el API está funcionando correctamente.
## Posible Solución
Arreglar el frontend
## Pasos para reproducir
1. Abrir cualquier curso
![img_20181118_130921_hdr](https://user-images.githubusercontent.com/7190526/48677021-5d3e7080-eb34-11e8-968a-380e5cd5f047.jpg)

## Contexto
No se puede h

[2018-11-18 19:54] #2196 closed

[2018-11-20 21:44] darkmx commented on #2243
Hola de nuevo, la información del concurso ya aparece correctamente (no le he movido mano, así que tal vez algún cambio reciente en OmegaUp arregló el problema).

Saludos!!

[2018-11-20 21:45] lhchavez commented on #2243
ah, excelente! parece que https://github.com/omegaup/omegaup/commit/33b2b95b9e1daa422d6586001c7259e3a99eb4a3 fue suficiente entonces para arreglarlo :D  gracias por avisarnos que ya quedó. cerrando issue.

[2018-11-20 21:45] #2243 closed

[2018-11-21 07:10] eloisagc opened #2257 "OmegaUp Escuelas: no se visualizan los envíos de los alumnos de un curso"
## Comportamiento actual
Al darle click al enlace envíos que aparece junto a los enlaces del scoreboard en un curso de OmegaUp escuelas, la lista de alumnos que se despliega no es la de los usuarios actuales ni la de ejercicios del curso, sino la lista siguiente:

<img width="1130" alt="screen shot 2018-11-20 at 7 31 01 pm" src="https://user-images.githubusercontent.com/6990253/48821435-27ed7a80-e

[2018-11-21 15:52] lhchavez commented on #2257
Resulta que por accidente estábamos obteniendo los envíos para https://omegaup.com/course/IAL/assignment/T1/admin/#runs :S eso solo pasa si por accidente resulta que tienes una tarea/examen con el mismo nombre que una tarea/examen anterior.

[2018-11-21 16:59] #689 closed

[2018-11-23 00:52] npave opened #2259 "Lista de concursos pasados: el link Practice no sirve"
En arena en la lista de concursos pasados, el link _Practice_ no sirve. Actualmente cuando das click te manda a otra página con un mensaje que solo dice _error_

## Comportamiento Esperado

El link _Practice_ debería llevarte al formato de práctica del concurso.

[2018-11-23 08:44] pabloaguilar commented on #2259
Parece que no estamos revisando el que el concurso ya paso, a la hora de solicitar informacion del usuario. Esto es lo que veo en `payload`:
[code]

[2018-11-23 14:54] pabo99 commented on #2259
Es correcto, este error se muestra en todos los concursos en los que no hayas participado, que es cuando se manda llamar `arena.contest.intro.tpl`.

La solución es enviar `privacyStatement` en `arena/practice.php` al template como se hace en el siguiente archivo: https://github.com/omegaup/omegaup/blob/master/frontend/www/arena/contest.php#L30-L34

[2018-11-24 23:36] #2259 closed

[2018-11-25 05:01] darknut commented on #2239
Tan raro eso... lo volví a intentar y ahora sí funciona :/

[2018-11-25 05:01] #2239 closed

[2018-11-30 01:49] lhchavez opened #2265 "CoderOfTheMonthTest::testMentorCanChooseCoderOfTheMonth falla los últimos dos días del mes"
[code]

[2018-12-03 03:07] #2265 closed

[2018-12-03 19:20] eloisagc opened #2268 "Bug: Concurso de OmegaUp no permite que los concursantes entren"
## Descripción del bug
Tenemos un concurso abierto y los estudiantes deberían poder accesarlo, sin embargo aparece un error "interno" y no permite el acceso.

## Comportamiento Actual

Va la captura de pantalla del usuario después de intentar entrar al concurso en la arena
<img width="822" alt="screen shot 2018-12-03 at 8 51 30 am" src="https://user-images.githubusercontent.com/6990253/49396070-14

[2018-12-03 20:50] #2268 closed

[2018-12-03 21:41] lhchavez commented on #2268
ya hicimos el deployment a producción. ya se solucionó el problema?

[2018-12-05 05:05] pabo99 commented on #818
En `ContestsDAO`, todas las consultas que muestran información de los concursos se obtienen de una variable estática en la cual ya se aplica la función `UNIX_TIMESTAMP`, así que ya no se corre ese riesgo.

[2018-12-05 18:36] lhchavez commented on #818
la cosa es que hay que buscar una manera en la que esto no pueda ocurrir jamás. así como están las cosas ahorita puede ser que cambie algo y regrese el problema :(

[2018-12-05 20:04] yoniihdc commented on #2195
@pabo99 ya esta el PR #2276 una disculpa por la demora.

[2018-12-06 00:24] frcepeda opened #2277 "Acceso a karel.js desde arena.omegaup.com"
Como administrador de concurso, quiero poder hacer un concurso en modo lockdown (arena.omegaup.com), pero que los concursantes tengan acceso a Karel.js.

## Comportamiento Esperado

Al visitar https://arena.omegaup.com/kareljs, puedo usar Karel.js.

## Comportamiento Actual

Recibo un 404.

## Contexto

Este feature es crucial para la OMIPS presencial, donde los concursantes realizan precisamente

[2018-12-06 00:26] #2277 closed, assigned to nobody

[2018-12-06 02:14] pabo99 commented on #2144
¿Le falta algo a este `PR`?

[2018-12-07 04:31] #2195 closed

[2018-12-08 19:03] eloisagc opened #2278 "Bug: Concurso privado en OmegaUp no deja entrar a los concursantes"
## Comportamiento Actual

Este issue está relacionado con un bug que había reportado recientemente https://github.com/omegaup/omegaup/issues/2268
en el cual los concursantes no podían accesar un concurso privado

## Posible Solución

Nos dimos cuenta que poniendo el concurso como público ya no marcaba el error y dejaba entrar a los concursantes.

## Tu ambiente

Nombre del navegador (e.g. Chrome 3

[2018-12-08 22:28] sarvesh211999 opened #2279 "Broken contestreport.php"
Indexing issues when going to below link contest_alias is passed as request parameter to get the report of the contest .

http://localhost:8080/contestreport.php?contest_alias=prueba

Attaching screenshot of the issue.
![screenshot from 2018-12-09 03-58-24](https://user-images.githubusercontent.com/30972656/49691384-b5cac180-fb66-11e8-8ab6-38cf45fc399e.png)

[2018-12-09 05:55] #762 closed

[2018-12-10 20:00] darkmx opened #2280 "Error al añadir traducciones desde formulario"
Hola amigos de Omegaup.

Estoy agregando traducciones al inglés de unos poquitos problemas pero no he podido hacerlo directamente desde la opción "Editar redacción". Después de elegir el idioma, enviar la traducción y recargar la página, la traducción en ese idioma sigue sin aparecer. Todo indica que hay un error en el lado del cliente al hacer la petición, ya que ésta se envía a `jserrorreport.ph

[2018-12-13 13:51] carlosabcs commented on #2057
Algo relacionado a esto, sería agregar una visualización de los lenguajes de programación más usados por el usuario, en su perfil?

[2018-12-18 02:27] darknut opened #2284 "Banner de idioma oculta el menú de problema"
Apenas hoy abrí OmegaUp y había un nuevo feature para cambiar de idioma, eso hacía que el banner de arriba se desplegara en dos filas. De ahí no había problema, pero en cuanto entré a uno de mis problemas, oculta el menú del problema:

<img src="https://i.imgur.com/CxOCmSO.png"/>

Repro en Chrome y Firefox

[2018-12-18 03:55] carlosabcs opened #2285 "Los problemas de omegaUp no se listan"
![image](https://user-images.githubusercontent.com/20785082/50131088-8bf05980-024e-11e9-87b4-4c2aaabeb57e.png)

Este es el mensaje en la consola del navegador.
![image](https://user-images.githubusercontent.com/20785082/50131101-990d4880-024e-11e9-824f-1dd04dcf9ba7.png)

Además, las banderitas en algunos widgets de ranking de usuarios, están rotas:
![image](https://user-images.githubusercontent.co

[2018-12-18 04:01] lhchavez commented on #2285
También está https://github.com/omegaup/omegaup/issues/2284 . ambos son por 90b6be3ac768ef82738f4416a9b4e60365640f15 , entonces vamos a darle revert :(

[2018-12-18 04:01] lhchavez commented on #2284
dupe de #2285

[2018-12-18 04:01] #2284 closed

[2018-12-19 19:37] rcxr opened #2289 "Errores intermitentes durante un examen (reportado por usuario)"
## Comportamiento Actual

Un usuario nos reportó esto (12/19/18 ~11AM Pacific Time)
![image](https://user-images.githubusercontent.com/684205/50243472-23a29480-0382-11e9-9a86-9a2646de0084.png)

El error observado es 502 bad gateway.
El error no está vinculado con ninguna cuenta en particular.

## Contexto

Usuario ubicado en México
Esto pasó durante un examen

[2018-12-20 00:40] lhchavez commented on #2289
a la siguiente hay que pedirle a la gente que reporte directamente en github para no perder tantísimo contexto jugando al teléfono descompuesto :(

hoy durante dos ocasiones entró el watchdog que automáticamente reinicia al frontend, así que posiblemente fue una de esas. cerrando porque todo WAI

[2018-12-20 00:40] #2289 closed

[2018-12-23 04:31] lhchavez opened #2293 "Permitir elegir la licencia de los problemas"
Como contribuidor de problemas de omegaUp, quiero poder elegir bajo qué licencia estoy compartiendo mis problemas. De la misma manera, como mantenedor de la plataforma de omegaUp, quiero poder tener una licencia explícita para utilizar los contenidos de los problemas.

## Comportamiento Esperado

En el formulario de crear/editar problemas, se debe agregar un seleccionador de licencias. Cualquiera

[2018-12-24 22:34] heduenas opened #2294 "Feedback cronjob should be able to post quality and difficulty tags independently:"
Right now, if either quality or difficulty is missing, neither is published:
https://github.com/omegaup/omegaup/blob/master/stuff/cron/aggregate_feedback.py#L202

They should be independent.

[2019-01-02 11:20] pabloaguilar opened #2303 "Crear cronjob para generar modelo de recomendacion de problemas"
## Comportamiento Esperado

Una tarea que periodicamente genere un modelo de recomendaciones de problemas.
El modelo lo utilizaria el sistema de recomendaciones que sugiere "siguientes problemas" para usuarios que acaban de resolver uno.

El modelo puede vivir en la base de datos para seguir el model de metricas de calidad.

La generacion del modelo deberia ser una biblioteca que se pueda utilizar

[2019-01-02 11:22] pabloaguilar opened #2304 "Diseñar interfaz de usuario para mostrar recomendaciones de problemas"
## Comportamiento esperado

Al recibir un veredicto AC en un problema fuera de un curso o concurso, se deberia mostrar una sugerencia del siguiente problema a resolver.

Hay que tener cuidado con no mostrar tanto la encuesta de calidad y la recomendacion al mismo tiempo, o asegurarnos que las interfaces sean compatibles entre si.

[2019-01-04 06:39] heduenas opened #2307 "Internationalize quality nomination tags"
For example, 'math' and 'matematicas' are being treated as different tags during aggregation.
Since there is a minimum number of votes required to post a tag, this is preventing some problems with few votes from posting tags and affecting the quality of the tags posted for problems with enough votes.

This is where tags are aggregated: https://github.com/omegaup/omegaup/blob/master/stuff/cron/aggr

[2019-01-04 15:41] lhchavez commented on #2307
more than i18n, we need equivalency classes or canonicalization of tags. otherwise we also run into "mate" vs. "matemáticas", even within the same language.

and if we want to add more smarts to tags, maybe we should also consider parent/child relationships between tags (say, "data structures" and "arrays")

[2019-01-05 00:08] carlosabcs commented on #2294
@lhchavez do you agree with this? If yes, please assign me this issue.

[2019-01-08 16:30] gabrc52 opened #2310 "No hay manera de cambiar el idioma"
*Como [usuario multilingüe], quiero [poder cambiar el idioma desde la página sin tener que cambiar el idioma de mi computadora]*

## Comportamiento Esperado

En la parte superior o inferior de la página debería haber un "drop-down list" que deje cambiar el idioma.

## Comportamiento Actual

OmegaUp selecciona el primer idioma del "header" que mi navegador le envía, sin opción de cambiarlo.

## Pas

[2019-01-08 17:07] yoniihdc commented on #2310
Hola @gabrc52 de momento la funcionalidad para cambiar idioma se realiza desde editar perfil [/profile/edit](https://omegaup.com/profile/edit/), estamos trabajando en hacer más sencilla su localización, pero de momento creo que eso puede ayudarte.

[2019-01-08 20:58] gabrc52 commented on #2310
Gracias.

Eso significaría que los usuarios necesitan crear una cuenta para poder cambiar el idioma del sitio.

[2019-01-09 01:39] lhchavez commented on #2310
También puedes agregarle `?lang=en` al URL si quieres ver una página en particular en inglés.

[2019-01-09 14:14] Mart-97 commented on #752
Hola, he checado, pero no encuentro como obtener el link del score público, revisé en contest/mine, pero me parece que eso ya está vueficado y me parece que lo ocupa este componente [contestlist](https://github.com/omegaup/omegaup/blob/master/frontend/www/js/omegaup/components/contest/ContestList.vue), y desde ahí obtienen la url de score público , y la parte de **Arena**, aún no está en Vue, y no

[2019-01-09 15:01] lhchavez commented on #752
siempre tienes luz verde para vueificar :D

[2019-01-10 04:24] npave opened #2312 "Agregar botón Cancelar en editar perfil"
En editar perfil, no existe el botón cancelar. Esto es importante por si el usuario decide no hacer ninguna modificación en su perfil o no cambiar contraseña.

## Comportamiento Esperado

Agregar botón Cancelar en el componente modificar perfil y cambiar contraseña.

[2019-01-10 04:26] npave opened #2313 "Ordenar alfabéticamente lista de estados en editar perfil"
Como un usuaro si quiero modificar mi perfil y cambiar mi estado, la lista que se muestra no está ordenada alfabéticamente.

## Comportamiento Esperado

Lista de estados en orden alfabético.

[2019-01-12 16:50] frcepeda opened #2316 "Los envíos de String Binario Secreto se quedan atorados en new."
Al hacer envíos de este problema el status se queda en new. No hay repro con otros problemas interactivos o con otros no interactivos.

Log de evaluación:
[code]

[2019-01-12 17:32] lhchavez commented on #2316
al parecer se cacheó una versión incorrecta del problema en los runners. estoy purgando esa versión de ese problema y un par de otros problemas donde está ocurriendo lo mismo.

[2019-01-12 17:44] lhchavez commented on #2316
mentira! el problema está malconfigurado! dice que usa un validador custom pero no provee uno.

el fix es dejar de confiar en el problema >_>.

[2019-01-12 17:49] frcepeda commented on #2316
wat

en mis logs tengo que sí se subió un validador https://circleci.com/gh/ComiteMexicanoDeInformatica/PES-2019/153

[code]

El mensaje de ese commit debería ser `Deployed automatically from commit c01eed0c7607732f194e68c0c655a768b9c248c5`

[2019-01-12 17:50] frcepeda commented on #2316
(además según yo omegaUp rechaza el update si dices que tienes validador custom pero no hay, no?)

[2019-01-12 17:52] lhchavez commented on #2316
oh! ya vi qué pasó. el script de migración decidió ignorar el validador porque en _un_ commit no se lo diste. la intención era solo ignorar el validador en ese commit, pero al parecer se guardó ese hack para commits futuros.

[2019-01-12 17:54] frcepeda commented on #2316
Va, tú le mueves o yo hago upload otra vez? Me da cosita hacer rejudge porque creo que aún no contamos los puntajes de esos exámenes

[2019-01-12 17:54] lhchavez commented on #2316
le hago amend yo. queda resuelto como en media hora.

[2019-01-14 01:27] #2313 closed, assigned to mjayalam

[2019-01-17 03:49] #2279 closed

[2019-01-19 05:23] #2312 closed, assigned to mjayalam

[2019-01-21 17:24] gilberto2112 opened #2327 "Error al ingresar a un concurso en omegaup.com, me da el error "Intento de Cross-site Request Forgery""
*Error al ingresar a un concurso en omegaup.com, me da el error "Intento de Cross-site Request Forgery".
*El navegador es Chrome

[2019-01-21 22:49] darkmx opened #2329 "Error al editar concurso con "penalty desde que se abrió el problema""
Hola amigos de OmegaUp.
Hay un bug menor pero medio latoso: creé el concurso https://omegaup.com/contest/AED-2019I-D sin penalties y después intenté ponerlo en modo "penalización [...] por minutos desde que se abrió el problema" pero me marca error interno. La petición parece bien formada y los demás modos de penalización parecen funcionar bien (al menos se acepta la edición del concurso).

![imag

[2019-01-22 05:33] lhchavez commented on #2329
huh. puedes intentarlo de nuevo y hacer click en el enlace de "Reporta un problema" (es nuevo) que aparece hasta abajo en la página una vez que falle? luego copia toda la sección de "Tu ambiente" que trae información útil para debugguear.

[2019-01-22 06:02] darkmx commented on #2329
Lo pego acá :)

* Nombre del navegador (e.g. Chrome 39, node.js 5.4): Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:65.0) Gecko/20100101 Firefox/65.0
* Link al sitio en el que este problema pasa: https://omegaup.com/contest/AED-2019I-D/edit/
* Errores en la consola: [{"status":"error","error":"Oops. Ocurrió un error interno. Por favor inténtalo nuevamente.","errorname":"generalError","errorcode":400

[2019-01-22 06:33] npave opened #2330 "Mensaje de éxito erróneo al agregar estudiantes"
En agregar estudiantes a un curso, si se deja el campo vacío y se da clic en el botón Agregar estudiante se obtiene el mensaje erróneo de éxito que indica que un estudiantes fue agregado al curso.

## Comportamiento Esperado

Se debería mostrar un mensaje que indique que el campo está vacío.

[2019-01-22 06:51] npave opened #2331 "El botón de New Assignment sigue activo y no hace nada después de presionarlo"
El botón New assignment que permite agregar Tarea/Examen a un curso permanece activo y no hace nada después de que se presiona una vez. Esto permanece así incluso si cambias de tap en las diferentes opciones de editar un curso.

![botonnewassigmentnodesaparece](https://user-images.githubusercontent.com/940007/51517215-ef7e2180-1dce-11e9-9778-40a94b391190.png)

## Comportamiento Esperado

Una vez q

[2019-01-22 16:13] darkmx opened #2332 "Des-descalificar un envío"
Hola amigos de OmegaUp.

Acabo de ver que agregaron un botón para descalificar un envío, pero me di cuenta a la mala. Quería picarle a la lupita para ver el código y al estar acostumbrado a la posición del botón, terminé dándole al de descalificar.  Desafortunadamente, no encontré una manera de deshacer mi error (al volverle a picar aparece "rejudging" pero al recargar la página sigue apareciendo

[2019-01-22 20:47] eltiobrony commented on #1192
pasa que cuando envias un problema o el codigo, aparece un numero mayor a 100, como a mi me aparece 600, espero que lo arreglen, Gracias
![sin titulo](https://user-images.githubusercontent.com/46941070/51564343-9d7fdf00-1e54-11e9-9bdc-d379b73f1c83.png)

[2019-01-22 20:47] Puertas1231 opened #2333 "Mala forma de evaluacion"
Los códigos publicados en ciertos casos arrojaran desde el 100% hasta 600%, arrojando Respuesta Parcialmente correcta junto con el porcentaje anteriormente mencionado.

[2019-01-22 23:34] darkmx commented on #2333
x2, también aparecen cosas como 900% https://omegaup.com/arena/AED-2019I-D/#ranking

[2019-01-23 00:57] lhchavez commented on #1192
@eltiobrony eso es otro problema: https://github.com/omegaup/omegaup/issues/2333

[2019-01-23 02:56] lhchavez commented on #2329
Aquí está el error de la base de datos (hurra por los IDs de correlación!)

[code]

[2019-01-23 03:22] #2329 closed

[2019-01-23 03:53] #2294 closed

[2019-01-23 04:07] darkmx opened #2336 "Error interno al intentar volver un problema público"
Hola amigos de OmegaUp.

Estaba intentando volver un problema público desde el panel de edición del mismo (en concreto, desde https://omegaup.com/problem/Ignorando-los-ultimos-elementos/edit/) pero al enviar la consulta y recargar la página, se muestra un mensaje de error interno.

![imagen](https://user-images.githubusercontent.com/19719969/51579682-7e4e7500-1e87-11e9-9edc-8ccdff3a5245.png)

La c

[2019-01-24 00:44] darkmx opened #2337 "MLE (> 0.1MB) cuando el límite es 128MB"
Hola amigos de OmegaUp.

Estaba intentando resolver este problema https://omegaup.com/arena/problem/ptwo#problems pero me marca MLE por haber superado 0.1MB aunque el límite es 128MB. Incluso este código falla:

[code]

Los envíos son los f86d1994, 85744057 y 0bcb7b47. Hice envíos y rejueceos en otros problemas y no hubo errores.
![imagen](https://user-images.githubusercontent.com/19719969/5164655

[2019-01-24 20:45] Delciuxs opened #2339 "ranking usuarios"
## Comportamiento Esperado

Cambiara a la pagina siguiente al dar clic en el enlace

## Comportamiento Actual

En ves de sumar concatena (lo hace como strings): si estás en la página 1, la siguiente página es la 11, no la 2.

## Posible Solución

sumar en vez de concatenar.

## Pasos para reproducir (para bugs)

1. Navegar a https://omegaup.com/rank?page=11
2. Observar que el enlace "Página anteri

[2019-01-25 16:53] darkmx opened #2340 "No se pueden descargar los archivos de un problema"
Hola amigos de OmegaUp.

Se está generando un error al querer descargar el zip con los archivos de un problema. Esto ocurre tanto para problemas viejos como recientes. Por ejemplo:

https://omegaup.com/api/problem/download/problem_alias/sdc/
  devuelve
{"status":"error","error":"Problema no encontrado","errorname":"problemNotFound","errorcode":404,"header":"HTTP\/1.1 404 NOT FOUND","_id":"5c4b3e9c

[2019-01-26 00:38] akki111singh opened #2341 "No email verification"
Currently there is no email verification,one can sign up with any email like abc@gmail.com.

[2019-01-27 01:45] kukogit commented on #2340
+1

[2019-01-27 01:47] kukogit commented on #2340
Esto también está provocando que al evaluar algunos problemas, está dando MLE. Incluso si evaluo de nuevo una solución que ya tenía AC, me da MLE.

![image](https://user-images.githubusercontent.com/6465292/51795033-2bd0c980-21a3-11e9-8ca4-0530c010dc36.png)

Y después de evaluar:

![image](https://user-images.githubusercontent.com/6465292/51795038-44d97a80-21a3-11e9-9da4-97bbe127dcb5.png)

[2019-01-27 01:48] lhchavez commented on #2340
eso no está relacionado con la falla de descargar problemas. puedes abrir otro issue para evitar contaminación de este porfa?

[2019-01-27 17:12] #1783 closed

[2019-01-27 19:26] akki111singh opened #2344 "Search bar in rankings to search for a specific User."
![screenshot_2019-01-28-01-41-33-808_com android chrome](https://user-images.githubusercontent.com/45921807/51806309-8569ee80-229e-11e9-8379-765ff5d42a0a.png)
https://omegaup.com/rank/
We can add a search bar on the top right corner so that it will be easy for the user to search his/her name in the list.

[2019-01-27 19:44] ss62171 commented on #2344
can you please elaborate on this??

[2019-01-27 19:53] akki111singh commented on #2344
@ss62171 currently there is no search bar for a user to search his name in the rank list in page https://omegaup.com/rank/ (can't able to attach image,don't know why ?) so we can implement this.

[2019-01-27 20:14] lhchavez commented on #2337
Esto únicamente afectó a los siguientes problemas:

abba
Arte-Abstracto
Contando-Primos
Contando-Primos-Reloaded
El-desorden-de-Karla
El-desorden-de-Karla-reloaded
El-ingrediente-faltante
Experimento-de-exploracion
Firulais-y-El-Arbol
GCD
Javert-y-sus-Outfits
K-Midiendo-gusanos
KTANEI
Kunas
Los-dilemas-de-Karel-2
L-PE-P15-Cuantos-caminos
L-PE-P28-Numeros-diagonales
Merge-Sort
MrKrista-vs-Teoria-de

[2019-01-27 20:14] #2337 closed

[2019-01-27 20:20] lhchavez commented on #2344
adding a way to search for a user in the ranking list sounds reasonable. but yes, please amend the original comment so that it better explains the problem at hand. a screenshot might not be enough since it's not easy to notice something that's missing.

[2019-01-27 20:31] lhchavez commented on #2344
sure thing! oh and also, it's possible to view your own rank by going to your profile. granted it might not be the most discoverable way, but it's a workaround.

[2019-01-27 21:01] darkmx commented on #2337
gracias :)

[2019-01-28 03:53] #2340 closed

[2019-01-28 04:56] lhchavez commented on #2339
Parece que https://github.com/omegaup/omegaup/blob/ccf4ff2e91248a600bb58532dd9309d831b77c34/frontend/www/rank.php#L24 necesita un cast a entero, porque el payload tiene el tipo incorrecto:

[code]

[2019-01-29 01:51] lhchavez commented on #2339
Assigned to @prondubuisi until March 3rd.

[2019-01-29 03:17] #2336 closed

[2019-01-29 03:45] #2280 closed

[2019-01-29 05:14] darkmx commented on #2280
muchas gracias :)

[2019-01-29 05:15] darkmx commented on #2336
gracias!

[2019-01-29 20:49] carlosabcs opened #2349 "[Problem Finder] Permitir que apiList() soporte los nuevos criterios de búsqueda"
La API debe poder soportar los nuevos criterios de búsqueda:
- Tópicos
- Rango de dificultad
- Ordenar en base a: calidad, puntos para ranking o popularidad del problema

## Contexto

Como parte de la implementación del [Problem Finder Wizard](https://docs.google.com/document/d/1JR29kbVpVSAeMk6P_hKi6RkJ67c4mqYPkEaJ-zNkgXU/edit#)

Link al project tracker: https://docs.google.com/spreadsheets/d/1Zbq

[2019-01-30 02:24] darkmx opened #2350 "Error interno al acceder al código de envíos viejos"
Hola amigos de OmegaUp.

Se está produciendo un error al ver el código de envíos viejos en al menos dos problemas: https://omegaup.com/arena/problem/Transiciones-en-cadenas-binarias y https://omegaup.com/arena/problem/Automatas-celulares. La respuesta del servidor al hacer la petición es

`{"status":"error","error":"Oops. Ocurri\u00f3 un error interno. Por favor int\u00e9ntalo nuevamente.","errorn

[2019-01-30 03:06] darknut commented on #2350
También me pasa, me metí justo a crear este issue.

[2019-01-30 19:08] kylelobo opened #2352 ""This mail is already in use. Try again." error while registering"
## Expected behaviour
If a user enters valid credentials, and if the email they use is an unregistered email, he / she should be able to create an account.

## Current behaviour

While trying to create a new account on omegaUp, I enter my credentials, but, when I click on Register, I first get a message saying "error" and when I re-click, I get a message saying "This mail is already in use. Try ag

[2019-01-30 22:40] #2350 closed

[2019-01-31 02:34] darkmx commented on #2336
Hola de nuevo, una pregunta D:

¿El fix ya está online? Aún me aparece el mensaje rojito cuando intento hacer alguna modificación (por ejemplo en https://omegaup.com/problem/Subsecuencia-comun-mas-larga-con/edit/ al aumentar el tiempo de 2000 a 2500ms por caso).
![imagen](https://user-images.githubusercontent.com/19719969/52026554-e1668a00-24cd-11e9-8299-1fe29e9e57b1.png)

Lei la descripción del p

[2019-01-31 02:35] lhchavez commented on #2336
no, hacemos deploy cada domingo en la noche, así que el lunes siguiente ya va a estar online el fix :D

esperamos que en algún punto del año estemos listos para dar el brinco a hacer deployments diarios.

[2019-01-31 02:36] darkmx commented on #2336
vale muchas gracias :)

[2019-01-31 02:39] darknut opened #2355 "OmegaUp no evalúa envíos y se quedan en 'new'"
Al enviar un código, específicamente envíos

7b100e82
7baadc9b
bc4c8565
ec425649
c1f6ae44
b8f685d9

para el problema Planetas, no se evalúan y se quedan en 'new'

Envié tres códigos diferentes (dos de ellos códigos que ya daban 100), y todos siguen en 'new'

![image](https://user-images.githubusercontent.com/123875/52026868-3d291700-24be-11e9-9268-a3aae93aaad8.png)

(El código de en medio sin punt

[2019-01-31 02:41] darknut commented on #2355
Se parece el issue #2316

[2019-01-31 02:44] lhchavez commented on #2355
Log del runner:

[code]

se parece, pero es ligeramente distinto. en este caso parece que no está encontrando la tolerancia: https://github.com/omegaup/quark/blob/f0a71330d0116f64127c7fc049d1fef77de1f41f/runner/validator.go#L72

[2019-02-01 01:32] akki111singh opened #2356 "In the Ranking page (https://omegaup.com/rank/) Next button not working properly"
If the user click on the next button at bottom in  https://omegaup.com/rank/ page then after the first and second page directly 21st page is coming and after that no proper paging.

[2019-02-01 04:19] lhchavez commented on #2356
Dupe of #2339

[2019-02-01 04:19] #2356 closed

[2019-02-02 21:27] ulises-garcia opened #2359 "Ver mis codigos enviados"
## Comportamiento Esperado
Esperaba que me dejara ver mis codigos en mis envios

## Comportamiento Actual
No deja ver los envios

[2019-02-02 23:49] Ffelixpe opened #2360 "no me cargan los envios antiguos"
## Comportamiento Esperado

estaba esperando acceder a un antiguo problema que subí en la plataforma

## Comportamiento Actual

actualmente en la plataforma no te permite acceder o ver al problema enviado previamente

## Posible Solución

*No es obligatorio, pero puedes sugerir una manera de arreglar el bug*

## Pasos para reproducir (para bugs)

1. entra a cualquier problema que hayas resuelto ha

[2019-02-04 03:15] kukogit commented on #2360
Agregando un poco... aparece esa leyenda en la parte superior!!!

![image](https://user-images.githubusercontent.com/6465292/52188493-bdba8100-27f8-11e9-9377-2df6a9c7da12.png)

[2019-02-04 03:44] lhchavez commented on #2360
dupe de https://github.com/omegaup/omegaup/issues/2350

[2019-02-04 03:44] #2360 closed

[2019-02-04 03:44] lhchavez commented on #2359
dupe de https://github.com/omegaup/omegaup/issues/2350

[2019-02-04 03:44] #2359 closed

[2019-02-04 03:45] lhchavez commented on #2339
Err, I meant to say February 3rd. Extending to February 10th, will remove assigned label then.

[2019-02-04 03:48] ulises-garcia commented on #2359
Al ver mis envíos en un problema tengo la opción con una lupa de "Ver Más",
la cual te mostraba el código que habías enviado del problema en cuestión,
pero ahora no te deja ver ese código y dice que algo Inesperado había
ocurrido, que lo intente más tarde.

On Sat, Feb 2, 2019, 3:28 PM lhchavez <notifications@github.com wrote:

[2019-02-04 04:45] kukogit commented on #2350
Por qué está cerrado, si aún no funciona?

[2019-02-04 04:46] lhchavez commented on #2350
ya se arregló, pero faltan un par de horas para que se haga el deployment.

[2019-02-04 06:10] darknut opened #2362 "Código con AC de hace 2 años ya no da"
Envío 726b737e de 2017 y c38fd24e de 2019 son el mismo código. El primero dio AC pero el segundo da una combinación entre RTE y LTE

Problema en cuestión:
IOI 2013 - Cueva

[2019-02-04 11:52] SpaceWhite commented on #2352
@kylelobo  I can't reproduce the error. And the registration should work fine. (You could try create fake account here https://sandbox.omegaup.com). The sandbox is used for testing purpose and it should work similar with current omegaUp platform. Probably you did click the register twice in the frontend which results in triggering the API twice.(https://github.com/omegaup/omegaup/blob/d2180611dad2

[2019-02-04 12:33] SpaceWhite commented on #2352
I could reproduce this error by using guerilla mail email. This errors appear only affect only omegaup.com (I could not reproduce it in local and sandbox) and when user input a very long email address. The error is caused by [User apiCreate API](https://github.com/omegaup/omegaup/blob/d2180611dad2a5c755b6ad5826d10d8ca9ba9f3e/frontend/server/controllers/UserController.php#L41).  My speculation is t

[2019-02-04 12:42] SpaceWhite commented on #2349
+1 for this feature :+1:

[2019-02-04 12:45] SpaceWhite commented on #2327
@gilberto2112 Could you provide more details? Such as the url you were visiting?

[2019-02-04 15:23] lhchavez commented on #2341
This was fixed in the 01/27 deployment.

[2019-02-04 15:23] #2341 closed

[2019-02-04 15:57] lhchavez commented on #2352
it's true that we may need to do a better job of ensuring the transactionality and idempotency of user creation, but i don't see any logs related to errors during user creation :(

[2019-02-04 19:49] pacharrin opened #2364 "Como coordinador de la OMI quiero un endpoint para poder transferir la propiedad de un problema"
## Comportamiento Esperado

Con el proceso de creación de problemas que seguimos en el COMI es importante poder automatizar las tareas a la hora de publicar problemas,  nos gustaría que pudiéramos subir los problemas con el usuario de deploy y al final solo transferirlo a su creador.

## Comportamiento Actual

Actualmente lo que hay que hacer es pedirle al colaborador que manualmente cree un probl

[2019-02-04 19:50] lhchavez commented on #2364
en el futuro donde omegaup sea la fuente de verdad, esto seguiría siendo necesario?

[2019-02-04 19:55] pacharrin commented on #2364
Creo que sí, por que el Circle CI al final corre como un solo usuario, entonces necesitamos que exista el problema creado por el dueño antes de poder correr los scripts de deploy.

en el doc de diseño dice:

pero nunca se especifican los métodos para la creación y si los administradores explícitos eliminan el concepto de dueño o creador de un problema

[2019-02-04 19:55] lhchavez commented on #2364
"omegaup sea la fuente de verdad" significa la extinción de CircleCI.

[2019-02-04 20:59] pacharrin opened #2365 "Error al crear problema si el primer intento falló"
## Comportamiento Esperado

Subir mi problema

## Comportamiento Actual

Cuando intento subir el problema no me deja

![](https://files.slack.com/files-pri/T04UR3ZCR-FFY2PK03F/image.png)

## Posible Solución

borrar las carpetas de un problema si falla

## Pasos para reproducir (para bugs)

crear un problema con un zip que tenga .in pero no .out
esperar al mensaje de error
corregir el .Zip con los

[2019-02-05 02:38] SpaceWhite opened #2366 "SEO for omegaUp problems"
## Task description
On most competitive programming platforms, users are able to find problems through google search engine by searching problem title / number. Google could show such results because there meta tags available in HTML.

I would be great to have these meta tags
* [OPG tag](http://ogp.me/) (For facebook)
* [Twitter tag](https://developer.twitter.com/en/docs/tweets/optimize-with-cards

[2019-02-05 03:13] tvanessa commented on #2366
@lhchavez Me lo puedes asignar? Quiero hacer el un diseño

[2019-02-05 03:14] lhchavez commented on #2366
hecho! :D

[2019-02-05 16:00] lhchavez commented on #2362
Posiblemente sea culpa de Spectre/Meltdown :'( Eso hizo que mágicamente todas las computadoras del mundo fueran mediblemente más lentas.

[2019-02-06 00:59] heduenas opened #2367 "Contests should be able to last more than 31 days"
As a contest admin I want https://omegaup.com/contest/gsoc2019/ to last more than 31 days.

Right now I get "Contests can't last more than 31 days" when I set end date more than 31 days apart from start date.

[2019-02-06 01:08] lhchavez commented on #2367
WAI: we decided a long time ago that contests that last more than a month should be courses instead since that is their most common use case.

[2019-02-06 01:08] #2367 closed

[2019-02-08 14:44] Deepak123bharat commented on #2341
Still no email verification

[2019-02-09 01:03] alfredoanu opened #2369 "no puedo registrarme"
## Comportamiento Esperado

*Describe lo que esperabas que pasara*

## Comportamiento Actual

*Describe lo que pasó en lugar de lo que se esperaba*

## Posible Solución

*No es obligatorio, pero puedes sugerir una manera de arreglar el bug*

## Pasos para reproducir (para bugs)

*Provee un link a un ejemplo, o una lista de pasos detallada de cómo reproducir
este bug.  Incluye el código que lo repr

[2019-02-09 16:52] pacharrin commented on #1975
considerar que se genere automáticamente en Quark Git, nos ayudaría a hacer mas smooth el proceso de revisión.

[2019-02-09 16:56] lhchavez commented on #1975
tenía pensado que se hiciera a nivel arena, porque quark git nada más tiene visibilidad de un problema a la vez. pero supongo que si _también_ quieres que los problemas sueltos tengan su .pdf, también se puede.

si logramos hacerlo con webassembly, sería trivial tenerlo en ambos lados.

[2019-02-09 21:44] lhchavez commented on #1975
de entrada estaría bueno si el feature actual sirviera aunque imprima "feo": https://github.com/omegaup/omegaup/pull/2370

[2019-02-10 13:26] akki111singh opened #2372 "When i click on edit profile,error message is displayed at the top."
When i click on the edit profile in the profile section an unnecessary error message is displayed at the top.
![image](https://user-images.githubusercontent.com/45921807/52534266-82becd00-2d65-11e9-8750-15813a30a36c.png)

[2019-02-10 17:05] lhchavez commented on #2372
JavaScript console says

[code]

so we just need to check if the country is not null and avoid this call: https://github.com/omegaup/omegaup/blob/78ec494e522993d543cf931d598190079c45f173/frontend/www/js/user.edit.js#L20

[2019-02-10 17:15] akki111singh commented on #2372
@lhchavez i would like to do it.

[2019-02-10 17:16] lhchavez commented on #2372
assigned!

[2019-02-11 14:42] #2372 closed

[2019-02-13 17:08] yoniihdc commented on #2332
Duplicado de #2119

[2019-02-13 21:29] akki111singh commented on #2124
I would like to work on this.

[2019-02-15 01:59] #2344 closed

[2019-02-15 11:20] akki111singh commented on #2124
@ihchavez can u assign me this issue?

[2019-02-15 14:22] lhchavez commented on #2124
assigned to @akki111singh until March 2.

[2019-02-15 16:55] MiguelRomero opened #2377 "Fallo de registro."
## Comportamiento Esperado

Registrar un nuevo usuario.

## Comportamiento Actual

Marca error al registrar un usuario nuevo.
## Pasos para reproducir (para bugs)

1. Ir a registrar nuevo usuario
2. Intentar registrar nuevo usuario
3. Confirmar nuevo usuario

## Contexto
No puedo crear un usuario nuevo

## Tu ambiente

Safari, OS MAVERICK

<img width="1304" alt="image" src="https://user-images.git

[2019-02-21 20:00] darkmx opened #2381 "[BUG] Algunos problemas muestran caracteres no-ASCII incorrectamente"
Hola amigos de OmegaUp.

Hace unos meses noté que **_algunos_** problemas (los cuales originalmente estaban bien y no habían sido actualizados desde hace mucho) estaban mostrando incorrectamente los acentos (Ã³ en lugar de ó, por ejemplo). Cuando me di cuenta, arreglé los que vi (no recuerdo cómo lo hice, creo que subiendo de nuevo el archivo pero no me hagan mucho caso con eso) pero desde el edit

[2019-03-04 19:05] pablolq opened #2385 "Marca error al intentar ver estadísticas de un problema"
## Comportamiento Esperado

Al ingresar a mis problemas y dar clic en "Estadísticas" la pantalla siguiente muestra estadísticas del problema como número de envíos y cuantos han sido AC, PA, WA,TLE, etc.

## Comportamiento Actual

Al ingresar a mis problemas y dar clic en "Estadísticas" la pantalla siguiente solo muestra una leyenda en un cuadro rojo que dice "error"  y abajo únicamente muestra cua

[2019-03-06 20:11] alanggalgh opened #2386 "No esta funcionando bien OmegaUp"
Durante la sesión en OmegaUp utilizando el navegador Google Chrome , en ocasiones se queda congelado (no responde ni acepta envíos de códigos). Y en ocasiones la pantalla se pone en blanco y muestra el error 504. Hemos tenido que cerrar completamente el navegador, porque no acepta ni siquiera el refresh.

[2019-03-06 20:14] alanggalgh commented on #2386
Durante la sesión en OmegaUp utilizando el navegador Google Chrome , en ocasiones se queda congelado (no responde ni acepta envíos de códigos). Y en ocasiones la pantalla se pone en blanco y muestra el error 504. Hemos tenido que cerrar completamente el navegador, porque no acepta ni siquiera el refresh.

[2019-03-06 20:18] alanggalgh opened #2387 "Durante la sesión en OmegaUp utilizando el navegador Google Chrome , en ocasiones se queda congelado (no responde ni acepta envíos de códigos). Y en ocasiones la pantalla se pone en blanco y muestra el error 504. Hemos tenido que cerrar completamente el navegador, porque no acepta ni siquiera el refresh."
Durante la sesión en OmegaUp utilizando el navegador Google Chrome , en ocasiones se queda congelado (no responde ni acepta envíos de códigos). Y en ocasiones la pantalla se pone en blanco y muestra el error 504. Hemos tenido que cerrar completamente el navegador, porque no acepta ni siquiera el refresh.

_Originally posted by @alanggalgh in https://github.com/omegaup/omegaup/issues/2386#issuecomm

[2019-03-07 04:10] lhchavez commented on #2387
Duplicado de https://github.com/omegaup/omegaup/issues/2386

[2019-03-07 04:10] #2387 closed

[2019-03-07 05:56] lhchavez commented on #2369
dupe de https://github.com/omegaup/omegaup/issues/2377

[2019-03-07 05:56] #2369 closed

[2019-03-07 05:56] #2377 closed

[2019-03-07 06:00] lhchavez commented on #2386
intenté hacerle unos cuantos ajustes a la memoria del servidor. según ya debe estar arreglado.

[2019-03-07 06:00] #2386 closed

[2019-03-07 18:21] MiguelRomero opened #2392 "Como soporte omegaUp quiero la funcionalidad de re-Habilitar usuarios viejos para volver otorgarles acceso a la plataforma."
## Comportamiento Esperado

Poder habilitar usuarios que se dieron de baja por "tiempo de vida máximo" dentro de la plataforma.

## Comportamiento Actual

Solo se puede generar contraseñas, pero no se puede re-habilitar un usuario.

## Pasos para reproducir (para bugs)

1. Ingresar a cuenta de omegaUp
2. Ingresar al Admin panel
3. Escribir el correo que deseas buscar
4. Dar click en generar token.

[2019-03-07 18:22] MiguelRomero opened #2393 "En Safari, el campo del nombre de la escuela se des-selecciona"
## Comportamiento Esperado

Vincular una escuela con un curso.

## Comportamiento Actual

Estaba creando un curso nuevo en omegaUp Escuelas y en el momento de seleccionar o colocar una escuela me fue imposible seleccionar el textbox.
Es imposible colocar el nombre de una escuela.

## Pasos para reproducir (para bugs)

*Provee un link a un ejemplo, o una lista de pasos detallada de cómo reproducir

[2019-03-08 02:23] lhchavez commented on #2386
hice unos cuantos ajustes más hoy y ya se ve más saludable.

[2019-03-08 22:23] alanggalgh commented on #2386
Muchas gracias.

Hoy aplicamos examen y solamente se pasmó algunas veces. Gracias nuevamente por el apoyo.

Atentamente.

Ing. Hector Alan Gonzalez Galindo,
Jefe del Depto. de Capacitación en Tecnologías de Información de la
Dirección Gral. de Tecnologías de la Información
(antes Dirección Gral. de Informática),
SEP - Hidalgo,
Delegado de la OMI para el Estado de Hidalgo e
Instructor del Lenguaje

[2019-03-09 22:31] MiguelRomero opened #2397 "Yo como usuario necesito ingresar a las plataforma pero me es denegado por ser "usuario antiguo""
## Comportamiento Esperado

Necesito ingresar a omegaUp.com para poder usar la plataforma.

## Comportamiento Actual

Muestra un mensaje mostrando, usuario deshabitado debido a antigüedad.

## Pasos para reproducir (para bugs)

1. Ingresar a omegaUp.com
2. Colocar tus datos de ingreso
3. Tratar de ingresa

## Contexto

Muchos usuarios no pueden ingresar a la plataforma debido a que sus usuarios so

[2019-03-09 22:35] MiguelRomero opened #2398 "Yo como usuario intento ingresar a mi cuenta de omegaUp pero me pide verificación y el correo no llega."
## Comportamiento Esperado

Necesito ingresar a omegaUp.com para poder resolver problemas.

## Comportamiento Actual

Me es imposible, por que me pide verificar dirección de correo electrónico, pero no me llega el correo electrónico a mi correo.

## Pasos para reproducir (para bugs)

1. Ingresar a omegaUp.com
2. Ingresar datos de usuario
3. Tratar de ingresar

## Contexto

Dado a que no pueden ver

[2019-03-09 22:35] MiguelRomero commented on #2398
@lhchavez Esto se replica más y más.

[2019-03-09 22:36] MiguelRomero commented on #2397
@lhchavez Este se replica demasiado también

[2019-03-10 03:08] lhchavez commented on #2397
Arreglado en https://github.com/omegaup/omegaup/commit/f3098a3fe98df3cd5458319d0b65715bad5a647e . estábamos desplegando un mensaje erróneo.

[2019-03-10 03:08] #2397 closed

[2019-03-14 07:54] pabloaguilar opened #2404 "[Analytics] Reportar eventos cuando se llena una forma de calidad"
Como un administrador del sitio me gustaria saber el click-through rate del formato de calidad

## Comportamiento Esperado
Deberiamos poder rastrear cuantas veces los usuarios nos dan feedback dado que les preguntamos.

## Comportamiento Actual
Ahorita tenemos cuantificar cuantos usuarios nos dieron feedback, pero no podemos cuantificar cuantos nos podrian haber dado y no lo hicieron.

## Posible

[2019-03-14 07:58] pabloaguilar opened #2405 "[Analytics] Reportar pageviews al cambiar entre problemas en la Arena"
Como un administrador del sitio me gustaria saber como se mueven los usuarios entre problemas en la Arena.

## Comportamiento Esperado
Deberiamos poder rastrear las transiciones entre vistas en un concurso. De un problema a otro, a ver el ranking, de regreso a un problema, etc.

## Comportamiento Actual
Ahorita la arena es un hoyo negro en GA. Una vez que entra un usuario ahi, no tenemos visibilid

[2019-03-14 08:02] pabloaguilar opened #2406 "[Analytics] Reportar cambios de tab en la vista de concursos"
Como un administrador del sitio me gustaria saber como se mueven los usuarios entre listas de concursos.

## Comportamiento Esperado
Deberiamos poder rastrear como un usuario llega a un concurso. Al entrar a la lista de concursos en `/arena` tenemos multiples tabs (concursos actuales, pasados, recomendados, etc) y no sabemos que es lo que hacen los usuarios para escoger a que concurso entrar.
Podr

[2019-03-14 16:47] MiguelRomero commented on #2398
@lhchavez Algunos usuarios en la plataforma de soporte aparece que ya estan verificados pero dicen que aun no pueden entrar y tampoco les llega el correo de verificación, ¿Qué podemos hacer?

[2019-03-15 00:23] lhchavez commented on #2398
puedes abrir otro issue para lo de los usuarios verificados que no pueden entrar? eso es aparte.

[2019-03-15 17:32] heduenas commented on #2404
Hace como 6 meses lo estimamos con la tasa de (numero total de ACs) / (numero total de formas de calidad registradas) y salio de ~5%.

[2019-03-15 23:36] MiguelRomero opened #2407 "Yo como usuario quiero ingresar a la plataforma omegaUp pero no me es permitido por no verificar."
## Comportamiento Esperado

Yo como usuario de la plataforma necesito ingresar a omegaUp con mi cuenta verificada.
## Comportamiento Actual

Actualmente me dice que mi usuario no esta verificado, no recibo correo de verificación y el soporte de usuario de omegaUp ya verifico con su panel de administrador mi usuario.

## Contexto

No puedo ingresar a mi cuenta de omegaUp por que mi usuario no esta

[2019-03-15 23:36] MiguelRomero commented on #2407
@lhchavez

[2019-03-16 16:27] #2349 closed

[2019-03-16 19:04] gabrc52 opened #2408 "Como usuario, quiero que el autocompletar de la búsqueda me lleve directamente a un problema para ahorrar tiempo"
## Comportamiento Esperado

En https://omegaup.com/problem/ busco un problema y me aparece en las sugerencias. Darle clic me lleva directamente al problema.

## Comportamiento Actual

Al darle clic a la sugerencia, autocompleta el id (el que aparece en el URL) del problema en la barra de búsqueda. Después le tengo que dar "Buscar", y finalmente tengo que darle clic al problema.

## Posible Solució

[2019-03-19 19:46] gabrc52 opened #2409 "blog.omegaup.com no funciona"
## Comportamiento Esperado

Al entrar a cualquier página en https://blog.omegaup.com/, debería cargar

## Comportamiento Actual

Aparece

## Pasos para reproducir (para bugs)

Entrar a https://blog.omegaup.com/ o hacer clic en "Blog" en omegaup.com

[2019-03-19 19:49] gabrc52 commented on #2409
Se podría redirigir temporalmente a http://web.archive.org/web/2019/https://blog.omegaup.com/

[2019-03-20 02:48] lhchavez commented on #2409
welp, gracias por reportar esto. ya fue arreglado!

[2019-03-20 02:48] #2409 closed

[2019-03-20 15:26] MiguelRomero commented on #2407
![Captura](https://user-images.githubusercontent.com/5459260/54696852-326c2500-4af2-11e9-92ce-420aa642751b.PNG)
![captura3](https://user-images.githubusercontent.com/5459260/54696860-35671580-4af2-11e9-9c33-839ee283471f.PNG)

A pesar de verificarlos de manera manual no tienen acceso.  @lhchavez

[2019-03-21 02:10] lhchavez commented on #2407
hmm parece que esto no está ocurriendo: el primer usuario nunca intentó iniciar sesión y el segundo usuario tengo un log indicando que pudo entrar exitosamente después de haberlo verificado.

voy a agregar más logging para el futuro y exponer la última vez que hicieron login para que no te anden mintiendo. como parece que el problema no existe en realidad, lo voy a cerrar. reabre el bug si encuent

[2019-03-21 02:10] #2407 closed

[2019-03-21 17:49] MiguelRomero commented on #2407
![image](https://user-images.githubusercontent.com/5459260/54773543-6d905600-4bcf-11e9-8df0-8d6c377ce872.png)

Hoy en la mañana ya estaba verificado